[2021-06-07 18:42] sesheta opened #1616 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-07 18:47] #1615 closed

[2021-06-07 18:52] harshad16 opened #1618 "sprint production release 2021.06.21"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-06-07 18:52] #1616 closed

[2021-06-07 19:01] sesheta opened #1619 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-07 19:04] #1527 closed

[2021-06-07 19:13] fridex commented on #1618
thamos advise now [supports labels](https://github.com/thoth-station/thamos#labels), prescription pipeline units can be now included in the resolution based on labels supplied by users:

* https://github.com/thoth-station/adviser/issues/1885

[2021-06-07 19:15] fridex commented on #1618
user-api keeps logs of advises and container image analyses for a longer period of time, users can browse the resolution or analysis logs after some time (not necessary immidiatelly once the resolution is done)

* https://github.com/thoth-station/thoth-application/issues/325

[2021-06-07 19:18] fridex commented on #1581
We had also an issue in thamos - thamos was not correctly respecting `tls_verify` configuration option from the config file. Now it correctly handles TLS verification - of course, not recommended to turn it of though - https://github.com/thoth-station/thamos/pull/860

[2021-06-07 19:51] #1619 closed

[2021-06-07 19:59] sesheta opened #1622 "ThothSchemaCheckProdInvestigator"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22investigator%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdInvestigator
    - component = investigator
    - env = zero-prod
    - ins

[2021-06-07 19:59] sesheta opened #1623 "ThothSchemaCheckProdMetricsExporter"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22metrics-exporter%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdMetricsExporter
    - component = metrics-exporter
    - env = zero-pro

[2021-06-07 19:59] sesheta opened #1624 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-07 20:05] #1622 closed

[2021-06-07 20:05] #1623 closed

[2021-06-08 01:07] sesheta opened #1626 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-08 01:13] #1626 closed

[2021-06-08 02:22] sesheta commented on #889
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-08 02:45] sesheta opened #1627 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-08 03:00] #1627 closed

[2021-06-08 06:56] sesheta opened #1628 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-08 07:12] #1628 closed

[2021-06-08 13:12] xtuchyna commented on #1605
Everything seems to be okay, thanks!

[2021-06-08 13:45] xtuchyna opened #1630 "Store GitHub targets more specifically, more scalabe"
**User story**

As a `mi` dataset requester,
I want to specify github target and its entities,
so that I can simply make PR to the global configmap that will have it registered.

**Additional context**
When aggregating data for `mi` repositories (either for general `mi` inspection or a `kebechet` oriented analysis), the repositories and organization names are stored here https://github.com/thoth-s

[2021-06-08 13:46] xtuchyna commented on #1630
/kind feature
/kind demo

[2021-06-08 13:47] xtuchyna commented on #1630
/assign @xtuchyna

[2021-06-08 16:10] #1624 closed

[2021-06-08 16:15] sesheta opened #1633 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-08 16:47] #1633 closed

[2021-06-08 16:55] sesheta opened #1634 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-09 04:15] sesheta opened #1635 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-09 04:45] #1635 closed

[2021-06-09 05:47] sesheta opened #1636 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-09 06:48] #1636 closed

[2021-06-09 11:05] fridex commented on #1581
Closing as the issue was addressed with renewed certificates (thanks @harshad16).

/close

[2021-06-09 11:05] #1581 closed

[2021-06-09 11:05] sesheta commented on #1581
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1581#issuecomment-857602544):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-06-09 14:16] goern commented on #1630
Why not create a config file that is read by MI and processed by a method. The config file would be an input the method, the purpose of the method is to create a dict, the dict is what MI should aggregate...

[code]

The config for this could look like:
[code]

pretty much like what Tide is doing at https://github.com/thoth-station/thoth-application/blob/master/prow/overlays/cnv-prod/config.yaml#L

[2021-06-09 15:23] KPostOffice opened #1644 "Open Issues on Repos during Purge"
**Is your feature request related to a problem? Please describe.**
If a user is using a certain environment on their git repo and it is purged from the database, we should open an issue warning them to use a new environment

**Steps**
- [x] Create a new workflow in `workflow-helpers` which gets all repositories using a certain environment and opens issues
- [x] Add the task to `purge-job` workflow

[2021-06-10 06:21] sesheta opened #1648 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-10 06:51] #1648 closed

[2021-06-10 07:48] goern commented on #1644
/triage accepted

[2021-06-10 08:16] goern commented on #1100
/close

[2021-06-10 08:16] #1100 closed

[2021-06-10 08:16] sesheta commented on #1100
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1100#issuecomment-858414749):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-06-10 08:16] goern commented on #1085
@pacospace is this still valid?

[2021-06-10 08:26] goern commented on #1513
/close

[2021-06-10 08:26] sesheta commented on #1513
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1513#issuecomment-858422484):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-06-10 08:26] #1513 closed

[2021-06-10 08:55] goern commented on #1618
/kind documentation

[2021-06-10 08:56] goern commented on #1630
/triage needs-information

[2021-06-10 09:04] goern commented on #920
/remove-lifecycle stale
/triage accepted
/assign @gregpere

[2021-06-10 09:04] sesheta commented on #920
@goern: GitHub didn't allow me to assign the following users: gregpere.

Note that only [thoth-station members](https://github.com/orgs/thoth-station/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/con

[2021-06-10 09:07] goern commented on #407
/assign @gregpere
/priority important-soon

[2021-06-10 09:07] sesheta commented on #407
@goern: GitHub didn't allow me to assign the following users: gregpere.

Note that only [thoth-station members](https://github.com/orgs/thoth-station/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/con

[2021-06-10 09:08] goern commented on #409
/assign @tumido

[2021-06-10 09:08] goern commented on #409
/priority important-soon

[2021-06-10 09:09] goern commented on #429
@pacospace push push, can we get this done? @harshad16 can @gregpere join and help?

[2021-06-10 09:10] goern commented on #532
/priority backlog

[2021-06-10 09:11] goern commented on #1169
/priority important-soon

[2021-06-10 09:32] goern opened #1649 "deploy triage-party"
**Is your feature request related to a problem? Please describe.**
As a Thoth-Station Devs, I want to run a triage party, so that issues/pr get triaged daily, weekly, quarterly, ...

**Describe the solution you'd like**

 - [x] merge #1650
 - [x] create project on zero-prod @harshad16  (we don't need it, we will use thoth-bot-prods)
 - [x] create DNS RR `triage-party.thoth-station.ninja` @goern
 -

[2021-06-10 09:32] sesheta commented on #1649
@goern: The label(s) `priority/importnat-soon` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1649):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to

[2021-06-10 09:32] goern commented on #1649
/priority important-soon

[2021-06-10 09:40] pacospace commented on #429
https://github.com/thoth-station/thoth-application/issues/654 all cronjobs need to be converted to cronworkflows to have these alarms.

Moreover, for the alarms on current workflows, we can discuss what is this rate we want to monitor, let's talk today in thoth tech, in any case let's add them here, so we have the overview of the missing ones: https://github.com/thoth-station/thoth-application/iss

[2021-06-10 09:45] goern commented on #1283
/kind feature
/triage accepted

[2021-06-10 09:45] goern commented on #1283
/me

[2021-06-10 09:46] goern commented on #820
/priority backlog
/kind feature

@pacospace is this still a thing?

[2021-06-10 09:47] goern commented on #1327
/kind documentation
/triage needs-information

[2021-06-10 09:48] goern commented on #654
/triage accepted

[2021-06-10 09:50] goern commented on #1362
/priority backlog

[2021-06-10 10:00] goern commented on #658
whats the state of this?

[2021-06-10 10:11] goern commented on #1004
is this actively being worked on?

/priority important-longterm

[2021-06-10 10:12] goern commented on #1112
any conclusion on this?

/priority important-soon

[2021-06-10 10:13] goern commented on #1235
/priority important-soon
/kind documentation

[2021-06-10 10:34] goern commented on #889
/remove-lifecycle stale

[2021-06-10 10:34] goern commented on #955
/remove-lifecycle stale
/triage needs-information

[2021-06-10 10:56] pacospace commented on #1112
This is already in place, we need some documentation and decide if we want to ore heat some other stacks beside the one for the tutorial.

[2021-06-10 10:57] pacospace commented on #1004
@harshad16 already took care. We just miss some docs to close this issue.

[2021-06-10 10:59] pacospace commented on #1085
We can close it for now, if more errors appear we can have a look.

[2021-06-10 10:59] #1085 closed

[2021-06-10 11:48] goern commented on #1212
/triage needs-information
/assign @pacospace

[2021-06-10 11:53] pacospace opened #1651 "Kebechet prod hit api rate limit."
**Describe the bug**
Kebechet prod hit api rate limit.

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule Kebechet for a release for example

**Expected behavior**
No error produced.

**Screenshots**
[code]

**Additional context**
See: https://github.com/thoth-station/kebechet/issues/747

[2021-06-10 11:58] goern commented on #1651
Shall we put in a rate limit check and report it as a metric? seeAlso https://docs.github.com/en/rest/reference/rate-limit

[2021-06-10 12:00] pacospace commented on #1212
We can close the issue. It is working correctly now from data prospective, we added a new alarm to be set: https://github.com/thoth-station/thoth-application/issues/854

[2021-06-10 12:00] #1212 closed

[2021-06-10 12:17] fridex opened #1653 "Rename master branch to main"
**Is your feature request related to a problem? Please describe.**

$SUBJ for all the repos in the organization.

[2021-06-10 13:26] pacospace opened #1654 "qeb-hwt workflow failing due to ModuleNotFoundError: No module named 'typing_extensions'"
**Describe the bug**
qeb-hwt workflow failing due to ModuleNotFoundError: No module named 'typing_extensions'

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule qeb-hwt

**Expected behavior**
workflow ends successfully

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2021-06-10 13:26] goern commented on #1516
/priority important-soon

[2021-06-10 13:27] goern commented on #1514
/priority important-soon

[2021-06-10 13:55] goern commented on #1653
+1 I thin github has a copy-n-paste doc on how to do it

/priority important-soon

[2021-06-10 15:42] goern commented on #398
/triage duplicate
/close

[2021-06-10 15:42] #398 closed

[2021-06-10 15:44] goern commented on #810
@xtuchyna how do you want to proceed with this? feel free to get it out of the rotten stack and walk us thru it ;)

/triage needs-information

[2021-06-10 16:54] goern commented on #1280
@fridex what is the priority of this?

[2021-06-10 16:54] goern commented on #1248
/priority important-soon

[2021-06-10 16:54] goern commented on #1240
/priority backlog

[2021-06-10 16:54] goern commented on #1196
/priority backlog
/unassign @harshad16

[2021-06-10 16:55] goern commented on #1249
/priority critical-urgent

[2021-06-10 16:55] goern commented on #1195
/priority backlog
/unassign @harshad16

[2021-06-10 16:56] goern commented on #1166
/priority importnat-soon
/unassign harshad16

@harshad16 is this something @Gregory-Pereira can work on?

[2021-06-10 16:56] sesheta commented on #1166
@goern: The label(s) `priority/importnat-soon` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1166#issuecomment-858785815):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or

[2021-06-10 16:56] goern commented on #1166
/priority important-soon

[2021-06-10 16:57] goern commented on #1151
/priority important-soon

[2021-06-10 16:57] goern commented on #1129
/triage needs-information

[2021-06-10 16:57] goern commented on #1154
@fridex what is the prio of this?

[2021-06-10 16:58] goern commented on #1086
/priority backlog

[2021-06-10 16:58] goern commented on #974
/assign @harshad16
/priority critical-urgent

[2021-06-10 16:58] goern commented on #940
/priority backlog

[2021-06-10 16:59] goern commented on #855
/priority backlog

[2021-06-10 16:59] goern commented on #1113
@harshad16 can this be closed? is there techdebt created?

[2021-06-10 17:00] goern commented on #792
Based on the discussion on Tech-Talk, we will do this. @harshad16 and @goern will slowly add OWNER files

[2021-06-10 17:01] goern commented on #792
/kind feature
/remove-kind question
/priority important-soon

[2021-06-10 17:01] goern commented on #1017
/priority backlog
/unassign @harshad16

[2021-06-10 18:08] goern commented on #1634
@harshad16 can we also add 'priority/critical-urgent' label to all alerts?

[2021-06-10 20:29] fridex commented on #1280
This is @tlegen-k's intern project description.

[2021-06-10 20:35] fridex commented on #1196
@tumido you can adjust `.thoth.yaml` and provide `changelog_smart: false` in version manager to turn off smart changelogs and keep changelog verbatim:

https://github.com/thoth-station/kebechet/blob/c80d31428a00aadfda1179c633393959cc65bcc1/kebechet/managers/version/README.rst#generating-smart-release-logs

[2021-06-10 20:38] fridex commented on #1154
I would consider this low priority - we need pulp and running, we can do a spike on this or an architectural decision to make sure we integrate correctly.

[2021-06-10 20:38] fridex commented on #1154
/priority important-longterm

[2021-06-10 20:43] tlegen-k commented on #1280
/assign @tlegen-k

[2021-06-10 20:53] goern commented on #1280
/priority important-longterm

[2021-06-10 20:58] fridex commented on #1653
Maybe this one? https://github.com/github/renaming#renaming-existing-branches

[2021-06-10 21:09] fridex commented on #1514
Implemented in https://github.com/thoth-station/notebooks/pull/77. Rules are being synced in all the deployments and incorporated into init-job - https://github.com/thoth-station/init-job/pull/418

[2021-06-11 02:23] sesheta opened #1656 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-11 02:33] #1656 closed

[2021-06-11 04:23] sesheta opened #1657 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-11 04:39] #1657 closed

[2021-06-11 06:35] sesheta opened #1658 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-11 07:01] #1658 closed

[2021-06-11 12:53] goern opened #1662 "hardware endpoint delivers broken data"
**Describe the bug**
`curl -X GET "https://api.moc.thoth-station.ninja/api/v1/hardware" -H  "accept: application/json"` delivered some broken data

**To Reproduce**
Steps to reproduce the behavior:
1. `curl -X GET "https://api.moc.thoth-station.ninja/api/v1/hardware" -H  "accept: application/json"`

[2021-06-11 13:19] xtuchyna opened #1664 "activeDeadlineSeconds"
**Related dependencies**
Related to #1663

**Description**
When specifying timeout for workflows for `mi-scheduler`, I first tried to do it under the `spec` and `mi-workflow` template scope
( https://github.com/thoth-station/thoth-application/blob/d381a0cda6c597a4c9c012fbb89e28f06c5ce8f9/mi-scheduler/base/argo-workflows/mi-workflow-template.yaml#L11 and https://github.com/thoth-station/thoth-appli

[2021-06-11 14:59] sesheta opened #1666 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-11 15:09] #1666 closed

[2021-06-11 18:51] harshad16 commented on #1649
This image doesn't exists: `quay.io/goern/triage-party` , how was the image created @goern ?

[2021-06-11 19:13] KPostOffice commented on #1331
@fridex Yes, this is in place. https://github.com/thoth-station/investigator/blob/9419a514d8f20f8eed326c5821696d6ea44bd103/thoth/investigator/common.py#L286 and if message raises exception we do not ack

[2021-06-11 19:27] KPostOffice commented on #855
I know how to do this I just don't know of a good place to put it. This should be one and done, once we set the configuration we should only have to set it again if the configuration changes or if Kafka goes down and can't be recovered.  It might be okay to just put it in a CronWorkflow and add a new task in workflow helpers which uses confluent-kafka-python AdminClient to set configuration every

[2021-06-12 01:54] goern commented on #1649
image exists, repo was private, I reconfigured to public. pls chk.

[2021-06-12 01:54] goern commented on #1649
/unassign goern

[2021-06-12 06:38] sesheta opened #1669 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-12 07:09] #1669 closed

[2021-06-12 10:15] goern commented on #855
/remove-priority backlog
/triage needs-information

[2021-06-12 14:45] sesheta opened #1670 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-12 15:10] #1670 closed

[2021-06-12 16:25] sesheta opened #1671 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-12 17:36] #1671 closed

[2021-06-12 19:00] sesheta opened #1672 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-12 19:21] #1672 closed

[2021-06-12 22:59] sesheta opened #1673 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-12 23:19] #1673 closed

[2021-06-13 02:40] sesheta opened #1674 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-13 03:26] #1674 closed

[2021-06-13 12:08] sesheta opened #1675 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-13 12:14] #1675 closed

[2021-06-13 17:13] sesheta opened #1676 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-13 17:19] #1676 closed

[2021-06-13 20:14] sesheta opened #1677 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-13 21:14] #1677 closed

[2021-06-13 22:33] sesheta opened #1678 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-13 22:49] #1678 closed

[2021-06-14 02:37] sesheta opened #1679 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-14 03:12] #1679 closed

[2021-06-14 04:17] sesheta opened #1680 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-14 05:33] #1680 closed

[2021-06-14 05:57] fridex commented on #1331
Awesome, thanks Kevin. 👍🏻

[2021-06-14 06:09] fridex commented on #1662
This endpoint just gets what hardware configurations are available in the database. As we do not have many, it returns only few results (values set to `null` for unknown entries). Is there any other requirement for the endpoint?

Anyway, I wonder if we want to support such an endpoint on user-api and have this information exposed to users.

[2021-06-14 06:31] sesheta opened #1683 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-14 07:07] #1683 closed

[2021-06-14 17:12] fridex opened #1686 "Provision new PVC for prescriptions"
**Is your feature request related to a problem? Please describe.**

As of now we use Argo to obtain `prescription.yaml` from Ceph:

https://github.com/thoth-station/thoth-application/blob/b305c19f230b1a948d854371ed910ae062d0a63e/adviser/base/argo-workflows/advise.yaml#L87-L102

This is something we'll need to change with https://github.com/thoth-station/adviser/issues/1908. Once the change lands,

[2021-06-14 17:12] fridex commented on #1686
/assign @harshad16
/assign @goern

Is this something we can accomplish in our deployments?

[2021-06-14 17:19] fridex commented on #1686
Also, if the prescription-sync-job will be run same time as adviser, could data collide?

[2021-06-15 04:48] sesheta opened #1687 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-15 04:54] #1687 closed

[2021-06-15 06:57] sesheta opened #1688 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-15 07:28] #1688 closed

[2021-06-15 08:51] goern commented on #1113
@harshad16 feel free to re-open if the problem still persists.

/close

[2021-06-15 08:51] sesheta commented on #1113
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1113#issuecomment-861314192):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-06-15 08:51] #1113 closed

[2021-06-15 09:14] goern commented on #1634
/assign @pacospace @harshad16 @fridex

for the past 7 days this schemacheck alert persists, if this a false alert? do we need to take action? which?

[2021-06-15 09:14] goern commented on #1634
/triage needs-information

[2021-06-15 09:25] goern commented on #658
ping?! :)

[2021-06-15 09:28] goern commented on #1283
/priority important-soon

[2021-06-15 09:29] tumido commented on #1196
@fridex i don't think that would help, this is not a regular release pipeline. This pipeline is opening PRs like this https://github.com/operate-first/apps/pull/611

basically upgrading operate first kfdef repo pointers based on releases in ODH repos - and I'd like to know the ODH changelog in the PR description in operate first...

[2021-06-15 10:28] tumido commented on #1151
Btw, for example [dependabot](https://dependabot.com/) deletes a branch after its pr is merged automatically, I think that's a neat feature that it cleans after itself.

[2021-06-15 12:24] harshad16 commented on #1686
I will read up on this, and checking on the requirements from cluster side.

[2021-06-15 12:32] fridex commented on #1686
Thanks! 👍🏻 Just to sum up from the call, maybe @tumido can help on this front directly from top of his head:

* we need persistent volume in Thoth deployment
* the persistent volume will be mounted once by a cron job that will periodically place data there - the volume will be mounted in `write` mode only by one pod at a time
* the persistent volume will be mounted multiple times by pods that will

[2021-06-15 12:35] fridex commented on #1686
Just a note - might be better to just build a container with data and share data with the main container in deployment.

[2021-06-15 14:23] Gregory-Pereira commented on #1649
I am trying to deploy triage party as an application on the thoth-bots-prod namespace on the Zero cluster. After deploying I am getting this error:
"ERROR: don't know how to run your application.
Please set either APP_MODULE, APP_FILE or APP_SCRIPT environment variables, or create a file 'app.py' to launch your application."

[2021-06-15 14:36] fridex commented on #1686
I think we can close this with this solution. Thanks and sorry for tags :)

/close

[2021-06-15 14:36] #1686 closed

[2021-06-15 14:36] sesheta commented on #1686
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1686#issuecomment-861554965):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-06-15 14:42] goern commented on #1649
It might be that the trick it: this a Go app. the error you see is mostly associated with Python apps. How did you deploy it?

[2021-06-15 15:02] Gregory-Pereira commented on #1649
First I tried deploying it regularly as a python app which didn't work of course. Then I tried using the openshift/golang:latest operator from the CLI with and without the command google uses to start their triage party:
[code]
One thing I was confused about though is that I know I ran it as a golang application from the CLI but in the web console I only have the installed operators view, instead

[2021-06-15 17:01] harshad16 commented on #1649
while i applied the manifest present in the triage-party directory.
the errors I m observing are:
[code]

[2021-06-15 17:14] Gregory-Pereira commented on #1649
I am getting the same thing now, I tried removing the secret generator again.

[2021-06-15 17:26] Gregory-Pereira commented on #1649
@tumido could you possibly take a look as a cluster admin? not sure if the config is an issue but I will work on that in the meantime.

[2021-06-15 17:36] harshad16 commented on #1649
Actually some environment variable were missing.
great work on following on this. i have fixed those environment variables.

https://triage-party.thoth-station.ninja/s/daily

[2021-06-15 17:40] Gregory-Pereira commented on #1649
Awesome, thank you for the help! I will look into automating through ArgoCD now.

[2021-06-15 20:05] goern commented on #1634
#1696 is merged, so I'm /close ing this

[2021-06-15 20:05] goern commented on #1634
/close

[2021-06-15 20:05] #1634 closed

[2021-06-15 20:05] sesheta commented on #1634
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1634#issuecomment-861795472):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-06-15 20:58] sesheta opened #1700 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-16 07:00] fridex commented on #1618
Prescriptions are now stated in a directory structure - see [thoth-station/prescriptions](https://github.com/thoth-station/prescriptions/tree/master/prescriptions). This makes the database of known issues more maintainable and maintainers of specific projects can follow only sub-directories for changes and reports. If you are a maintainer of a project or you would like to follow issues stated for

[2021-06-16 10:27] tumido opened #1703 "GitHub team permission assignments sync"
**Is your feature request related to a problem? Please describe.**
When a new repo is created in an org, I'd like it to be seeded with team membership - like granting sourceops admin permissions and some other team write permissions etc.

**Describe the solution you'd like**
Something that would execute a script when new repo is created, fetching data from some config.

**Describe alternatives you

[2021-06-16 10:39] tumido commented on #1703
btw, this seems to be a chicken and egg problem, since the automation would need to have access to the repo to set the access to the repo though :smile:

[2021-06-16 10:43] tumido commented on #1703
Probably related to: https://github.com/thoth-station/thoth-application/pull/1510

[2021-06-16 16:24] goern commented on #658
@harshad16 @KPostOffice @pacospace could you add labels wrt prior and if someone is really working on this? thx!!

[2021-06-16 18:17] Gregory-Pereira commented on #1166
Should all the other graph-related components be migrated to the graph namespace as well (ex: graph-refresh and the graph-syncs)?

[2021-06-16 18:25] harshad16 commented on #1113
This is fixed. Thanks for closing it.

[2021-06-16 20:00] KPostOffice commented on #1651
Yeah, this is a good idea. We should be able to plot this against Kebechet runs to see how many API requests each workflow is generating.

[2021-06-16 20:14] sesheta opened #1709 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-16 23:09] #1709 closed

[2021-06-17 00:10] sesheta opened #1710 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-17 00:20] #1710 closed

[2021-06-17 01:40] sesheta opened #1711 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-17 05:11] harshad16 commented on #1166
no only graph concentrated apps.
component like graph-refresh and graph-sync connect with the services application and graph, so leaving them in serving  namespace makes sense.

we would like db concentrated app to be in db namespace, only graph-backup is such app which isn't in that namespace.

[2021-06-17 05:13] harshad16 commented on #658
Need to recheck on this
will add the labels based on it
currently we can assign this to be backlogged.

[2021-06-17 07:00] goern commented on #1651
@KPostOffice could you please create a feature issue out of this?

[2021-06-17 09:32] goern commented on #1700
@pacospace could you please have a look why this is happening?

/kind bug
/priority critical-urgent
/assign @pacospace

[2021-06-17 09:34] pacospace commented on #1700
![Screenshot from 2021-06-17 11-33-57](https://user-images.githubusercontent.com/27498679/122371185-f689c980-cf5f-11eb-811c-5326014491e5.png)
User-API is using an old version of storages, I will make a patch release

[2021-06-17 09:36] pacospace commented on #1700
Opened: https://github.com/thoth-station/user-api/issues/1440 once in prod, the alarm will disappear

[2021-06-17 13:11] #1711 closed

[2021-06-17 13:53] #1700 closed

[2021-06-17 14:19] goern commented on #855
topic retention time needs to be set to the cache time user-api, see https://github.com/thoth-station/thoth-application/blob/master/user-api/base/configmap.yaml#L9

/triage accepted
/priority important-soon
/assign @kpostoffice

[2021-06-18 01:29] sesheta opened #1714 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-18 03:50] #1714 closed

[2021-06-18 05:17] sesheta opened #1717 "ThothMiddletierIngestion"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=argo_workflows_count%7Binstance%3D%22workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud%3A80%22%2Cstatus%3D%22Running%22%7D&#43;%3C&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothMiddletierIngestion
    - instance = workflow

[2021-06-18 06:03] #1717 closed

[2021-06-21 07:24] fridex opened #1722 "Automatically delete branches created by Kebechet update"
**Describe the bug**

As a user of Thoth, I would like to have branches created by Kebechet on automatic package updates (known as `kebechet-automatic-update`) automatically deleted. Otherwise, next pull requests with package updates won't be created.

**To Reproduce**
Steps to reproduce the behavior:
1. See https://github.com/thoth-station/prescriptions-gh-release-notes-job/pull/18

**Expected be

[2021-06-21 07:25] fridex commented on #1722
CC @harshad16 is this something CI can do for us?

In another case, we could extend kebechet logic to detect merged PRs and delete the branch.

[2021-06-21 12:30] harshad16 commented on #1722
yes frido, we can have this in ci
will add it this sprint

[2021-06-21 12:31] fridex commented on #1722
Awesome, thanks 👍🏻

[2021-06-21 17:34] harshad16 commented on #654
constraint: this would require workflow-controller to be deployed in other namespaces as well.

[2021-06-21 17:39] harshad16 commented on #1649
This is complete and already being deployed by argocd-apps.
thanks @Gregory-Pereira for all the works

[2021-06-21 17:39] #1649 closed

[2021-06-21 18:16] sesheta opened #1730 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-21 18:42] harshad16 commented on #1618
we have completed the release of 2021.06.21 :tada: :confetti_ball: :partying_face:

### Features

* We have started ingesting the package based on **fedora 34** and **python 3.9**.

* We are deprecating the support for **fedora 31** and **python 3.7** modules.

* thamos advise now [supports labels](https://github.com/thoth-station/thamos#labels), prescription pipeline units can be now included in

[2021-06-21 18:42] #1618 closed

[2021-06-21 18:43] harshad16 opened #1731 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-06-21 18:51] fridex commented on #1154
Based on the Pulp architecture, we can start monitoring Pulp from the Thoth side rather than vice versa - at least from the beginning.

[2021-06-21 18:56] #1731 closed

[2021-06-21 18:59] fridex opened #1733 "Create pulp-pypi-sync job"
**Is your feature request related to a problem? Please describe.**

As Thoth, I would like to monitor one or multiple Pulp instances and watch for new repositories created. If a new python index is created on Pulp, Thoth should be aware of it, it should be registered and Thoth should monitor for new packages released on the index.

**Describe the solution you'd like**

- [x] create pulp-pupi-sync-

[2021-06-21 20:02] #1730 closed

[2021-06-21 20:07] sesheta opened #1734 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-21 22:28] #1734 closed

[2021-06-21 22:31] sesheta opened #1735 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-21 22:36] #1735 closed

[2021-06-21 22:41] sesheta opened #1736 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-22 02:41] #1736 closed

[2021-06-22 02:46] sesheta opened #1737 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-22 06:12] #1737 closed

[2021-06-22 06:17] sesheta opened #1738 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-22 09:31] goern commented on #675
/priority backlog
/remove-priority important-soon

[2021-06-22 09:48] #1738 closed

[2021-06-22 09:51] sesheta opened #1739 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-22 13:10] goern commented on #1733
/triage accepted
/assign @fridex
/priority important-soon

[2021-06-22 13:26] goern commented on #810
/remove-triage needs-information

[2021-06-22 13:29] KPostOffice commented on #855
https://github.com/operate-first/apps/pull/768

[2021-06-22 13:30] KPostOffice commented on #855
/close

[2021-06-22 13:30] #855 closed

[2021-06-22 13:30] sesheta commented on #855
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/855#issuecomment-865985646):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2021-06-22 13:30] sesheta opened #1740 "ThothSchemaCheckProdManagementAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22management-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdManagementAPI
    - component = management-api
    - env = zero-prod

[2021-06-22 13:31] goern commented on #955
/remove-triage needs-information
/priority backlog

This one needs us to host our own build of numpy, so pulp deployment in op1st is requried

[2021-06-22 14:16] #1740 closed

[2021-06-22 14:16] #1739 closed

[2021-06-22 14:21] sesheta opened #1741 "ThothSchemaCheckProdManagementAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22management-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdManagementAPI
    - component = management-api
    - env = zero-prod

[2021-06-22 14:21] sesheta opened #1742 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-22 16:09] harshad16 commented on #1362
Goals:

Reference:
1. https://github.com/operate-first/opfcli/blob/main/.github/workflows/release.yml
2. https://github.com/operate-first/opfcli/tree/v0.1

[2021-06-22 16:57] #1741 closed

[2021-06-22 16:57] #1742 closed

[2021-06-22 17:01] sesheta opened #1746 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-22 17:01] sesheta opened #1747 "ThothSchemaCheckProdManagementAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22management-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdManagementAPI
    - component = management-api
    - env = zero-prod

[2021-06-22 17:32] #1746 closed

[2021-06-22 17:32] #1747 closed

[2021-06-22 17:37] sesheta opened #1748 "ThothSchemaCheckProdManagementAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22management-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdManagementAPI
    - component = management-api
    - env = zero-prod

[2021-06-22 17:37] sesheta opened #1749 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-22 18:27] #1748 closed

[2021-06-22 18:27] #1749 closed

[2021-06-22 18:29] sesheta opened #1750 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-22 18:29] sesheta opened #1751 "ThothSchemaCheckProdManagementAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22management-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdManagementAPI
    - component = management-api
    - env = zero-prod

[2021-06-22 18:55] #1750 closed

[2021-06-22 18:55] #1751 closed

[2021-06-22 18:57] sesheta opened #1752 "ThothSchemaCheckProdUserAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22user-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdUserAPI
    - component = user-api
    - env = zero-prod
    - instance = metri

[2021-06-22 18:57] sesheta opened #1753 "ThothSchemaCheckProdManagementAPI"
Alertmanager URL: http://alert-manager-thoth-infra-prod.apps.zero.massopen.cloud

  * firing http://prometheus-prometheus-0:9090/graph?g0.expr=thoth_graph_db_component_revision_check%7Bcomponent%3D%22management-api%22%2Cenv%3D%22zero-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels:

    - alertname = ThothSchemaCheckProdManagementAPI
    - component = management-api
    - env = zero-prod

[2021-06-22 21:10] harshad16 opened #1757 "sprint production release 2021.07.05"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-06-23 06:17] fridex commented on #1757
**Resolve Python software stacks based on RPM packages present in the base container image (runtime environment used)**

Some Python libraries require native packages to work. An example can be [GitPython](https://pypi.org/project/GitPython/), a popular Python library for interacting with Git. The installation of GitPython done by `pip install gitpython` will bring Python library into the environm

[2021-06-23 06:30] fridex commented on #1757
**Resolve Python software stacks based on shared objects present in the base container image (runtime environment used)**

Similarly as for RPM packages (see above), some Python packages require native shared objects (`so` files) present in the environment to operate correctly. To support this, Thoth performs analyses of base container images that can be used with Python software stacks. One of th

[2021-06-23 06:40] fridex commented on #1757
**Pulp integration: pulp-pypi-sync-job**

[Pulp](https://pulpproject.org/) offers [pulp-python](https://pulp-python.readthedocs.io/en/latest/) plugin which enables users to maintain multiple Python package indexes. Users can upload their Python packages to package indexes considering their needs (e.g. have a specific Python package index for AVX2 optimized TensorFlow builds, another index for patc

[2021-06-23 07:55] goern commented on #1362
@Gregory-Pereira please label accordingly if you are working on an issue

/lifecycle active

[2021-06-23 08:21] goern commented on #1004
@4n4nd could you please turn this into a document? I don't get what I need to do (and where) to get the dashboards changed...

[2021-06-23 09:07] goern commented on #1703
@tumido can we close this with the use of paribolos?

[2021-06-23 09:53] tumido commented on #1703
yes, we can close this one. Peribolos is what we need :slightly_smiling_face:

[2021-06-23 09:53] #1703 closed

[2021-06-23 10:48] #1240 closed

[2021-06-23 12:24] goern commented on #1752
/kind alert
/priority critical-urgent
/assign @pacospace

[2021-06-23 12:24] goern commented on #1753
/kind alert
/priority critical-urgent
/assign @pacospace

[2021-06-23 12:25] goern commented on #1757
/priority awaiting-more-evidence

[2021-06-23 12:35] goern commented on #1362
/priority important-soon

[2021-06-23 21:55] goern commented on #820
@pacospace ping

[2021-06-24 07:12] pacospace commented on #820
Yes it is, but there is the issue on the naming of endpoint which is addressed as IP address and not as name, cc @harshad16. That has to be solved first.

[2021-06-24 07:13] pacospace commented on #820
/remove-lifecycle rotten

[2021-06-24 07:42] pacospace commented on #1753
/unassign @pacospace

[2021-06-24 07:42] pacospace commented on #1752
/unassign @pacospace

[2021-06-24 07:58] harshad16 commented on #1753
https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/thoth-infra-prod/pods/graph-update-schema-210624071714-b94834996bbfc127-66pt7

[2021-06-24 07:58] harshad16 commented on #1752
https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/thoth-infra-prod/pods/graph-update-schema-210624071714-b94834996bbfc127-66pt7

[2021-06-24 12:33] goern commented on #810
/priority backlog

[2021-06-24 15:20] 4n4nd commented on #1004
@goern https://github.com/operate-first/apps/issues/803

[2021-06-24 18:53] fridex opened #1763 "Retrieve a list of packages that were submitted to Thoth"
**Is your feature request related to a problem? Please describe.**

As an operator of Thoth, I would like to get a list of packages that were submitted to Thoth with an advice request.

**Describe the solution you'd like**

- iterate over adviser documents stored on Ceph and obtain a list of packages from Pipfile
- check this for prod/stage/prod environments

[2021-06-24 18:54] fridex commented on #1763
Later, this can be extended so that we do package usage analyses.

[2021-06-25 06:21] fridex opened #1764 "Start ingestion in stage for relevant packages"
**Is your feature request related to a problem? Please describe.**

To support our planned efforts, we should start (re)ingestion in stage environment.

**Describe the solution you'd like**

- [x] aggregate packages that should be ingested
  - [x] aggregate ODH packages - https://github.com/fridex/devnull/blob/master/rhods_nb_packages.txt
  - [x] ray packages - https://github.com/fridex/devnull/bl

[2021-06-25 06:28] fridex commented on #1764
/priority critical-urgent

[2021-06-28 01:02] #1166 closed

[2021-06-28 05:35] harshad16 opened #1766 "schema update blocked due backoff limit reached."
**Describe the bug**
we have been trying to update the graph db schema, to upgrade the alembic version along with the update of the schema.
It would the alerts which are getting prompted due to the schema difference.

The method to do the schema update is to schedule the graph-schema-update job from management-api.

Scheduling the graph-schema-update job in prod cluster result in `Job has reached

[2021-06-28 05:39] harshad16 commented on #1766
This is work in progress, we have been trying to fix this.
Had experimented with the backofflimit and activedeadlineSeconds params, however that didn't help much.
Notice that the db size has grown due to this.
As we don't want to disrupt the prod environment.

we have moved the fixing to stage environment.
Have scheduled the job: https://console-openshift-console.apps.ocp4.prod.psi.redhat.com/k8s/

[2021-06-28 05:45] fridex opened #1767 "Use Python package index labels to support resolution engine decisions"
**Is your feature request related to a problem? Please describe.**

As Thoth, I would like use labels available on Python package indexes provide by Pulp to automatically adjust resolution process based on the labels associated with the package index.

An example can be a Python package index that has AVX2 enabled builds. In such a case, Thoth can automatically detect this index and, based on labe

[2021-06-28 05:46] fridex commented on #1766
Is there any exception reported? Or is this solely issue caused by a timeout as the job is running too long?

[2021-06-28 09:23] goern commented on #1129
/remove-triage needs-information

[2021-06-28 09:23] goern commented on #1327
/close

this seems to be outdated, feel free to re-open

[2021-06-28 09:23] #1327 closed

[2021-06-28 09:23] sesheta commented on #1327
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1327#issuecomment-869524435):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-06-28 09:24] goern commented on #1630
/remove-triage needs-information

[2021-06-28 09:24] goern commented on #1664
@xtuchyna what is the status of this?

/remove-triage needs-information

[2021-06-28 11:55] goern opened #1769 "create deployment `rick-stage`"
**Is your feature request related to a problem? Please describe.**
As Operate First is deploying another cluster in EMEA (called `rick`), we can use it to host a STAGE deployment similar to `zero-prod`. `rick` will also be maintained via Operate First tooling and be equivalent with versions used in `zero` cluster. This would give us the opportunity to have a stage environment in the open universe.

[2021-06-28 13:18] sesheta commented on #1069
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-28 14:54] goern commented on #1129
/priority backlog

[2021-06-28 15:49] pacospace commented on #1763
is ok to have a notebook here? and is this required https://github.com/thoth-station/reporter/issues/218?

[2021-06-28 16:22] sesheta commented on #856
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-28 16:23] fridex commented on #1763
This is about aggregating direct dependencies from Pipfile that were submitted to thoth so we can support #1764. It can be turned into a notebook if you want 👍🏻

[2021-06-28 16:46] pacospace commented on #1763
Sure! I think we can resue notebook in thoth-station/datasets for this and provide the list of packages.

Should we place the list in init-job and add an env variable to select a list of packages, either the data-science pacakges (https://github.com/thoth-station/init-job/blob/master/hundredsDatasciencePackages.yaml) or the new one called `thothMostUsedPackages.yaml`

[2021-06-28 16:47] pacospace commented on #856
/remove-lifecycle stale

[2021-06-28 16:47] pacospace commented on #856
Related-To: https://github.com/operate-first/support/issues/288

[2021-06-28 17:18] pacospace commented on #854
related: https://github.com/thoth-station/thoth-application/issues/856

[2021-06-29 06:17] goern commented on #1757
Updated Knowledge Graph: https://github.com/thoth-station/core/issues/297

[2021-06-29 07:07] goern commented on #854
please make sure to add `kind/alert` and `priority/critical-urgent` if opening issues.

[2021-06-29 07:26] fridex commented on #1763
I would wait for the ingestion - we might adjust the data science packages listing, but maybe an additional configuration of the system will be required to make sure we have the correct packages listed.

[2021-06-29 10:40] goern commented on #1757
/milestone 2021.07.05

[2021-06-29 10:40] goern commented on #1757
/milestone 2021.07.05

[2021-06-29 10:41] goern commented on #1757
/milestone 2021.07.05

[2021-06-29 10:41] sesheta commented on #1757
@goern: The provided milestone is not valid for this repository. Milestones in this repository: [`adviser-v0.17.0`, `adviser-v0.18.0`, `investigator-v0.5.0`, `python38-migration`, `slo-reporter-v0.7.0`, `v0.6.0`, `v0.7.0`, `v0.8.0`]

Use `/milestone clear` to clear the milestone.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1757#issuecomment-870483566

[2021-06-29 10:47] goern commented on #1757
/milestone clear

[2021-06-29 12:04] goern commented on #1757
/status approved-for-milestone

[2021-06-29 12:04] goern commented on #1757
/milestone 2021.07.05

[2021-06-29 12:04] sesheta commented on #1757
@goern: The provided milestone is not valid for this repository. Milestones in this repository: [`adviser-v0.17.0`, `adviser-v0.18.0`, `investigator-v0.5.0`, `python38-migration`, `slo-reporter-v0.7.0`, `v0.6.0`, `v0.7.0`, `v0.8.0`]

Use `/milestone clear` to clear the milestone.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1757#issuecomment-870534598

[2021-06-29 12:10] goern commented on #1757
/milestone 2021.07.05

[2021-06-29 12:10] sesheta commented on #1757
@goern: The provided milestone is not valid for this repository. Milestones in this repository: []

Use `/milestone clear` to clear the milestone.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1757#issuecomment-870540854):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-r

[2021-06-29 12:10] goern commented on #1757
sorry for the verbose testing :/

[2021-06-29 12:20] goern commented on #1757
/milestone 2021.07.05

[2021-06-29 12:49] goern commented on #1757
looks like we need to create a milestone manually and then use a comment-command
/milestone 2021.07.05

[2021-06-29 15:21] harshad16 commented on #1766
There was no exception reported.
just the backofflimit reached error on the job description can be seen
on further investigation, it was found that the alembic update were causing data increase and decrease
the update job was terminating and getting retriggered, which caused the fluctuation.
more details:
https://chat.google.com/room/AAAAVjnVXFk/0vZpjizM0fs

[2021-06-30 06:32] goern commented on #1757
https://github.com/thoth-station/thamos/pull/886

[2021-06-30 06:37] goern commented on #1757
https://github.com/thoth-station/package-extract/pull/452

[2021-06-30 07:07] goern commented on #1664
@xtuchyna are you working on this? if so, please lifecycle it, and set a prio

/priority backlog

[2021-06-30 07:07] goern commented on #1630
@xtuchyna are you working on this? if so, please lifecycle it, and set a prio

/priority backlog

[2021-06-30 18:57] fridex commented on #1757
I would postpone this one for the next release - the change is in one component, further adjustments in other components are needed to deliver a usable feature - https://github.com/thoth-station/adviser/issues/1926

[2021-07-01 08:52] pacospace opened #1787 "Document authenticated/non authenticated workflows and the requirement for a token, have a ADR like doc"
**Is your feature request related to a problem? Please describe.**
As Thoth User/Developer,

I would like to know more about authenticated/non authenticated workflows and the requirement for a token

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

**Additional context**
Related-To: https://github.com/tho

[2021-07-01 08:53] pacospace commented on #1112
Close this issue as it is resolved, moved the creation of doc for authenticated workflows to new issue.

[2021-07-01 08:53] #1112 closed

[2021-07-01 08:58] fridex commented on #1787
Related information can be found in https://www.youtube.com/watch?v=Nvu5MsUG7L4

[2021-07-01 11:10] fridex opened #1788 "[2pt] Provide a mechanism to label container images produced by AICoE-CI/Thoth"
**Is your feature request related to a problem? Please describe.**

As Thoth, I would like to resolve software specific for container images (runtime environments) as produced by AICoE-CI/Thoth. To support this, we need to have a mechanism that can inject container image information into the container image itself.

As of now, we use environment variables `THOTH_S2I_NAME`/`THOTH_S2I_VERSION` and `

[2021-07-01 12:03] fridex commented on #1496
Extracted into an intern project for @meile18 - https://github.com/thoth-station/core/pull/301

/assign @meile18

[2021-07-01 16:04] harshad16 commented on #1763
We currently  run init-job via workflow, in where we select which all workflows to execute, like
- schema initial
- data science package solver schedule.

how about we have multiple lists for different thoth deployment environment
and configure them via this option of selecting different workflow.

For example, if an environment doesn't require, 100datasciencpackaeg
on deployment, we would deselec

[2021-07-01 22:08] goern commented on #1069
/remove-lifecycle stale

[2021-07-02 08:38] pacospace opened #1792 "Almebic version bug in prod"
**Describe the bug**
Almebic version bug in prod

**To Reproduce**
Steps to reproduce the behavior:
1. thamos advise

**Expected behavior**
Request is successfull

**Screenshots**
[code]

**Additional context**

[2021-07-02 08:43] pacospace commented on #1792
| component | version | released | alembic | storages-version | in prod? |
| --- | --- | --- | --- | --- | --- |
| adviser | v0.35.0 | yes | 95c40432360f | 0.51.0 | no |
| investigator | v0.13.3 | no | 95c40432360f | 0.51.0 | no |
| investigator | v0.13.3 | no | 95c40432360f | 0.51.0 | no |
| investigator | v0.13.3 | no | 95c40432360f | 0.51.0 | no |
| investigator | v0.13.3 | no | 95c40432360f |

[2021-07-02 08:52] pacospace commented on #1792
Check all versions requested for alembic: 95c40432360f with thoth-statorages v0.51.0

| component | version requested | released | in prod? |
| --- | --- | --- | --- |
| adviser | v0.35.0 | yes |  no |
| investigator | v0.13.3 | no  | no |
| metrics-exporter | v0.16.3 | yes |  no |
| management-api | ? | no |  no |
| user-api | ? | no |  no |
| graph-sync | ? | no |  no |
| graph-refresh | ? | no

[2021-07-02 12:10] fridex opened #1795 "Yanked releases support"
**Is your feature request related to a problem? Please describe.**

As a consumer of Thoth services, I would like to make sure versions that I am using are not yanked on PyPI.

**Describe the solution you'd like**

Implement a yanked release support.

[2021-07-02 12:18] goern commented on #1757
https://github.com/thoth-station/ps-nlp/issues/10#issuecomment-872764700

[2021-07-02 12:19] pacospace commented on #1792
After release of adviser in prod, the issue is solved! We keep temporarely open until we moved all components to prod with those specific versions!

[2021-07-02 12:22] pacospace commented on #1792
Check all versions requested for `alembic: 95c40432360f` with `thoth-statorages v0.51.0` [tracker]

| component | version requested | released | in prod? |
| --- | --- | --- | --- |
| adviser | v0.35.0 | yes |  yes |
| investigator | v0.14.0 | yes  | no |
| metrics-exporter | v0.16.3 | yes |  yes |
| management-api | v0.17.6 | yes |  no |
| user-api | v0.27.0 | no |  no |
| graph-sync | v0.10.11 |

[2021-07-02 13:22] pacospace commented on #1792
user-api and investigator should be updated in prod until: https://github.com/thoth-station/user-api/issues/1458

[2021-07-02 14:15] fridex opened #1798 "Document what needs to be done when a new runtime environment is registered"
**Is your feature request related to a problem? Please describe.**

Let's document what steps are required to provide data for new runtime environments.

**Describe the solution you'd like**

- [ ] aggregate information about RPM Python packages - https://github.com/thoth-station/adviser/issues/1961
- [ ] ...

[2021-07-03 15:52] goern commented on #1798
/sig docs

[2021-07-06 11:30] goern commented on #407
/assign @Gregory-Pereira

[2021-07-06 11:31] goern commented on #429
@pacospace what is the current state?

[2021-07-06 11:38] goern commented on #654
/milestone 2021.07.19

[2021-07-06 11:40] goern commented on #1795
Shall this be a `thamos` feature, Tekton task? part of GitHub App and PR comment?

[2021-07-06 11:42] pacospace commented on #429
We have these metrics already sent by argo workflows and they are going to be available in grafana dashboard, but we miss all cronworkflow to monitor their status.

We track the creation of the alarm for these metrics here: https://github.com/thoth-station/thoth-application/issues/854

[2021-07-06 11:53] goern commented on #792
@thoth-station/devs please keep on adding `OWNERS` files, meanwhile, I'll close this...

/close

[2021-07-06 11:53] sesheta commented on #792
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/792#issuecomment-874694994):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/

[2021-07-06 11:53] #792 closed

[2021-07-06 12:37] harshad16 commented on #1249
This is PR had solved this issue: https://github.com/thoth-station/thoth-application/pull/1724
forgot to attach this issue to the pr.
closing the issue, as we had already tested this.

[2021-07-06 12:37] #1249 closed

[2021-07-06 21:26] harshad16 commented on #1757
we have completed the release of 2021.07.05 :tada: :confetti_ball: :partying_face:

### Features

* **Resolve Python software stacks based on RPM packages present in the base container image (runtime environment used)**

Some Python libraries require native packages to work. An example can be [GitPython](https://pypi.org/project/GitPython/), a popular Python library for interacting with Git. The i

[2021-07-06 21:26] #1757 closed

[2021-07-06 21:26] harshad16 opened #1802 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-07-06 21:27] harshad16 opened #1803 "sprint production release 2021.07.19"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-07-06 21:40] #1802 closed

[2021-07-07 07:48] pacospace opened #1805 "investigator message metrics exporter in thoth-infra-prod is not scraped"
**Describe the bug**
investigator message metrics exporter in thoth-infra-prod is not scraped

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://investigator-message-metrics-thoth-infra-prod.apps.zero.massopen.cloud/metrics and check for metric called `message_count_by_version_total`
2. Go to Prometheus prod and check for the same metric.

In alternative check targets and verify th

[2021-07-07 13:39] goern commented on #1788
/remove-triage needs-information
/priority important-soon
/milestone 2021.07.19

/assign @harshad16

[2021-07-08 08:13] pacospace opened #1808 "package extract fails to sync in prod"
**Describe the bug**
package extract fails to sync in prod

**To Reproduce**
Steps to reproduce the behavior:
1. Run similar package extract with same inputs descripted below

**Expected behavior**
Workflow does not fail

**Screenshots**
[code]

**Additional context**

[2021-07-08 11:07] goern commented on #1561
/priority important-soon

[2021-07-08 14:32] pacospace opened #1811 "There are paused messages in prod, what to do?"
**Describe the bug**
There are paused messages in prod caused by many exceptions

**To Reproduce**
Steps to reproduce the behavior:
1. Check https://grafana-route-opf-monitoring.apps.zero.massopen.cloud/d/6576535a8b26fd1a0e5328f4413dfd8bc989f54f/thoth-kafka-consumers-and-argo-workflows?viewPanel=9&orgId=1&refresh=30s

**Expected behavior**
No paused messages and learn actions on what to do in this

[2021-07-08 14:33] pacospace commented on #1811
Related-To: https://github.com/thoth-station/investigator/issues/552

[2021-07-08 14:34] pacospace opened #1812 "Some messages are having many exceptions"
**Describe the bug**
There are many exceptions in messages that lead to paused messages

**To Reproduce**
Steps to reproduce the behavior:
1. Check https://grafana-route-opf-monitoring.apps.zero.massopen.cloud/d/6576535a8b26fd1a0e5328f4413dfd8bc989f54f/thoth-kafka-consumers-and-argo-workflows?viewPanel=4&orgId=1&refresh=30s

**Expected behavior**
Why there are so many exceptions? should we have an

[2021-07-08 15:33] harshad16 opened #1813 "Security confidence addition to the images for more clear traceability and security"
**Is your feature request related to a problem? Please describe.**

The plan is to have a process in place to add score/confidence based on the base image and package security into the image during the build time. we would focus on the provenance of the package and the base image source confidence. The aggregation would be provided in the image for the details for the user to view and verify that

[2021-07-08 16:09] pacospace commented on #1811
It is an operational question here in thoth-application and there are other two issues for docs requests in investigator:

https://github.com/thoth-station/investigator/issues/551

https://github.com/thoth-station/investigator/issues/553

[2021-07-08 20:52] harshad16 opened #1816 "Convert metrics scraping in prometheus from multi jobs to one job"
**Is your feature request related to a problem? Please describe.**
Currently, we use Prometheus to scrape the application metrics. The process to do this is carried out by multiple jobs, we would like this process to be converted to one job.

- [x] Merge all jobs into one and utilize the labels instead
- [x] Test out in one cluster
- [ ] change the scrape config and update in both prod and stage
-

[2021-07-09 10:31] pacospace opened #1817 ""system:serviceaccount:thoth-test-core:argo-server" cannot create resource "events" in API group "" in the namespace "thoth-test-core""
**Describe the bug**
Mi workflows appear in `argo list` but they never start pods.

**To Reproduce**
Steps to reproduce the behavior:
1. Run workflow in MI

**Expected behavior**
MI workflows runs and pods are scheduled.

**Screenshots**
[code]

**Additional context**
cc @harshad16 @xtuchyna

[2021-07-09 10:32] pacospace commented on #1817
I actually see the SA set to argo: https://github.com/thoth-station/thoth-application/blob/3d2a6336413a2c1e956a55a20ef9ec59c105c84d/mi-scheduler/base/openshift-templates/mi-run-template.yaml#L50

[2021-07-09 11:17] goern commented on #1817
/triage accepted
/priority important-soon
/assign @Gregory-Pereira

[2021-07-09 13:07] harshad16 commented on #1766
This was fixed by separating the alembic version and updated the database.
Thanks for everyone's help.

[2021-07-09 13:07] #1766 closed

[2021-07-12 07:36] fridex commented on #1795
A periodic job run in the backend that checks yanked releases on PyPI and marks them in the database as yanked so we do not recommend them (unless stated explicitly in direct dependencies listing).

[2021-07-12 10:12] fridex opened #1822 "Configurable monitoring of Python package indexes"
**Is your feature request related to a problem? Please describe.**

As Thoth, I would like to monitor Python package indexes available. As of now, we monitor PyPI and all the Python package indexes as provided by the monitored Pulp instance. It would be great if we can configure monitoring in a way it monitors packages available on indexes - either all or only some of them. An example can be confi

[2021-07-12 11:14] fridex opened #1823 "Make ingesting "unsolved" packages configurable"
**Is your feature request related to a problem? Please describe.**

As a Thoth administrator, I would like to adjust what packages are ingested into the system. As of now, we automatically analyze packages that are not solved yet in "unsolved" workflow. To have more fine-grained control on which packages can be recommended by the system, we should have the automatic ingestion of unsolved packages

[2021-07-12 11:35] fridex commented on #1803
**TensorFlow updates in recommendations**

We have incorporated few additions to the recommender system when it comes to recent TensorFlow releases. Users of Thoth can now benefit from recommendations that take into account API symbols available also in the upcoming tensorflow~=2.6.0 release. The recommender system automatically suggests using the appropriate TensorFlow release based on API symbol

[2021-07-12 11:41] fridex commented on #1803
**Python packages packaged as RPMs in Fedora 34 and UBI8**

Thoth's knowledge was extended with information that states which Python packages are packaged as RPMs in Fedora 34 and UBI8. When asking for advice, the recommender system notifies about Python packages available as RPMs in justifications.

Number of Python packages packaged in Fedora 34 as RPMs: 2244
Number of Python packages packaged i

[2021-07-12 11:44] fridex commented on #1803
**Notify users about Python releases installed from PyPI**

With recent changes, we provide a link to PyPI's release page for each Python package installed from PyPI. This helps users to directly navigate to project information presented on PyPI.

* https://github.com/thoth-station/adviser/issues/1964
* https://github.com/thoth-station/adviser/pull/1966

[2021-07-12 11:53] fridex commented on #1803
**Resolve Python software stacks considering Python modules available in the runtime environment (container image)**

The declarative interface to the resolution process now allows to state how the resolution process should look like when considering also Python packages already present in the runtime environment (container image). An example can be an adjusted resolution process when JupyterLab i

[2021-07-12 12:00] fridex commented on #1803
**Resolve Python software stacks considering prepared container images (runtime environments)**

As we provide base container images with a prepared and tested set of packages ("predictive stacks") that are shipped with the container image, these container images can be additionally used as a base for installing packages as per user requests.

An example scenario can be a tested TensorFlow contain

[2021-07-12 12:08] fridex commented on #1803
**Links to GitHub release notes for the most used 5000 packages on PyPI**

The recommendation engine now provides links to release notes pages available on GitHub (if any) for packages that are installed. For example, users will be pointed to [numpy==1.21.0](https://github.com/numpy/numpy/releases/tag/v1.21.0) release page if the given numpy is installed in the specific version. This information w

[2021-07-12 14:01] sesheta commented on #609
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-13 11:58] goern opened #1827 "reconfigure triage-party routes"
**Is your feature request related to a problem? Please describe.**
Reconfigure triage-parts routes to
- [ ] increase timeout to 45sec, see https://docs.openshift.com/container-platform/4.7/networking/routes/route-configuration.html#nw-route-specific-annotations_route-configuration
- [ ] use ACME Cert management, like https://github.com/thoth-station/thoth-application/pull/1782

**Describe the solu

[2021-07-13 14:28] goern commented on #1811
/area investigator

[2021-07-13 15:04] goern commented on #1496
/priority backlog
/triage accepted

[2021-07-13 21:22] goern commented on #609
what is the status of this?

[2021-07-14 06:01] fridex opened #1830 "Create a cron workflow that keeps prescriptions up to date"
**Is your feature request related to a problem? Please describe.**

Some prescriptions might change over time. To maintain the database of prescriptions publicly, it would be great to keep the database up to date. For this purpose, we should create a cron workflow that will make sure prescriptions are up to date.

**Describe the solution you'd like**

- [ ] identify prescriptions that can change o

[2021-07-14 06:01] sesheta commented on #1830
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-14 07:16] fridex commented on #1803
**Notify users if a Python package has archived repository on GitHub**

To make sure Python application developers use Python packages that are still actively developed, we warn when users use Python packages that have archived repositories on GitHub.

* https://github.com/thoth-station/prescriptions/pull/54

[2021-07-14 07:18] fridex commented on #1803
**Notify users if they consume Python packages from Operate First' Pulp instance**

We inform users if they consume packages from Operate First Pulp instance.

* https://github.com/thoth-station/adviser/pull/1974

[2021-07-14 10:02] xtuchyna commented on #1817
Currently, whenever this happens I just delete the `workflow-controller` as advised by @harshad16 , and that fixes the problem (right after the controller is re-created).

[2021-07-14 11:34] xtuchyna opened #1835 "Create a new workflow for kebechet merge action [mi-scheduler]"
**Is your feature request related to a problem? Please describe.**
Currently, kebechet merge action is scheduled as mi-analysis workflow, see logs for more info

**Describe the solution you'd like**
Create a different, standalone workflow for merging actions, because it does not require  GH Token and therefore it is not limited by API limit.

This workflow would not be dependent on `parallelism` l

[2021-07-14 11:34] sesheta commented on #1835
@xtuchyna: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-07-14 17:15] fridex commented on #1823
It would be great to have this available to make sure we analyze only packages we want to have analyzed and the system will keep up with releases.

/priority important-soon

[2021-07-15 02:03] sesheta commented on #774
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 02:03] sesheta commented on #682
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 04:44] sesheta commented on #650
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 04:44] sesheta commented on #632
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 04:44] sesheta commented on #618
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 04:44] sesheta commented on #650
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/650#issuecomment-880386848):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-15 04:44] sesheta commented on #618
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/618#issuecomment-880386866):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-15 04:44] sesheta commented on #632
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/632#issuecomment-880386852):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-15 06:57] goern commented on #774
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-15 06:58] goern commented on #682
/remove-lifecycle rotten
/lifecycle forzen

[2021-07-15 08:03] sesheta commented on #1644
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 10:42] sesheta commented on #920
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 10:42] sesheta commented on #409
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 10:42] sesheta commented on #532
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 10:42] sesheta commented on #1169
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 10:42] #1169 closed

[2021-07-15 10:42] sesheta commented on #409
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/409#issuecomment-880591217):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-15 10:42] sesheta commented on #532
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/532#issuecomment-880591222):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-15 10:42] sesheta commented on #1169
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1169#issuecomment-880591253):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-15 10:42] sesheta commented on #920
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/920#issuecomment-880591211):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-15 10:44] sesheta commented on #532
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-15 10:44] sesheta commented on #409
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-15 11:40] xtuchyna opened #1839 "Monitor `mi` workflows"
**Is your feature request related to a problem? Please describe.**
Whenever all the workflows finish, I would like to see how much of them passed and how much of them failed. Can this be done directly via ArgoCD ? Or could this information be extracted from `workflow-controller` ?

**User story**
As a `thoth/mi` workflows maintainer,
I want to see how many workflows were finished successfully and

[2021-07-15 11:40] sesheta commented on #1839
@xtuchyna: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-07-15 12:04] pacospace commented on #1839
Thans @xtuchyna, ArgoCD does not handle workflows, that is Argo. There are some default metrics gathered for workflows from workflow-controller by default. Then other customized ones can be introduced, see for example: https://github.com/thoth-station/thoth-application/blob/9f2a75ca19394da2b6cdd51413da72338da45402/adviser/base/argo-workflows/advise.yaml#L9

[2021-07-15 12:10] pacospace commented on #1839
@xtuchyna here docs on Argo worfklows metrics: https://argoproj.github.io/argo-workflows/metrics/

@harshad16 do we gather metrics from workflow controller in `thoth-test-core` in `zero-test`? I don't see them in https://prometheus-portal-opf-monitoring.apps.zero.massopen.cloud/graph?g0.expr=argo_workflows_count%7Bnamespace%3D%22thoth-test-core%22%7D&g0.tab=1&g0.stacked=0&g0.range_input=1h

[2021-07-15 13:42] sesheta commented on #111
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 13:42] sesheta commented on #1235
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 13:42] #1235 closed

[2021-07-15 13:42] sesheta commented on #111
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/111#issuecomment-880705042):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-15 13:42] sesheta commented on #1235
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1235#issuecomment-880705073):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-15 15:09] goern commented on #532
/triage accepted
/lifecycle frozen

[2021-07-15 15:09] goern commented on #409
/triage accepted
/lifecycle frozen

[2021-07-15 15:09] goern commented on #920
/triage accepted
/lifecycle frozen

[2021-07-15 15:35] xtuchyna commented on #1839
triage/accepted

[2021-07-15 15:36] xtuchyna commented on #1839
/triage accepted

[2021-07-15 15:42] harshad16 commented on #1839
we dont gather metrics in the zero-test , if this is need we should create another process for it

[2021-07-15 16:46] sesheta commented on #1516
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 16:46] sesheta commented on #1516
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1516#issuecomment-880855688):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-15 17:03] sesheta commented on #1654
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 17:20] #1654 closed

[2021-07-15 17:21] pacospace commented on #1654
Deprecated

[2021-07-16 01:43] sesheta commented on #1195
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-16 01:43] sesheta commented on #1248
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-16 01:43] sesheta commented on #974
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-16 01:43] sesheta commented on #1086
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-16 01:43] sesheta commented on #940
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-16 01:43] sesheta commented on #1017
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-16 01:44] sesheta commented on #1248
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1248#issuecomment-881115674):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-16 01:44] sesheta commented on #940
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/940#issuecomment-881115692):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-16 01:44] sesheta commented on #974
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/974#issuecomment-881115690):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-16 01:44] sesheta commented on #1017
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1017#issuecomment-881115695):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-16 01:44] sesheta commented on #1086
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1086#issuecomment-881115684):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-16 01:44] sesheta commented on #1195
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1195#issuecomment-881115680):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-16 02:03] sesheta commented on #1280
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 02:03] sesheta commented on #1514
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 02:03] sesheta commented on #1653
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 02:04] sesheta commented on #1331
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 02:04] sesheta commented on #1662
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 04:42] sesheta commented on #1283
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-16 04:42] sesheta commented on #1283
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1283#issuecomment-881172440):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-16 04:42] #1283 closed

[2021-07-16 05:03] sesheta commented on #1151
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 05:03] sesheta commented on #1196
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 07:44] goern commented on #1763
/triage accepted
/remove-triage needs-information
/priority important-soon

[2021-07-16 07:46] goern commented on #1767
/remove-triage needs-information
/triage accepted
/priority backlog

[2021-07-16 07:48] goern commented on #1722
As Kebechet created the branch, should it be responsible for cleanup after the PR got merged? Doing it via CI feels wrong, as CI should not maintain source?!

[2021-07-16 07:49] goern commented on #1722
/triage accepted

[2021-07-16 07:49] goern commented on #1787
/remove-triage needs-information
/triage accepted
/priority important-soon

[2021-07-16 08:35] sesheta commented on #940
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-07-16 09:47] pacospace opened #1843 "slo-reporter stage-prod look for location of advise reporter documents which are stored in a different place"
**Describe the bug**
slo-reporter stage-prod look for location of advise reporter documents which are stored in a different place

We are not using default thoth bucket but the one from rook in prod, should we go back to normal bucket? (see additional context below.

**To Reproduce**
Steps to reproduce the behavior:
1. Check SLO-reporter repo, where some tables are empty.

**Expected behavior**
Da

[2021-07-16 09:47] sesheta commented on #1843
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-07-16 10:48] fridex commented on #1662
/close

[2021-07-16 10:48] #1662 closed

[2021-07-16 10:48] sesheta commented on #1662
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1662#issuecomment-881356886):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-16 10:49] fridex commented on #1331
We are ingesting data in the stage which will be pushed to the prod environment. Hence, closing this issue.

/close

[2021-07-16 10:49] #1331 closed

[2021-07-16 10:49] sesheta commented on #1331
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1331#issuecomment-881357279):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-16 10:50] fridex commented on #1514
Implemented, solver rules are applied.

See https://www.youtube.com/watch?v=wjMNOyGupbs for more info.

/close

[2021-07-16 10:50] sesheta commented on #1514
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1514#issuecomment-881357807):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-16 10:50] #1514 closed

[2021-07-16 10:50] fridex commented on #1653
/remove-lifecycle rotten

[2021-07-16 10:51] fridex commented on #1280
/remove-lifecycle rotten

[2021-07-16 10:53] fridex commented on #1086
/remove-lifecycle rotten
/reopoen

[2021-07-16 10:53] fridex commented on #1248
/remove-lifecycle rotten
/reopen

[2021-07-16 10:53] sesheta commented on #1248
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1248#issuecomment-881359307):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-16 10:53] sesheta commented on #1248
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-16 11:14] fridex commented on #1235
We already do so - see the release meeting notes.

[2021-07-16 12:30] harshad16 commented on #1843
until we complete our data ingestion we would keep the user-api down
in return, there won't be any advice.

[2021-07-16 12:48] goern commented on #1151
/remove-lifecycle rotten
/lifecycle frozen

@fridex I think there is a related PR with kebechet?!

[2021-07-16 12:50] goern commented on #1644
/remove-lifecycle rotten
/priority important-soon
/assign @KPostOffice
/lifecycle active

[2021-07-16 13:04] harshad16 commented on #1151
This is related to the aicoe-ci , i will be adding it soon.

[2021-07-16 13:14] harshad16 opened #1844 "Move the prod storage to noobaa backed ceph from the rgw"
**Is your feature request related to a problem? Please describe.**
switch back to the noobaa based storage from the rgw storage type.

- [ ] switch the back to the noobaa storage ceph in prod
- [ ] copy the data from rgw ceph

[2021-07-16 13:14] sesheta commented on #1844
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-07-16 14:29] goern commented on #1844
/triage accepted
/priority critical-urgent

[2021-07-16 15:56] goern commented on #1151
ja right, I think deleting of branches should not be done by CI but by a Bot, wdyt?

[2021-07-16 15:58] goern commented on #1843
/triage accpeted
/remove-triage needs-information
/priority critical-urgent
/lifecycle active

[2021-07-16 15:58] sesheta commented on #1843
@goern: The label(s) `triage/accpeted` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1843#issuecomment-881551571):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggesti

[2021-07-16 15:58] goern commented on #1248
/triage accepted
/remove-triage needs-information

[2021-07-16 15:59] sesheta commented on #1248
@goern: Those labels are not set on the issue: `triage/needs-information`

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1248#issuecomment-881551976):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior

[2021-07-16 15:59] goern commented on #940
/triage accepted

[2021-07-16 17:01] goern commented on #409
@tumido any updates on this?

[2021-07-16 17:02] goern commented on #429
@fridex do you think this is implemented?

[2021-07-17 07:48] sesheta commented on #658
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-17 07:48] sesheta commented on #1651
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-17 07:48] #658 closed

[2021-07-17 07:48] sesheta commented on #658
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/658#issuecomment-881851213):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-17 07:48] sesheta commented on #1651
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1651#issuecomment-881851214):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-17 07:48] #1651 closed

[2021-07-17 13:15] goern opened #1851 "descriptions are missing on quay.io"
**Describe the bug**
most of the container images at https://quay.io/organization/thoth-station are missing a good description.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://quay.io/organization/thoth-station'
2. Click on 's2i-minimal-notebook'
3. See problem

**Expected behavior**
a more meaningful description is available

Cc: @riekrh

[2021-07-19 04:38] fridex commented on #429
I see opened other subsequent issues that were created out of this one. If tracking will be done in these issues, we can close this.

/close

[2021-07-19 04:38] #429 closed

[2021-07-19 04:38] sesheta commented on #429
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/429#issuecomment-882230773):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-07-19 08:15] fridex commented on #1763
Handled in https://github.com/thoth-station/thoth-application/issues/1764

/close

[2021-07-19 08:15] #1763 closed

[2021-07-19 08:15] sesheta commented on #1763
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1763#issuecomment-882343908):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-19 18:45] harshad16 commented on #1803
we have completed the release of 2021.07.05 :tada: :confetti_ball: :partying_face:

### Features

* **TensorFlow updates in recommendations**

We have incorporated few additions to the recommender system when it comes to recent TensorFlow releases. Users of Thoth can now benefit from recommendations that take into account API symbols available also in the upcoming tensorflow~=2.6.0 release. The re

[2021-07-19 18:45] #1803 closed

[2021-07-19 19:09] harshad16 opened #1847 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-07-19 19:09] sesheta commented on #1847
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-07-19 19:38] #1847 closed

[2021-07-19 19:47] harshad16 opened #1849 "sprint production release v2021.08.02"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

**Sprint Goals**

* Update Kebechet GitHub App and enable the `thamos advise` based update manager on `ps-cv` and `ps-nlp`

[2021-07-19 19:48] sesheta commented on #1849
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-07-20 05:02] goern commented on #1849
/triage accepted
/kind feature
/priority critical-urgent

[2021-07-20 10:53] sesheta commented on #1086
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-20 10:55] sesheta commented on #1017
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-20 10:56] sesheta commented on #1195
@tumido: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-20 10:57] sesheta commented on #974
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-20 10:57] sesheta commented on #1516
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-20 10:57] sesheta commented on #111
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-20 10:58] sesheta commented on #632
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-20 10:58] sesheta commented on #650
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-20 13:13] goern commented on #1830
/traige accepted
/priority backlog

[2021-07-20 13:13] goern commented on #1830
/triage accepted

[2021-07-20 13:18] harshad16 commented on #1830
will it be something similar to prescriptions-gh-release-notes job https://github.com/thoth-station/thoth-application/pull/1826?

[2021-07-21 06:21] fridex commented on #1830
Yes - some parts of the gh-release-notes job can be reused to keep release notes up to date. It can be one part of the workflow.

[2021-07-21 06:43] fridex commented on #1849
**Configurable monitoring of Python packages released on Python indexes monitored**

As we monitor Python packages released on various Python package indexes, we would like to configure how Python package indexes should be monitored. PyPI, the Python package Index hosts more than 2.7M releases but not all are relevant to Thoth and not all are valuable for Thoth users. Thus we want to monitor only

[2021-07-21 06:56] fridex commented on #1849
**`thamos graph` shows how the dependency graph of the resolved software stack looks like**

The newly introduced thamos subcommand, `thamos graph` shows how dependencies are structured. It obtains this information from the adviser result and prints it to the terminal so users can see how dependencies are structured, what are direct and transitive dependencies of the application stack. This visual

[2021-07-21 11:51] fridex opened #1850 "Use trove classifiers to extract relevant information to be used during advises"
**Is your feature request related to a problem? Please describe.**

As a Thoth user, I would like to consume recommendations that use package metadata which are provided by package maintainers. This metadata can be extracted from trove classifiers and can be shown to users when consuming packages to give users additional guidenance.

**Describe the solution you'd like**

Use trove classifiers to e

[2021-07-21 11:51] sesheta commented on #1850
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-21 11:53] sesheta commented on #1851
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](htt

[2021-07-21 11:54] goern commented on #1851
/triage accepted
/milestone 2021.8.02
/priority critical-urgent
/kind feature

[2021-07-21 11:54] sesheta commented on #1851
@goern: The provided milestone is not valid for this repository. Milestones in this repository: [`2021.07.19`, `2021.08.02`]

Use `/milestone clear` to clear the milestone.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1851#issuecomment-884131288):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community

[2021-07-21 11:58] goern commented on #1827
/milestone 2021.08.02

[2021-07-21 11:58] goern commented on #1788
/milestone 2021.08.02

[2021-07-21 11:58] goern commented on #654
/milestone 2021.08.02

[2021-07-21 19:08] fridex commented on #1849
**Improvements in the adviser output**

* Justifications created for packages hosted on the Operate First Pulp instance now provide also `package_name` field - https://github.com/thoth-station/adviser/pull/1993
* Justifications created for packages hosted on PyPI now provide also `package_name` field - https://github.com/thoth-station/adviser/pull/1992
* Justifications on the recommended stack are

[2021-07-21 19:09] fridex commented on #1849
**Linking package information to libraries.io**

Users now get a link to libraries.io page for Python packages hosted on PyPI.

Related: https://github.com/thoth-station/adviser/pull/1991

[2021-07-21 19:45] sesheta commented on #1154
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-21 19:45] #1154 closed

[2021-07-21 19:45] sesheta commented on #1154
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1154#issuecomment-884450478):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-22 08:02] goern commented on #1850
@fridex could you go into the advantages or effects of using something like `Development Status ::` in an advise? Or what a demo could look like?

[2021-07-22 10:48] sesheta commented on #675
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-22 10:48] sesheta commented on #675
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/675#issuecomment-884819483):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-22 10:48] #675 closed

[2021-07-22 11:45] tumido commented on #409
@goern nah, no updates. We're working towards enabling argo auth via dex in operate first quite soon, so that might be something useful to replicate in Thoth.

[2021-07-22 11:47] tumido commented on #1151
I think it's easier to do this via a bot - since it can have a webhook listener for a PR merge. Then it's just a single API call.

[2021-07-22 12:48] fridex opened #1852 "Decommission provenance checker"
**Is your feature request related to a problem? Please describe.**

Once we fully integrate with sigstore, let's decommission provenance-checker.

[2021-07-22 12:48] sesheta commented on #1852
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-22 13:44] fridex commented on #1850
A Python developer can state that the application status is `Development Status :: 7 - Inactive` or `Development Status :: 4 - Beta`. In such a case, we can warn users that they use beta/inactive packages in their application stacks (we can take also recommendation type into account - as an example - `testing` is ok with beta development status, but `stable` might be not ok).

[2021-07-22 13:47] sesheta commented on #955
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-22 13:47] sesheta commented on #955
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/955#issuecomment-884926119):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-22 13:47] #955 closed

[2021-07-22 14:55] goern commented on #1823
/triage accepted

[2021-07-22 16:56] goern commented on #1850
/triage accepted
/kind demo
/priority backlog

@fridex Please feel free to reprioritize this issue!

[2021-07-23 12:10] fridex commented on #1849
**Using Python trove classifiers to give additional guidance to users**

Python package maintainers can state metadata in a form of [trove classifiers](https://pypi.org/classifiers/) when publishing Python packages. The recommendation engine now uses these classifiers to guide users when using Python packages. An example of such guidance can be flagging inactive projects, projects that are in an a

[2021-07-23 15:45] pacospace opened #1853 "User-API prod is failing to due pgbouncer"
**Describe the bug**
User-API prod is failing to due pgbouncer

**To Reproduce**
Steps to reproduce the behavior:
1. Run `thamos advise`

**Expected behavior**
Thamos advise submitted.

**Screenshots**
[code]

**Additional context**

[2021-07-23 15:45] sesheta commented on #1853
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-07-23 15:46] pacospace commented on #1853
triage/accepted

[2021-07-23 15:47] pacospace commented on #1853
/triage accepted

[2021-07-23 17:20] harshad16 commented on #1853
The postgresql db pod was failling in readiness , due to which the pgbouncer couldn't connect.
The restart of the postgresql showed that cluster had voulmemount issue, so interacting with opf folks to fix this.

[2021-07-23 17:32] harshad16 commented on #1853
this is now fixed, this was caused by the cluster issue, especially due to network issues.

[2021-07-25 11:04] sesheta commented on #1362
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-25 11:04] sesheta commented on #889
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-25 11:04] sesheta commented on #1362
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-25 11:04] sesheta commented on #889
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-25 11:04] sesheta commented on #820
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-25 11:04] sesheta commented on #1753
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-25 11:04] sesheta commented on #820
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-25 11:04] sesheta commented on #1753
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-25 11:04] #1753 closed

[2021-07-25 11:05] sesheta commented on #889
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/889#issuecomment-886184928):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-25 11:05] sesheta commented on #1362
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1362#issuecomment-886184922):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-25 11:05] sesheta commented on #1753
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1753#issuecomment-886184948):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-25 11:05] sesheta commented on #820
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/820#issuecomment-886184947):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-25 14:05] sesheta commented on #1752
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-25 14:05] sesheta commented on #810
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-25 14:05] sesheta commented on #1004
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-25 14:05] #810 closed

[2021-07-25 14:05] #1752 closed

[2021-07-25 14:05] sesheta commented on #810
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/810#issuecomment-886207142):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-25 14:05] sesheta commented on #1004
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1004#issuecomment-886207145):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-25 14:05] sesheta commented on #1752
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1752#issuecomment-886207141):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-26 06:02] harshad16 commented on #889
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-26 06:02] sesheta commented on #889
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-26 06:03] harshad16 commented on #1362
/remove-lifecycle rotten
/lifecycle active

[2021-07-26 06:03] sesheta commented on #1362
@HumairAK: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-07-26 06:03] harshad16 commented on #820
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-26 06:03] sesheta commented on #820
@todo[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-07-26 06:16] fridex commented on #1853
I see user-api up now. Thanks for the fix and work on this.

/close

[2021-07-26 06:16] sesheta commented on #1853
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1853#issuecomment-886409529):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-26 06:16] #1853 closed

[2021-07-26 07:12] sesheta commented on #1004
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-07-26 07:21] pacospace commented on #1004
/triage accepted

[2021-07-26 10:39] fridex commented on #1849
**Pipeline configuration can state requests on library symbols using wildcards**

Prescriptions can now state requests on library symbols using wildcards when registering pipeline units. An example can be a pipeline unit that gets registered to the resolution process when users use anything from `tensorflow.keras` module:

[code]

Related: https://github.com/thoth-station/adviser/pull/2015

[2021-07-28 11:10] harshad16 commented on #1196
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-28 11:12] harshad16 commented on #1805
Fixed with this commit https://github.com/thoth-station/thoth-application/commit/a0042bf71ef91463318b81b643f5b0019ab84f51
Metric is now available http://prometheus-portal-thoth-infra-prod.apps.zero.massopen.cloud/targets
Thanks for the issue.

[2021-07-28 11:12] #1805 closed

[2021-07-28 17:07] sesheta commented on #1129
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-28 17:07] sesheta commented on #1129
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1129#issuecomment-888474804):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-07-28 20:07] sesheta commented on #856
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-28 20:07] sesheta commented on #856
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/856#issuecomment-888587016):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-07-29 07:50] sesheta commented on #856
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-07-29 08:03] harshad16 commented on #856
/triage accepted
 /lifecycle frozen

[2021-07-29 09:01] sesheta commented on #1129
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-07-30 07:45] pacospace opened #1860 "investigator fail to schedule kebechet administrator"
**Describe the bug**
investigator fail to schedule kebechet administrator

**To Reproduce**
Steps to reproduce the behavior:
1. Go to investigator logs

**Expected behavior**
kebechet administrator is scheduled successfully

**Screenshots**
[code]
**Additional context**
Add any other context about the problem here.

[2021-07-30 07:45] sesheta commented on #1860
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-07-30 08:07] sesheta commented on #1664
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-30 08:07] sesheta commented on #1630
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-30 11:20] xtuchyna commented on #1664
This was already added. Closing

[2021-07-30 11:20] #1664 closed

[2021-07-30 11:20] xtuchyna commented on #1630
/remove-lifecycle rotten

[2021-07-30 11:21] xtuchyna commented on #1630
/priority-important soon

[2021-07-30 11:21] sesheta commented on #1630
@xtuchyna: The label(s) `priority/soon` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1630#issuecomment-889826232):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggest

[2021-07-30 11:21] xtuchyna commented on #1630
/priority-important-soon

[2021-07-30 13:19] KPostOffice commented on #1849
**Kebechet Using Overlays**

Kebechet advise and  update managers can now work on repositories with overlays. They will act on the overlays directory if present, otherwise they will work as they did before on a flat repo.

[2021-07-30 14:58] pacospace commented on #1849
**jupyterlab-requirements has a CLI and magic commands**

jupyterlab-requirements introduced Horus in v0.9.0:https://www.youtube.com/watch?v=fW0YKugL26g, jupyterlab-requirements CLI to handle dependencies in the notebook. You can check if they exist, add requirements, extract dependencies, lock dependencies create optimized for your notebook and more directly from the CLI.

Related: https://github

[2021-07-31 23:11] sesheta commented on #1069
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-31 23:11] #1069 closed

[2021-07-31 23:11] sesheta commented on #1069
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1069#issuecomment-890415095):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-08-01 17:16] sesheta commented on #1792
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-01 17:16] sesheta commented on #1792
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-01 17:16] sesheta commented on #1792
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1792#issuecomment-890556997):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-08-02 06:20] harshad16 commented on #1792
Updated the `thoth-statorages v0.54.0` on all component [tracker]

| component | version requested | released | in prod? |
| --- | --- | --- | --- |
| adviser | v0.38.1 | yes |  yes |
| investigator | v0.14.1 | yes  | no |
| metrics-exporter | v0.18.1 | yes |  yes |
| management-api | v0.17.8 | yes |  yes |
| user-api | v0.26.7 | yes |  no |
| graph-sync | v0.10.12 | yes | no |
| graph-refresh | v

[2021-08-02 06:20] sesheta commented on #1792
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-02 06:22] harshad16 commented on #1860
/triage accepted

This commit fixes this: https://github.com/thoth-station/investigator/commit/2e4bfeba5c5910905f62947629aad1af15f4ddb9
will be release soon

[2021-08-02 06:23] harshad16 commented on #1852
/triage accepted
/lifecycle frozen

[2021-08-02 07:25] harshad16 commented on #1849
we have completed the release of 2021.08.02 :tada: :confetti_ball: :partying_face:

### Features

**Configurable monitoring of Python packages released on Python indexes monitored**

As we monitor Python packages released on various Python package indexes, we would like to configure how Python package indexes should be monitored. PyPI, the Python package Index hosts more than 2.7M releases but not

[2021-08-02 09:16] #1792 closed

[2021-08-02 10:02] #1849 closed

[2021-08-02 10:02] harshad16 opened #1869 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-08-02 10:02] sesheta commented on #1869
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-02 10:33] #1869 closed

[2021-08-02 10:35] harshad16 opened #1872 "sprint production release v2021.08.16"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-08-02 10:35] sesheta commented on #1872
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-02 10:35] harshad16 commented on #1872
/triage accepted

[2021-08-02 20:52] KPostOffice commented on #1644
This is finished

[2021-08-02 20:53] KPostOffice commented on #1644
/lifecycle frozen

[2021-08-02 20:54] KPostOffice commented on #1644
/label demo

[2021-08-02 20:55] sesheta commented on #1644
@KPostOffice: The label(s) `/label demo` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/zero-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/advisor, sig/b

[2021-08-03 13:02] harshad16 commented on #1851
attach url of each github repo

[2021-08-03 13:08] harshad16 commented on #1823
already implemented in solver rules

[2021-08-03 13:12] fridex commented on #1823
See docs: https://thoth-station.ninja/docs/developers/adviser/deployment.html#configuring-solver-rules

/cloes

[2021-08-03 13:12] fridex commented on #1823
/close

[2021-08-03 13:13] sesheta commented on #1823
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1823#issuecomment-891835490):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-03 13:13] #1823 closed

[2021-08-03 13:20] harshad16 commented on #1798
information on new solver and container image analysis

[2021-08-03 13:22] harshad16 commented on #1795
it can be a part of package-update

[2021-08-03 19:08] #1860 closed

[2021-08-05 14:09] fridex commented on #1653
- [ ] pick one repo and test all the integrations (aicoe-ci, kebechet, ...)
- [ ] if all goes well with integration, rename remaining repositories in thoth-station org

[2021-08-05 14:17] sesheta commented on #407
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-05 14:20] fridex commented on #407
/remove-lifecycle rotten

[2021-08-05 14:45] harshad16 commented on #618
closing this as we discused this in the tech talk and found it can be prone to security issues.

[2021-08-05 14:45] #618 closed

[2021-08-05 14:47] harshad16 commented on #609
plan on providing calender release on the HEADERS of the API endpoint.

[2021-08-06 14:12] sesheta commented on #1769
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-06 14:12] sesheta commented on #1769
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1769#issuecomment-894289490):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-08-07 11:12] sesheta commented on #1808
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-07 11:12] #1808 closed

[2021-08-07 11:12] sesheta commented on #1808
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1808#issuecomment-894640794):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-08-11 11:28] fridex commented on #632
The following pytorch indexes were registered in test, stage and prod:

* https://download.pytorch.org/whl/cu111 (CUDA-11.1 builds)
* https://download.pytorch.org/whl/cpu (CPU builds)

[2021-08-11 16:58] Gregory-Pereira commented on #1827
Routes have been annotated and code change to use TLS ACME has been done. PR coming soon.

[2021-08-16 08:01] fridex commented on #1872
Fixed warehouse_api_url on management-api - related: https://github.com/thoth-station/management-api/pull/814

* https://github.com/thoth-station/management-api/pull/816

[2021-08-16 08:16] fridex commented on #1822
Already done.

/close

[2021-08-16 08:16] #1822 closed

[2021-08-16 08:16] sesheta commented on #1822
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1822#issuecomment-899316221):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-16 08:34] fridex commented on #632
Related issue on the pytorch index that prevents from analyzing pytorch releases: https://github.com/pytorch/pytorch/issues/63098

[2021-08-16 17:37] harshad16 commented on #1872
we have completed the release of 2021.08.16 :tada: :confetti_ball: :partying_face:

### Features

**Fixed warehouse_api_url on management-api**

* https://github.com/thoth-station/management-api/pull/814
* https://github.com/thoth-station/management-api/pull/816

**AICoE-CI now provide support for python package upload to Operate-first pulp instance**

The GitHub repository shows details on config

[2021-08-16 17:37] #1872 closed

[2021-08-16 17:38] harshad16 opened #1880 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-08-16 17:38] sesheta commented on #1880
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-16 17:47] #1880 closed

[2021-08-16 18:09] harshad16 opened #1882 "sprint production release v2021.08.30"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-08-16 18:09] sesheta commented on #1882
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-16 19:07] fridex commented on #1882
Notable improvements in adviser prescriptions:

* Prescriptions now warn users about known [security considerations in the Python standard library](https://docs.python.org/3/library/security_warnings.html) (for security recommendation types they can intentionally error out in the resolution process in some cases)
  * https://github.com/thoth-station/prescriptions/pull/94
* if Keras API is used, us

[2021-08-16 19:20] fridex commented on #1882
**Notable improvements in adviser**

* prescriptions can be now specific to development dependencies of the project
  * related: https://github.com/thoth-station/adviser/issues/2007
  * example: https://github.com/thoth-station/prescriptions/blob/75300a177c918eaf784f680857ba76c3a241d50f/prescriptions/py_/pytest/no_develop.yaml
* prescriptions now support "not" index url operator - this is handly i

[2021-08-17 12:35] goern commented on #1882
/kind documentation
/area release-eng
/triage accepted
/milestone 2021.08.30

[2021-08-17 12:35] sesheta commented on #1882
@goern: The provided milestone is not valid for this repository. Milestones in this repository: [`2021.08.02`]

Use `/milestone clear` to clear the milestone.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1882#issuecomment-900258793):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/

[2021-08-17 12:54] goern commented on #1362
/triage accepted

[2021-08-17 13:36] pacospace opened #1887 "thoth optionally learns from user package"
**Is your feature request related to a problem? Please describe.**
As Thoth Maintainer,

I want to have more control on ingestion.

**Describe the solution you'd like**
when adviser fails, unsolved package messages are sent and solver scheduled (aka thoth is learning)

**Describe alternatives you've considered**
Have an env variable to optionally learn from user unsolved package.

**Additional con

[2021-08-17 13:36] sesheta commented on #1887
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-17 13:38] pacospace commented on #1887
@fridex do we want to set this env variable on adviser workflow side? (so the pod never starts if the condition is not met and messages are not sent) or we add this check on investigator side and we let messages come in so we can monitor them when coming from adviser workflow.

[2021-08-17 13:44] fridex commented on #1887
As you write this - do we send these messages always or only in case of authenticated requests? If we schedule the unsolved workflow only for authenticated requests, that might be good enough as we will grant only trustworthy users permissions to schedule unsolved workflow. Are these unsolved workflows statistics part of reports or metrics?

[2021-08-17 13:56] pacospace commented on #1887
We do schedule them only for authenticated requests: https://github.com/thoth-station/thoth-application/blob/46ce9ef8aaf920dd95a786932e8f844838788060/adviser/base/openshift-templates/adviser.yaml#L283

Yes in the grafana dashboards we can see how many messages are sent from adviser workflows related to unsolved packages.

[2021-08-17 13:58] fridex commented on #1887
Oh, nice! 👍🏻 So that means we do not need to do anything on this front? :)

[2021-08-17 14:08] pacospace commented on #1887
Thanks for the brainstorming :) 🚀

[2021-08-17 14:08] #1887 closed

[2021-08-18 16:00] fridex opened #1892 "Run a solver task that has more resources allocated if the default solver task fails"
**Is your feature request related to a problem? Please describe.**

See https://github.com/thoth-station/support/issues/11, also related OOM kills of solver jobs that can be spotted from time to time in the cluster.

The goal here is to create a separate task, aside from the main solver task, that will rerun solver container with more resources allocated if the main solver task timeouts or is kill

[2021-08-18 16:00] sesheta commented on #1892
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-08-18 16:01] goern opened #1893 "microservice deployable on op1st (or a tekton pipeline)"
as devconf.us is happening on 2021-Sept-01 we need this tekton pipeline being ready to use on this milestone

[2021-08-18 16:03] goern commented on #1893
/kind feature
/priority critical-urgent
/assign @harshad16
/assign @KPostOffice
/area release-eng

[2021-08-18 17:58] fridex commented on #1882
Solver workflow was extended to allocate more resources for packages that failed to be analyzed with respect to dependencies. An example can be a package that requires compilation from sources as package publishers did not publish a pre-built wheel for the targeting platform.  In such cases, the solver failed as not enough resources were allocated to build and analyze the wheel file in the standar

[2021-08-18 19:51] fridex opened #1895 "package-releases job fails with DeadlineExceededJob"
**Describe the bug**

Start package-releases-job and check error: `DeadlineExceededJob was active longer than specified deadline`

**To Reproduce**
Steps to reproduce the behavior:
1. Start package-releases-job
2. Check job status
4. See the error as reported above

**Expected behavior**

package-releases-job should succeed

[2021-08-18 19:51] sesheta commented on #1895
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-08-18 22:18] fridex commented on #1895
/priority critical-urgent

[2021-08-19 06:00] goern commented on #1892
/triage accepted
/priority critical-urgent

[2021-08-19 06:12] fridex commented on #974
Depends on fixing and populating container image labels - https://github.com/thoth-station/thoth-application/issues/1788

[2021-08-19 08:32] #1892 closed

[2021-08-20 06:29] goern commented on #1788
/priority critical-urgent
/milestone 2021.08.30

[2021-08-20 10:13] pacospace commented on #1843
@harshad16 can we move back to nominal prod bucket -> https://s3-openshift-storage.apps.zero.massopen.cloud/ (where SLO reporeter is looking for data) in prod?

[2021-08-23 12:21] fridex commented on #1882
**Optimized package-releases job**

Given the number of data we have already ingested, we hit performance issues with package-releases job that checks new releases on registered indexes. The new implementation uses concurrent requests to the registered Python package indexes using asyncio to get information about releases faster.

* related: https://github.com/thoth-station/package-releases-job/pu

[2021-08-23 13:27] goern commented on #1895
/assign @harshad16

[2021-08-23 15:07] pacospace opened #1907 "sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) ERROR: pgbouncer cannot connect to server"
**Describe the bug**
Many components are failing because they cannot connect to database

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**

[2021-08-23 15:09] pacospace commented on #1907
many components are in CrashedLoopBackOff because the pod failed cannot be restarted, (including postgres)

[2021-08-23 15:09] sesheta commented on #1907
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-23 15:40] pacospace commented on #1907
This impact all services of thoth.

[2021-08-23 15:41] pacospace opened #1908 "Most services in prod are not working because many pods are in crashbackloop: Back-off restarting failed container"
**Describe the bug**
All services in prod are not working because many pods are in crashbackloop: Back-off restarting failed container

**To Reproduce**
Steps to reproduce the behavior:
1. Check main deployments (investigator, management-api, postgresql, etc..)

**Expected behavior**

**Screenshots**

**Additional context**

[2021-08-23 15:41] pacospace commented on #1908
Depends-On: https://github.com/thoth-station/thoth-application/issues/1907

[2021-08-23 15:43] sesheta commented on #1908
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-23 16:14] pacospace commented on #1907
[code]

[2021-08-23 18:32] #1907 closed

[2021-08-23 18:32] #1908 closed

[2021-08-23 20:42] sesheta commented on #1811
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-23 20:42] sesheta commented on #1811
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1811#issuecomment-904111823):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-08-23 23:42] sesheta commented on #774
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-23 23:42] sesheta commented on #774
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-23 23:43] sesheta commented on #774
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/774#issuecomment-904209094):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-24 02:42] sesheta commented on #532
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 02:42] sesheta commented on #920
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 04:40] fridex commented on #532
/remove-lifecycle rotten
/triage accepted

[2021-08-24 04:41] fridex commented on #774
/remove-lifecycle rotten
/reopen
/triage accepted

[2021-08-24 04:41] sesheta commented on #774
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/774#issuecomment-904317684):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-24 08:02] sesheta commented on #1811
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-24 11:42] sesheta commented on #1733
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 11:42] sesheta commented on #1722
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 11:42] #1733 closed

[2021-08-24 11:43] #1722 closed

[2021-08-24 11:43] sesheta commented on #1733
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1733#issuecomment-904564971):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-08-24 11:43] sesheta commented on #1722
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1722#issuecomment-904564980):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-08-24 11:51] goern commented on #1813
is this still valid @pacospace

[2021-08-24 11:53] goern commented on #1798
/triage accepted
/help

[2021-08-24 11:53] sesheta commented on #1798
@goern:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/thoth-station/thoth

[2021-08-24 11:56] pacospace commented on #1813
Yes, we do not collect scorecards yet: https://github.com/thoth-station/core/issues/289

[2021-08-24 12:52] pacospace opened #1914 "alarms are not triggered in prod"
**Describe the bug**
alarms are not triggered in prod

**To Reproduce**
Steps to reproduce the behavior:
1. Conditions for alarms are preesnt but no issues is opened.

**Expected behavior**
Alarms are sent to Thoth team.

**Screenshots**

**Additional context**

[2021-08-24 12:52] sesheta commented on #1914
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-24 12:52] pacospace opened #1915 "investigator messages metrics are not scraped"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2021-08-24 12:52] sesheta commented on #1915
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-24 20:43] sesheta commented on #1248
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 20:43] sesheta commented on #940
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 20:43] sesheta commented on #1086
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 20:43] sesheta commented on #1017
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 20:43] sesheta commented on #1195
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 20:43] sesheta commented on #111
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 20:43] sesheta commented on #650
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 20:43] sesheta commented on #1516
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 20:43] sesheta commented on #1248
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1248#issuecomment-904960618):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-08-24 20:43] sesheta commented on #940
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/940#issuecomment-904960624):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-24 23:43] sesheta commented on #1835
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 23:43] sesheta commented on #854
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 23:43] sesheta commented on #654
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 23:43] sesheta commented on #854
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 23:43] sesheta commented on #1835
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 23:43] sesheta commented on #654
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 23:43] sesheta commented on #654
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/654#issuecomment-905047287):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-24 23:43] sesheta commented on #854
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/854#issuecomment-905047282):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-24 23:43] sesheta commented on #1835
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1835#issuecomment-905047278):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-08-25 02:43] sesheta commented on #409
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-25 02:43] sesheta commented on #409
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-25 02:43] #409 closed

[2021-08-25 02:44] sesheta commented on #409
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/409#issuecomment-905133980):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-25 07:03] sesheta commented on #854
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-25 07:43] pacospace opened #1918 "adviser is reporting software environments which are not available in prod"
**Describe the bug**
adviser is reporting software environments which are not available in prod

**To Reproduce**
Steps to reproduce the behavior:
1. Submit advise with solver not present in prod.

**Expected behavior**
Only solver avilable should be listed

**Screenshots**
[code]
**Additional context**
PythonPackageVersion table has columns with different solvers (data not correctly deleted?): ht

[2021-08-25 07:43] sesheta commented on #1918
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-25 08:44] sesheta commented on #820
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-25 08:44] sesheta commented on #1004
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-25 08:44] sesheta commented on #1004
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-25 08:44] sesheta commented on #1004
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1004#issuecomment-905305524):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-08-25 10:38] fridex commented on #1248
/reopen
/triage accepted
/remove-lifecycle rotten

[2021-08-25 10:38] sesheta commented on #1248
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1248#issuecomment-905383705):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-08-25 10:39] fridex commented on #1516
/triage accepted
/remove-lifecycle rotten

[2021-08-25 10:39] fridex commented on #111
/triage accepted
/remove-lifecycle rotten

[2021-08-25 10:41] fridex commented on #1017
IIRC this was already implemented by @harshad16

/close

[2021-08-25 10:41] sesheta commented on #1017
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1017#issuecomment-905385424):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-25 10:41] #1017 closed

[2021-08-25 10:41] fridex commented on #1086
/remove-lifecycle rotten
/triage accepted
/label good-first-issue

[2021-08-25 10:41] sesheta commented on #1086
@fridex: The label(s) `/label good-first-issue` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/zero-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/advisor

[2021-08-25 11:11] fridex commented on #1733
The only missing bit is making sure the job is run. Otherwise the implementation is done.

[2021-08-25 16:57] fridex commented on #1882
**Updated documentation**

* the updated documentation is available at [thoth-station.ninja](https://thoth-station.ninja/docs/developers/adviser/index.html)

[2021-08-26 12:20] pacospace opened #1924 "graph metrics exporter in prod is missing"
**Describe the bug**
graph metrics exporter in prod is missing

**To Reproduce**
Steps to reproduce the behavior:
1. Check cronjobs in thoth-infra-prod

**Expected behavior**
graph-metrics-exporter is running every hour

**Screenshots**

**Additional context**

[2021-08-26 12:34] pacospace opened #1925 "github-receiver for creating alerts is missing in prod"
**Describe the bug**
github-receiver for creating alerts is missing in prod

**To Reproduce**
Steps to reproduce the behavior:
1. DC is missing in thoth-infra-prod

**Expected behavior**
alerts are sent to thoth team.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2021-08-28 08:47] sesheta commented on #856
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-28 08:47] sesheta commented on #856
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/856#issuecomment-907595415):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-08-30 07:37] fridex opened #1928 "Obtain required ABI symbols for Python packages outside of PyPI"
**Is your feature request related to a problem? Please describe.**

As we will provide an alternative index to PyPI in a form of an index hosted on Operate-First, it might be interesting to obtain information about required symbols for packages hosted there as they might not conform to the manylinux standards.

**Describe the solution you'd like**

Aggregate information about ABI required by packa

[2021-08-30 07:37] fridex commented on #1928
CC @KPostOffice

[2021-08-30 07:37] sesheta commented on #1928
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-08-30 07:43] fridex commented on #1928
/triage accepted
/priority backlog

[2021-08-30 08:07] fridex opened #1929 "Security indicators workflow stuck on pending state in stage environment"
**Describe the bug**

Security indicator workflows are stuck on:
[code]

Subsequently, the security indicator workflow exceeds the deadline and is deleted from the namespace.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the stage environment
2. Check workflows present in the namespace or schedule a new security indicator workflow
4. See the error

**Expected behavior**

Security ind

[2021-08-30 08:08] sesheta commented on #1929
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-08-30 08:29] fridex opened #1930 "Kebechet container not running in prod"
**Describe the bug**

See the error reported:

[code]

**To Reproduce**
Steps to reproduce the behavior:
0. Schedule kebechet via opening a new issues (e.g. `new patch release`)
1. Go to thoth-backend-prod
3. See the pending pod with the error reported

**Expected behavior**

Kebechet should succeed.

[2021-08-30 08:29] sesheta commented on #1930
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-08-30 10:15] sesheta commented on #1196
@tumido: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-08-30 13:36] pacospace commented on #1882
Updated Thoth SLI/SLO Grafana dashboard

- https://github.com/thoth-station/thoth-application/issues/940
- https://grafana-opf-monitoring.apps.zero.massopen.cloud/d/a30fccbb3c61cc644827f080c68c460d2132bc4a/thoth-sli-slo?orgId=1&refresh=30s

[2021-08-31 08:53] goern commented on #1918
/triage needs-information

@pacospace is this done?!

[2021-08-31 08:54] goern commented on #1925
/priority important-soon
/assign @harshad16
/assign @Gregory-Pereira
/triage accepted

[2021-08-31 08:56] goern commented on #1929
/priority critical-urgent
/sig devops
/assign @harshad16
/triage accepted

This seems to be an op1st cluster issue on `zero`. We should request migration of all our apps to `smaug` cluster ASAP
see https://github.com/operate-first/SRE/issues/359

[2021-08-31 08:57] goern commented on #1924
/priority important-soon
/assign @pacospace
/triage accepted

[2021-08-31 08:57] goern commented on #1914
/priority critical-urgent
/triage accepted

[2021-08-31 08:58] goern commented on #1930
/priority critical-urgent
/triage accepted
/assign @harshad16

This seems to be an op1st cluster issue on `zero`. We should request migration of all our apps to `smaug` cluster ASAP
see operate-first/SRE#359

[2021-08-31 09:22] pacospace commented on #1918
No, I think the software environment is not removed, when we remove solvers date cc @fridex

[2021-08-31 09:25] pacospace commented on #1918
Shall we modify https://github.com/thoth-station/storages/blob/28608718549ed5bb6a0d449eb2f6c972787c3d46/thoth/storages/graph/postgres.py#L668 to check `EcosystemSolver` instead to retrieve registered solvers?

[2021-08-31 09:30] pacospace commented on #1924
It is in graph-prod actually. we can close this.

[2021-08-31 09:30] #1924 closed

[2021-08-31 09:31] pacospace commented on #1925
Related-To: https://github.com/thoth-station/thoth-application/issues/1914

[2021-08-31 16:34] harshad16 opened #1934 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-08-31 16:34] sesheta commented on #1934
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-31 17:00] #1934 closed

[2021-08-31 17:07] harshad16 opened #1936 "sprint production release v2021.09.13"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-08-31 17:07] sesheta commented on #1936
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-08-31 17:07] harshad16 commented on #1936
/kind documentation
/area release-eng
/triage accepted
/milestone 2021.09.13

[2021-08-31 18:42] fridex commented on #1918
Yes, I think this change should be correct.

The entries reported show that the purge job was not run in prod. It should handle these entries automatically. If that's not the case, we have a bug in purge job.

[2021-08-31 20:52] fridex opened #1939 "Stage data keep multiple same solver rules"
**Describe the bug**

The current dataset computed in stage environment has multiple solver rules entries of the same type. This was probably caused by the initialization triggered multiple times.

The solver rules creation logic should not create multiple entries of the same type.

[2021-09-01 06:41] sesheta commented on #1852
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten