[2018-08-31 13:21] goern opened #1063 "document how to reconfigure a new github access token"
**Is your feature request related to a problem? Please describe.**
If the GitHub access token gets reissued by GitHub, it must be configured to be accessible to thoth, sesheta and kebechet services.

**Describe the solution you'd like**
Document.

**Describe alternatives you've considered**
none.

**Additional context**
N/A

[2020-04-13 10:23] goern opened #5 "test-env: argo-workflow-controller needs 'cluster-admin"
**Describe the bug**
argo-workflow-controller needs cluster-admin role to work.

**To Reproduce**
Steps to reproduce the behavior:
1. deploy test branch

**Expected behavior**
namespace Argo Workflow deployment simply works

**Additional context**
Maybe we should consider Argo Workflow as a component provided by the OCP even in test environments.

[2020-05-10 10:37] todo[bot] opened #6 "refactor me in a new configmap"
https://github.com/thoth-station/thoth-application/blob/18dd9f5551a900a606290b30402f1bc57dc0ca3b/package-update/base/deploymentConfig.yaml#L22-L27

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 18dd9f5551a900a606290b30402f1bc57dc0ca3b. It&#x27;s been assigned to @goern because they committed the code.

[2020-05-21 10:46] goern opened #10 "ArgoCD Application: unresolved-package-handler"
**Is your feature request related to a problem? Please describe.**
As we move forward with https://github.com/thoth-station/unresolved-package-handler/ we should start creating an argocd app for it too.

[2020-05-21 10:47] goern commented on #10
Related: https://github.com/thoth-station/unresolved-package-handler/pull/15

[2020-05-23 12:20] goern opened #11 "Do not pull images thru from quay"
As any of the Thoth components,
I want to pull my image from the OpenShift internal registry,
so that I do not depend on quay.io

**Goal**
Have stage environment decoupled from quay.io availability

[2020-05-26 04:51] goern opened #13 "selector is getting all commonLabels"
It looks like kustomize is adding all commonLabels to the pod selector of the service, but not to the service.

https://github.com/thoth-station/thoth-application/blob/419938291948d4f0ca8bcde2350517a2dcae1e8f/core/overlays/test/postgresql-ephemeral.yaml#L24-L25

if is:
[code]

but should be
[code]

@HumairAK @harshad16

[2020-05-26 04:57] goern commented on #13
same for pgbouncer

[2020-05-28 10:35] #10 closed

[2020-05-28 10:55] goern opened #20 "DC is invalid?!"
https://github.com/thoth-station/thoth-application/blob/1ab76f3376d1207d853388a237d4714c07ace12d/unresolved-package-handler/base/deploymentconfig.yaml#L5

[code]

[2020-06-03 10:52] pacospace opened #25 "ArgoCD Application: mi-handler"
**Is your feature request related to a problem? Please describe.**
As we move forward with https://github.com/AICoE/SrcOpsMetrics we should start creating an argocd app for it too.

[2020-06-03 15:11] goern opened #26 "review core configmap"
**Short Summary**

to prepare the stage deployment on `ocp.prod` we need to review to configmap of test and stage overlay

**Workitem List**

- [ ] Prometheus - https://github.com/thoth-station/thoth-application/blob/master/core/overlays/stage/configmaps.yaml#L47-L62
- [ ] Kafka - https://github.com/thoth-station/thoth-application/blob/master/core/overlays/stage/configmaps.yaml#L40-L45
- [ ] Bucke

[2020-06-05 08:30] goern opened #29 "migrate deployment of all Kebechet components to ArgoCD"
Create a kustomize app to deploy active Kebechet to ocp.prod, configure ArgoCD to deploy it to test.

[2020-06-08 18:19] todo[bot] opened #33 "Add correct url"
https://github.com/thoth-station/thoth-application/blob/fc39dac9462af65d922403280b764bf6999348f3/qeb-hwt-github-app/base/configmap.yaml#L8

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in fc39dac9462af65d922403280b764bf6999348f3 when #32 was merged. cc @pacospace.

[2020-06-08 20:28] goern commented on #11
at least for STAGE I try to have all imagestreamtag on Local source ref, see https://github.com/thoth-station/thoth-application/blob/master/user-api/overlays/stage/imagestreamtag.yaml#L13

[2020-06-08 20:28] #11 closed

[2020-06-09 13:35] #20 closed

[2020-06-09 14:01] todo[bot] opened #36 "commonLabels are missing"
https://github.com/thoth-station/thoth-application/blob/8359a60b2117f7ac8d7d3d09da09c125223c2267/core/overlays/stage/roles/metrics-exporter-reader.yaml#L2-L7

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 8359a60b2117f7ac8d7d3d09da09c125223c2267 when #34 was merged. cc @goern.

[2020-06-18 13:22] bissenbay opened #37 "Missing role_binding, Was: Error: INTERNAL SERVER ERROR"
**Describe the bug**
Submitting an example inspection job hits internal server error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://amun-api-thoth-test-core.cloud.paas.psi.redhat.com/api/v1/ui/'
2. Click on '/inspect'
3. Click on 'Try it out'
3. Click on 'Execute'
4. Scroll down to see the error message.

**Expected behavior**
A pod running for inspection job in `thoth-test-c

[2020-06-19 08:33] fridex opened #313 "Missing RBAC policy for CronWorkflow"
**Describe the bug**

Based on logs from workflow-controller, we miss RBAC policy for Argo's CronWorkflows:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy workflow-controller
2. See error message produced
3. ... or check workflow-controller in one of our deployments

**Expected behavior**

workflow-controller should be able to list CronWorkflow.

[2020-06-23 08:19] pacospace opened #41 "init-job default to postgres when trying to connect to database named thoth"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
Correctly connect to database, initialize schema and schedule solver workflows for packages

**Screenshots**
[code]

**Additional context**
The issue might be in thoth-storages.

[2020-06-23 20:14] #41 closed

[2020-06-24 15:30] harshad16 opened #44 "Missing argo-server roles for pods manipulation."
**Describe the bug**
Our argo service account has insufficient permissions for running workflows/deleting pods and possibly other permissions.
[code]

**Expected behavior**
`argo-server` service account should have permission to delete pods in the same namespace.

**Additional context**
https://argoproj.github.io/docs/argo/workflow-rbac.html
https://github.com/argoproj/argo/blob/master/examples/po

[2020-06-24 16:17] harshad16 commented on #44
This fixed the issue.

[code]

[2020-06-24 16:17] #44 closed

[2020-06-26 08:42] goern opened #52 "ArgoCD App: security-indicators"
As a ThothOps,
I want to have ArgoCD configured to deploy SI workflow components
so that other components like init-job can use them

[2020-06-30 19:59] fridex opened #58 "Missing components"
- [ ] si-cloc
- [ ] si-bandit

[2020-06-30 20:02] fridex commented on #58
@harshad16 @goern do we want to create another "amun-application" and "build-watcher-application"? These can be deployed as standalone components. I'm not sure about maintainability and investment/benefits here.

[2020-07-02 14:05] #25 closed

[2020-07-07 02:17] bissenbay opened #70 "Setup Argo UI"
**Is your feature request related to a problem? Please describe.**
When an inspection job is scheduled, it would be better to look at the workflows in Argo UI.

[2020-07-07 05:18] goern commented on #70
What hindered you from doing so?

[2020-07-07 20:45] fridex opened #79 "Failed to run Amun inspections on ocp cluster in thoth-test-core"
**Describe the bug**

Running the inspection sample gives an error while creating is:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ocp and namespace thoth-test-core
2. Try to run Amun inspection (the sample inspection should work)
3. See the error

**Expected behavior**

Amun inspections should run (sufficient privileges should be granted).

[2020-07-08 07:57] goern commented on #58
cve-update depends on https://github.com/thoth-station/cve-update-job/issues/362

[2020-07-08 19:06] fridex commented on #58
It looks like having the si part merged in #53 will complete the listing :)

[2020-07-08 19:33] fridex commented on #58
Maybe we can add more. I've looked up all the `openshift` directories in the thoth-station org:

- [ ] nepthys
- [ ] ~~bots from the core repo~~ <--- do we want them to become part of "thoth application"?
- [ ] build-watcher

[2020-07-09 06:20] harshad16 commented on #79
while working to fix this issue.
came across another issue.
[code]
is kubectl image to be also present?

[2020-07-09 06:25] fridex commented on #79
Yes, it's required by amun workflows. It can be found on quay:

https://quay.io/repository/thoth-station/kubectl

It has `kubectl` (or `oc` would be also good) and `jq` for manipulating with JSON. We could rename it and start maintaining in a repo though.

[2020-07-09 06:29] harshad16 commented on #79
awesome :+1:

[2020-07-10 09:42] #79 closed

[2020-07-10 21:03] harshad16 opened #100 "amun-inspection build run are failling"
**Describe the bug**
while amun-inspection build run execute to capture the dockerfile and specification to artifacts. The method to write them to artifacts is causing issue. It check for the command in dockerfile(which is not needed)

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to`http://amun-api-thoth-test-core.apps.ocp.prod.psi.redhat.com/api/v1/ui/#/Inspection/post_inspecti

[2020-07-11 05:38] #100 closed

[2020-07-13 11:35] goern commented on #33
is this still to be done?! @pacospace

[2020-07-13 13:42] goern commented on #70
ping @bissenbay

[2020-07-13 14:46] harshad16 opened #104 "amun-inspection inspection runs are failing"
**Describe the bug**
After the successfully build of the specification the inspection runs fails with following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go tohttp://amun-api-thoth-test-core.apps.ocp.prod.psi.redhat.com/api/v1/ui/#/Inspection/post_inspection
2. Click on 'try-out'
3. See an error in the workflow

**Expected behavior**
successful execution of amun-inspectio

[2020-07-13 14:47] harshad16 commented on #104
The issue seemed to be due the old image of amun-hwinfo image. Using the pipeline updated the image, the issue still persisted.

[2020-07-13 15:32] harshad16 commented on #104
The amun-inspect-hwinfo is failing on the initiation of container with following issue:
[code]

[2020-07-13 17:47] harshad16 commented on #104
This is related to: https://github.com/thoth-station/amun-hwinfo/issues/25
Solved by: https://github.com/thoth-station/amun-hwinfo/pull/26

[2020-07-13 17:47] #104 closed

[2020-07-16 07:41] fridex opened #111 "User API autoscaler"
**Is your feature request related to a problem? Please describe.**

As reported originally in https://github.com/thoth-station/user-api/issues/739 we could configure autoscaler for user API.

**Describe the solution you'd like**

Configure autoscaler so that user API is automatically scaled up if too many requests are made at the same time. As a start, we can use CPU utilization and observe how th

[2020-07-16 13:08] pacospace opened #120 "ImageStreamTag in core should be updated once new image on quay is created."

[2020-07-16 16:47] harshad16 commented on #120
absolutely, the image stream tag should have been updated automatically by ci bot.
it failed to do that earlier due to misconfiguration of the contextpath : https://github.com/thoth-station/investigator/blob/966405670aab13c32991d02bca76948b2a6156a5/.aicoe-ci.yaml#L15
it should be pointing to `core/overlays/test/imagestreamtags.yaml` .
will send in the fix.

[2020-07-16 17:05] #120 closed

[2020-07-16 20:17] goern commented on #58
/unassign
/assign @fridex

pls chk if you are happy, its only build-watcher missing?!

[2020-07-20 09:42] pacospace opened #127 "Missing env variables to schedule solvers"
**Describe the bug**
Missing env variables to schedule solvers

**To Reproduce**
Steps to reproduce the behavior:
1.Send UnresolvedPackageMessage

**Expected behavior**
Solvers are successfully scheduled.

**Screenshots**
[code]

[code]

[2020-07-20 13:32] pacospace opened #129 "Missing Kebechet secrets"
**Describe the bug**
Missing Kebechet secrets to use Kebehcet run results in adviser.

**Additional context**
https://github.com/thoth-station/thoth-application/pull/97

[2020-07-20 15:59] #129 closed

[2020-07-20 16:23] #127 closed

[2020-07-21 06:56] sentry-io[bot] opened #133 "Missing dependency monkey templates in ocp test"
Sentry Issue: [THOTH-1NZZ](https://sentry.io/organizations/thoth-station/issues/1797623350/?referrer=github_integration)

[code]

[2020-07-21 17:57] sentry-io[bot] opened #136 "KeyError: 'THOTH_CEPH_KEY_ID'"
Sentry Issue: [THOTH-1P01](https://sentry.io/organizations/thoth-station/issues/1798477604/?referrer=github_integration)

[code]

[2020-07-21 17:58] sentry-io[bot] opened #137 "KeyError: 'THOTH_CEPH_BUCKET_PREFIX'"
Sentry Issue: [THOTH-1P00](https://sentry.io/organizations/thoth-station/issues/1798461887/?referrer=github_integration)

[code]

[2020-07-21 18:05] harshad16 commented on #136
should be fixed by https://github.com/thoth-station/thoth-application/pull/135

[2020-07-21 18:06] harshad16 commented on #137
should be fixed by https://github.com/thoth-station/thoth-application/pull/135

[2020-07-22 06:13] #136 closed

[2020-07-22 06:13] #137 closed

[2020-07-22 06:14] goern commented on #70
@bissenbay can we close this?

[2020-07-22 07:11] #133 closed

[2020-07-22 09:03] goern opened #139 "mi-scheduler SA needs permission"
**Describe the bug**
`HTTP response body: b'{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"templates.template.openshift.io is forbidden: User \\"system:serviceaccount:thoth-test-core:mi-scheduler\\" cannot list resource \\"templates\\" in API group \\"template.openshift.io\\" in the namespace \\"thoth-test-core\\"","reason":"Forbidden","details":{"group":"template.o

[2020-07-22 09:10] goern commented on #139
/assign @goern

[2020-07-22 09:10] goern commented on #139
/kind bug

[2020-07-22 16:56] #139 closed

[2020-07-22 17:44] bissenbay commented on #70
@goern I think we can close this, WDYT @harshad16 ?

[2020-07-23 10:49] xtuchyna opened #144 "mi-scheduler failed job logs not kept"
**Describe the bug**
Newest logs for mi-scheduler jobs are not kept.

**To Reproduce**
Steps to reproduce the behavior:
1. Log into the psi cluster and use the 'thoth-test-core' namespace

2. `$ oc logs mi-scheduler <TAB autocompletion>`
`mi-scheduler-1594983600-vznq5  mi-scheduler-1594987200-kcxds`

3. The `mi-scheduler-1594983600-vznq5` is nearly week old, the second one is unable to be retrieve

[2020-07-23 21:19] todo[bot] opened #147 "temp"
https://github.com/thoth-station/thoth-application/blob/1320d02efbf1a75ac0b64c369df36371daeaa56e/adviser/base/argo-workflows/kebechet-run-results.yaml#L33-L38

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1320d02efbf1a75ac0b64c369df36371daeaa56e when #97 was merged. cc @pacospace.

[2020-07-23 21:19] todo[bot] opened #148 "temp"
https://github.com/thoth-station/thoth-application/blob/88dfe6cdfb75635c078b46ae48d9d3d7b115a682/adviser/base/argo-workflows/kebechet-run-results.yaml#L33-L38

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 88dfe6cdfb75635c078b46ae48d9d3d7b115a682. It&#x27;s been assigned to @pacospace because they committed the code.

[2020-07-23 21:21] harshad16 commented on #148
duplicate: #147

[2020-07-23 21:21] #148 closed

[2020-07-28 17:20] sentry-io[bot] opened #155 "RuntimeError: Application misconfiguration - number of templates available in the infra namespace 'thoth-infra-..."
Sentry Issue: [THOTH-1P1D](https://sentry.io/organizations/thoth-station/issues/1811823023/?referrer=github_integration)

[code]

[2020-07-28 17:21] harshad16 commented on #155
Running test for application deployment.

[2020-07-28 17:22] sentry-io[bot] opened #156 "Failed to process template: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","..."
Sentry Issue: [THOTH-1P1F](https://sentry.io/organizations/thoth-station/issues/1811832667/?referrer=github_integration)

[code]

[2020-07-28 17:28] sentry-io[bot] opened #157 "ApiException: (403)"
Sentry Issue: [THOTH-1P1G](https://sentry.io/organizations/thoth-station/issues/1811858413/?referrer=github_integration)

[code]

[2020-07-28 19:29] sentry-io[bot] opened #158 "Dependency Monkey template missing in thoth-test-core"
Sentry Issue: [THOTH-1P1J](https://sentry.io/organizations/thoth-station/issues/1812039560/?referrer=github_integration)

[code]

[2020-07-28 19:44] sentry-io[bot] opened #159 "Management API cannot create workflows in thoth-test-core"
Sentry Issue: [THOTH-1P1K](https://sentry.io/organizations/thoth-station/issues/1812059347/?referrer=github_integration)

[code]

[2020-07-28 19:45] fridex commented on #159
Related to https://github.com/thoth-station/thoth-application/issues/158

[2020-07-28 19:52] #159 closed

[2020-07-28 20:11] #158 closed

[2020-07-29 02:58] #156 closed

[2020-07-29 03:20] #155 closed

[2020-07-29 04:31] harshad16 commented on #37
This is already fixed by: https://github.com/thoth-station/thoth-application/commit/36b2e87327fc0fdb007116ad5237d322116bf185

[2020-07-29 04:31] #37 closed

[2020-07-29 04:34] harshad16 commented on #70
this is already existing for test and for stage it would be available with #73

[2020-07-29 06:32] sentry-io[bot] opened #169 "RuntimeError: Application misconfiguration - number of templates available in the infra namespace 'thoth-infra-..."
Sentry Issue: [THOTH-1P1S](https://sentry.io/organizations/thoth-station/issues/1812832087/?referrer=github_integration)

[code]

[2020-07-29 06:35] fridex commented on #169
What component is using this endpoint?

[2020-07-29 06:48] harshad16 commented on #169
management-api

[2020-07-29 10:42] #70 closed

[2020-07-29 11:19] #157 closed

[2020-07-29 11:21] goern opened #175 "create ArgoCD Applications within aicoe-sre repo"
As ThothOps,
I want my argocd applications included in SRE's git repo,
so that all apps of of ocp-stage are in that repo,
so that they could be recreated from git by SRE team

[2020-07-29 14:16] #169 closed

[2020-07-29 16:45] sentry-io[bot] opened #180 "S3UploadFailedError: Failed to upload pg_dump.sql to ocp-prod-stage/data/thoth/ocp-prod-stage/graph-backup/pg_dump-20-..."
Sentry Issue: [THOTH-1P30](https://sentry.io/organizations/thoth-station/issues/1813701373/?referrer=github_integration)

[code]

[2020-07-29 16:47] #180 closed

[2020-07-30 08:13] goern opened #187 "release 0.7.0 blocker"
- [ ] new patch release common
- [ ] new patch release storages
- [ ] new patch release solver
- [ ] new patch release graph-sync
- [ ] new patch release init-job
- [ ] validate thoth-application config for stage to use the latest releases
- [ ] validate ceph bucket configuration
- [ ] clear ceph bucket
- [ ] validate deployment to ocp-stage
- [ ] delete postgresql PV
- [ ] kick off init-job

[2020-07-30 08:15] fridex opened #188 "Amun fails to aggregate build logs in ocp test"
**Describe the bug**

Running Amun workflows in thoth-test-core on ocp fails with the following error
[code]

**To Reproduce**
1. Schedule an example inspection
2. Wait for a build to succeed
3. See failed build log aggregation due to service account

**Expected behavior**

Build logs should be successfully aggregated.

[2020-07-30 08:30] #188 closed

[2020-07-30 14:03] harshad16 commented on #147
Has been resolved by: https://github.com/thoth-station/thoth-application/pull/185

[2020-07-30 14:03] #147 closed

[2020-07-30 16:28] harshad16 commented on #175
thoth-application functions similar to aicoe-sre project repository for thoth.
we would create all our application argocd manifest in the aicoe-cd application, so all applications can be created directly from vcs.

[2020-07-31 12:59] goern commented on #144
@KPostOffice

[2020-08-03 07:58] sentry-io[bot] opened #202 "User system:serviceaccount:thoth-frontend-prod:cleanup-job-thoth-middletier-prod cannot list"
Sentry Issue: [THOTH-1P2V](https://sentry.io/organizations/thoth-station/issues/1813566374/?referrer=github_integration)

[code]

[2020-08-03 08:01] fridex commented on #202
I think we can remove cleanup-job completely from deployment as Argo is responsible for cleaning objects. I don't see it stated in thoth-application. Maybe a leftover in the cluster from an older deployment?

[2020-08-03 08:07] sentry-io[bot] opened #203 "pushgateway down on massopen.cloud"
Sentry Issue: [THOTH-1P1V](https://sentry.io/organizations/thoth-station/issues/1812850893/?referrer=github_integration)

[code]

[2020-08-03 08:07] fridex commented on #203
This is generating quite a lot Sentry events.

[2020-08-05 16:25] xtuchyna commented on #144
Something was fixed in Openshift, seems like everything works rn and the logs are being kept. Closing the issue

[2020-08-05 16:25] #144 closed

[2020-08-06 09:00] pacospace opened #214 "TypeError: 'SolvedPackageMessage' object is not callable"
**Describe the bug**
Send Kafka message task fails in Argo workflow.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Argo Workflow called `test-send-message.yaml`:
[code]

2. login in ocp cluster in thoth-test-core
3. Run `argo submit test-send-message.yaml`

**Expected behavior**
The message is sent successfully.

**Screenshots**
[code]

**Additional context**
This task will be inclu

[2020-08-06 12:29] harshad16 commented on #214
the topic name is changed. maybe this pr https://github.com/thoth-station/thoth-application/pull/209 would have fixed this issue.

[2020-08-06 13:53] pacospace commented on #214
Thanks @harshad16! I actually tested with that change and I received that error:

[code]

[2020-08-07 15:34] sentry-io[bot] opened #220 "ApiException: (403)"
Sentry Issue: [THOTH-1P5T](https://sentry.io/organizations/thoth-station/issues/1829196663/?referrer=github_integration)

[code]

[2020-08-07 15:35] sentry-io[bot] opened #221 "ForbiddenError: 403"
Sentry Issue: [THOTH-1P41](https://sentry.io/organizations/thoth-station/issues/1823660482/?referrer=github_integration)

[code]

[2020-08-07 15:40] #220 closed

[2020-08-07 15:40] #221 closed

[2020-08-07 15:57] sentry-io[bot] opened #223 "RuntimeError: Application misconfiguration - number of templates available in the infra namespace 'thoth-infra-..."
Sentry Issue: [THOTH-1P3Y](https://sentry.io/organizations/thoth-station/issues/1822117812/?referrer=github_integration)

[code]

[2020-08-07 16:42] #223 closed

[2020-08-07 20:18] harshad16 opened #228 "adviser trigger-integration outputs are failing to resolve"
**Describe the bug**

Adviser run failed with:
`invalid spec: templates.adviser.tasks.kebechet-run-results failed to resolve {{tasks.trigger-integration.outputs.parameters.origin}}`

**To Reproduce**
Steps to reproduce the behavior:
1. Run a thamos advise
2. See error in the adviser workflow

**Expected behavior**
give advise based on pipfile

[2020-08-07 20:27] harshad16 commented on #228
Based on https://github.com/thoth-station/thamos/issues/489#issuecomment-670699129

[2020-08-10 07:58] pacospace commented on #214
closed-by: https://github.com/thoth-station/messaging/pull/195

[2020-08-10 07:58] #214 closed

[2020-08-10 07:59] pacospace opened #231 "thoth.solver.solved-package is not available during auto-create initialization"
**Describe the bug**
Send Kafka message task fails in Argo workflow.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Argo Workflow called `test-send-message.yaml`:
[code]

2. login in ocp cluster in thoth-test-core
3. Run `argo submit test-send-message.yaml`

**Expected behavior**
The message is sent successfully.

**Screenshots**
[code]

**Additional context**
This task will be inclu

[2020-08-10 13:18] #228 closed

[2020-08-10 18:41] sentry-io[bot] opened #235 "ApiException: (403)"
Sentry Issue: [THOTH-1P4T](https://sentry.io/organizations/thoth-station/issues/1826033284/?referrer=github_integration)

[code]

[2020-08-10 19:30] #235 closed

[2020-08-11 09:05] pacospace opened #242 "failed to save outputs: open /mainctrfs/mnt/workdir/message: no such file or directory"
**Describe the bug**
Solver task cannot save the parameter

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule solver workflow

**Expected behavior**
parse-solver-input task is able to store parameter

**Screenshots**
[code]

[2020-08-11 09:42] pacospace commented on #33
The app in new cluster is not created yet.

[2020-08-11 10:25] pacospace commented on #231
This can be closed after discussing with @KPostOffice!

[2020-08-11 10:25] #231 closed

[2020-08-11 13:01] #242 closed

[2020-08-12 13:12] harshad16 opened #244 "Missing env var for advise-reporter"
**Describe the bug**
Advise-reporter requires an environment variable [THOTH_ENVIRONMENT](https://github.com/thoth-station/advise-reporter/blob/258b91f074f22a464d28c63868fa2a00ab883745/thoth/advise_reporter/advise_reporter.py#L34), as the deployment config is missing the environment variable in [here](https://github.com/thoth-station/thoth-application/blob/0f543327cae163b33209f4830241afaf6ecfc144/

[2020-08-12 13:34] pacospace commented on #244
maybe we need to sync again? I added missing variables in https://github.com/thoth-station/thoth-application/pull/232/files

[2020-08-12 14:52] #244 closed

[2020-08-12 15:04] #33 closed

[2020-08-18 06:16] sentry-io[bot] opened #258 "ForbiddenError: 403"
Sentry Issue: [THOTH-1P8D](https://sentry.io/organizations/thoth-station/issues/1846091350/?referrer=github_integration)

[code]

[2020-08-18 08:35] #52 closed

[2020-08-18 08:36] #258 closed

[2020-08-18 18:07] sentry-io[bot] opened #265 "RuntimeError: Application misconfiguration - number of templates available in the infra namespace 'thoth-infra-..."
Sentry Issue: [THOTH-1P8P](https://sentry.io/organizations/thoth-station/issues/1847127897/?referrer=github_integration)

[code]

[2020-08-18 18:09] harshad16 commented on #265
Are revsolver component needed by any other component apart from graph-refresh ?

[2020-08-18 18:15] fridex commented on #265
Soon by the investigator.

[2020-08-18 20:12] saisankargochhayat opened #267 "Converting Graph-refresh-job to a Kafka producer."
As graph-refresh-job now acts as a Kafka producer and creates messages for the investigator to process, we need to change the graph-refresh-job deployment config to allow it to be a Kafka producer.
Necessary to support - https://github.com/thoth-station/graph-refresh-job/pull/448

[2020-08-19 14:47] sentry-io[bot] opened #271 "ClientConnectorCertificateError: Cannot connect to host khemenu.thoth-station.ninja:443 ssl:True [SSLCertVerificationError: (1, '[..."
Sentry Issue: [THOTH-1P8M](https://sentry.io/organizations/thoth-station/issues/1846936382/?referrer=github_integration)

[code]

[2020-08-19 16:20] harshad16 opened #274 "argocd application for test-thoth-core is failing to sync successfully."
**Describe the bug**

on each sync of the test-thoth-core, the sync fails.
Due to:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to sync 'test-thoth-core'
2. Scroll down to 'sync logs'
3. See error

**Expected behavior**
To have successful sync

**Screenshots**
![test-thtoh-core](https://user-images.githubusercontent.com/14028058/90662422-54e9fc80-e216-11ea-9a95-55f1f66791b7.png

[2020-08-19 16:50] harshad16 commented on #274
@goern can you please take a look and guide me through this.

[2020-08-19 19:47] #271 closed

[2020-08-19 20:07] sentry-io[bot] opened #275 "RuntimeError: Application misconfiguration - no thamos templates"
Sentry Issue: [THOTH-1P91](https://sentry.io/organizations/thoth-station/issues/1849261488/?referrer=github_integration)

[code]

[2020-08-19 20:10] harshad16 commented on #275
The application was getting updated with this PR https://github.com/AICoE/aicoe-cd/pull/85
which may have caused the issue.

Let us monitor if this still persisting.

[2020-08-20 07:41] fridex opened #276 "Cannot run Amun inspections in thoth-test-core"
**Describe the bug**

It's not possible to test inspections in thoth-test-core.

**To Reproduce**
Steps to reproduce the behavior:
1. Run inspection in thoth-test-core in ocp cluster
2. Check workflow error state and see:

[code]

**Expected behavior**

Inspections should run.

[2020-08-20 07:45] fridex commented on #276
I installed one manually for now.

[2020-08-20 12:50] goern opened #280 "figure out why package_analyzer configmaps are created in stage"
**Describe the bug**
there is a lot of package-analyzer configmaps, but they should not be created by graph-refresh-job...

[2020-08-20 15:44] harshad16 commented on #276
While working the pr https://github.com/AICoE/aicoe-cd/pull/88, i had changed the amun configmap, creation a little https://github.com/thoth-station/thoth-application/commit/970e7fca11d31e525500f345e2f15a0b5b209c00.
it is fixed once this pr was merged.

[2020-08-20 15:55] harshad16 commented on #274
understood the issue, the matchlabel in deployment are immutable, so any change to the label will not be patched by kustomize.
the alternative is to remove the deployment from the cluster and then argo would redeploy with new changes.

[2020-08-20 15:55] #274 closed

[2020-08-21 06:57] fridex commented on #280
The root cause of this issue was old graph-refresh. Now updated to version `v0.1.2+storage.0.25.1.common.0.16.1` which does not schedule package-analyzers anymore.

[2020-08-21 06:57] #280 closed

[2020-08-21 08:06] goern commented on #275
/kind bug
/assign @harshad16

looks like it is still happening?! https://sentry.io/organizations/thoth-station/issues/1849261488/events/?project=1298083&referrer=github_integration

[2020-08-21 08:07] goern commented on #267
/kind feature
/assign @harshad16
/assign @saisankargochhayat

[2020-08-21 08:19] goern commented on #265
/project "knowledge graph"
/king bug
/assign @harshad16

[2020-08-21 08:19] sesheta commented on #265
@goern: There is no maintainer team for this repo or org.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/265#issuecomment-678111122):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an

[2020-08-21 08:30] goern commented on #265
/project "knowledge graph"

[2020-08-21 08:31] goern commented on #265
/project knowledge graph

[2020-08-21 08:32] goern commented on #265
/project knowledge graph

[2020-08-21 08:33] goern commented on #265
/project "knowledge graph"

[2020-08-21 08:33] goern commented on #265
sorry for the spam :)

[2020-08-21 08:35] goern commented on #265
/project knowledge graph

[2020-08-21 08:39] goern commented on #265
/project "knowledge graph"

[2020-08-21 15:40] pacospace opened #290 "Qeb-Hwt template is missing in thoth-infra-stage"
**Describe the bug**
Qeb-Hwt template is missing in thoth-infra-stage, therefore qeb-hwt workflow cannot start.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a PR in a repo and have a look at logs in User-API for qeb-hwt endpoint

**Expected behavior**
Qeb-Hwt workflow starts.

**Screenshots**
[code]

[2020-08-21 16:00] bissenbay opened #291 "The pod for image analysis did not run"
**Describe the bug**
I issued an image analysis on `User-API` for `quay.io/thoth-station/image-store:cuda-44324038910ae778b3d15bd2ea80148c8ddcb95f310ccabe6f0499003c0425bd` and the pod did not even start.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test.thoth-station.ninja/api/v1/ui/#/Image%20Analysis/post_analyze
2. Click on 'Try it out'
3. Fill the image field to be `quay.

[2020-08-21 16:06] #290 closed, assigned to harshad16

[2020-08-21 20:28] harshad16 opened #294 "adviser run fails in backend due to quota requirements."
**Describe the bug**
The applications like adviser and kebechet workflow runs/execute in backend namespace.
Adviser workflow runs 5 tasks:
[code]
one workflow of adviser requires approx 11Gi of memory limit.
As of now the cluster namespace has only 20Gi memory limit , out of which 13Gi is normally available for workflow, after workflow-controller consumption.
which leads to adviser workflow failur

[2020-08-23 07:36] goern opened #296 "why is test and stage bumped automatically?"
https://github.com/thoth-station/thoth-application/blob/a405ba23b420b1caa778b045adef0626ccf65ee7/user-api/overlays/stage/imagestreamtag.yaml#L10

/assign @harshad16
/kind question

[2020-08-23 15:42] #296 closed, assigned to harshad16

[2020-08-24 05:41] fridex commented on #294
This looks like wrong configuration for these components. They are not that resource hungry.

[2020-08-24 08:10] pacospace opened #298 "Prometheus metrics name do not allow - in name"
**Describe the bug**
Prometheus metrics name do not allow `-` in name

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule SLO-reporter with THOTH_ENVIRONMENT='ocp-stage'

**Expected behavior**
SLO Reporter stores metrics successfully on Ceph

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2020-08-24 08:38] #298 closed

[2020-08-24 14:12] harshad16 commented on #294
These components are 250 Mb which is approx 0.25 Gb, right?
we definitely have to re-adjust the quota of backend namespace and also the resource requirement of adviser workflow.

[2020-08-24 14:53] KPostOffice opened #302 "Add TTLStrategy to all workflows"
**Is your feature request related to a problem? Please describe.**
Workflows are never deleted unless someone manually goes through and runs:
`$ argo delete --all`
or
`$ argo delete --completed`
This will cause the WorkflowController to constantly increase in memory usage.

**Describe the solution you'd like**
Add a TTLStrategy as seen [here](https://github.com/argoproj/argo/blob/master/examples/g

[2020-08-24 15:00] pacospace commented on #302
I think all workflows except SI have that set:
[code]

except for solver which has:
[code]

[2020-08-24 15:13] KPostOffice commented on #302
Is error included in `success` and `failure` or should we add the `completed` argument as well?

[2020-08-24 15:17] KPostOffice commented on #302
We could also set a [default](https://github.com/argoproj/argo/pull/2331) in the WorkflowController config map

[2020-08-24 15:25] goern commented on #302
in any case, we should have some meaningful defaults

[2020-08-24 15:25] goern commented on #302
/label enhancement
/priority important-soon

[2020-08-24 15:25] sesheta commented on #302
@goern: The label(s) `/label enhancement
` cannot be applied. These labels are supported: `tide/merge-method-merge, tide/merge-method-rebase, tide/merge-method-squash, deployment_name/ocp-test, deployment_name/ocp-stage, deployment_name/moc`

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/302#issuecomment-679195450):

Instructions for interacting with me

[2020-08-26 05:58] fridex commented on #313
I can confirm the warning is no longer seen in ocp stage env in workflow-controller deployments.

[2020-08-26 05:58] #313 closed

[2020-08-26 07:28] fridex opened #314 "Argo fails to prepare environment when resubmitting inspections"
**Describe the bug**

Argo fails to prepare environment when resubmitting inspections:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run an inspection
2. Resubmit the same inspection
3. Prepare environment produces the described error
4. See error

**Expected behavior**

Resources should be correctly cleaned up, service account is needed to do that.

See related issue https://githu

[2020-08-26 07:28] fridex commented on #314
/label bug

[2020-08-26 07:28] sesheta commented on #314
@fridex: The label(s) `/label bug
` cannot be applied. These labels are supported: `tide/merge-method-merge, tide/merge-method-rebase, tide/merge-method-squash, deployment_name/ocp-test, deployment_name/ocp-stage, deployment_name/moc`

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/314#issuecomment-680709829):

Instructions for interacting with me using

[2020-08-26 12:47] #314 closed

[2020-08-26 17:59] KPostOffice opened #325 "Archiving and Retrieving Workflow Logs"
We want our workflows to be automatically deleted after they are completed whether they succeed or fail for the most part. Leaving them to live in the workflow controller and leaving the pods on OpenShift causes unnecessary resource usage.  However, having pod logs is important for debugging. WorkflowController has a optional configuration for automatically storing logs by [setting up a bucket](ht

[2020-08-27 16:45] fridex opened #330 "Introduce an internal trigger for updating packages in monitored repositories"
**Is your feature request related to a problem? Please describe.**

See issue in https://github.com/thoth-station/kebechet/issues/507.

We should implement a component that will be triggered by `investigator` on a "new package release" message. This component would go through all the repositories monitored by Thoth and will trigger Kebechet update.

**Describe the solution you'd like**

1. investi

[2020-08-27 19:07] fridex commented on #294
I think this can be closed with the new Argo workflow-controller deployed. I see successful workflows. See https://github.com/thoth-station/integration-tests/issues/36#issuecomment-680857619 for more info on this. Closing, feel free to reopen if the issue persists.

[2020-08-27 19:07] #294 closed

[2020-08-27 19:08] fridex commented on #275
I think this can be closed, feel free to reopen if the issue persists (I didn't spot this issue again).

[2020-08-27 19:08] #275 closed

[2020-08-31 10:49] fridex opened #343 "Container image hashes on quay and in openshift got out of sync"
**Describe the bug**

Checking our stage environment, kebechet-job in version `v1.0.4` got image hash `sha256:7d225ce79375fefe739d018d7bc28f13917f5d50a028c246578cedb5cd4d0846` but the one available on quay has `b7c6407428c9` (same version).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to stage env, backend namespace
2. Check the container image sha available for kebechet-job for v1.0.4

[2020-08-31 10:54] fridex commented on #343
Manually fixed, not sure why this happened.

[2020-08-31 10:54] #343 closed

[2020-09-01 16:03] fridex commented on #302
I think we already have this in place. Closing, feel free to reopen.

[2020-09-01 16:03] #302 closed

[2020-09-01 17:16] fridex opened #352 "stage-amun fails to sync"
**Describe the bug**

Check `stage-amun` application - it fails to sync with the following error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to argo cd
2. Click on `stage-amun`
3. See the error

**Expected behavior**

`stage-amun` should be healthy and up to date.

[2020-09-01 17:16] fridex commented on #352
/label bug

[2020-09-01 17:16] sesheta commented on #352
@fridex: The label(s) `/label bug
` cannot be applied. These labels are supported: `tide/merge-method-merge, tide/merge-method-rebase, tide/merge-method-squash, deployment_name/ocp-test, deployment_name/ocp-stage, deployment_name/moc`

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/352#issuecomment-685010668):

Instructions for interacting with me using

[2020-09-01 17:16] fridex commented on #352
/label deployment_name/ocp-stage

[2020-09-02 06:26] fridex commented on #202
Closing as this should be not relevant anymore.

[2020-09-02 06:26] #202 closed

[2020-09-02 07:07] fridex opened #353 "Missing graph-backup image stream configuration for stage env"
**Describe the bug**

I wanted to update graph-backup following the new release (https://github.com/thoth-station/graph-backup-job/issues/130). However it looks like graph-backup imagestrem overlay for stage is not present in this repo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to graph-backup-job overlays
2. Check missing stage overlay

**Expected behavior**

An overlay for the sta

[2020-09-02 21:27] bissenbay opened #359 "CreateContainerConfigError: secret "qeb-hwt-secret" not found"
**Describe the bug**
When an adviser run is scheduled, the `trigger-integration` task gets stuck in a `pending` state.

[2020-09-03 07:06] #359 closed

[2020-09-03 07:20] pacospace commented on #352
The solution is to create a task in workflow helpers that prepared the message to be sent

Openshift template parameters do not take values from CM:

[code]

[2020-09-07 07:14] goern commented on #352
/kind bug

[2020-09-07 07:41] goern opened #372 "update Argo Workflows to v2.11.0"
/kind feature
/priority important-soon
/assign @pacospace

[2020-09-08 13:33] pacospace commented on #352
Task required currently to solve using Kafka:

- [ ] Create new message in thoth-messaging
- [ ] Create new task in workflow-helpers to obtain inputs for inspection message
- [ ] Add two tasks to inspection, one to parse message inputs and another one to send message

Instead of sending a message why don't we rely on Argo Workflow metrics?

Tasks:
- [ ] Create Argo workflow metric that send metric

[2020-09-08 13:35] pacospace commented on #352
Or do we plan to use that Kafka message for something other than reporting?

[2020-09-08 17:56] harshad16 opened #384 "ValidationError Templates dont have known field "valueFrom" in api.template.v1.Parameter"
**Describe the bug**
Openshift Template parameters don't have "valueFrom" attribute. https://github.com/thoth-station/thoth-application/blob/1a19d258f523d0189422a42acbc33badda3f3671/amun/base/openshift-templates/inspection-with-cpu-workflow.yaml#L241
causing argocd sync to fail.

**Expected behavior**
Should have no deployment issue.

**Screenshots**
![valuefrom](https://user-images.githubusercont

[2020-09-08 17:56] goern commented on #384
/kind bug

[2020-09-08 17:57] harshad16 commented on #384
@KPostOffice  can you please take a look

[2020-09-08 17:58] harshad16 commented on #384
Same issue: #352
closing this issue, will check the progress there.

[2020-09-08 17:58] #384 closed

[2020-09-09 06:06] pacospace commented on #372
https://github.com/argoproj/argo/issues/3941

[2020-09-09 08:22] fridex opened #389 "Cannot obtain adviser logs from user-api endpoint"
**Describe the bug**

An exception seen on user api:
[code]

This causes internal server error on user-api request.

**To Reproduce**
Steps to reproduce the behavior:
1. perform `thamos advise --no-wait`
2. run `thamos log`
3. See an internal error reported by user-api

**Expected behavior**

Logs should be exposed to the user.

[2020-09-09 09:02] #389 closed

[2020-09-09 09:58] pacospace opened #392 "Failed to establish a new connection: [Errno -2] Name or service not known',"
**Describe the bug**
I spotted this error in some qeb-hwt workflow, not sure why it is random.

**To Reproduce**
Steps to reproduce the behavior:
1. Open PR in any project with Qeb-Hwt
2. Have a look at workflows in thoth-backend-stage

**Expected behavior**
Check run is sent back to PR.

**Screenshots**
inputs
[code]

logs
[code]

**Additional context**
Add any other context about the problem her

[2020-09-10 09:11] pacospace opened #398 "Amun workflow can send message to Kafka to schedule graph-sync. [8pt]"
As User of Amun,

I would like to have the option to send a message to Kafka to know that an inspection ended succesfully, so that a consumer of that message can take action on that.

- [x] Create in thoth-messaging message `InspectionRunMessage` with document ID regarding inspection run just successfully concluded.
- [x] Release new thoth-messaging
- [ ] Create task in workflow-helpers to parse i

[2020-09-10 09:21] pacospace commented on #352
Created new issue with tasks in https://github.com/thoth-station/thoth-application/issues/398

[2020-09-10 09:26] pacospace commented on #352
The new feature requested is send message from Amun with Kafka so that another component can consume that message

[2020-09-10 09:30] pacospace commented on #398
/kind feature

[2020-09-11 07:06] pacospace opened #400 "Create thoth-investigator-stage"
**Is your feature request related to a problem? Please describe.**
In order to make full use of Argo and Kafka in Thoth self-learning, investigator overlays/stage need to be created.

**Additional context**
Reference: https://github.com/thoth-station/adviser/issues/1178

[2020-09-14 06:40] fridex opened #407 "[3pt] Pretty URLs for Argo UI"
**Is your feature request related to a problem? Please describe.**

I would like to access Argo UI to see what's happening in the cluster. Besides having the UI exposed with autogenerated routes by OpenShift, we could follow our "pretty-url" convention for deployments

**Describe the solution you'd like**

Have pretty URLs that are not deployment/cluster specific:

[code]

**Describe alternatives

[2020-09-14 06:40] fridex commented on #407
/kind feature

[2020-09-14 06:40] harshad16 opened #408 "Unknown Key in ceph: couldn't find key public-bucket-name in for consumers"
**Describe the bug**
The ceph configmap is missing a key **public-bucket-name**, which is required by consumers.
![solver-unknow-key](https://user-images.githubusercontent.com/14028058/93052020-0566e700-f683-11ea-903c-bb35bdf0bfec.png)

https://github.com/thoth-station/thoth-application/blob/68bac5cc768632b9d2f846619b6191e1e89da939/solver/base/argo-workflows/parse-solved-package.yaml#L73

**To Rep

[2020-09-14 06:43] fridex opened #409 "Require authentication when accessing Argo Workflows UI"
**Is your feature request related to a problem? Please describe.**

As of now, Argo Workflows UI are not guarded by any authentication. That means anyone can perform unauthorized operations to workflows.

**Describe the solution you'd like**

We can use Argo Workflows UI Single Sign On to authenticate to view/perform operations in Argo UI.

**Describe alternatives you've considered**

Keep the acc

[2020-09-14 06:43] harshad16 commented on #408
Is the value different from the bucket-name ? @pacospace

[2020-09-14 06:52] goern commented on #407
can we have to UI in a read-only mode? or, is it r/o by default?

[2020-09-14 06:54] fridex commented on #407
Is this relevant to this issue or to https://github.com/thoth-station/thoth-application/issues/409 ?

[2020-09-14 07:10] pacospace commented on #408
The value missing is not required for that component, actually. But we have to add in any case that value for SLO-reporter and advise-reporter, currently it is only in test: https://github.com/thoth-station/thoth-application/blob/68bac5cc768632b9d2f846619b6191e1e89da939/core/overlays/test/configmaps.yaml#L34

[2020-09-14 07:52] #408 closed

[2020-09-14 09:35] pacospace opened #413 "Overlapping paths present in solver task"
**Describe the bug**
One task in solver workflow is trying to write file with same name, hence overlapping paths are present.

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule a solver workflow

**Expected behavior**
Solver workflow task correctly store files that is picked by the next task.

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2020-09-14 10:13] #413 closed

[2020-09-14 11:03] sentry-io[bot] opened #416 "OperationalError: (psycopg2.OperationalError) could not translate host name "pgbouncer.thoth-graph-stage.svc" to ad..."
Sentry Issue: [THOTH-1PCG](https://sentry.io/organizations/thoth-station/issues/1893237070/?referrer=github_integration)

[code]

[2020-09-14 11:04] fridex commented on #416
I saw this couple of times - maybe some cluster networking issue?

[2020-09-14 14:13] fridex opened #421 "Replay mechanism for messages when something goes wrong in the cluster"
**Is your feature request related to a problem? Please describe.**

When there are some issues in deployment (e.g. image pull backoff), workflows fail. It would be nice to have a mechanism to restart all the workflows on the backend.

**Describe the solution you'd like**

Let's spike if we can perform recovery by replying messages using Kafka.

**Describe alternatives you've considered**

Keep the

[2020-09-14 15:05] pacospace opened #422 "Modify package-release component to use the new implementation as producer"
**Is your feature request related to a problem? Please describe.**
See new package release producer: https://github.com/thoth-station/package-releases-job/issues/446

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-09-14 15:07] pacospace opened #423 "Modify graph-refresh component to use the new implementation as producer"
**Is your feature request related to a problem? Please describe.**
See: https://github.com/thoth-station/graph-refresh-job/issues/433

[2020-09-14 15:35] pacospace opened #424 "Remove package-update consumer bits as it will be act only as producer"

[2020-09-14 16:29] pacospace opened #426 "Solver task fails to run query due to wrong value for source_type."
**Describe the bug**
Solver task fails to run query due to wrong value for source_type.

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule solver-workflow

**Expected behavior**
Query retrieve all adviser run with unsolved package for GITHUB_APP

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2020-09-14 16:40] #426 closed

[2020-09-14 17:24] pacospace opened #427 "Modify user-API component to use the new implementation as producer"
**Is your feature request related to a problem? Please describe.**
Reference: https://github.com/thoth-station/user-api/issues/1028

[2020-09-14 19:23] goern opened #428 "Amun Template `amun-inspection-workflow-with-cpu` errors on deploy"
**Describe the bug**
during deployment of `stage-amun` app, the following error pops up:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. sync https://argocd-server-aicoe-argocd.apps.ocp.prod.psi.redhat.com/applications/stage-amun?operation=true

/kind bug
/assign @fridex

[2020-09-14 19:27] pacospace commented on #428
We should remove bits in the openshift templates. There is this new issue created: https://github.com/thoth-station/thoth-application/issues/398

Reference issue: https://github.com/thoth-station/thoth-application/issues/352

[2020-09-14 19:28] fridex commented on #428
See https://github.com/thoth-station/thoth-application/issues/384 https://github.com/thoth-station/thoth-application/issues/352

We discussed this on the tech call. The solution is to add messaging, add empty defaults to configmap and let it fail if there are no configuration options supplied.

[2020-09-15 05:59] fridex opened #429 "Setup metrics to monitor failed workflows and their rate"
**Is your feature request related to a problem? Please describe.**

Let's have an alert when workflows fail. This way we can spot error rate of workflows running in the cluster and identify suspicious behavior. This should work with https://github.com/thoth-station/thoth-application/issues/421 - when something is wrong, we got an alert and replay kafka messages to still serve user requests (if an

[2020-09-15 06:34] pacospace commented on #429
Pre-requisites:
- [ ] https://github.com/thoth-station/thoth-application/issues/372
- [ ] https://github.com/thoth-station/slo-reporter/issues/79

[2020-09-15 06:38] fridex commented on #429
/assign @pacospace

[2020-09-15 15:48] goern opened #432 "check if we can delete aicoe project on ocp"
It looks like https://console-openshift-console.apps.ocp.prod.psi.redhat.com/k8s/ns/aicoe/deployments is not utilized, can we delete this project and move resourced to aicoe-infra-prod?

/assign @harshad16

[2020-09-15 16:08] harshad16 commented on #432
Was going to utilize it for the kafka instance , we wanted to run in psi cluster.
once that ticket is either closed or completed, we can decide based on that.
Will keep this open.

[2020-09-15 16:15] goern commented on #432
ACK

[2020-09-15 16:40] #428 closed

[2020-09-16 12:49] pacospace opened #439 "Security-workflow is not able to store results on Ceph"
**Describe the bug**
Security-workflow is not able to store results on Ceph

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule a SI workflow.

**Expected behavior**
Security-workflow finishes successfully

**Screenshots**

[code]

**Additional context**
Add any other context about the problem here.

[2020-09-16 12:50] pacospace opened #440 "Security workflow THOTH_SI_AGGREGATOR_OUTPUT variable is not present"
**Describe the bug**
Security workflow THOTH_SI_AGGREGATOR_OUTPUT variable is not present

[2020-09-16 12:53] #440 closed

[2020-09-16 14:01] pacospace commented on #439
Fixed by: https://github.com/thoth-station/si-aggregator/pull/30

[2020-09-16 14:03] pacospace commented on #439
![Screenshot from 2020-09-16 16-01-25](https://user-images.githubusercontent.com/27498679/93348180-2de31280-f836-11ea-97a2-9988602c8009.png)

[2020-09-16 14:07] pacospace opened #442 "SI workflow is not able to sync in Thoth Database"
**Describe the bug**
SI workflow is not able to sync in Thoth Database

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule an SI workflow

**Expected behavior**
SI workflow syncs correctly

**Screenshots**
[code]

**Additional context**
![Screenshot from 2020-09-16 16-01-25](https://user-images.githubusercontent.com/27498679/93348569-ad70e180-f836-11ea-803e-b2ce86112753.png)

[2020-09-16 14:22] pacospace commented on #439
Related-To: https://github.com/thoth-station/adviser/issues/1178

[2020-09-16 14:22] pacospace commented on #440
Related-To: https://github.com/thoth-station/adviser/issues/1178

[2020-09-16 14:28] #442 closed

[2020-09-16 14:28] pacospace commented on #442
Related-To: https://github.com/thoth-station/adviser/issues/1178

[2020-09-16 17:45] fridex opened #443 "Send message for each solved package from solver output"
**Describe the bug**

As of now, the message sending logic is parsing solver input and sending a message about the solved package. This solution does not work if the solver input is a version specifier that can resolve to multiple versions being solved (this can happen only when management-api is used).

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule solver from management api, use

[2020-09-16 17:45] fridex commented on #443
CC @bissenbay @pacospace

[2020-09-17 06:29] goern opened #445 "bump stage to v0.17.0"
/assign @fridex

[2020-09-17 06:53] #445 closed

[2020-09-17 06:54] pacospace commented on #443
[code]

[2020-09-17 10:27] #400 closed

[2020-09-17 12:31] #353 closed

[2020-09-17 13:26] saisankargochhayat commented on #423
@pacospace should we close this?

[2020-09-17 15:43] pacospace commented on #423
Did we test graph-refresh with investigator? if everything works correctly yes :)

[2020-09-18 06:26] pacospace commented on #423
this is a blocker for this issue: https://github.com/thoth-station/storages/issues/2007

[2020-09-18 09:08] pacospace commented on #422
is tested successfully?

[2020-09-18 12:20] fridex opened #459 "Cannot obtain container logs from user-api"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Issue `thamos advise --nowiat`
2. Issue `thamos log`
3. See error

**Expected behavior**

`thamos log` should succeed

[2020-09-18 15:26] goern commented on #459
/kind bug

[2020-09-21 19:13] pacospace commented on #352
Opened feature: https://github.com/thoth-station/thoth-application/issues/398 this can be closed.

[2020-09-21 19:13] #352 closed

[2020-09-21 19:51] KPostOffice commented on #398
What should the contents of `InspectionRunMessage` be?
and also I don't understand why we can't directly use GraphSync using the same conditional logic.
@fridex @goern

[2020-09-21 19:54] fridex commented on #398
The most important part is inspection_id so we know what inspection is finished.

Amun is a standalone component - we want to deploy it in different clusters with different HW to obtain inspection results. Then the message will notify a Thoth deployment that an inspection can be obtained and synced.

[2020-09-22 13:38] #372 closed

[2020-09-22 14:47] bissenbay commented on #422
@pacospace I'm waiting for this release https://github.com/thoth-station/package-releases-job/issues/484, then I would like to test again cause it was failing with the current version of `thoth-messaging` which is `0.7.3`.

[2020-09-23 20:58] bissenbay commented on #422
@pacospace So, I tested by running `oc create job --from=cronjob/package-releases package-releases -n thoth-test-core` and I see the same behavior persist, like it will run for some time and then terminate, looks like it's not sending messages.

[2020-09-24 06:17] pacospace commented on #422
Let me have a look :)

[2020-09-24 13:22] goern opened #486 "move cronjob from frontend to backend"
**Is your feature request related to a problem? Please describe.**
Do we need to run the cronjob in frontend?

**Describe the solution you'd like**
move them to backend.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2020-09-24 13:51] bissenbay commented on #422
[code]

[2020-09-24 13:58] harshad16 commented on #486
It saves resource utilization.
Backend and middletier are used for heavy execution of user requests.

[2020-09-24 17:14] pacospace commented on #267
Already solved by @saisankargochhayat

[2020-09-24 17:14] #267 closed

[2020-09-24 17:20] goern opened #492 "Splunk sidecar"
**Is your feature request related to a problem? Please describe.**
In order to get logs picked up by splunk, we need to deploy a sidecar to each deployment/deploymentConfig

**Describe the solution you'd like**
There is a RH internal document describing the setup for PSI

**Describe alternatives you've considered**
None

**Additional context**
This applies to stage only

[2020-09-24 18:40] goern commented on #492
reconfigure gunicorn to error log to file, https://docs.gunicorn.org/en/stable/settings.html#errorlog

create a `add_splunk_sidecar.yaml' that we can json patch-add to each deploymentConfig

create a `splunk-sidecar` imagestreamtag in `overlay/stage/imagestreamtags.yaml`

[2020-09-24 18:42] fridex commented on #492
Alternatively, wrap entrypoint with `app.sh` to tee the output.

[2020-09-25 07:35] harshad16 commented on #424
i think this is done.
closing.

[2020-09-25 07:35] #424 closed

[2020-09-25 08:16] fridex commented on #486
+1 for keeping it in frontend. middleteir is allocated for data aggregation/pre-computing and backend is used for user requests, as @harshad16 stated. maybe some cronjobs could land in infra (based on their semantics).

[2020-09-25 12:27] fridex commented on #459
I still see this one in OCP/stage deployment:

[code]

But I don't see this role being created in ocp/stage

CC @harshad16 PTAL
https://github.com/thoth-station/thoth-application/blob/bffb010d11853e5b6af40cd6d185bdfbbdfe71b0/user-api/base/role.yaml#L30-L38

[2020-09-25 12:53] harshad16 commented on #459
Thanks again,
i will check on this.
and try to resolve as soon as possible

[2020-09-25 12:55] fridex commented on #459
Thanks! It's not critical though. :+1:

[2020-09-25 14:02] saisankargochhayat commented on #423
@harshad16 so the same cronjob I will move to stage? :)

[2020-09-25 14:09] harshad16 commented on #423
@saisankargochhayat , update the cronjob in test to base and in the cronjob of test , just keep suspend as true

[2020-09-25 18:02] saisankargochhayat commented on #423
Closed with #500

[2020-09-25 18:02] #423 closed

[2020-09-28 07:39] harshad16 opened #504 "[UserStory] Migrate thoth-station application to ocp4 cluster (v4.5)"
**User story**
Currently we have our systems running in ocp.prod.psi.redhat.com, the systems team has provided a new cluster ocp4.prod.psi.redhat.com which is running openshift v4.5.

As a thoth-station developer,
I want to test out the system
so that I can verify if the thoth-station application would be stable in the new cluster.

**Additional context**
cluster: http://ocp4.psi.redhat.com/
No ET

[2020-09-28 10:29] goern commented on #416
can we handle this situation in a more sensitive way? sentry received about 64k exceptions. cant we utilize some kind of reconnect budget and log increasing retry timeout?!

[2020-09-28 15:15] pacospace opened #507 "Thoth knows when SI workflow cannot run [8pt]"
As Thoth Developer,

I want Thoth to know when a package cannot be downloaded so that I don't schedule workflow for that package so that the  system know that  SI cannot be collected about that package version index.

1st part:
- [x] Introduce new column in PPV table with default set to false called `is_si_analyzable`.
- [x] Create alembic migration.
- [x] Create method to set `provides_source_dis

[2020-09-28 18:18] goern commented on #422
whats the status here?

[2020-09-28 19:52] goern opened #508 "deploy persistent Kafka borker via ArgoCD [1pt]"
As a Thoth Ops,
I want to use ArgoCD,
so that I can deploy and configure Kafka with persistence for topics

[2020-09-29 07:41] fridex commented on #416
This looks like a deployment/networking issue. The deployment is doing whatever needs to be done to recover from this failed state.

We don't want to maintain any state for sentry events on deployment side. The event can be additionally classified/manipulated on sentry side.

[2020-09-29 07:43] fridex commented on #507
BTW the naming is confusing - what the message was supposed to say:

The package was not analyzed in some workflows (such as security indicators) because it did not provide source distribution. It can still be downloadable (e.g. as a wheel file).

[2020-09-29 07:51] pacospace commented on #507
Sorry I didn't update it here: but in the PR we actually went for `NotDownloadedPackageMessage`: https://github.com/thoth-station/messaging/pull/271#discussion_r496054774

[2020-09-29 07:53] pacospace commented on #507
Should we change the flag to `is_si_analyzable`?

[2020-09-29 07:56] fridex commented on #507
IMHO that would be more appropriate given the semantics. :+1:

[2020-09-29 11:25] #422 closed

[2020-09-29 13:14] KPostOffice commented on #507
I know it's kind of to late, but I would have liked to have the flag represent what we are actually marking it for, i.e. something like `ProvidesSourceDistro` this is why I used `is_downloadable` which I understand isn't quite right.

[2020-09-29 13:32] fridex commented on #507
It's never late. Any other proposed solution?

[2020-09-29 13:37] KPostOffice commented on #507
`ProvidesSourceDistro` or `IsSourceDownloadable` or `DownloadSourceFails`

I'm partial to the first one, I think it is clear what the message and flag represent so that it can be used outside of the context of security indicators if it is useful

[2020-09-29 13:39] fridex commented on #507
I think the original message was in its negated form - stating that the package does not provide source distribution hence it cannot be analyzed by the security indicator workflow. So to my understanding, you want to add a boolean flag to messages?

[2020-09-29 13:43] KPostOffice commented on #507
The original was `UpdateIsDownloadableMessage` and the flag on the db was `is_downloadable`

[2020-09-29 13:51] fridex commented on #507
Makes sense. Considering the message is sent also when the security indicator workflow finishes (not only on failures), it can make sure we keep the database in sync :+1:

[2020-09-29 15:44] pacospace commented on #507
@KPostOffice do you make changes accordingly? :)

[2020-09-29 15:51] pacospace opened #511 "qeb-hwt workflow sending AdviserTrigger message [5pt]"
As Thoth is moving to Kafka based components with investigator handling messages,

qeb-hwt workflow should send AdviserTrigger message so that thoth-investigator can schedule adviser.

[2020-09-29 15:55] KPostOffice commented on #507
will do :)

[2020-09-29 16:01] pacospace commented on #507
Thanks Kevin!!

[2020-09-30 08:58] harshad16 commented on #203
with the new deployment of metrcis-exporter disabled
we wouldn't receive these issue for now
will contact the odh  team to get info on the endpoints and its availability

[2020-09-30 10:50] harshad16 commented on #291
Tested this out in the current test system.
![package-extract-pod](https://user-images.githubusercontent.com/14028058/94676250-aa96e600-0338-11eb-828a-d5d2d459b1ef.png)

Pods that full filed the result.
https://console-openshift-console.apps.ocp.prod.psi.redhat.com/k8s/ns/thoth-test-core/pods/package-extract-8bd9dcae-952198383/logs

Closing this issue
Please feel free to reopen.

[2020-09-30 10:50] #291 closed

[2020-09-30 11:11] #459 closed

[2020-09-30 11:22] #427 closed

[2020-09-30 12:13] fridex commented on #291
@harshad16 thanks! :+1: :100:

[2020-10-01 13:05] goern opened #521 "New Calendar release"

[2020-10-01 13:06] #521 closed

[2020-10-01 16:07] anishasthana opened #524 "Enable Sesheta for internal data hub repos"
We would like Sesheta to manage pull requests to the following two repositories:

1. https://github.com/AICoE/idh-manifests
2. https://github.com/AICoE/Internal-Data-Hub

[2020-10-01 17:28] #524 closed

[2020-10-01 17:43] anishasthana opened #527 "Require two approvals before automerging a pull request"
We could like to configure automerge to require at least two approvals before merging any PRs to the following repositories:

1. https://github.com/AICoE/Internal-Data-Hub
2. https://github.com/AICoE/idh-manifests

How would we go about configuring this?

[2020-10-01 18:04] goern commented on #527
I see, what is the use case for that? why isn't the distinction between reviewers and approvers not good enough? https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md

/kind feature
/kind question

[2020-10-01 18:04] goern commented on #511
/kind feature
/assign @saisankargochhayat

[2020-10-01 18:05] #36 closed

[2020-10-02 06:08] pacospace opened #528 "Create stage-thoth-slo-reporter"

[2020-10-02 06:17] harshad16 commented on #528
Pull request already in place: https://github.com/AICoE/aicoe-cd/pull/136

[2020-10-02 06:20] pacospace commented on #528
Thanks Harshad! I opened it for tracking :)

[2020-10-02 06:48] harshad16 commented on #528
the application is now available and being deployed by argocd: https://argocd-server-aicoe-argocd.apps.ocp.prod.psi.redhat.com/applications/stage-thoth-slo-reporter

[2020-10-02 11:05] fridex opened #532 "Add adviser-validate-unit-schema configuration to configmap"
**Is your feature request related to a problem? Please describe.**

Adviser now allows disabling pipeline unit configuration schema validation - see [docs](https://github.com/thoth-station/adviser#disabling-pipeline-unit-validation). This switch turns off validating configuration schema for pipeline units and speeds up pipeline unit instantiation hence pipeline unit configuration creation. This ad

[2020-10-02 13:27] saisankargochhayat commented on #511
Todays discussion -

- [ ] Workflow Helper Qeb-Hwt needs to send the following [message](https://github.com/thoth-station/messaging/blob/master/thoth/messaging/adviser_trigger.py) as a file in the [helper file](https://github.com/thoth-station/messaging/blob/master/thoth/messaging/adviser_trigger.py)

[2020-10-02 13:39] #507 closed

[2020-10-02 13:51] anishasthana commented on #527
So we don't want PRs to be gated by specific members of our team for configuration-related items. The idea is we'd have at least two people reviewing every PR and if we get two approves we ship it.

[2020-10-03 16:14] goern commented on #527
I think Kubernetes' concept (which we implement here) is to have approvers with ultimate merging-power, the four eyes concept you would like to implement is done via reviewers and approvers. You can configure this per subdirectory. Please have a look at owners.md

[2020-10-05 01:01] bissenbay opened #535 "KeyError: 'THOTH_BACKEND_NAMESPACE'"
I run `Scenario: Run a simple thamos advise for a flask application for raw HTTP connection` in `integration-tests` and see that adviser job fails, in the logs I see the error below:
[code]

[2020-10-05 06:43] pacospace opened #536 "Error: couldn't find key public-bucket-name in ConfigMap thoth-frontend-stage/ceph"
**Describe the bug**
SLO reporter fails starting because in thoth-frontend-stage ceph CM there is missing a parameter

**To Reproduce**
Steps to reproduce the behavior:
1. Run SLO-Reporter cronjob

**Expected behavior**
Successfully starts SLO reporter

**Screenshots**

**Additional context**

[2020-10-05 07:30] pacospace opened #538 "Learn about not SI analyzable python packages using SI analyzers"
**Is your feature request related to a problem? Please describe.**
As Thoth developer and Thoth manager,

I would like Thoth to learn about not SI analyzable python packages so that:

- Thoth does not reschedule SI analysis for packages with errors;
- Thoth can collect errors and analyze them to provide better advice or propose solutions upstream for packages used for analysis.

**Describe the sol

[2020-10-05 11:01] #536 closed

[2020-10-05 18:56] fridex opened #542 "Provide topic for hactoberfest"
**Is your feature request related to a problem? Please describe.**

See https://www.youtube.com/watch?v=FxBv4FMcDgo&ab_channel=DigitalOcean

**Describe the solution you'd like**

All thoth repos have `hacktoberfest` topic.

[2020-10-06 07:13] pacospace commented on #528
Thank you very much @harshad16! We can close the issue then :)

[2020-10-06 07:13] #528 closed

[2020-10-06 10:59] fridex opened #545 "Port application to Python 3.8"
**Is your feature request related to a problem? Please describe.**

As of now, we run Thoth components using Python 3.6 running on top of UBI 8 container image. It would be nice to port the application to UBI 8 running Python 3.8.

**Describe the solution you'd like**

Port all the Thoht components to Python 3.8 running UBI 8.

**Thoth components to be migrated**

 - [x] adviser
 - [x] advise-repo

[2020-10-08 17:01] #511 closed

[2020-10-09 06:55] pacospace opened #554 "Create stage-thoth-advise-reporter"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-09 10:59] sentry-io[bot] opened #555 "ForbiddenError: 403"
Sentry Issue: [THOTH-1PHQ](https://sentry.io/organizations/thoth-station/issues/1943887437/?referrer=github_integration)

[code]

[2020-10-09 13:25] #554 closed

[2020-10-09 14:45] #555 closed

[2020-10-12 09:14] pacospace opened #559 "Data Driven Engineering: Increase Adviser Resources (Memory and CPU)"
Our daily reports analyzing quality of results show that many Adviser Runs are failing due to:
- `Resolver was killed as allocated CPU time was exceeded` - https://thoth-station.ninja/j/cpu_time_exceeded
- `Resolver was killed as allocated memory has been exceeded (OOM)` - https://thoth-station.ninja/j/oom

![Screenshot from 2020-10-12 11-02-47](https://user-images.githubusercontent.com/27498679/9

[2020-10-12 09:20] fridex commented on #559
This is most probably because of transitive dependencies missing. Resolver is trying to find a resolution but not all transitive dependencies are resolved - hence it cannot find it. Discussed this with @harshad16

[2020-10-12 09:36] #559 closed

[2020-10-12 16:20] saisankargochhayat opened #561 "Kafka fails in test while testing Qeb-hwt"
**Describe the bug**
Qebhwt fails on testing in thoth-test-core
**To Reproduce**
Steps to reproduce the behavior:
Go to user-api -
Call /qeb-hwt with this body -
[code]
**Additional context**
Log -
[code]

[2020-10-14 12:06] harshad16 commented on #542
all active repos are updated with `hacktoberfest` topic label, with help of a [script](https://gist.github.com/harshad16/c87c3d0545376813adc9de064f504bf4).
can be verified by doing a curl or any request to repo topics.
`curl  -H "Accept: application/vnd.github.mercy-preview+json" https://api.github.com/repos/thoth-station/{repo}/topics`

[2020-10-14 12:06] #542 closed

[2020-10-14 12:32] fridex commented on #542
@harshad16 very nice, thanks!! :100: :+1:

[2020-10-14 20:53] fridex opened #568 "Service can respond with 404 once an analysis is submitted"
**Describe the bug**

With the transition to Kafka and massage queuing, it can happen that a user submits an analysis (e.g. advise) and immidiatelly gets 404 for the given request.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure the system is running workload so that the request gets queued
2. Perform `thamos advise` and make sure the request gets queued but not immediately process

[2020-10-14 20:55] fridex commented on #568
We can store information about the submitted analysis on ceph - in that case, we would create an object that would note down the given request was accepted by the system and is in the pending state (queued). Once we will be checking for results, we could check if the given request is not in the pending state.

[2020-10-14 20:58] fridex commented on #568
Ideally, we could restructure how we store results on ceph - instead of having adviser-id referencing directly the given adviser request, it could be used as a prefix for other data. This way we could store also inputs for adviser that would be used by Argo workflows, instead of passing these inputs directly to openshift's env vars:

[code]

[2020-10-19 14:35] pacospace opened #575 "Modify cve-update component to use the new implementation as producer"
**Is your feature request related to a problem? Please describe.**
See new package release producer: https://github.com/thoth-station/cve-update-job/issues/373

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-10-20 09:05] harshad16 commented on #432
The namespace: **aicoe** in the psi preview is not a namespace owned by aicoe-thoth-devops team.
In the ocp.prod.psi.redhat.com cluster, some of the aicoe-thoth-devops members had admin access to the namespace.
As we dont have the ownership, we shouldn't delete the namespace.
Current we have deployed Kafka service on the namespace, before moving away from the cluster, we would remove our deploymen

[2020-10-20 09:05] #432 closed

[2020-10-26 13:15] pacospace opened #588 "HTTPError: 503 Server Error: Service Unavailable for url: http://qeb-hwt-webhook-receiver-aicoe-prod-bots.apps.ocp.prod.psi.redhat.com/"
**Describe the bug**
HTTPError: 503 Server Error: Service Unavailable for url: http://qeb-hwt-webhook-receiver-aicoe-prod-bots.apps.ocp.prod.psi.redhat.com/

**To Reproduce**
Steps to reproduce the behavior:
1. Open PR in repo with Qeb-Hwt installed

**Expected behavior**
Qeb-Hwt workflow finished successfully

**Screenshots**
[code]

**Additional context**
Add any other context about the problem

[2020-10-26 13:24] goern commented on #588
/kind bug
/priority critical-urgent

[2020-10-26 13:25] goern commented on #588
have we renamed the service to `http://sefkhet-abwy-webhook-receiver-aicoe-prod-bots.apps.ocp.prod.psi.redhat.com/` ?

[2020-10-26 13:41] harshad16 commented on #588
no we havent

[2020-10-26 13:45] #588 closed

[2020-10-28 08:54] goern opened #594 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2020-10-29 15:32] sesheta commented on #594
Closing the issue as there is no changelog between the new release of thoth-station/thoth-application.

[2020-10-29 15:32] #594 closed

[2020-10-29 19:11] bissenbay commented on #568
@fridex @pacospace This is exactly what I experience when I schedule thamos advise in `integration-tests`.

[2020-10-30 08:34] todo[bot] opened #601 "Reduce when more solvers are running"
https://github.com/thoth-station/thoth-application/blob/4ca4910c944f622d5034c6e2c390dafc236125bc/graph-refresh/base/cronjob.yaml#L66-L69

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 4ca4910c944f622d5034c6e2c390dafc236125bc when #600 was merged. cc @pacospace.

[2020-10-30 08:34] todo[bot] opened #602 "Reduce when more solvers are running"
https://github.com/thoth-station/thoth-application/blob/a60cbb69b6dfa830e4f2dbdfb1e156589383aa3d/graph-refresh/base/cronjob.yaml#L66-L69

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in a60cbb69b6dfa830e4f2dbdfb1e156589383aa3d. It&#x27;s been assigned to @pacospace because they committed the code.

[2020-10-30 08:39] pacospace commented on #601
close because repeated: https://github.com/thoth-station/thoth-application/issues/602

[2020-10-30 08:39] #601 closed

[2020-11-02 13:14] sentry-io[bot] opened #605 "No Sentry environment configured in adviser"
Sentry Issue: [THOTH-1PK6](https://sentry.io/organizations/thoth-station/issues/2001740043/?referrer=github_integration)

[code]

[2020-11-02 13:17] fridex commented on #605
We require at least THOTH_DEPLOYMENT_NAME env var being set:

https://github.com/thoth-station/common/blob/d711442bf182fe5bf2384e3acdbb439c790d3c03/thoth/common/logging.py#L271

we do so in the relevant manifest:

https://github.com/thoth-station/thoth-application/blob/179860f28350cd7b5fe0b0b6faf2c5a173a111d0/adviser/base/argo-workflows/advise.yaml#L143-L147

[2020-11-03 19:02] fridex opened #609 "Expose Thoth version on API endpoints"
**Is your feature request related to a problem? Please describe.**

See comment in https://github.com/thoth-station/core/pull/247#pullrequestreview-522759294

We should expose version of Thoth in our endpoints (include it in response headers). For this purpose, we should include https://github.com/thoth-station/thoth-application/blob/master/version.py in the build user-api container image.

**Desc

[2020-11-03 21:35] anishasthana commented on #527
Apologies, I missed this somehow -- we don't want there to necessarily be a distinction between any members of the team for those two repositories.

So if I'm reading what you're saying correctly, we would have two people marked as reviewers for PRs, and once they both give a +1 an owner will be assigned to give the final approval?

Is it possible for the approvers and reviewers list to overlap an

[2020-11-04 07:38] harshad16 commented on #609
https://github.com/thoth-station/core/pull/247#pullrequestreview-522759294

[2020-11-04 07:39] goern commented on #609
/kind feature

[2020-11-04 09:53] fridex opened #610 "Design and develop a mechanism that prevents from schema version issues"
**Is your feature request related to a problem? Please describe.**

See issue described in https://github.com/thoth-station/storages/issues/2072

We should make sure all the components that are rolled out in a release use the same database schema. As of now, we have metrics but they do not capture components such as adviser which is a one time task.

**Describe the solution you'd like**

Let's des

[2020-11-04 14:07] pacospace opened #614 "KafkaException: KafkaError{code=_SSL,val=-181,str="Failed to query logical offset END: Local: SSL error"}"
[code]

**Additional context**
Add any other context about the problem here.

[2020-11-04 18:40] harshad16 commented on #614
The issue occurred due to Kafka broker failure.
One of the Kafka brokers was in a terminating state and was stuck at that state. We have seen this happening in other application pods, this happens if suddenly the cluster node on which the pod was running is terminated. It causes the pods to attach to that node to be stuck.
As Kafka broker is a stateful set, it doesn't spin up any new pods until th

[2020-11-05 19:40] fridex opened #618 "Aggregate API provided by Python packages"
**Is your feature request related to a problem? Please describe.**

Based on https://github.com/thoth-station/adviser/issues/1545 we might want to gather API provided by Python packages we analyze. This way we aggregate information about symbols that are provided by packages in the Python ecosystem and we will be able to recommend packages that provide desired symbols users need and use.

**Descri

[2020-11-05 20:05] bissenbay commented on #575
@pacospace @harshad16 I think we did change in test in this PR: https://github.com/thoth-station/thoth-application/pull/593, but I'm not sure whether we tested it, can we test it and if this works, let's move changes to `/base`?

[2020-11-05 21:14] pacospace commented on #575
Let's do it! Thanks @bissenbay!

[2020-11-06 08:19] #568 closed

[2020-11-09 07:26] #575 closed

[2020-11-09 18:40] goern commented on #618
/kind feature
/priority important-longterm

[2020-11-10 08:14] fridex opened #629 "Consider moving dependency monkey to another namespace"
**Is your feature request related to a problem? Please describe.**

As we run background data aggregation in middletier namespace, Dependency Monkey jobs are queued and take some time to execute.

**Describe the solution you'd like**

It might be a good idea to place Dependency Monkey to another namespace so that we can run it and aggregate the data without worrying about too occupied middletier n

[2020-11-10 08:30] harshad16 commented on #629
we can run them in infra namespace.
any thought on other namespaces?

[2020-11-10 08:32] fridex commented on #629
What about directly amun-inspection namespace? It might not be that nice as there will be created new dependency to create rolebindings for accessing it from management-api but semantically it might be the right place.

[2020-11-10 08:48] harshad16 commented on #629
Thats a good point, so we can have dependency monkey in amun-inspection for our deployments.
we can check on the role bindings and run it in the stage environment.
if that feels too confusing then we can get it into infra namespace, as it contains only metrics-exporter and investigator

[2020-11-10 09:06] fridex commented on #629
The infra namespace was designed for infrastructure components, I would not put it in there (also, it will require argo workflows being present and such).

[2020-11-10 12:37] fridex opened #632 "Monitor pytorch releases automatically"
**Is your feature request related to a problem? Please describe.**

We would like to automatically monitor releases done by pytorch team.

Pytorch, as of now, does not provide PEP-503 complaint Python package index - see the report at https://github.com/pytorch/pytorch/issues/47670 This has drawbacks as we cannot fit this index structure easily into our current implementation.

**Describe the solu

[2020-11-10 12:42] harshad16 commented on #632
@fridex is this what we are looking for in term of pytorch?
Release on pypi: https://pypi.org/project/torch/
simple repository API : https://pypi.org/simple/torch/

[2020-11-10 12:45] fridex commented on #632
It looks like they provide different builds (e.g. CUDA) at https://download.pytorch.org/whl/torch_stable.html. See the "Start locally" selection at https://pytorch.org/get-started/locally/

[2020-11-10 12:51] harshad16 commented on #632
oh, I see, thanks for pointing to this.

[2020-11-11 10:37] pacospace commented on #561
Qeb-Hwt can be successfully scheduled from user-api after all changes. If you see still errors please reopen it.

[2020-11-11 10:37] #561 closed

[2020-11-13 16:24] HumairAK commented on #527
So this is a more of an argument for convenience. The idea of just clicking "approve" and having the bot decide when there's enough approvers to merge lifts the burden off the reviewer/approver, and shifts it to the bot. What we would like basically is this:

Alex submits a PR:
- Anish looks at it as a reviewer, clicks approve -- doesn't worry about whether merging criteria has met (this is the bo

[2020-11-16 07:05] fridex opened #650 "Perform dynamic source code analysis to give more security related guidenance"
**Is your feature request related to a problem? Please describe.**

I, as a Thoth user, would like to consume recommendations that are derived out of dynamic source code analysis. As of now, we provide results of static source code analysis in SI workflow (derived out of tools such as bandit and cloc). Besides these static analyzers, I would like to know aspects of my application with respect to c

[2020-11-16 08:20] pacospace commented on #429
Hey @fridex we receive weekly report with the quality of workflows and workflow tasks:
[code]

We have also a dashboard related to Argo workflows:
https://grafana.datahub.redhat.com/dashboard/db/thoth-kafka-consumers-and-argo-workflows?refresh=30s&panelId=6&fullscreen&orgId=1

We currently not have any cronworkflows active.

[2020-11-16 08:27] fridex commented on #429
:+1:

I think we should start moving away from raw crons and start using cronworkflows. The benefit is extensibility (it's not just one job running but the whole workflow) and we should start monitoring on cronworkflow level so that we know cronworkflows happen - we do not miss any periodic task.

[2020-11-16 08:53] pacospace opened #654 "Migrate cronjobs to Argo CronWorkflows"
**Is your feature request related to a problem? Please describe.**

- [ ] deploy workflow-controller to namespaces hosting cronworkflows

Migrate cronjob in Thoth to CronWorkflow:

- [ ] increase quota on thoth-infra
- [ ] move all the -job to thoth-infra namespace
- [ ] deploy Argo's workflow-controller to thoth-infra
- [ ] graph-update-job
- [ ] graph-refresh-job
- [ ] package-release-job
- [ ]

[2020-11-16 08:53] pacospace commented on #429
Created: https://github.com/thoth-station/thoth-application/issues/654

[2020-11-16 08:54] fridex commented on #429
Cool, thanks :+1:

[2020-11-16 20:37] fridex opened #656 "Integrate buildlog-parser to the application"
**Is your feature request related to a problem? Please describe.**

We have an implementation of buildlog-parser that parses logs of an application build and reports back information about "build breakers" (packages that caused build failures). Sadly, this analyzer is not running when buildlogs are submitted to the service. We should integrate it and make sure the produced JSON files by buildlog-p

[2020-11-17 09:35] harshad16 commented on #504
Following pull-request and commits, enabled the deployment of ocp4 stage.
https://github.com/AICoE/aicoe-cd/pull/178
https://github.com/AICoE/aicoe-cd/pull/183
https://github.com/thoth-station/thoth-application/commit/dc20e4dc864ed478796ca302f21eb8b2363b5e3b

[2020-11-17 09:38] harshad16 commented on #203
This issue was fixed a while back,
by our own deployment of push-gateway as we didn't get any updates about odh push-gateway on moc.

[2020-11-17 09:40] harshad16 commented on #203
http://pushgateway-thoth-infra-prod.k-apps.osh.massopen.cloud/#
http://prometheus-thoth-infra-prod.k-apps.osh.massopen.cloud/graph

following are the prometheus instance running for us.

[2020-11-17 09:40] #203 closed

[2020-11-17 18:38] anishasthana commented on #527
@goern bump

[2020-11-18 15:15] pacospace opened #658 "OOM killed pod on download package in security indicator workflow"
**Describe the bug**
OOM killed pod on download package in security indicator workflow

**To Reproduce**
Steps to reproduce the behavior:
1. Reschedule same package for SI worklfow

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2020-11-18 15:15] pacospace opened #659 "FileNotFoundError: No source distribution found for cloc task only in SI workflow"
**Describe the bug**
FileNotFoundError: No source distribution found for cloc task only. Why bandit did not fail and cloc yes?

**To Reproduce**
Steps to reproduce the behavior:
1. Reschedule same package for SI worklfow

**Expected behavior**
This error should be handled on the first task.

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2020-11-18 15:15] pacospace opened #660 "Security workflow does not sends message when erro FileNotFoundError: No source distribution found is raised"
**Describe the bug**
Security workflow in some cases does not sends a message when error `FileNotFoundError: No source distribution found` is raised

**To Reproduce**
Steps to reproduce the behavior:
1. Reschedule same package for SI worklfow

**Expected behavior**
Message is sent to that investigator can mark that package missing distro and do not schedule that again

**Screenshots**
[code]

**Ad

[2020-11-18 15:15] pacospace opened #661 "si cloc task in SI workflow fails handling errors and prevent from sending message to avoid rescheduling Si workflow"
**Describe the bug**
si cloc task in SI workflow fails handling errors and prevent from sending message to avoid rescheduling Si workflow

**To Reproduce**
Steps to reproduce the behavior:
1. Reschedule same package for SI worklfow

**Expected behavior**
Message should be sent to investigator and synced and no same workflow should be rescheduled.

**Screenshots**
[code]

**Additional context**
Add

[2020-11-18 15:15] pacospace opened #662 "errors should be collected so that same Si workflow should not be scheduled"
**Describe the bug**
errors should be collected so that same Si workflow should not be scheduled

**To Reproduce**
Steps to reproduce the behavior:
1. Reschedule same package for SI workflow

**Expected behavior**
Failure in any of the task in SI workflow, still allow for sending message so that workflow is not rescheduled.

**Screenshots**
[code]

**Additional context**
Add any other context abou

[2020-11-18 15:25] pacospace opened #663 "SI workflow failing because `NameError: name 'unicode' is not defined`"
**Describe the bug**
SI workflow failing because `NameError: name 'unicode' is not defined`

**To Reproduce**
Steps to reproduce the behavior:
1. Reschedule similar package for SI workflow

**Expected behavior**
Learn from errors

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2020-11-23 08:27] #13 closed

[2020-11-23 09:56] goern commented on #659
@pacospace what is the status of this?

[2020-11-23 09:57] goern commented on #660
/kind bug

[2020-11-23 09:57] goern commented on #660
/assign @KPostOffice

[2020-11-23 09:57] goern commented on #661
/kind bug
/assign @KPostOffice

[2020-11-23 09:57] goern commented on #662
/kind bug

[2020-11-23 09:57] goern commented on #662
/assign @KPostOffice

[2020-11-23 10:14] goern commented on #632
@harshad16 do you take care of this issue?

[2020-11-23 10:35] fridex commented on #632
I'm not sure if there is anything to be done on our side. It looks like pytorch community is already aware of the missing simple API repository - see https://github.com/pytorch/pytorch/issues/25639 Once they provide it, we should just register it in the Thoth's knowledge base and start analyzing/ingesting the data.

[2020-11-23 10:46] goern commented on #632
so we need to adjust init-job to add the index?

[2020-11-23 10:48] fridex commented on #632
Yes, once the pytorch index that conforms to PEP-503 will be available. For our existing deployments, we will need to just register the PEP-503 index via management API.

[2020-11-23 11:15] pacospace commented on #659
@KPostOffice

[2020-11-23 19:12] KPostOffice commented on #662
Errors in `si-cloc` and `si-bandit` should be handled by `graph-sync` now.

[2020-11-23 19:12] KPostOffice commented on #661
This should be fixed with new release

[2020-11-23 19:17] KPostOffice commented on #660
I don't know why `si-cloc` is failing to find source distribution after `download-package` succeeds, but it should be fixed by [this](https://github.com/thoth-station/thoth-application/pull/666) pull request

[2020-11-24 15:07] bissenbay commented on #545
@fridex Do we need to change from `python_version: "3.6"` to `python_version: "3.8"` in all `.thoth.yaml` files for all repos?
[code]

[2020-11-24 17:08] fridex commented on #545
Yes :+1:

[2020-11-24 17:30] fridex commented on #545
We will probably also need to change the base image (use [s2i-thoht-ubi-8-py38](https://quay.io/repository/thoth-station/s2i-thoth-ubi8-py38)) to build the components. CC @harshad16

[2020-11-24 17:32] harshad16 commented on #545
yes , we have to update the base image to build the components.
https://github.com/thoth-station/amun-api/pull/590#issuecomment-732707776

[2020-11-24 17:40] bissenbay commented on #545
thanks

[2020-11-24 17:40] bissenbay commented on #545
thanks

[2020-11-25 14:14] goern opened #675 "Integrate with Op1st Loki"
**Is your feature request related to a problem? Please describe.**
As a Thoth Ops,
I want to aggregate all the logs from all the pods,
so that I can browse and search them via a web UI.

**Describe the solution you'd like**
Let's send all the logs to Operate-First Loki instance on MOC

**Describe alternatives you've considered**
n/a

/kind feature
/assign @harshad16
/assign @4n4nd
/priority import

[2020-11-25 14:14] sesheta commented on #675
@goern: GitHub didn't allow me to assign the following users: 4n4nd.

Note that only [thoth-station members](https://github.com/orgs/thoth-station/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/contri

[2020-11-27 09:49] goern commented on #663
/assign @KPostOffice
/priority important-soon

[2020-11-27 09:49] goern commented on #659
/kind bug
/assign @KPostOffice

[2020-11-27 09:50] goern commented on #658
/kind bug
/assign @KPostOffice

[2020-11-27 11:25] goern commented on #409
@durandom is this something Operate First can help with?

[2020-11-28 16:44] #602 closed

[2020-11-30 09:58] fridex opened #682 "Automatically aggregate TensorFlow symbols on new TensorFlow minor release"
**Is your feature request related to a problem? Please describe.**

We recommend TensorFlow based on API symbols used from the library (match user's symbols used with the ones provided by TensorFlow). To support this idea long-term and reduce time spent on maintaining the symbols database, we could create an automatic symbols database update procedure. This procedure can be triggered automatically

[2020-11-30 11:53] fridex commented on #545
There is also a need to bump python version (aicoe config, thoth config and pipfile) in repositories which hold libraries (common, python, ...) so that we test using Python 3.8.

[2020-11-30 16:21] bissenbay commented on #545
@fridex could you please add the list of repos that needs to be worked as well please?

[2020-11-30 16:54] fridex commented on #545
I tried to filer them out based on GitHub API call. Not sure if they are all and if they all have managed Python dependencies (and are not repeated with the listing above):

 - [ ] thoth
 - [ ] storages
 - [ ] graph-sync-job
 - [ ] dependency-monkey
 - [ ] common
 - [ ] analyzer
 - [ ] lab
 - [ ] notebooks
 - [ ] adviser
 - [ ] nepthys
 - [ ] amun-client
 - [ ] amun-hwinfo
 - [ ] python
 - [ ] bui

[2020-11-30 17:03] fridex commented on #545
... and some others that were originally paginated away:

 - [ ] package-update-job
 - [ ] s2i
 - [ ] micropipenv
 - [ ] source-management
 - [ ] fext
 - [ ] revsolver
 - [ ] buildlog-parser
 - [ ] glyph
 - [ ] sync-job
 - [ ] image-pusher
 - [ ] dependency-monkey-zoo
 - [ ] termial-random

[2020-11-30 22:18] bissenbay commented on #545
@fridex https://github.com/thoth-station/dependency-monkey-zoo does not contain any `.aicoe-ci.yaml`, '.thoth.yaml`, 'Pipfile', 'Pipfile.lock', so should we skip it?

[2020-11-30 22:20] fridex commented on #545
Yes, that repo can be skipped :+1:

[2020-11-30 22:24] bissenbay commented on #545
thanks

[2020-12-01 20:02] fridex opened #690 "User API not responding on thamos advise"
**Describe the bug**

I see the following error in the user-api log:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to schedule an advise using `thamos advise`
2. See the internal error reported by User API
3. See the error log on user api

**Expected behavior**

API should accept the advice request.

[2020-12-01 21:11] fridex commented on #690
I no longer see this error. Maybe ceph was unreachable at that time.

[2020-12-01 21:11] #690 closed

[2020-12-02 18:37] goern opened #694 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2020-12-02 18:38] #694 closed

[2020-12-03 15:43] durandom commented on #409
@HumairAK is looking into this for the op1st deployments. Do we have an issue we can cross link here?

[2020-12-03 18:37] HumairAK commented on #409
Yes @tumido is looking into it, follow along [here](https://github.com/operate-first/odh/issues/39)

[2020-12-03 23:57] bissenbay commented on #545
@fridex https://github.com/thoth-station/thoth and https://github.com/thoth-station/notebooks don't have `Pipfile`, `.thoth.yaml` files, so will be skipped.

[2020-12-04 08:25] harshad16 opened #701 "workflow are overflooding and are not syncing correctly."
**Describe the bug**
Typing extensions is causing the failure of the graph-sync component which inturn are falling the solving workflows.

**Expected behavior**
workflow completes with successful status and dont overflood the cluster.

**Additional context**
Add any other context about the problem here.

[2020-12-04 08:28] #701 closed

[2020-12-08 08:20] harshad16 opened #709 "Setup thoth-station Production cluster in operate-first cluster"
**Short Summary**
Thoth-station production cluster currently is live on the moc kaizen cluster, which is deployed via overlay/prod of all the components. we would like to explore the option of having a production cluster on operate-first cnv moc cluster and extend our services to the public through this production cluster.
Apart from having different compute node resources, the clusters also diffe

[2020-12-08 08:31] harshad16 commented on #709
The initial work had started, we have opened few issues with operate-first to gather information regarding kafka, prometheus, grafana and ceph.
Issues for reference:
- https://github.com/operate-first/odh-moc-support/issues/16
- https://github.com/operate-first/odh-moc-support/issues/18
- https://github.com/operate-first/odh-moc-support/issues/19
- https://github.com/operate-first/odh-moc-support/

[2020-12-08 17:49] tumido commented on #409
I have 2 options available, POC will be ready soon. I'm working on this. It'd be nice if we can kinda unify a bit all our Argo deployments... let's make this the first colab effort in that direction. :slightly_smiling_face:

[2020-12-09 12:35] harshad16 commented on #527
Based on the above comments, I understand the requirement here.
So as @goern  already stated we are trying to follow the Kubernetes concept of maintaining a `OWNERS` file for defining list of owners and reviewers.
we could configure adding `lgtm` label based on reviewer review and have it as an additional check for merging. with this the merge would depend upon one `lgtm` and one `approved`. Howev

[2020-12-09 13:06] anishasthana commented on #527
Yep I saw this just the other day! in that case, should we disable merging with sesheta?

[2020-12-09 13:46] harshad16 commented on #527
no, i don't think we should disable bot as, GitHub branch rules would just enforce rules , it would just work as a gatekeeper but won't merge it till i know.

[2020-12-09 21:20] harshad16 commented on #527
tide merge is by-passing GitHub branch rules https://github.com/AICoE/aicoe-cd/pull/198#issuecomment-742058388.

[2020-12-15 09:20] pacospace opened #718 "Thoth is not learning"
![Screenshot from 2020-12-15 10-20-33](https://user-images.githubusercontent.com/27498679/102195696-37285d80-3ebf-11eb-9590-bea381a4b66c.png)

[2020-12-15 10:42] goern commented on #718
@pacospace will you work on this? did you figure out a root cause?

/label sig/devops
/label sig/knowledge-graph
/king bug
/priority critical-urgent

[2020-12-15 11:12] goern commented on #718
/label sig/devops
/label sig/knowledge-graph
/king bug
/priority critical-urgent

[2020-12-15 11:13] goern commented on #718
/kind bug

[2020-12-15 13:30] pacospace commented on #718
I'm still trying to identify the root cause. I miss the endpoints for Kafka and kafdrop to check what is the status there. I don't see issues in ocp4.

[2020-12-15 13:37] pacospace commented on #718
I might be the incident happening in PSI still not solved.

[2020-12-15 16:59] harshad16 commented on #718
I couldnt get to message earlier about this, anyhow the nodes on the ocp cluster are tainted, we cant use the cluster as of now.
the psi team had instructed earlier when similar issue occurred , to migrate on ocp4 clusters.

[2020-12-16 17:24] harshad16 commented on #718
ocp cluster is facing the dns network issue which we also faced in the ocp 4.5 cluster.
due to this, pods are having issue scheduling.

[2021-01-04 17:28] harshad16 commented on #718
This was fixed with help of the infra team, some details are defined in the following tickets
https://redhat.service-now.com/surl.do?n=RITM0808948
https://redhat.service-now.com/surl.do?n=RITM0801568

All these happened during the RedHat break, the work was done effectively in getting back the system to normal.
The system ran with small hiccups during the last few weeks of the year, however, the s

[2021-01-04 17:28] #718 closed

[2021-01-04 17:31] harshad16 commented on #504
All the systems are successfully running in the ocp4.5 cluster.

[2021-01-04 17:31] #504 closed

[2021-01-05 09:22] fridex opened #724 "khemenu is down"
**Describe the bug**

khemenu seems to be down.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://khemenu.thoth-station.ninja/
2. See "Application is not available" router error

**Expected behavior**

khemenu should be up.

[2021-01-05 13:51] harshad16 commented on #724
The stage links seem to be working: https://stage.thoth-station.ninja/api/v1/ui/
I think we configure the https://khemenu.thoth-station.ninja/ to serve production service hosted on the CNV cluster.
which is currently have an issue for the past few weeks, the infra team has sent us a notification about it.

@goern  can you verify this on route53, and switch the link to the stage.

[2021-01-05 21:21] KPostOffice commented on #663
This is due to this version of `zest.releaser` only being compatible with versions 2.X of Python but it is not stated in the PyPI Warehouse

[2021-01-05 21:40] KPostOffice commented on #659
Fixed by https://github.com/thoth-station/thoth-application/pull/666

[2021-01-05 21:40] #659 closed

[2021-01-05 21:45] KPostOffice commented on #660
Other than that this seems to work as intended. `download package` succeeds, a message should only be sent if this step fails.

[2021-01-06 11:26] goern commented on #660
@KPostOffice @pacospace how do we conclude this issue?

[2021-01-06 11:27] goern commented on #663
Do we need to do something to close this issue?

[2021-01-06 11:30] goern commented on #724
NACK, stage is still on an RH-internal OpenShift Cluster

[2021-01-06 19:49] harshad16 commented on #724
Thanks, @goern for pointing me in the right direction.
There was some issues with the route. Fixed it with https://github.com/thoth-station/thoth-application/commit/a1a79694804460151b4d1db45c526e3952d8cea4
https://khemenu.thoth-station.ninja/api/v1/ui/ is fixed.
closing the issue.

[2021-01-06 19:49] #724 closed

[2021-01-07 09:27] fridex opened #725 "Provide admin password for PostgreSQL database"
**Is your feature request related to a problem? Please describe.**

As shown in the example in [1], we need to have the admin password for PostgreSQL databases. Currently, we do not setup the admin password. This could be accomplished by providing `POSTGRESQL_ADMIN_PASSWORD` environment variable to the postgresql container image as described in [2]

**Describe the solution you'd like**

Add enviro

[2021-01-07 09:32] fridex opened #726 "Build postgresql contianer image with pg_stat_statements extension enabled"
**Is your feature request related to a problem? Please describe.**

To enable `pg_stat_statements` extension, we need to provide additional configuration to postgres as shown in [1] example.

**Describe the solution you'd like**

 To accomplish this, we need to build a posgresql container image as described in [1] and use this container image to deploy postgres. The prerequisite for this to work i

[2021-01-07 14:07] harshad16 commented on #725
Thanks, @fridex for the detailed description.
will enable this feature on the test cluster.

[2021-01-08 09:59] pacospace commented on #660
I believe it can be closed from @KPostOffice comments

[2021-01-08 18:32] harshad16 commented on #527
The solution describes to use the GitHub branch protection works for this case.
please to this comment. https://github.com/operate-first/apps/issues/81#issuecomment-756853147

[2021-01-11 16:10] anishasthana commented on #527
Ah that makes sense. I have fixed the settings now. Should we close this issue for now? We can always re-open if we notice problems

[2021-01-11 16:54] #527 closed

[2021-01-13 19:23] harshad16 commented on #725
The feature is enabled in Test Cluster,
what all components need access to the admin password? based on that we would update the password accessibility to the components.
@KPostOffice

[2021-01-13 19:29] harshad16 opened #738 "Thoth Grafana dashboard json publicly accessible for auto-deployment via ArgoCD"
**Is your feature request related to a problem? Please describe.**
We keep our Grafana dashboard JSON in the thoth-ops repo which is private due to the other components it contains.
If we can move the Grafana dashboard JSON to some public repo, then it can be directly used for populating the dashboard on Grafana via ArgoCD.

Question: where should we move them too?

**Describe the solution you'd l

[2021-01-13 19:30] harshad16 commented on #738
@pacospace @goern

/label sig-devops kind/question

[2021-01-14 08:15] pacospace commented on #738
hey @harshad16 thanks for the question!

I totally agree on that, moreover, there is nothing confidential in the data of the dashboard, therefore, we can definitely move them to thoth-application to have everything thoth related there :)

let's just keep in mind that the json dashboard is generalized to all environments, in this way we do not need to maintain many json files, but we just provide a

[2021-01-14 14:41] harshad16 commented on #738
Thanks for your views @pacospace
I will move the Grafana json to the thoth-application repo.

I think they would differ as the name of the data source can change, it is most important for them to populate.

[2021-01-14 15:29] pacospace commented on #538
I think we can consider this solved, @KPostOffice WDYT?

[2021-01-14 16:51] pacospace opened #741 "User system:serviceaccount:thoth-test-core:management-api cannot create resource jobs in API group batch in the namespace thoth-test-core"
**Describe the bug**
User system:serviceaccount:thoth-test-core:management-api cannot create resource jobs in API group batch in the namespace thoth-test-core

**To Reproduce**
Steps to reproduce the behavior:
1. Use `/graph/initialize` in management-API in test envioronment

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
[code]

**Additional

[2021-01-14 17:34] pacospace commented on #741
I will convert graph-update-schema to argo workflow, so we don't have this problem:

- [ ] create workflow method in common
- [ ] add it to management API
- [ ] add templates to thoth-application

[2021-01-14 18:33] harshad16 opened #745 "Failure in Postgresql Database migration to Test cluster"
**Describe the bug**

While attempting to migrate PostgreSQL database to the Test cluster, it fails due to insufficient space of storage.
As the current database requires at least 34GB of space.

**To Reproduce**
Steps to reproduce the behavior:
1. Exceute db_restore script from thoth-ops
2. See error

**Expected behavior**
Have a sync database with stage.

[2021-01-14 19:18] harshad16 opened #747 "merge pending by thoth-prow even after passing all checks"
**Describe the bug**
thoth prow is something pending in merging of the pull requests , even though all checks are passed.
![unmerged](https://user-images.githubusercontent.com/14028058/104637821-4bed4200-5673-11eb-9704-2dbb19a629f3.png)
https://github.com/AICoE/aicoe-cd/pull/212

**To Reproduce**
Steps to reproduce the behavior:
1. Cant be re-produced explicitly

**Expected behavior**
merge as soo

[2021-01-18 07:04] #741 closed

[2021-01-18 08:39] #738 closed

[2021-01-18 14:46] goern commented on #508
@harshad16 is this something we still need/want?

[2021-01-18 20:03] harshad16 commented on #725
Based on the discussion with @KPostOffice

Following actions would be considered

1) CREATE EXTENSION amcheck
2) QUERY USING amcheck

Step (1) one would be done on the cluster setup or db setup.
Metrics Exporter would be used for step (2), with a metric that we can use to alert when DB corruption is detected.

Next Step:

Test the amcheck in the test environment with metrics-exporter.
If successfu

[2021-01-19 16:12] goern opened #759 "renew tls certificate"
Your certificate (or certificates) for the names listed below will expire in 19 days (on 08 Feb 21 09:48 +0000). Please make sure to renew your certificate before then, or visitors to your website will encounter errors.

`tensorflow.pypi.thoth-station.ninja`

/label sig/devops
/priority important-soon
/assign @harshad16
/label sig/documentation

[2021-01-19 18:44] KPostOffice commented on #663
Inability to download should be marked in DB. Is this sufficient?

[2021-01-19 19:32] fridex opened #762 "user-api cannot get pods from a container"
**Describe the bug**

Run adviser which fails
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run an advise in thoth-test-core environment
2. Let adviser fail (e.g. no possible resolution for the given stack)
3. See user-api responds with internal server error when asking for adviser logs
4. Check user-api logs and see the backtrace reported

**Expected behavior**

User API should pro

[2021-01-19 19:44] harshad16 commented on #759
The certs are updated and applied.
https://tensorflow.pypi.thoth-station.ninja/
closing the issue.

[2021-01-19 19:44] #759 closed

[2021-01-20 06:39] #762 closed

[2021-01-20 13:02] goern commented on #675
seeAlso https://github.com/thoth-station/common/issues/1089

[2021-01-20 13:03] goern commented on #747
/kind bug

[2021-01-20 20:31] #662 closed

[2021-01-21 08:25] fridex opened #773 "Adjust build-watcher deployment to reflect recent changes"
**Is your feature request related to a problem? Please describe.**

As build-watcher evolved over time, the deployment in this repository went out of sync. Let's update it.

**Describe the solution you'd like**

See https://github.com/thoth-station/build-watcher/issues/205

- [ ] do not sync data to postgres out of package-extract runs as they are used purely for experiments (we can decide when th

[2021-01-21 08:27] fridex commented on #629
/label priority/important-soon

Bumping priority of this. As solvers run in deployment which occupy resources, it's basically impossible to reasonably run dependency monkey.

[2021-01-21 08:27] sesheta commented on #629
@fridex: The label(s) `/label priority/important-soon

` cannot be applied. These labels are supported: `tide/merge-method-merge, tide/merge-method-rebase, tide/merge-method-squash, deployment_name/ocp-test, deployment_name/ocp-stage, deployment_name/moc, thoth/group-programming, thoth/potential-observation, sig/documentation, sig/cyborgs, sig/investigator, sig/indicators, sig/knowledge-graph, sig

[2021-01-21 08:36] fridex commented on #773
/assign @fridex

[2021-01-21 08:45] fridex commented on #656
This is done. Closing.

[2021-01-21 08:45] #656 closed

[2021-01-21 08:48] fridex commented on #610
This continued in https://github.com/thoth-station/metrics-exporter/issues/529 Closing.

[2021-01-21 08:48] #610 closed

[2021-01-21 08:50] fridex commented on #618
I'm not sure if results would be relevant and usable given the variety of Python code, dynamic programing code nature. We can convert this to a spike if we want to check this.

[2021-01-21 08:53] fridex commented on #605
I don't see this message anymore, the environment variable is propagated.

[2021-01-21 08:53] #605 closed

[2021-01-21 09:04] fridex commented on #545
Thanks, @bissenbay for making this happen. Closing as all the parts are done. The remaining part, checking adviser's performance on different python interpreter version can be handled in a different issue.

Thanks! :+1:

[2021-01-21 09:16] fridex commented on #421
This is no longer relevant based on the issue referenced above. Feel free to reopen if this is still relevant.

Thanks!

CC @KPostOffice @pacospace

[2021-01-21 09:16] #421 closed

[2021-01-21 09:17] fridex commented on #416
As this was caused by networking hiccups in the cluster which are not relevant anymore, closing this. Thanks! :+1:

[2021-01-21 09:20] #508 closed

[2021-01-21 09:22] fridex commented on #330
Handled in https://github.com/thoth-station/kebechet/issues/570

[2021-01-21 09:22] #330 closed

[2021-01-21 09:26] fridex commented on #392
This looks like an issue related to the networking hiccups we observed in the cluster. Feel free to reopen if the issue persists.

[2021-01-21 09:26] #392 closed

[2021-01-21 09:35] fridex opened #774 "Load tests for user-api"
**Is your feature request related to a problem? Please describe.**

See discussion in https://github.com/thoth-station/thoth-application/pull/376. We could create load tests for different endpoints to see how our user-api behaves.

**Describe the solution you'd like**

See for example (I haven't read it): https://developers.redhat.com/blog/2015/04/30/how-to-load-test-and-tune-performance-on-your-a

[2021-01-21 09:56] fridex commented on #774
We should also include testing on the maximum payload size that can go through the system (accepted on user API, propagated to kafka and accepted by OpenShift when scheduling new pods). Relevant: https://github.com/thoth-station/user-api/issues/850

[2021-01-21 11:46] xtuchyna opened #775 "mi-scheduler CronJob not present in thoth-infra-stage"
I expect to have `mi-scheduler` cronjob present in `thoth-infra-stage` on ocp cluster, but nothing is present.
https://github.com/thoth-station/thoth-application/blob/993cb9fa379402f50f05f08bd8a9b0b1bfa4cd02/mi-scheduler/overlays/stage/job-generate-name.yaml#L6

**Logs**
[code]

[2021-01-21 12:01] xtuchyna commented on #775
Issue solved, it is on ocp4 :)

[2021-01-21 12:01] #775 closed

[2021-01-21 16:14] harshad16 opened #779 "image sync for argocli deployment is constantly failing."
**Describe the bug**
The argocli deployment in amun-inspection across prod and ocp4-stage environments is sending out out-of-sync events on argocd.
Due to which the app in argocd is constantly consuming resource and blocking other apps.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://argocd-server-aicoe-argocd.apps.ocp4.prod.psi.redhat.com/applications/ocp4-stage-thoth-amun-in

[2021-01-22 15:13] #773 closed

[2021-01-26 05:55] harshad16 opened #792 "[Question] approves for individual components ?"
Shall we put all the individuals that we required to approve deployment of a certain component into an OWNERS file per component? This way Prow would only ask these people for review, and we would cleary see who has no objections to deploy to stage.

We could have each PR to a stage directory start with /hold, and the last of the reviewers is required to /unhold it. This would be a "required but n

[2021-01-26 13:45] todo[bot] opened #795 "Remove env variable once graph-refresh >=v0.3.1 is used in all environments"
https://github.com/thoth-station/thoth-application/blob/9d10f9356536feb174686adfd14fdda9e6050830/graph-refresh/base/cronjob.yaml#L49-L52

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9d10f9356536feb174686adfd14fdda9e6050830 when #782 was merged. cc @pacospace.

[2021-01-26 13:45] todo[bot] opened #796 "Remove env variable once graph-refresh >=v0.3.1 is used in all environments"
https://github.com/thoth-station/thoth-application/blob/d9888793523cff862b2b70cdeef3d60ed459f3c9/graph-refresh/base/cronjob.yaml#L49-L52

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in d9888793523cff862b2b70cdeef3d60ed459f3c9. It&#x27;s been assigned to @pacospace because they committed the code.

[2021-01-26 13:47] pacospace commented on #796
duplicate

[2021-01-26 13:47] #796 closed

[2021-01-26 14:07] tumido opened #797 "PSI OCP4 outage root cause points to `thoth-middletier-stage`"
**Describe the bug**
I've dug around the PSI OCP4 outage. And I've stumbled upon [the case file to RH support](https://access.redhat.com/support/cases/#/case/02851698). It suggests the `thoth-middletier-stage` may have greatly contributed to the outage due to Argo resources used. See these 2 comments:
- https://access.redhat.com/support/cases/#/case/02851698/discussion?commentId=a0a2K00000Z3i6aQAB

[2021-01-26 14:13] harshad16 commented on #797
Thanks for letting us know.
we would work on this, we have clearly failed to notice this. :disappointed:

[2021-01-26 14:15] tumido commented on #797
I mean.. you shouldn't be able to even break it even if you try. You've just accidentally exposed a weak spot of the system :slightly_smiling_face:

[2021-01-26 14:20] harshad16 commented on #797
unfortunately, our Prometheus instance also didnt help with this :(

[2021-01-26 14:24] pacospace commented on #797
we do not maintain that instance of Prometheus... and Thanos is not working for days now.

Maybe we should enforce scheduling limit by investigator https://github.com/thoth-station/investigator/blob/392d7abcb7efde368a385edcba820100d76437b7/thoth/investigator/configuration.py#L48 if the cluster does not has limits. (time to rewatch https://www.youtube.com/watch?v=9wvEwPLcLcA)

[2021-01-26 14:32] goern commented on #797
nice work all! If you have a look at the number of people involved in debugging the case, I'm a little bit scared... how would we have performed in the operate-first environment?!

@pacospace having some kind of throttling in investigator might be a good idea, but ultimately the platform should protect us from killing itself.

Cc @duanrom

[2021-01-26 14:32] harshad16 commented on #797
yes i agree @pacospace , we can enforce with the schedule limit

[2021-01-26 14:34] goern commented on #797
anyway... its a good argument to have a stage environment on Operate-First, and not bring down production clusters ;)

[2021-01-26 15:30] harshad16 commented on #797
Tasks on the process:
-  Already scaled down our workflow producers
- updated a new version of Argo v2.12.5 which correctly follow ttl (working on verifying it)
- deleting the huge pile of `workflows.argoproj.io` in `thoth-middletier-stage`

[2021-01-26 15:47] harshad16 opened #800 "Migrate bots to operate first"
**Short Summary**
we would like to have bots deployed on the operate-first cluster.

**Workitem List**

- [x] sefkhet-abwy-chatbot (from openshift.com)
- [x] prow
- [x] kebechet
  - [x] allow argo-cd to deploy the bots (https://github.com/operate-first/argocd-apps/pull/52)
  - [x] adjust the bot webhook in the github app
- [x] sefkhet-abwy
  - [x] create an app for sefkhet-abwy in argocd-apps (htt

[2021-01-26 15:55] goern commented on #795
@pacospace this has been solved by https://github.com/thoth-station/thoth-application/pull/782 ?

[2021-01-26 16:06] pacospace commented on #795
No actually it was introduced in that PR: https://github.com/thoth-station/thoth-application/pull/782#discussion_r562449017 see discussion here

[2021-01-26 17:42] harshad16 commented on #779
also happening with : https://github.com/thoth-station/thoth-application/blob/f0f63f03c9efcc032f3aece707af0df8aede9bb4/sefkhet-abwy/overlays/cnv-prod/new-label-normalizer.yaml#L17

[2021-01-26 21:13] harshad16 commented on #797
All the workflows piled in thoth-middletier-stage is clean
[code]

Next step:
- Test out the upgraded argo workflows and verify the ttl is working for argoworkflows
- work with the infra team on the limit limitations.

[2021-01-27 10:28] fridex opened #808 "Implement a procedure to delete old data"
**Is your feature request related to a problem? Please describe.**

To keep the service responsive and available to users, we should implement a mechanism that automatically cleans old data from the database. This way, the database will stay operational, scalable, and ready to ingest more up2date data required. An example can be data produced by solver-fedora-28-py36 solver which are no longer req

[2021-01-28 09:32] xtuchyna opened #810 "Use labels from proposed Sane Label system"
**Reference**
Labels proposal document: https://docs.google.com/document/d/1fQyw3J844T5FFeQQ5IfMisYsKAOL1jBl4jtRkFFPiKU/edit#heading=h.piexvf6roiuh

**Acceptance Criteria**

- [ ] Read the doc and select some of the labels suggested in the document
- [ ] Decide which labels are redundant and merge them (the already used and proposed ones)
- [ ] Decide which labels are not reasonable and comment on

[2021-01-28 15:03] 4n4nd opened #813 "Any public user can use "/unhold" on a PR for sesheta"
**Describe the bug**
When a PR is put on hold, it can be unholded by any public user who is not in the OWNERS file ([example PR](https://github.com/operate-first/apps/pull/172#issuecomment-769128593))

**To Reproduce**
Steps to reproduce the behavior:
1. Create a PR  like [this one](https://github.com/operate-first/apps/pull/172#issuecomment-769128593)

**Expected behavior**
nothing should happen

[2021-01-28 16:38] harshad16 opened #814 "prow isnt adding the label `lgtm`"
**Describe the bug**
prow isnt adding the label `lgtm` based on the lgtm comment
https://github.com/operate-first/apps/pull/173#issuecomment-769205374

[2021-01-28 21:31] goern commented on #813
strange, i'll have a look at it

[2021-01-28 22:10] goern commented on #813
it seems that it works as coded: https://github.com/kubernetes/test-infra/blob/master/prow/plugins/hold/hold.go#L106-L113
see also https://kubernetes.io/docs/contribute/review/for-approvers/#prow-commands-for-reviewing

[2021-01-29 10:35] tumido opened #816 "Failed to update dependencies via bot due to transitive pre-release dependency"
**Describe the bug**
We have a dependency installed via Pipenv. This dependency depends on a package which has only pre-releases. We don't want to specify `allow_prereleases = true` in our `Pipfile` since that would turn pre-release resolution globally for all dependencies and we don't want that.

Notes:
- We have no control over the required transitive dependency version.
- This dependency withou

[2021-01-29 10:47] goern commented on #814
/assign @goern
/sig devops

[2021-01-29 11:08] fridex commented on #816
This is something Pipenv community complains about as well. I understand the use of this and the consequences it brings (some software stacks are not resolvable at all). We can open this discussion in Pipenv community. If they provide a "standard way" how to approach this (e.g. in pipfile, specify acceptable pre-releases for a package, similarly as [specifying the index to be used to install the p

[2021-01-29 11:16] goern commented on #814
after https://github.com/thoth-station/thoth-application/commit/4833e9725efada4f651503ca80bb27a40ce4dba6 and restarting hook, deck, tide pods it seems to work.

@HumairAK pls chk

[2021-01-29 11:17] goern commented on #779
is this still relevant?

[2021-01-29 11:28] tumido commented on #816
There's this upstream issue, suggesting a per-package pre-release spec Pipfile syntax extension
https://github.com/pypa/pipenv/issues/1760

I've faced the same issue already, but in that case it was our direct dependency so the workaround to locking it to an exact pre-release version worked in that case. However in this case, when it's a transitive dependency I'm clueless... Like.. the same workar

[2021-01-29 11:42] fridex commented on #816
Proposed https://github.com/pypa/pipenv/pull/4607 based on that. An extension could be created which would act on trasitive packages considered (but I would not bring that to the referenced PEEP).

The auto-update bot uses Pipenv under the hood (as of now), so we rely on Pipenv logic. Hopefully, we will soon switch to Thoth based updates in which case we can support whatever will be standardized b

[2021-01-29 12:09] goern opened #817 "deploy SLO reporter to op1st"
**Is your feature request related to a problem? Please describe.**
deploy slo reporter to op1st env `cnv-prod`, disable it for stage (or limit recipients to aicoe-thoth)

/sig devops
/sig slo
/assign @pacospace

[2021-01-29 12:23] pacospace commented on #817
It should be deployed: https://github.com/operate-first/argocd-apps/blob/main/overlays/moc/thoth/prod/prod-thoth-slo-reporter.yaml, not sure why it is missing in `thoth-infra-prod`, cc @harshad16

[2021-01-29 12:45] pacospace commented on #817
Found is missing in the kustomize file.

[2021-01-29 12:48] pacospace commented on #817
Opened PR, but the version we want in production is v0.8.2 not before!, should we just change that component for prod? Or do we need a new date release before moving all to production?

[2021-01-29 14:10] pacospace commented on #808
Do we want to run it from `management-api`? maybe with `solver` parameter to be provided?

[2021-01-29 14:22] fridex commented on #808
Yes, a one time async job (similar workflow to graph schema update job) should do the trick.

[2021-01-29 14:47] fridex opened #818 "Unknown packages in the provenance check should trigger analysis of missing packages"
**Is your feature request related to a problem? Please describe.**

If a user uses a package that was not previously analyzed, provenance checks fail with knowledge about packages being not available to users. Thoth does not learn about new packages that are requested in by provenance checks.

**Describe the solution you'd like**

Follow a scenario similar to the one we have in adviser workflow -

[2021-01-29 15:53] HumairAK commented on #814
it adds the label now, can it be set so that the label is added if at minimum 2 people do `/lgtm` ?

[2021-01-29 18:04] todo[bot] opened #820 "Use Thanos endpoint when available and set correct secret"
https://github.com/thoth-station/thoth-application/blob/d639f17d12c583acebb55a6c8e6de6227df5874c/slo-reporter/overlays/cnv-prod/configmap.yaml#L7-L10

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in d639f17d12c583acebb55a6c8e6de6227df5874c when #819 was merged. cc @pacospace.

[2021-01-29 18:04] todo[bot] opened #821 "Use Thanos endpoint when available and set correct secret"
https://github.com/thoth-station/thoth-application/blob/dfbc8c2724918ece9b534e247e226673c3eba637/slo-reporter/overlays/cnv-prod/configmap.yaml#L7-L10

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dfbc8c2724918ece9b534e247e226673c3eba637. It&#x27;s been assigned to @pacospace because they committed the code.

[2021-01-29 18:23] pacospace commented on #821
duplicate

[2021-01-29 18:23] #821 closed

[2021-01-30 09:56] goern commented on #814
no, ultimately its the responsibility of the approver to look out for 2 lgtm. it seems to be a good practice, to look out for PRs to be approved if at least one lgtm label is present: https://github.com/issues?q=is%3Aopen+is%3Apr+archived%3Afalse+user%3Aoperate-first+label%3Algtm

[2021-01-30 09:57] goern commented on #820
/sig devops

[2021-01-30 09:59] goern commented on #818
@KPostOffice @pacospace is this something that one of you could take on?

/priority critical-urgent
/sig knowledge-graph

[2021-01-30 10:01] goern commented on #817
I think with #819 being merged the question is answered?!

[2021-01-30 10:02] goern commented on #816
Shouldnt the advisor-based update manager of kebechet address this issue?

[2021-01-31 13:49] fridex opened #822 "Design Thoth's release procedure"
**Is your feature request related to a problem? Please describe.**

Following our release meeting, we could design a release procedure that will enable us to make sure the right set of components go into a release the right way and we do not forget about any important step or check to make.

**Describe the solution you'd like**

Create a step-by-step procedure with all the checks and things to be

[2021-01-31 13:49] fridex commented on #822
CC @harshad16

[2021-01-31 19:54] pacospace commented on #817
That was one step required to make sure we have correct version and CM.

Second step: https://github.com/operate-first/argocd-apps/pull/59

[2021-01-31 23:08] harshad16 commented on #817
The slo-reporter is successfully deployed in the op1st cluster.
https://argocd-server-argocd.apps.cnv.massopen.cloud/applications/prod-thoth-slo-reporter?conditions=false

Please close the issue, if this feels satisfactory :)

[2021-01-31 23:10] harshad16 commented on #779
yes it is, we are just using a soft fix with the ignore ,need to find for a better solution.

[2021-02-01 07:24] pacospace commented on #817
Thanks @harshad16 , I still cannot see applications in Argo CD!

[2021-02-01 07:35] pacospace commented on #818
I will take care!

[2021-02-01 08:05] fridex commented on #816
Selectively enable pre-releases for just some packages is not something Pipenv can do. It is possible to turn on enabling pre-relesases globally, for all the packages in the software stack, or turn it off completely. If there would be a standardized way how to enable pre-releases just for some packages in Pipfile (e.g. as described in https://github.com/pypa/pipenv/pull/4607), we can provide such

[2021-02-01 08:07] pacospace commented on #818
- [ ] create method to `parse_provenance_checker_output` in workflow helpers and return messages to be sent
- [ ] Extend provenance checker Argo workflow with two new steps: parse output and send messages

OPTIONAL:
- [ ] Adjust provenance checker sync to store unsolved packages?

[2021-02-01 08:09] fridex commented on #816
BTW we could introduce `[thoth]` section to Pipfile, I guess it would work with Pipenv as it ignores unknown entries in the Pipfile. We could introduce some experimental features there (such as this one).

[2021-02-01 08:12] pacospace commented on #817
There is one bug we never encountered in test/stage: https://github.com/thoth-station/slo-reporter/issues/188

[2021-02-01 09:06] pacospace commented on #818
From provenance report the packages that will be triggered for solver workflows run are the ones identified from id: `MISSING-PACKAGE`

example:

[code]

[2021-02-01 09:43] pacospace commented on #818
@fridex  in case of provenance checker we do not consider the runtime environment, so when a missing package is found, all solvers available should be scheduled for that package, ack?

[2021-02-01 10:09] pacospace commented on #818
@fridex wdyt about last optional task?

[2021-02-01 10:42] fridex commented on #818
I think it might be good to have it but does not seem to be required.

[2021-02-01 11:04] fridex opened #825 "Implement a procedure to install new solvers/thoth s2i"
**Is your feature request related to a problem? Please describe.**

Similar to https://github.com/thoth-station/thoth-application/issues/808, we should create a procedure that will guide thoth operators on how to install new solvers and thoth s2i so that a thoth deployment is up2date and no parts are forgotten in the installation procedure.

**Describe the solution you'd like**

Create a step-by-s

[2021-02-01 11:36] goern commented on #825
Shall we have on YAML file that declares which solvers should be in the solvers config map and which need to be present in the database? trying to recall from the last tech talk session, do we need that?!

[2021-02-01 11:36] goern commented on #825
/sig solvers

[2021-02-01 12:04] goern commented on #822
/sig docs
/sig devops

[2021-02-01 12:05] goern commented on #779
can we migrate this issue to op1st/support? looks like an argocd related issue?!

[2021-02-01 12:05] goern commented on #779
/sig devops

[2021-02-01 13:56] fridex commented on #825
I think we should have an alert on solver CM vs solver database misconfiguration. Otherwise, the system will not handle requests as expected in some corner cases - see https://github.com/thoth-station/metrics-exporter/issues/586 https://github.com/thoth-station/storages/pull/2197#issuecomment-769795197

[2021-02-01 14:24] fridex commented on #825
TODO: document "last" package extract result available on User API endpoints.

[2021-02-01 18:12] harshad16 opened #830 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-02-01 18:12] #830 closed

[2021-02-02 09:37] pacospace opened #842 "Public bucket for Hue/Superset in cnv-prod does not exist as in stage environment"
**Describe the bug**
Public bucket for Hue/Superset on MOC is missing. This error is not critical, as SLO reporter in prod is storing in the correct thoth bucket, but have to check on Operate First how to handle Hue/Superset and correct the env variable. Moreover, a way to optionally store only in thoth bucket should be implemented, as the bucket n Operate First should be public already and theref

[2021-02-02 15:39] pacospace commented on #817
Bug has been solved with new release and in prod is running correctly. There is a non critical issue, that it's not priority but I will try to add that as well, so we don't have that issue anymore.

[2021-02-02 15:42] pacospace commented on #817
This might be the next thing to have: https://github.com/thoth-station/slo-reporter/issues/197

[2021-02-02 16:07] #822 closed

[2021-02-02 16:35] #818 closed

[2021-02-02 20:11] fridex opened #848 "Container image analyses fail due to wrong output location"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to test/stage environment
2. Run package-extract
3. Check logs
4. See the error

**Expected behavior**

The container should write results to workdir location, in package-extract id file.

[2021-02-02 20:14] fridex commented on #848
https://github.com/thoth-station/thoth-application/blob/35770a9c3f88d68dec4d6bb70f9d5f1418886dc5/package-extract/base/argo-workflows/package-extract.yaml#L62-L63

Looks like the document id is not correctly propagated:

[code]

[2021-02-02 22:23] #848 closed

[2021-02-04 14:39] pacospace opened #854 "Set alarms for cnv-prod environment"
**alarms for database**
- [x] database connection status
- [x] corruption (amcheck)
- [ ] bloat data for tables to be cleaned
- [ ] number of transactions open too long
- [x] duplicates alembic rows
- [x] components vs database schema check
- [x] different solvers evaluation from configmap and database
- [ ] alarm for resources utilization of database respect to database size and performance (http

[2021-02-04 16:01] goern opened #855 "remove old adviser messages from kafka topic"
**Is your feature request related to a problem? Please describe.**
If we monitor the kafka topic for adviser requests, we could expire/delete messages older than 2 days, as we assume that these messages do not deliver any value to the user anymore. we should have a grafana dashboard showing the deleted messages, as we consider them 'service not delivered to user'.

/kind feature
/sig user-experien

[2021-02-04 16:02] goern commented on #854
pls keep track and link whats happening on op1st wrt this issue. thx.

[2021-02-04 16:35] pacospace opened #856 "Correlate OpenShift metrics with Thoth metrics"
As Thoth Operator and Maintainer,

I want to have a look at metrics that immediately show me issues and set alarms for them. We have Thoth metrics and we can correlate them with OpenShift once to have a complete overview.

List of new metrics to be shown in Grafana

OpenShift Metrics:
- [ ] CPU Usage user-api
- [ ] CPU Usage postgres
- [ ] TBD

Thoth Metrics:
- [ ] TBD

based on these metrics, we

[2021-02-04 16:42] pacospace commented on #856
Follow Hema suggestions from Operate First, on how to expose them in production. Not sure about stage actually

[2021-02-04 17:10] harshad16 commented on #817
The apps is in the place https://console-openshift-console.apps.cnv.massopen.cloud/k8s/ns/thoth-infra-prod/cronjobs/slo-reporter

@pacospace if this feels good enough , can we close this issue?

[2021-02-04 17:30] pacospace commented on #817
Yes we can close it definitely, thanks @harshad16 !

[2021-02-04 17:30] #817 closed

[2021-02-04 19:23] goern commented on #814
can we close this?

[2021-02-04 19:26] goern commented on #814
/project thoth-deployment

[2021-02-04 19:30] goern commented on #814
/project thoth-deployment

[2021-02-04 19:30] sesheta commented on #814
@goern: There is no maintainer team for this repo or org.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/814#issuecomment-773551355):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an

[2021-02-04 19:31] harshad16 commented on #814
yes, i think we can i have seen `lgtm` label being added .
thanks for the fix @goern

[2021-02-04 19:31] #814 closed

[2021-02-04 19:44] goern commented on #814
/project thoth-deployment

[2021-02-04 19:44] sesheta commented on #814
@goern: There is no maintainer team for this repo or org.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/814#issuecomment-773559115):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an

[2021-02-04 19:47] goern commented on #814
/project thoth-deployment

[2021-02-04 19:48] goern commented on #813
/project thoth-deployment

[2021-02-04 19:49] goern commented on #813
/project thoth-deployment new

[2021-02-04 19:52] goern commented on #797
/project thoth-deployment

[2021-02-05 03:55] harshad16 commented on #407
https://github.com/argoproj/argo/blob/master/docs/argo-server.md

[2021-02-05 05:39] harshad16 commented on #545
Based on the above comment. Closing this issue.
Thank you for all the work @bissenbay

[2021-02-05 05:39] #545 closed

[2021-02-05 05:41] harshad16 commented on #614
The persistence was added to the kafka broker component.
Closing this issue

[2021-02-05 05:41] #614 closed

[2021-02-05 07:09] harshad16 opened #861 "Observed prow appearance of old url"
**Describe the bug**
from time to time we see that Tide is putting in the wrong URL... it uses prow.thoth-station.dev but it should use prow.operate-first.cloud, example: https://github.com/thoth-station/investigator/pull/443#issuecomment-772304530 scroll down to the status section and have a look at tide.

try to spot a pattern

[2021-02-05 07:09] harshad16 commented on #861
Persisting it here as an issue.

[2021-02-05 07:29] harshad16 opened #862 "invalid metadata.annotations length fails adviser"
**Describe the bug**
while running `thamos advise` for the s2i-tensorflow-notebook , the advise request run fails.
To debug this failure, i looked into the stage cluster deployment.
The adviser workflow errored out with the following  error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/thoth-station/s2i-tensorflow-notebook'
2. Run `thamos advise`
3. Scroll

[2021-02-05 09:23] #825 closed

[2021-02-05 09:32] fridex commented on #855
Ideally, this should be set to the same value as in case of cache expiration on user-api side:

https://github.com/thoth-station/user-api/blob/37a4d9c78858258b84da1d96e3e5cc4f77066f32/thoth/user_api/configuration.py#L37-L38

User API caches requests and links them to the same analysis id to avoid scheduling the same workload multiple times. The message expiration should be set to the same value as

[2021-02-05 10:44] pacospace opened #863 "slo-reporter prod fails to send emails"
**Describe the bug**
slo-reporter prod fails to send emails

**To Reproduce**
Steps to reproduce the behavior:
1. Run SLO reporter

**Expected behavior**

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2021-02-05 14:14] goern opened #864 "rename this repo^H^H^H^Hproject to `Thoth Services`?"
shall we rename this repo to `thoth services`, it shall container all things related to

* deployment of the services
* operation of the services
* (usage )questions wrt the service

WDYT

[2021-02-05 16:50] goern commented on #813
@4n4nd can this be closed?

[2021-02-05 18:47] #660 closed

[2021-02-06 21:36] goern opened #865 "evaluate prow based pre-commit test"
Evaluate if https://github.com/thoth-station/thoth-application/blob/master/prow/overlays/cnv-prod/config.yaml#L292-L307 could be used as an alternative to https://github.com/AICoE/aicoe-ci/blob/854492e8f17faba206cfd5ea55bc220fb63868a0/pipeline/pull-request-pipeline.yaml#L118-L204

Please have a close look at execution times.

/kind feature
/sig devops

/assign @harshad16

[2021-02-08 00:47] harshad16 commented on #800
The aicoe-ci migration is taking a bit more time than expected, as the pipelinerun execution needs some setup that is done on clusterside.

[2021-02-08 07:59] fridex commented on #864
I'm fine with renaming the repo. :+1:

[2021-02-08 19:38] goern commented on #864
I was actually thinking about the https://github.com/orgs/thoth-station/projects/16 to be renamed

[2021-02-08 19:45] harshad16 commented on #864
sounds good to me, lets change the name of the project.

[2021-02-08 20:07] todo[bot] opened #869 "get deployment name from somewhere"
https://github.com/thoth-station/thoth-application/blob/e600720f166a1c97da7e8522eccbefbc07910937/amun/overlays/test/inspection-with-cpu-workflow.yaml#L169-L174

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e600720f166a1c97da7e8522eccbefbc07910937 when #868 was merged. cc @KPostOffice.

[2021-02-08 20:07] todo[bot] opened #870 "get deployment name from somewhere"
https://github.com/thoth-station/thoth-application/blob/47b1df5ce626aefa3a1fa52892d3a548c4e1597f/amun/overlays/test/inspection-with-cpu-workflow.yaml#L169-L174

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 47b1df5ce626aefa3a1fa52892d3a548c4e1597f. It&#x27;s been assigned to @KPostOffice because they committed the code.

[2021-02-08 20:38] #870 closed

[2021-02-09 10:08] fridex opened #874 "New release tracker"
Do we want to create this type of issue to track new release updates and what needs to be brought to the meeting?

[2021-02-09 10:10] fridex commented on #874
*Thoth's resolver experimental features*

* related: https://github.com/thoth-station/thoth-application/issues/816
* thoth-adviser needs to be bumped to v0.24.1
* user-api needs to be bumped to v0.18.0
* docs: https://thoth-station.ninja/docs/developers/adviser/experimental_features.html

Will update this comment if anything more is needed to deliver this feature.

[2021-02-09 10:14] fridex commented on #874
**Thamos s2i integration**

* new thamos s2i command which integrates with Thoth's s2i workflow
* thamos needs to be bumped to at least [v1.9.0](https://github.com/thoth-station/thamos/pull/721)
* [Thoth S2I procedure](https://github.com/thoth-station/thoth-application/blob/master/thoth_s2i_procedure.md) needs to be met to deliver this feature
* TODO: finish porting Thoth s2i to AICoE build proces

[2021-02-09 14:59] fridex opened #876 "Thamos advise always results in 404 in stage/test environment"
**Describe the bug**

When running thamos advise, I always receive 404 response from user api on analysis submission.

**To Reproduce**
Steps to reproduce the behavior:
1. Submit an advice to test or stage environment using thamos
2. See the error

**Expected behavior**

The request issued by `thamos advise` should work fine.

**Screenshots**

[code]

[2021-02-09 15:10] #876 closed

[2021-02-10 14:47] goern opened #884 "Thoth's resolver experimental features - selective pre-releases"
Now at: https://github.com/thoth-station/thoth-application/issues/884

**Thoth's resolver experimental features - selective pre-releases**

* area: sig/adviser
* related: https://github.com/thoth-station/thoth-application/issues/816
* thoth-adviser needs to be bumped to v0.24.1
* user-api needs to be bumped to v0.18.0
* thamos needs to be bumped to 1.11.0
* docs: https://thoth-station.ninja/docs/d

[2021-02-10 14:50] goern opened #885 "Thamos s2i integration"
**Thamos s2i integration**

* area: sig/user-experience
* new `thamos s2i` command which integrates with Thoth's s2i workflow
* thamos needs to be bumped to at least [v1.9.0](https://github.com/thoth-station/thamos/pull/721)
* [Thoth S2I procedure](https://github.com/thoth-station/thoth-application/blob/master/thoth_s2i_procedure.md) needs to be met to deliver this feature
* TODO: finish porting T

[2021-02-10 14:52] fridex commented on #874
Closing as these were turned into issues. Thanks.

[2021-02-10 14:52] #874 closed

[2021-02-10 16:40] harshad16 commented on #864
Update the name of the Thoth-deployment project board to Thoth-Services.
along with moving the overall issue from thoth-core board to this and updated the description.

[2021-02-11 08:00] fridex opened #887 "Results of container image analyses not available on endpoints"
**Describe the bug**

Results of container image analyses are not available on endpoints. The reason behind it is wrong key for storing container image analyses results:

https://github.com/thoth-station/thoth-application/blob/061e2ffe7045bd76fe0792aa1405a68f437d33a2/package-extract/base/argo-workflows/package-extract.yaml#L30-L32

The key expects `analyses` instead of `package-extract`:

https://

[2021-02-11 08:14] #887 closed

[2021-02-11 09:18] fridex opened #889 "[SPIKE] Possible Cachito integration"
**Is your feature request related to a problem? Please describe.**

As discussed, we could have a look if we can integrate with Cachito and help it with dependency resolution.

The main issue I see on the Thoth side, as of now is, that we resolve software for runtime environments. Cachito, on the other side, needs also information about build dependencies (`setup_requires`). I think we already hav

[2021-02-11 10:35] #864 closed

[2021-02-12 10:50] tumido opened #896 "Have a bot listening for releases on given repo and triggering a update applying a template via PR"
**Is your feature request related to a problem? Please describe.**
Recently one of the projects we deploy (ODH) decided to do z-stream updates. On our end this update should be applied by a 2 line change in a manifest like this:

[code]

This change would have to happen on about 6 resource files and every week. Which is a repetitive task that we would like to offload to bots.

**Describe the solut

[2021-02-12 13:49] goern commented on #896
What repo is this? is it a tag on the repo? a new release on the repo? If we are receiving webhooks from opendatahub-io org it is fairly easy to add the action.

/sig cyborgs

[2021-02-12 13:54] tumido commented on #896
In this particular case the event source would come from https://github.com/opendatahub-io/odh-manifests/releases as a release event. The PRs should be created against https://github.com/operate-first/apps/ repo content

[2021-02-12 16:11] goern commented on #896
@harshad16 sounds like this is a tag-release pipeline with just the gitops tasks?

/assign @harshad16

[2021-02-12 16:11] goern commented on #896
/sig pipelines

[2021-02-12 19:04] fridex opened #902 "Advise workflow fails if software stack fails to be propagated via env variables"
**Describe the bug**

When asking for an advise with a large stack, advise workflow does not start at all. It looks like the main reason is Pipfile.lock stored in an environment variable.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/thoth-station/elyra-aidevsecops-tutorial/
2. Run `thamos advise` and let the user stack be submitted
3. See an error

**Expected beha

[2021-02-13 09:52] goern commented on #902
cant we transfer the info via a message's content?

[2021-02-13 10:15] fridex commented on #902
Messages content is translated to environment variables now.

We store the request payload with Pipfile/Pipfile.lock and library usage on ceph:

https://github.com/thoth-station/user-api/blob/b0b72ace062598172d29b07d22d6d74a459570c1/thoth/user_api/api_v1.py#L381-L386

so we could provide them to the adviser container using Argo's input artifacts. This should be scalable and straightforward to impl

[2021-02-15 06:48] harshad16 opened #905 "Sprint Release 15.02.2021"
This is the production release for sprint cycle 15.02.2021
With this release, we would be updating thoth-components with the following feature updates and fixes.

[x]  **Advise-reporter**
  - Add metrics database(https://github.com/thoth-station/advise-reporter/pull/158)

[x]  **Adviser**
  - Do not enable cut pre-releases step if selective pre-releases are allowed(https://github.com/thoth-station

[2021-02-15 06:54] harshad16 opened #906 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-02-15 06:55] #906 closed

[2021-02-15 06:56] harshad16 commented on #905
Closing based on #908 #904

[2021-02-15 06:56] #905 closed

[2021-02-15 11:37] goern opened #911 "can not understand annotations in imagestreamtags and how argocd behaves..."
**Describe the bug**
please have a look at https://argocd-server-argocd.apps.cnv.massopen.cloud/applications/ci-prow-prod?node=image.openshift.io%2FImageStream%2Fopf-ci-prow%2Fcrier%2F0

I can not understand what the problem here is, it seems to be argocd?!

/assign @tumido

[2021-02-15 11:37] sesheta commented on #911
@goern: GitHub didn't allow me to assign the following users: tumido.

Note that only [thoth-station members](https://github.com/orgs/thoth-station/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/contr

[2021-02-15 11:51] tumido commented on #911
May be related to https://github.com/AICoE/aicoe-cd/issues/230

Is this new thing for the app or was the error present for longer time?

cc @HumairAK

[2021-02-15 12:13] goern opened #915 "qeb-hwt secret generation seems broken"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run ` IS_AICOE_CI=1 ./test-kustomize-build`

/sig devops

[2021-02-15 18:34] #795 closed

[2021-02-16 14:24] pacospace opened #920 "Move token from SLO-reporter Secret to Prometheus Secret"
**Is your feature request related to a problem? Please describe.**
To avoid confusion, it would be better to move token in SLO-reporter Secret which is relative to Thanos to Prometheus Secret.

**Describe the solution you'd like**
Move SLO-repoter Secret token key to Prometheus Secret

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or featu

[2021-02-16 16:26] pacospace opened #921 "Add thoth Workflow Controller Dashboard to prod"
Ref: https://grafana.datahub.redhat.com/dashboard/db/thoth-workflow-controllers?refresh=5m&orgId=1

[2021-02-16 18:22] harshad16 opened #924 "sprint production release 2021.03.01"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release (2021.03.01)
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-02-16 18:33] #863 closed

[2021-02-17 03:14] harshad16 opened #930 "Run production slo-reporter in stage?"
slo-reporter which sends out emails based on the metrics of thoth-station, uses sendgrid to send out the email from the production cluster. The integration-test has a similar setup of sending out emails, the idea of integration-tests for production is to execute them from stage cluster, as the production endpoints are public and can be reachable, in this way integration-tests doesnt need to utiliz

[2021-02-17 03:14] harshad16 commented on #930
@pacospace

[2021-02-17 06:33] goern commented on #930
/kind question
/sig slo

[2021-02-18 09:29] goern opened #938 "review dashboards"
Some of the Grafana Dashboards seem to have problems getting the right data, see https://grafana-route-opf-monitoring.apps.cnv.massopen.cloud/d/860ad3c2506d4744729adba986fdec914b3b4b75/thoth-service-metrics?orgId=1&refresh=30s

[2021-02-18 09:30] goern commented on #938
/kind bug
/sig devops
/sig slo

[2021-02-18 09:31] pacospace opened #939 "Adjust dashboards in prod"
**Describe the bug**
Some metrics are not visualized, either because source of data is wrong (it should be Thoth station) or endpoint which target stage.

- https://grafana-route-opf-monitoring.apps.cnv.massopen.cloud/d/a30fccbb3c61cc644827f080c68c460d2132bc4a/thoth-sli-slo?orgId=1&refresh=30s

- https://grafana-route-opf-monitoring.apps.cnv.massopen.cloud/d/860ad3c2506d4744729adba986fdec914b3b4b7

[2021-02-18 09:31] #939 closed

[2021-02-18 09:32] pacospace commented on #938
Some metrics are not visualized, either because source of data is wrong (it should be Thoth station) or endpoint which target stage.

- https://grafana-route-opf-monitoring.apps.cnv.massopen.cloud/d/a30fccbb3c61cc644827f080c68c460d2132bc4a/thoth-sli-slo?orgId=1&refresh=30s

- https://grafana-route-opf-monitoring.apps.cnv.massopen.cloud/d/860ad3c2506d4744729adba986fdec914b3b4b75/thoth-service-metri

[2021-02-18 09:34] pacospace commented on #938
Add also up metrics for User-API to dashboard to track availability.

[2021-02-18 09:48] pacospace opened #940 "Extend SLI shown in Grafana Dashboard SLI/SLO"
**Is your feature request related to a problem? Please describe.**
As Thoth manager,

I want to extend SLI in a Grafana dashboard

**Describe the solution you'd like**
Add metrics to Grafana Dashboard

metrics-required:
- [x] user-api is up
- [x] database is up
- [x] learning rate above SLO
- [ ] github apps are up
- [ ] rate of acceptance of Kebechet PRs created is above SLO

grafana:
- [ ] revie

[2021-02-18 09:53] goern commented on #940
/sig devops

[2021-02-18 09:54] goern commented on #940
Having this consolidated in one dashboard would give a good overview of the system's current state. The dashboards we have now, can give more detailed information on any of these items.

[2021-02-18 11:28] goern opened #941 "thoth.common.exceptions.SolverNameParseError: Solver should be in a form of 'solver-<os_name>-<os_version>-<python_version>, solver name 'solver-rhel-8' does not correspond to this naming schema"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://console-openshift-console.apps.cnv.massopen.cloud/k8s/ns/thoth-middletier-prod/pods/solver-rhel-8-py36-4d4fa0c4b679e57162e616eafb76742c-3727862951/logs?container=main

/kind bug
/label deployment/moc
/priority critical-urgent
/sig devops

[2021-02-18 11:28] sesheta commented on #941
@goern: The label(s) `/label deployment/moc
` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/moc, deployment_name/ocp-stage, deployment_name/ocp-test, kind/cleanup, kind/deprecation, kind/documentation, kind/question, kind/question, sig/advisor, sig/build, sig/cyborgs, sig/devops, sig/doc

[2021-02-18 11:32] fridex commented on #941
This requires new graph-sync, the issue was already addressed in https://github.com/thoth-station/storages/pull/2207/files

[2021-02-18 19:33] pacospace commented on #921
The dashboard is already present: https://grafana-route-opf-monitoring.apps.cnv.massopen.cloud/d/84adca3ac267decd4c26858bdd1d7e1ca9ae58be/thoth-workflow-controllers?orgId=1&refresh=5m, we can close the issue.

[2021-02-18 19:33] #921 closed

[2021-02-18 21:41] pacospace commented on #938
Corrected issues for labels in some metrics.

The json dashboard in thoth application actually is correct, not sure why the one in cnv-prod is not synced based on that overlay. cc @harshad16

[2021-02-20 03:02] harshad16 commented on #941
I feel like we should support both the old pattern and the new pattern in storages, as we might see think too many times running the sync-job, as we have a lot of old pattern documents in ceph.
we have total of 1591125 solver documents.Out of which:
1450563 documents (old pattern: solver-fedora-31-py37-0d512c50)
140562 documents (new pattern: solver-fedora-32-py37-210220013058-539f24c8012a455b)

[2021-02-20 06:39] harshad16 commented on #941
Hindsight, the support for old pattern is not needed as graph-refersh would scheduled new solver, and graph-sycn would sync them based on new pattern. Also Sync-job is only run once that to necessary.
So the above comment can be neglected.

[2021-02-22 07:33] fridex opened #945 "Adjust syncing logic for adviser results"
**Is your feature request related to a problem? Please describe.**

I, as Thoth, want to sync adviser results only if they need to be queryable in the database. I do not want to sync all the adviser results to the database as it can cause unnecessary bulking of the database.

**Describe the solution you'd like**

Sync software stacks into the knowledge graph only if they are coming from user event

[2021-02-22 07:39] fridex opened #946 "Adjust syncing logic for package-extract runs"
**Is your feature request related to a problem? Please describe.**

I, as Thoth, don't want to sync all the results of package-extract runs. I want to sync results of package-extract only for container images used in recommendations (Thoth s2i container images and container images which can be related to us - e.g. base ubi). Otherwise, the database can bulk with data which are not used.

**Describ

[2021-02-23 06:47] fridex commented on #946
Related: https://github.com/thoth-station/management-api/issues/718

[2021-02-23 08:08] pacospace commented on #930
Hey @harshad16, apparently in cnv-prod it is not working as well even with sendinblue :/ I would consider this a better solution at this point, so we can use same logic used for slo-reporter stage and talk to the public endpoints as per integrations-tests

- [ ] create slo-reporter-prod cronjob in stage

[2021-02-23 08:33] fridex opened #950 "management-api fails on THOTH_AMUN_INSPECTION_NAMESPACE key error"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to thoth-test-core
2. Start new deployment rollout
3. See error

**Expected behavior**

Management API should start.

[2021-02-23 08:41] #950 closed

[2021-02-23 09:43] fridex commented on #946
See https://github.com/thoth-station/thoth-application/pull/949#issuecomment-784038970 for more info on this when bringing this feature.

[2021-02-23 09:57] fridex opened #955 "Check NumPy's NEP38: Using SIMD optimization instructions for performance"
**Is your feature request related to a problem? Please describe.**

See accepted [NumPy NEP38](https://numpy.org/neps/nep-0038-SIMD-optimizations.html) which should be available in [NumPy starting 1.20.0](https://numpy.org/doc/stable/release/1.20.0-notes.html#enable-multi-platform-simd-compiler-optimizations). Long story short, NumPy can benefit in performance when SIMD instructions are available.

[2021-02-23 17:10] harshad16 opened #956 "Note v2 tags are documented in the official docs"
Note that even v2 tags are documented in the official docs:

https://behave.readthedocs.io/en/latest/tag_expressions.html#tag-expressions-v2

They do not work with [the latest stable release](https://stackoverflow.com/questions/62026928/python-behave-tags-or-logic-does-not-appear-to-be-working). See `--tags-help`:

[code]

_Originally posted by @fridex in https://github.com/thoth-station/thoth-app

[2021-02-23 17:11] harshad16 commented on #956
This kept for document purpose.

[2021-02-23 17:11] #956 closed

[2021-02-25 07:45] #946 closed

[2021-02-25 08:06] fridex opened #974 "Register available Thoth s2i container images in prod and stage"
**Describe the bug**

As of now, we do not have our Thoth s2i container images registered in Thoth in stage and prod environments. This means we cannot advise on runtime environment that is Thoth s2i based.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to stage or prod environment
2. Ask for available s2i container images by using GET /s2i/python
3. See empty listing

This is also captu

[2021-02-25 14:21] fridex commented on #885
I would close this, it is already done.

[2021-02-25 14:21] #885 closed

[2021-02-25 22:57] fridex commented on #902
/assign @harshad16

I guess it is not necessary to include this in the current release cycle. Up to you, the work should be done.

[2021-02-25 23:08] fridex commented on #974
Registered in stage environment:

[code]

There is missing ubi8-py38.

[2021-02-25 23:10] fridex opened #991 "Liveness probe fails on user-api when integration-tests are run"
**Describe the bug**

[code]

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run integration tests
2. See 503 being reported by user-api at the end of each integration-tests report
3. Check cluster events

**Expected behavior**

user-api should not be restarted

[2021-02-25 23:26] #991 closed

[2021-03-01 09:18] fridex commented on #884
This is already implemented and available in test/stage/prod deployments. Closing.

[2021-03-01 16:31] harshad16 commented on #800
with the completion of the issue: https://github.com/operate-first/argocd-apps/issues/65
we were able to run the aicoe-ci pipeline in operate-first.
dashboard: http://tekton-dashboard-tekton-pipelines.apps.cnv.massopen.cloud/#/namespaces/opf-ci-pipelines/pipelineruns

all our apps are pointing towards the operate-first production deployment.
please let us know if anything is not serving.
cc: @goer

[2021-03-01 16:31] #800 closed

[2021-03-01 17:05] harshad16 commented on #924
With these updates, we have completed the release of 2021.03.01
- [x] adviser
  - [Strict index configuration](https://thoth-station.ninja/docs/developers/adviser/experimental_features.html#strict-index-configuration)
  - [Selectively enabling pre-releases](https://thoth-station.ninja/docs/developers/adviser/experimental_features.html#selectively-enabling-pre-releases)
  - Support older legacy rel

[2021-03-01 17:05] #924 closed

[2021-03-01 17:09] harshad16 opened #996 "sprint production release 2021.03.15"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release (ending on 2021.03.15)
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-03-01 17:11] harshad16 opened #997 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-03-01 17:22] #997 closed

[2021-03-01 17:22] todo[bot] opened #999 "how do we get this IST?"
https://github.com/thoth-station/thoth-application/blob/12369ab07e9433b784c14f40ee8aa2f969fe8e15/CHANGELOG.md#L920-L925

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 12369ab07e9433b784c14f40ee8aa2f969fe8e15 when #998 was merged. cc @thoth-station.

[2021-03-01 17:24] harshad16 commented on #999
duplicate!

[2021-03-01 17:24] #999 closed

[2021-03-01 19:51] fridex commented on #996
I think this could go to the next release https://github.com/thoth-station/thoth-application/pull/982

[2021-03-01 20:25] fridex opened #1000 "🔥 FAILED syncing integration-tests components to TEST"
[code]

[2021-03-01 20:37] #1000 closed

[2021-03-02 10:22] pacospace opened #1004 "Grafana dashboards in cnv-prod are not updated after changing .json stored in thoth-application"
**Describe the bug**
Grafana dashboards in cnv-prod are not updated after changing .json stored in thoth-application

**To Reproduce**
Steps to reproduce the behavior:
1.Check stage dashboard: https://grafana.datahub.redhat.com/dashboard/db/thoth-knowledge-graph-content-metrics?refresh=30s&orgId=1
2. Check prod dashboard: https://grafana-route-opf-monitoring.apps.cnv.massopen.cloud/d/dd5ddeda417f2

[2021-03-02 17:22] harshad16 opened #1005 "Template dependency-monkey parameter THOTH_ADVISER_REQUIREMENTS is required"
**Describe the bug**
Template dependency-monkey parameter THOTH_ADVISER_REQUIREMENTS is required
however, it is not being satisfied while trigger from management-api

Related-to: https://github.com/thoth-station/management-api/issues/727

logs:
[code]

[2021-03-02 17:54] fridex commented on #1005
We should probably escalate https://github.com/thoth-station/thoth-application/pull/982  to unblock Tomas.

[2021-03-02 17:59] #862 closed

[2021-03-02 17:59] #902 closed

[2021-03-02 18:19] harshad16 commented on #1005
This was fixed with #982
Thanks @fridex

[2021-03-02 18:19] #1005 closed

[2021-03-03 08:29] #869 closed

[2021-03-03 14:01] fridex opened #1011 "Dependency Monkey's graph-syncing logic should not be triggered when dry run is set"
**Describe the bug**

When we schedule dependency-monkey with dry run set, we should not sync dependency monkey report to the knowledge graph.

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule dependency-monkey with dry_run flag set to 1
2. See dependency-monkey being run
3. See graph-sync being run even though dry-run was set to 1

**Expected behavior**

Graph syncing task should be

[2021-03-03 14:44] #1011 closed

[2021-03-03 16:40] fridex opened #1013 "Possibly revisit how we host AICoE Python packages"
**Is your feature request related to a problem? Please describe.**

Currently, we run an HTTP server that serves a static content from within the directory. To help to scale and maintaining multiple python packages, we could have a look for an alternative. The HTTP server needs to be rebuilt each time a package is about to be added which does not integrate very well.

**Describe the solution you'd

[2021-03-03 16:52] harshad16 commented on #1004
Thanks for opening the issue.
This is happening as we are making changes in the grafana dashboard JSON (which reside in thoth-application) and point the URL of that to the monitoring app(which reside opf/apps) . The argocd is looking at the monitoring app and syncing it, as there is no change in the monitoring app itself, argocd doesn't re-sync.
anyhow, what we want is to have the Grafana operator

[2021-03-03 17:08] goern opened #1015 "update letsencrypt certs"
Your certificate (or certificates) for the names listed below will expire in 9 days (on 13 Mar 21 15:54 +0000). Please make sure to renew your certificate before then, or visitors to your website will encounter errors.

amun.moc.thoth-station.ninja
amun.stage.thoth-station.ninja
api.moc.test.thoth-station.ninja
api.moc.thoth-station.ninja
isis.moc.thoth-station.ninja
isis.stage.thoth-station.ninja

[2021-03-03 17:34] fridex opened #1017 "Automatically trigger container image analysis for Thoth base container images"
**Is your feature request related to a problem? Please describe.**

I, as Thoth, would like to automatically monitor new Thoth s2i and other Thoth-maintained container images so that I can automatically trigger container image analysis in deployment(s).

**Describe the solution you'd like**

Monitor Thoth's base container images and their releases, trigger container image analysis automatically fo

[2021-03-04 16:40] 4n4nd commented on #1004
The issue is, when you set up a dashboard with a remote link, the operator does not know if the dashboard has been updated. This is because the dashboard json is downloaded once by the operator when the dashboard CR is created.

The current suggested solution would be to add an annotation (like version number) to the Grafana Dashboard CRs ([link](https://github.com/operate-first/apps/blob/master/o

[2021-03-04 18:36] pacospace commented on #1004
So the workflow is to send two PRs:

1. send a PR to change your dashboard
2. send a PR to change the annotation using for example the dashboard version number in the CR.

Thanks @4n4nd!

[2021-03-04 19:41] tumido opened #1025 "Introduce caching for adviser so you can prevent DDoS + be more efficient with resources"
**Is your feature request related to a problem? Please describe.**
Thoth team seems to be always constraint on resources, one time it's PSI folks complaining about the number of events, other time it's operate first networking not able to keep up. If AICoE-CI wants to scale with OperateFirst and expand on `thamos` usage, I think it would be smart to think about de-duplication of repeated and "the

[2021-03-04 19:43] harshad16 commented on #1004
yes correct , those would be the steps to update the dashboards.

[2021-03-04 19:46] fridex commented on #1025
hi @tumido. We have caching for each request to user-api available. You can try it using:

[code]

This way, you should be able to receive the same adviser id unless `--force` is provided. We have a bug in stage/prod deployments where cache is not properly hit when users submit software stack with static source code analysis (see https://github.com/thoth-station/user-api/issues/1324).

If the issu

[2021-03-04 19:48] fridex commented on #1025
Actually, I think the cache won't be hit if you use the same configuration but provide a different origin (e.g. your fork). We track the use of the stacks, so this could be something to consider to be improved. Can this be something you experience? E.g. you create a fork of the main repo to your GH and do advise on it for each fork in a workshop?

[2021-03-04 19:54] tumido commented on #1025
I'm thinking of more in a context of a workshop right now:

50+ people fork a repo, pull it into Jupyter Lab, then they try to resolve dependencies via the Jupyter Lab plugin from a notebook, all at the same time. As far as I know this will not be mapped under the same advised ID and each of the 50 people would get a different ID and a different ID for every notebook, won't they?

[2021-03-04 20:03] fridex commented on #1025
They should receive the same adviser id from user-api side unless `force` to the request is passed:

https://github.com/thoth-station/user-api/blob/6fad0cedd76143d98013d27917e0382ba8671ea0/openapi/openapi.yaml#L578-L585

One can verify if the adviser id provided by user-api is cached by checking `cached` in the response (might be too low level to show it in client tools):

https://github.com/thoth

[2021-03-05 06:20] harshad16 commented on #1015
we can delete the following one from routes.
api.moc.test.thoth-station.ninja
isis.moc.thoth-station.ninja
isis.stage.thoth-station.ninja
isis.test.thoth-station.ninja

[2021-03-05 10:01] goern commented on #1015
sefkeht-abwy-chatbot.thoth-station.ninja needs an update too

[2021-03-05 10:05] tumido commented on #1025
That sounds like a viable solution. Just an idea (without knowing the technical details, so please bear with me): what about you use the Pipfile hash in here instead? Like the same way it's used in the lock file to confirm integrity. That should identify unique stacks better than the origin.

[2021-03-05 11:04] fridex commented on #1025
We are open to all ideas so feel free to suggest anything without any hesitation. :+1: Your input is completely valid.

Pipfile hash is specific to Pipfile Python requirements. As we moved one step up and considered also hardware, software, API use we had to compound all these to compute the hash for a request to the recommendation engine:

https://github.com/thoth-station/user-api/blob/6fad0cedd7

[2021-03-05 12:05] tumido commented on #1025
ah, that totally make sense, yeah. I didn't considered that at all.

So if I understand this correctly, this whole dict of properties is used to calculate a hash that identifies the cache entry, correct?

Let me try to differentiate the "inner" (important to the recommendation) and "outer" (important to identify the requester) factors of this cache entry ID:

| Property                 | Significa

[2021-03-05 13:37] fridex commented on #1025
Yes, that's correct :+1:

Wow, nice write-up! :+1:

This property states "submitter" of the request - it can be s2i, cli tool or similar. We keep it for tracking usage and this is not captured in the `project` abstraction.

I think this is not true. Running an advise in debug mode results in a slower adviser run as it needs to print debug messages to a slow terminal. As we produce results given th

[2021-03-07 09:24] fridex commented on #1013
Worth to have a look at https://pypi.org/project/private-pypi/

[2021-03-08 08:26] fridex commented on #1013
Another candidate: https://www.devpi.net/

[2021-03-08 12:12] xtuchyna opened #1036 "mi-scheduler cronjob not refreshing after merge"
**Describe the bug**
After a PR is merged (e.g. #1034) the mi-scheduler cronjob in `thoth-test-core` (and probably also in other namespaces) on `ocp4` was not refreshed (the age of the cronjob was not updated, meaning the cronjob was not refreshed)

Probably an issue within `argocd`

**Screenshots**
![Screenshot from 2021-03-08 12-22-54](https://user-images.githubusercontent.com/46632404/110319850

[2021-03-08 12:23] fridex commented on #974
Stage is fine now:

[code]

[2021-03-08 21:32] harshad16 opened #1037 "Enable ci pipeline to send built image for thoth analysis"
**Is your feature request related to a problem? Please describe.**
The project [aicoe-ci](https://github.com/AICoE/aicoe-ci) builds container images. It would be effective if it's coupled with thoth image analysis, we can have an extra step that sends the request to thoth APIs for image and log analysis on the built image.

**Describe the solution you'd like**

Steps to include:
- [x] Include the

[2021-03-08 21:33] harshad16 commented on #1037
cc: @fridex

[2021-03-08 21:49] harshad16 commented on #1037
Details:

https://github.com/thoth-station/user-api/blob/master/openapi/openapi.yaml#L819
in that case, the built image is analyzed and will be available to users... but not synced into thoth's knowledge baes - we want it for other teams that use aicoe-ci
for container images supporting odh, you can still use the same endpoint, but also submit built container images to management-api
https://githu

[2021-03-09 18:16] tumido opened #1039 "Update S3 creds for tide in opf-ci-prow on zero cluster"
**Describe the bug**
OCS on the new cluster generated new credentials

https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/opf-ci-prow/objectbucket.io~v1alpha1~ObjectBucketClaim/ci-prow-artifacts

/cc @harshad16

[2021-03-09 18:54] tumido commented on #1039
The `tide` pod is still reporting errors with the S3,

[code]

I'll investigate that later or if @HumairAK or @4n4nd wants to give it a shot...

[2021-03-09 19:41] harshad16 commented on #1039
working on updating these parameters.

[2021-03-09 20:09] HumairAK commented on #1039
Looks like it's still using the old bucket name even though the previous PR updated it -- maybe some other configs need to be updated as well?

[2021-03-09 20:13] harshad16 commented on #1039
yes , updating the deployments.

[2021-03-09 20:43] harshad16 commented on #1039
After updating the buckets and s3 cerds to the objectbucket , it still fails.
[code]

local testing fails as well:
[code]

[2021-03-09 20:51] HumairAK commented on #1039
Hrmm the bucket name I'm seeing [here](https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/opf-ci-prow/objectbucket.io~v1alpha1~ObjectBucketClaim/ci-prow-artifacts) is: `ci-prow-artifacts--36f9ca3b-f5af-4432-bef8-af42508b403e`

Was it recreated?

[2021-03-09 20:53] harshad16 commented on #1039
oh no :( , must have updated with the reupdate.
good catch will update with that .

[2021-03-09 22:55] fridex commented on #884
https://www.youtube.com/watch?v=w78ycZubmjw

[2021-03-09 22:55] #884 closed

[2021-03-10 09:44] goern opened #1043 "kafka is not available"
**Describe the bug**
`%3|1615369332.972|FAIL|rdkafka#producer-1| [thrd:ssl://odh-message-bus-kafka-bootstrap-opf-kafka.apps.cnv.massop]: ssl://odh-message-bus-kafka-bootstrap-opf-kafka.apps.cnv.massopen.cloud:443/bootstrap: Failed to resolve 'odh-message-bus-kafka-bootstrap-opf-kafka.apps.cnv.massopen.cloud:443': Name or service not known (after 5009ms in state CONNECT, 14 identical error(s) suppr

[2021-03-10 09:55] goern commented on #1043
https://status.thoth-station.ninja/incidents/442de333

[2021-03-10 18:11] pacospace commented on #842
Because of https://github.com/thoth-station/thoth-application/pull/1038, we can use internal Hue/Superset to have prod dashboard!!

[2021-03-10 18:40] #930 closed

[2021-03-10 19:58] harshad16 commented on #747
Happening for https://github.com/operate-first/apps
Tired to test it with https://github.com/operate-first/apps/pull/347
Error received in logs: `failed to set up context register: contexts aicoe-ci/prow/kustomize-build are defined as required and required if present" `

[2021-03-10 20:15] harshad16 commented on #747
Testing with: https://github.com/operate-first/apps/pull/349

Tide logs
[code]

[2021-03-10 20:17] harshad16 commented on #1043
This was fixed with this: https://github.com/thoth-station/thoth-application/commit/e3c16f2e26fec563aaef12614a870ccc0730ae7d
Thank you for opening the issue.

[2021-03-10 20:17] #1043 closed

[2021-03-10 20:38] goern commented on #747
https://github.com/thoth-station/thoth-application/commit/2730b9c91d652022de67bec24c9e30671f8f8507 might fix the problem.

we will keep on observing @HumairAK @tumido

[2021-03-11 16:34] harshad16 opened #1047 "Facing Internal server error issue for prod"
**Describe the bug**
Facing Internal server error issue for prod

[code]

[2021-03-11 16:52] pacospace commented on #1047
[code]

Now it seems to be working again, I didn't change anything. Just attempted again.

[2021-03-11 18:16] harshad16 commented on #1047
The issue was because, user-api was not able to connect to the kafka. A new rollout helped, user-api was able to pick up the updated configmap.
Thanks for checking again.
closing the issue.

[2021-03-11 18:16] #1047 closed

[2021-03-12 08:10] fridex opened #1052 "Supply adviser prescriptions to the adviser container"
**Is your feature request related to a problem? Please describe.**

With https://github.com/thoth-station/adviser/pull/1741 we introduced prescriptions for the resolver. They provide a capability to declaratively describe rules for the resolver so that the resolver can respect and follow these rules.

As Thoth operator, I would like to have a capability to declaratively configure resolved in deplo

[2021-03-12 11:21] pacospace opened #1054 "adviser workflows are not scheduled"
**Describe the bug**
Submit a request to user-api and wait until it times out because adviser workflow never started.

**To Reproduce**
Steps to reproduce the behavior:
1. Ask for advise

**Expected behavior**
Adviser workfows starts and maybe user-api has new check for issues with Kafka or other components?

**Screenshots**

**Additional context**

[2021-03-12 18:24] harshad16 commented on #1054
Further checking shows that the message are not being produced by user-api in prod.
Investigating further:
[code]

[2021-03-12 18:41] harshad16 commented on #1054
The update of kafkatopic in the cluster has fixed the issue,while using the `thamos advise` the adviser message are successfully passing to kafka.
https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/thoth-backend-prod/pods/adviser-210312183419-9894852c5098f8b6-3159701122
@pacospace , you should be able to use prod now.
please close the issue if you feel satisfied.

[2021-03-15 04:06] harshad16 commented on #996
The cluster was updated to openshift 4.7
The cluster is renamed to **[zero](https://console-openshift-console.apps.zero.massopen.cloud/k8s/cluster/projects)**

With these updates, we have completed the release of 2021.03.15
- [x] adviser
  - Provide justification when filtering based on selective pre-releases(https://github.com/thoth-station/adviser/pull/1718)
  - Add justification for index confi

[2021-03-15 04:06] #996 closed

[2021-03-15 04:06] harshad16 opened #1058 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-03-15 04:08] #1058 closed

[2021-03-15 04:08] todo[bot] opened #1060 "which was already fixed (#1009)"
https://github.com/thoth-station/thoth-application/blob/156aa5b4eab817324bbd2cefbe1e1d6886b0e304/CHANGELOG.md#L1010-L1015

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 156aa5b4eab817324bbd2cefbe1e1d6886b0e304 when #1059 was merged. cc @thoth-station.

[2021-03-15 04:13] harshad16 commented on #1060
duplicate

[2021-03-15 04:13] #1060 closed

[2021-03-15 11:15] pacospace opened #1061 "Service Unavailable for url: http://qeb-hwt-webhook-receiver-thoth-frontend-prod.apps.zero.massopen.cloud.com/"
**Describe the bug**
Service Unavailable for url: http://qeb-hwt-webhook-receiver-thoth-frontend-prod.apps.zero.massopen.cloud.com/

**To Reproduce**
Steps to reproduce the behavior:
1. Start qeb-hwt

**Expected behavior**
qeb-hwt workflow runs successfully

**Screenshots**
[code]

[2021-03-15 12:20] pacospace commented on #1054
It seems to work correctly! Thanks @harshad16!

[2021-03-15 12:20] #1054 closed

[2021-03-15 14:08] goern commented on #1061
https://github.com/thoth-station/qeb-hwt/issues/143 might be related

[2021-03-15 16:54] goern commented on #416
Can we handle these exceptions in the application code and create a metric on it, so that we can have alerts (which open operational issues on github)?

/kind feature
/sig devops
/assign @pacospace

[2021-03-15 17:30] pacospace commented on #416
We have metrics if the connection with the database cannot be established, we will work with @harshad16 this week to have all alarms in place: https://github.com/thoth-station/thoth-application/issues/854

[2021-03-15 17:41] pacospace commented on #416
In any case this seems to be something to change on metric-exporter side, as the first metric to verify should be connection to ceph, kafka and database.

[2021-03-15 18:44] sentry-io[bot] opened #1062 "UnknownPipelineUnitError: Cannot import unit VersionClashBoot: module 'thoth.adviser.boots' has no attribute 'VersionClashB..."
Sentry Issue: [THOTH-1PQT](https://sentry.io/organizations/thoth-station/issues/2274852010/?referrer=github_integration)

[code]

[2021-03-15 19:23] goern commented on #1062
/kind bug
/label deployment_name/moc
/assign @fridex

[2021-03-15 19:50] harshad16 commented on #1063
we manage token in openshift secret objects, which in kept along in the git vcs with encryption.
If a github access token is updated or new token is requested then we would normally update the token in secret which inturn get propagated to deployed system.
Is this brief information , what we are looking for? should we update this more elaborately ?

[2021-03-15 20:06] fridex commented on #1062
This looks like an issue with provided input to Dependency Monkey. We no longer provide `VersionClashBoot`, it was removed from sources.

CC: @TomasJani I guess it's based on your input.

[2021-03-15 21:01] TomasJani commented on #1062
Yes, I probably forgot to remove it. It is a bit misleading that it is in default specification in Management APIs  /dependency-monkey/python.

[2021-03-16 09:00] #416 closed

[2021-03-16 15:33] pacospace commented on #854
It would be good to describe these alarms in a `README` in thoth-application, maybe under `monitoring/`, @harshad16 wdyt?

[2021-03-16 17:04] harshad16 commented on #854
Firstly thanks for structuring the task to be done.
I agree with documenting this in the thoth-application.
sorry was the extended delay, we can get started.

[2021-03-16 18:18] pacospace commented on #854
Sounds great!, Do we start setting our own GitHub receiver for alarms? Or do we reuse operate first one?

[2021-03-16 18:20] pacospace opened #1065 "thoth station dashboards are empty in cnv-prod"
**Describe the bug**
thoth station dashboards are empty in cnv-prod

**To Reproduce**
Steps to reproduce the behavior:
1. Go for example to https://grafana-route-opf-monitoring.apps.zero.massopen.cloud/d/dd5ddeda417f2083b1b0526b222609dfcf1145be/thoth-knowledge-graph-content-metrics?orgId=1&refresh=30s

**Expected behavior**
thoth station dashboards are full of data

**Screenshots**

**Additional c

[2021-03-16 18:22] harshad16 opened #1066 "Database schema is corrupted"
**Describe the bug**

According to the amcheck our stage db has corruption in schema

View In AlertManager
--
[1] Firing
Labelsalertname = ThothDatabaseCorruptionCheckStageinstance = metrics-exporter-thoth-infra-stage.apps.ocp4.prod.psi.redhat.com:80job = Thoth Metricsmonitor = datahubAnnotationsseverity = HIGHsummary = Database schema is corrupted, all services need to be stopped.Source

[2021-03-16 19:19] pacospace commented on #1066
It might be due to

[code]

Maybe related to: https://github.com/thoth-station/storages/issues/2250

We should improve this logic of graph().is_database_corrupted(): https://github.com/thoth-station/storages/blob/8a09f463ac442b031b125421a91276f9eecc5501/thoth/storages/graph/postgres.py#L5776

and filter type of errors. In this case `psycopg2.errors.InsufficientPrivilege` is the cause of the error,

[2021-03-16 19:22] harshad16 commented on #1066
I agree, investigating the privilege issue, once we fix that we would have more clarity.

[2021-03-16 19:45] harshad16 commented on #1066
we need to allow metrics-exporter to query db with admin privilege , to fix the permissions issue.

[2021-03-17 07:41] goern commented on #1061
fixed by https://github.com/thoth-station/thoth-application/commit/3200de4b7696669448d4e2afc3680dc4e877915c

[2021-03-17 07:47] goern commented on #1061
it is deployed to /label deployment_name/zero-prod please check and close the issue

[2021-03-17 07:49] goern commented on #1061
I founds two more... fixed in https://github.com/thoth-station/thoth-application/commit/334b3f5306e7ebecd58e00e3dea2ef6323f0e423

[2021-03-17 15:29] harshad16 commented on #896
@tumido  apologies for losing track of this issue.
I see there is script already created https://github.com/operate-first/apps/blob/master/scripts/set-odh-release.sh
we have odh-manifest subscribed to aicoe-ci. so as @goern  suggested we can have a tag based trigger  check and run the script nad send out a pr to apps repo.
would this solution be something which would suffice for operate-first use

[2021-03-17 15:30] fridex opened #1069 "OpenShift Serverless Functions integration"
**Is your feature request related to a problem? Please describe.**

As per discussion and the meeting, opening this issue so we can track progress and work that needs to be done.

**Describe the solution you'd like**

1. supporting https://github.com/boson-project to get a Python buildpack added
2. prototype a elyra->faas workflow (caveat: buldpacks run local podman)
3. upstream ODH to show this e

[2021-03-17 15:37] tumido commented on #896
The solution you propose would be 100% sufficient. :+1: I think that's the best solution we could have hoped for :+1:

[2021-03-17 16:40] harshad16 commented on #854
yes we should have our own git receiver
https://github.com/operate-first/SRE/blob/master/incident-management/github-receiver-setup.md

[2021-03-17 16:56] harshad16 commented on #854
create everything under `monitoring/`.
- github receiver
- alert manager manifest

[2021-03-17 19:41] harshad16 commented on #896
Thanks for ack, will implement this and will display it to operate-first to get the feedback:+1:

[2021-03-18 05:29] harshad16 commented on #1061
Thanks for fixing this.
Closing the issue.

[2021-03-18 05:29] #1061 closed

[2021-03-18 05:31] harshad16 commented on #1036
This is fixed with https://github.com/AICoE/aicoe-cd/commit/3eb43a1e5e49428d4955cccb03eaee42c6d5946b.
closing the issue.

[2021-03-18 05:31] #1036 closed

[2021-03-18 10:21] #1063 closed

[2021-03-18 18:35] harshad16 opened #1076 "dependency monkey init pods is breaking"
**Describe the bug**

Exceute the dependency monkey and it is failing due to ceph issue.
[code]

**Additional context**
Related-to: https://github.com/thoth-station/amun-api/issues/611

[2021-03-18 19:10] harshad16 commented on #1076
Using the internal service fixes the issue https://github.com/thoth-station/thoth-application/commit/19deecfb3ebf2c9c86a5d7ebd5e886da46dcd992

[2021-03-18 19:10] #1076 closed

[2021-03-18 19:25] #1052 closed

[2021-03-19 17:30] pacospace opened #1085 "qeb-hwt fails with OOM"
**Describe the bug**
qeb-hwt fails with OOM

**To Reproduce**
Steps to reproduce the behavior:
1.Start qeb-hwt with same inputs as below

**Expected behavior**
No failures

**Screenshots**
[code]
**Additional context**
![Screenshot from 2021-03-19 18-27-06](https://user-images.githubusercontent.com/27498679/111819861-208c0b00-88e1-11eb-993d-e9f57294b851.png)

[2021-03-19 19:25] fridex opened #1086 "Create configmap entries to configure adviser and dependency monkey behavior"
**Is your feature request related to a problem? Please describe.**

As Thoth administrator, I would like to adjust configuration of adviser so that adviser behaves based on my preferences.

**Describe the solution you'd like**

Create a configmap entries with the following configuration options:

- `validate-prescription-schema` - maps to `THOTH_ADVISER_VALIDATE_PRESCRIPTION_SCHEMA` environment va

[2021-03-22 19:28] #538 closed

[2021-03-22 19:28] KPostOffice commented on #538
++

[2021-03-23 08:23] goern commented on #1085
/assign @pacospace
/label deployment_name/zero-prod

[2021-03-24 05:53] harshad16 commented on #1066
This was fixed once we fixed the issue with the amcheck.

[2021-03-24 05:53] #1066 closed

[2021-03-24 06:03] harshad16 commented on #486
closing this issue, we can revisit this one if needed.

[2021-03-24 06:03] #486 closed

[2021-03-24 06:07] harshad16 commented on #709
thoth-station production is setup in operate-first zero cluster.
closing this issue for now.

[2021-03-24 06:07] #709 closed

[2021-03-24 08:29] goern opened #1100 "label_sync config is misisng"
**Describe the bug**
`{"component":"label_sync","error":"open /etc/config/labels_aicoe-aiops.yaml: no such file or directory","file":"label_sync/main.go:727","func":"main.main","level":"fatal","msg":"failed to load --config=/etc/config/labels_aicoe-aiops.yaml","severity":"fatal","time":"2021-03-24T07:48:25Z"}`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://console-openshift-co

[2021-03-24 09:00] goern opened #1101 "deploy prow test-pods namespace configuration"
**Is your feature request related to a problem? Please describe.**
please deploy https://github.com/thoth-station/thoth-application/blob/master/prow/overlays/cnv-prod-test-pods/kustomization.yaml to https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/opf-ci-test-pods/pods

**Additional context**
This is to separate out the pods run by prow jobs, and the prow software itself...

/assi

[2021-03-24 10:16] tumido commented on #1100
@goern I don't think the file is missing from there. Does it have to be synced somewhere?

https://github.com/thoth-station/thoth-application/blob/master/prow/overlays/cnv-prod/labels_aicoe-aiops.yaml

[2021-03-24 10:33] tumido commented on #1101
@goern https://github.com/operate-first/argocd-apps/pull/120 should do the job

[2021-03-24 18:52] #1101 closed

[2021-03-25 14:26] harshad16 opened #1110 "[UserStory] aicoe-aiops would like normal merge from sesheta instead of squash"
**User story**

As an aicoe-aiops admins,
we want to have sesheta merge the pull-request with simple `merge` instead of `squash`
so that we can have multiple users contributing to one pull request have their commits in history.

**Additional context**
https://github.com/aicoe-aiops/ocp-ci-analysis/commit/2d01cc9e9b9c87468157cc39867860ff1b4567c0

Request by: @hemajv @oindrillac @MichaelClifford

[2021-03-25 16:40] pacospace opened #1112 "Improve user experience when hitting cache [Tracker]"
**Is your feature request related to a problem? Please describe.**
Currently, some stacks take some time to produce recommendations. The idea is to pre-heat some most common stacks to give the possibility to users to receive recommendations faster.

At the same time a mechanism to invalidate the cache needs to be kept in place so that users can receive always the most updated stacks:

- [x] timeou

[2021-03-25 21:22] fridex commented on #1112
Do not remove the origin parameter from the request. It can still be part of the request (and we want to have it to track requests).

This should be in sync with user-api cache expiration configuration.

https://github.com/thoth-station/thoth-application/blob/f0b7f1a46f7c84b793843c515afb0942137039be/user-api/base/configmap.yaml#L9

How do you want to accomplish these?

[2021-03-26 07:50] goern commented on #1112
@pacospace could you please track this?

/assign @pacospace

[2021-03-26 08:18] pacospace commented on #1112
Sorry, then remove from the digest generation? https://github.com/thoth-station/user-api/blob/494b44eae3ef80e6a17d284977db03c63b688130/thoth/user_api/api_v1.py#L109

I think this solution could be combined at some point also, or one or the other can be selected.

we need to have a list of monitored stacks that we "maintain" (we can have a cronworkflow that analyze adviser reports, create statistic

[2021-03-26 13:30] harshad16 opened #1113 "pypi release via the aicoe-ci is failing"
**Describe the bug**
we use aicoe-ci for releasing python module to pypi , however the aicoe-ci is having issue lately releasing the apps.
the logs shows connection timeout, however pypi services are up.

**To Reproduce**
Steps to reproduce the behavior:
1. Try release of python module
2. Head to the dashboard
3. See error

**Expected behavior**
successful upload to pypi.

[2021-03-29 05:12] harshad16 commented on #1065
This issue is fixed now and all the dashboards can be seen.

[2021-03-29 05:12] #1065 closed

[2021-03-29 05:13] harshad16 opened #1120 "sprint production release 2021.03.29"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release. (ending on 2021.03.29)
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-03-29 05:46] harshad16 commented on #1120
With these updates, we have completed the release of 2021.03.29
**New components**
- [x] prescription-sync-job
  - An Application that syncs prescriptions stored on GitHub to Ceph. It is run as a periodic job in Thoth's deployment.

**Component Updates**
- [x] user-api
  - add kebechet meta to post advise (https://github.com/thoth-station/user-api/pull/1332)
  - add new params to be parallel to th

[2021-03-29 05:46] #1120 closed

[2021-03-29 05:47] harshad16 opened #1121 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-03-29 05:49] #1121 closed

[2021-03-29 05:52] harshad16 opened #1123 "sprint production release for 2021.04.12"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-03-29 06:49] fridex commented on #1120
Thanks for the work, just a minor fix:

The mentioned PR is in https://github.com/thoth-station/user-api/pull/1325 (the link references https://github.com/thoth-station/management-api/pull/728)

[2021-03-29 11:04] pacospace opened #1125 "Reason: INTERNAL SERVER ERROR returned from prod when asking for advise"
**Describe the bug**
Reason: INTERNAL SERVER ERROR returned from prod when asking for advise

**To Reproduce**
Steps to reproduce the behavior:
1. Ask advise from thoth

**Expected behavior**
adviser workflow is correctly scheduled

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2021-03-29 13:17] harshad16 commented on #1120
Thanks @fridex  for finding the error.
I have corrected it :+1:

[2021-03-29 13:20] harshad16 commented on #1113
Found out that the task of releasing module to pypi is failing on the operate-first cluster and has no issues on the PSI cluster.
Will contact operate-first team to help us with this.

[2021-03-29 13:22] fridex commented on #1112
Both of them do not sound like correct approaches to me. I see "long term" tag you added - then let's push back them to deliver a working solution.

[2021-03-29 19:59] sentry-io[bot] opened #1126 "ThothCommonException: Failed to obtain logs for pod: 403 Client Error: Forbidden for url: https://172.30.0.1:443/api/v1..."
Sentry Issue: [THOTH-1PGB](https://sentry.io/organizations/thoth-station/issues/1913238700/?referrer=github_integration)

[code]

[2021-03-30 07:40] #1126 closed

[2021-03-30 08:30] pacospace commented on #1112
We can review them, I can create separate issues for those and we will check in the future if we want to do them or discuss better approaches, wdyt? @fridex

[2021-03-30 10:02] tumido commented on #1100
@goern any update to this? I don't think there's anything missing in this repo. Did I forgot to include the file anywhere?

[2021-03-30 13:02] goern commented on #747
/assign @harshad16

[2021-03-30 13:03] goern commented on #813
/close

[2021-03-30 13:03] #813 closed, assigned to goern

[2021-03-30 13:10] goern commented on #856
/priority important-longterm

[2021-03-30 13:10] harshad16 commented on #856
Metrics: https://console-openshift-console.apps.ocp4.prod.psi.redhat.com/dev-monitoring/ns/thoth-frontend-stage

[2021-03-30 13:39] pacospace opened #1129 "Automate/Optimize the cache invalidation time"
**Is your feature request related to a problem? Please describe.**
To improve cache invalidation time we can use internal trigger

**Describe the solution you'd like**
Look for a solution to automate the cache invalidation using internal triggers for monitored stacked (new package release, new cve, new…) or Introduce average time of release for software stacks (including transitive dependencies) t

[2021-03-30 13:42] pacospace commented on #856
Related-To: https://github.com/thoth-station/thoth-application/issues/854

[2021-03-31 22:33] #945 closed

[2021-04-01 14:05] pacospace commented on #1112
related-to: https://github.com/thoth-station/user-api/issues/1367

[2021-04-01 14:58] tumido opened #1139 "RFE: ODH z-stream sync job for Operate First - change PR name"
**Is your feature request related to a problem? Please describe.**
Can we make the PR name more descriptive please?

**Describe the solution you'd like**
Let's the PR be named `Upgrade ODH to <version>`

**Describe alternatives you've considered**
n/a

**Additional context**
https://github.com/operate-first/apps/pull/474

[2021-04-01 14:58] tumido commented on #1139
/cc @harshad16

[2021-04-06 14:32] goern opened #1142 "Your certificate (or certificates)"
Your certificate (or certificates) for the names listed below will expire in 20 days (on 23 Apr 21 14:47 +0000). Please make sure to renew your certificate before then, or visitors to your web site will encounter errors.

We recommend renewing certificates automatically when they have a third of their total lifetime left. For Let's Encrypt's current 90-day certificates, that means renewing 30 days