[2022-02-16 10:01] goern commented on #2162
any updates on this? do we consider it done?

[2022-02-16 10:03] goern commented on #974
any updates on this? do we consider it done? or is it still blocked by #974?

[2022-02-16 10:04] goern commented on #2172
any updates on this? do we consider it done?

[2022-02-16 10:04] goern commented on #2149
any updates on this? do we consider it done?

[2022-02-16 10:04] goern commented on #2281
any updates on this? do we consider it done?

[2022-02-16 10:05] goern commented on #1788
any updates on this? do we consider it done?

[2022-02-16 10:11] mayaCostantini commented on #2162
The tutorials are ready except for links to the OpenShift console which have to be fixed, I will check on that soon 👍🏻

[2022-02-16 11:27] codificat commented on #2245
Acutally, label_sync *is* configured to run by prow [whenever the labels configuration is updated](https://github.com/thoth-station/core/blob/923fbc4c3fc597bbcdf1d24f32f2a72264d55b58/.prow.yaml#L108-L128).

The observed issues are specific to the respective repos and are to be fixed there

[2022-02-16 12:55] harshad16 commented on #2357
Is it same for everyone ? @goern  @fridex can you folks also verify.

[2022-02-16 13:02] #2245 closed

[2022-02-16 13:44] harshad16 opened #2361 "Prow is not closing issue on `/close` by users"
Prow is not closing issues on `/close` by developer.
Is there some requirement for this command?

Ex:
https://github.com/AICoE/elyra-aidevsecops-tutorial/issues/121#issuecomment-1040122802

[2022-02-16 13:44] sesheta commented on #2361
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-02-16 13:46] harshad16 commented on #2361
/triage accepted

Close command only works for the following people:
`Authors and collaborators on the repository can trigger this command.`

https://prow.k8s.io/command-help#close

[2022-02-16 13:48] mayaCostantini commented on #2361
/reopen

[2022-02-16 13:48] sesheta commented on #2361
@mayaCostantini: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2361#issuecomment-1041509850):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2022-02-16 13:54] harshad16 commented on #2361
The developer can make it work by becoming a collaborator to the repo.
Adding themselves to the team that manages the repo would work as well.
As in aicoe org and the rest of the org under open service group, we use the git-config from prow to state the members
Developers can add themselves to the team that manages that repo to have themselves gain permission to close the issues in the repo.
Hopef

[2022-02-16 13:54] #2361 closed

[2022-02-17 09:01] goern opened #2363 "filter out needs-traige?"
Shall we filter out all the `needs-triage` issues, as that are in a different lifecycle anyways?

https://github.com/thoth-station/thoth-application/blob/cf6eeb185d1642958271b129a06929279c6d56dc/triage-party/overlays/moc/config.yaml#L190

/kind feature
/priority critical-urgent
/assign @codificat

[2022-02-17 09:01] sesheta commented on #2363
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](htt

[2022-02-17 10:31] codificat commented on #2359
/triage accepted
/lifecycle active

[2022-02-17 11:04] codificat commented on #2359
Proposed path to resolution:

- [ ] remove the `needs-triage` label by default across [all repos](https://github.com/thoth-station/core/blob/00e7390b2c4af55578e736ac7b2dd56312851862/community/labels.yaml#L429-L434), leaving it only available on a few specific repos: the ones that are more "externally facing" like: core, thoth-application, support.
- [ ] ensure the `requrire_matching_label` prow pl

[2022-02-17 11:20] codificat commented on #2363
I am more inclined to essentially ignore the `needs-triage` label altogether in triage-party rules, by relying only on the presence / lack of a `triage/*` label. I believe this would help us fix #2359.

That particular rule already looks for missing `triage/*` labels: https://github.com/thoth-station/thoth-application/blob/cf6eeb185d1642958271b129a06929279c6d56dc/triage-party/overlays/moc/config.y

[2022-02-17 15:08] harshad16 commented on #2357
This is not working for half of the team.
we need to investigate on this.

[2022-02-17 20:34] harshad16 opened #2366 "Prow pre-submit jobs are not working"
**Describe the bug**
Prow pre-submit jobs are not working

**Additional context**
Ex: https://github.com/thoth-station/thoth-application/pull/2365

[2022-02-17 20:34] sesheta commented on #2366
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-02-17 21:01] MichaelClifford opened #2367 "Enable CI on OSC cluster"
We need CI to execute, check pre-commit and do merge actions in our repositories in the OS-Climate organization, for example: https://github.com/os-climate/aicoe-osc-demo

@harshad16

[2022-02-18 00:09] #2363 closed

[2022-02-18 08:14] sesheta commented on #2366
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2366#issuecomment-1044117592):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2022-02-21 01:07] sesheta commented on #810
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-21 09:06] codificat commented on #810
/remove-lifecycle stale
/assign

[2022-02-21 13:49] harshad16 opened #2368 "sprint production release 2022.02.28"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/milestone 2022.02.28
/priority important-soon

[2022-02-21 13:49] sesheta commented on #2368
@harshad16: The provided milestone is not valid for this repository. Milestones in this repository: [`v2022.02.28`]

Use `/milestone clear` to clear the milestone.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2368):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-request

[2022-02-21 18:49] codificat commented on #1996
The fix for [BZ 2000216](https://bugzilla.redhat.com/show_bug.cgi?id=2000216) reached OCP 4.9 in 4.9.7 via [BZ 2018442](https://bugzilla.redhat.com/show_bug.cgi?id=2018442): [RHBA-2021:4579](https://access.redhat.com/errata/RHBA-2021:4579).

While the workaround is working, we should probably be good to consider reverting it moving forward.

[2022-02-21 23:11] harshad16 commented on #2281
with the merge of #2312, we would be able to consider it done.

[2022-02-21 23:15] #2188 closed

[2022-02-22 07:53] goern commented on #2367
This would require Prow receiving webhooks from the repos or the org, and being able to act on the PRs. So please configure a webhook like in the screenshot and invite https://github.com/sesheta as an owner to the org. Please ping this issue if you have invited Sesheta, as we need to accept the invite.

![image](https://user-images.githubusercontent.com/260331/155086661-5d6b0dc5-2a28-441f-b293-ec4

[2022-02-22 07:54] goern commented on #2333
/priority important-soon

is someone working on this?

[2022-02-22 09:32] goern commented on #2058
still valid?

[2022-02-22 14:22] pacospace opened #2373 "[3pt] Describe components exposing metrics / pushing metrics in monitoring folder in thoth application."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Describe components exposing metrics / pushing metrics in monitoring folder in thoth application.

**Describe alternatives you've considered**

**Additional context**

[2022-02-22 14:22] sesheta commented on #2373
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-02-22 15:27] Gkrumbach07 commented on #2368
**Add sorting to User API query requests**

Responses that include sortable data will have a new param that allows to sort the data before paginating it.

-  https://github.com/thoth-station/user-api/issues/1670

[2022-02-23 10:34] xtuchyna commented on #2333
@pacospace @harshad16 so there is no issue within smaug then? I thought that this happened in every cluster, as discussed with harshad. Should we move `mi` there ( https://github.com/thoth-station/thoth-application/pull/2358 ) ?

[2022-02-25 20:48] fridex commented on #2281
I will reopen this one to track progress. It looks like prescriptions-refresh-job is not updating the repository, let's track fix.

/reopen

[2022-02-25 20:48] sesheta commented on #2281
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2281#issuecomment-1051254699):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2022-02-25 22:06] fridex commented on #2243
The issue here might be deadline on workflow level or on graph-sync task level (both have defaults taken). The goal here is to identify if the graph-sync task is killed based on the workflow or task deadline and increase the corresponding deadline.

[2022-02-28 08:28] goern commented on #2281
shall we target this for the next sprint/milestone?

/cc @codificat

[2022-02-28 10:11] goern commented on #2373
is this something we would describe as YAML and convert it to configs, or is this meant for humans?

[2022-02-28 13:20] harshad16 commented on #2281
Prescription-refresh-job is set to run weekly
it would execute tomorrow, till I remember, out of 5 workflows, 3 of them are running
however all of the reach oom after some point of tine

we need to increase memory size
![prescriptions-refresh](https://user-images.githubusercontent.com/14028058/155989982-4407c726-040a-4fe3-8db6-c3018c914c99.png)

[2022-02-28 18:36] harshad16 commented on #2368
we have completed the release for v2022.02.28 :tada: :confetti_ball: :partying_face:

### Features

**Add sorting to User API query requests**

Responses that include sortable data will have a new param that allows sorting the data before paginating it.

-  https://github.com/thoth-station/user-api/issues/1670

**Added feature to initiate GitHub repo with thoth requirement via API**

Users can sub

[2022-02-28 18:36] #2368 closed

[2022-02-28 18:53] harshad16 opened #2390 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-02-28 18:53] sesheta commented on #2390
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-02-28 18:56] #2390 closed

[2022-02-28 19:01] harshad16 opened #2393 "sprint production release v2022.03.14"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/milestone 2022.03.14
/priority important-soon

[2022-02-28 19:14] fridex commented on #2393
**Notify users when they use PyTorch index**

Newly, the resolver notifies users if they consume releases from the PyTorch index.

* https://github.com/thoth-station/adviser/pull/2279

[2022-02-28 19:18] fridex commented on #2393
**Memory optimizer in adviser**

If Thoth's adviser consumes too much memory and is killed on OOM in a deployment, a memory optimizer can be turned on. The memory optimizer removes data from some of the internal data structures to optimize memory consumption. This can slow down to finding a resolved set of dependencies.

* https://github.com/thoth-station/adviser/issues/2203
* https://github.com/t

[2022-03-01 10:54] fridex commented on #2281
/lifecycle active
/assign @fridex
/priority critical-urgent

Was checking the root cause, there were few patches applied to make prescriptions-refresh jobs operational. We should be pretty close to an operational solution from the deployment point of view. I will keep this open for now and update once we are done.

[2022-03-01 11:20] fridex commented on #2281
All the jobs are up and running. Some of them fail due to creds issues. Also worth keeping an eye for possible OOM. These issues can be handled separately. Thanks all involved 👍🏻

/close

[2022-03-01 11:26] #2281 closed

[2022-03-01 15:39] fridex commented on #2243
/sig knowledge-graph

[2022-03-03 07:22] goern commented on #2357
is this an op1st problem? can we get some help from that team too?

[2022-03-03 07:29] goern commented on #1996
do we have a status which op1st clusters run which version of OCP?

is it safe to close this issue?

[2022-03-03 07:30] goern commented on #2367
any update on this?

[2022-03-03 07:30] goern commented on #2111
is this still ongoing?

[2022-03-03 07:31] goern commented on #2162
any update on this?

[2022-03-03 07:31] goern commented on #2021
/close

[2022-03-03 07:31] sesheta commented on #2021
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2021#issuecomment-1057755100):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-03-03 07:31] #2021 closed

[2022-03-03 10:13] codificat commented on #1996
AFAIK smaug is at 4.8.23. Recently (23/Feb) a planned upgrade to 4.9.21 was postponed:

However, 4.8.23 already contains a fix for this, which was included in 4.8.22 via [BZ 2020644](https://bugzilla.redhat.com/show_bug.cgi?id=2020644): [RHBA-2021:4830](https://access.redhat.com/errata/RHBA-2021:4830)

So, it should be ok to revert the workaround in smaug-based resources.

Balrog reports Kubernete

[2022-03-03 13:04] MichaelClifford commented on #2367
/assign @MichaelClifford

[2022-03-03 19:52] MichaelClifford commented on #2367
@goern @harshad16 What secret do I use for this webhook?

[2022-03-04 07:05] goern commented on #2367
it should be https://github.com/thoth-station/thoth-application/blob/master/prow/overlays/smaug/secrets.enc.yaml#L23-L29
@harshad16 ?

[2022-03-04 07:15] harshad16 commented on #2367
will pass the secret to @MichaelClifford personally :+1:

[2022-03-04 08:32] goern commented on #974
any updates on this?

[2022-03-04 08:43] goern commented on #2172
/close

[2022-03-04 08:43] #2172 closed

[2022-03-04 08:43] sesheta commented on #2172
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2172#issuecomment-1058957429):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-03-04 09:24] goern commented on #889
/close
lets reopen if we need it

[2022-03-04 09:24] sesheta commented on #889
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/889#issuecomment-1058987891):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-03-04 09:24] #889 closed

[2022-03-04 09:24] goern commented on #1767
@fridex is this a feature we want to push? or just leave it in the backlog?

[2022-03-04 09:25] goern commented on #1795
@fridex is this a feature we want for an MVP?

[2022-03-04 09:26] goern commented on #1835
@xtuchyna is this a feature we need?

[2022-03-04 14:08] fridex commented on #1767
Let's keep in in the backlog. We do not have many packages on the Pulp instance yet to support this.

[2022-03-04 14:15] fridex commented on #974
Blocked on https://github.com/thoth-station/thoth-application/issues/2243 Some of the container images are registered and ingested - see `thamos images` output.

[2022-03-04 15:35] KPostOffice commented on #1893
/close
Tracked elsewhere
here: https://github.com/thoth-station/core/issues/314
here: https://github.com/AICoE/meteor-operator/issues/43

[2022-03-04 15:35] #1893 closed

[2022-03-04 15:35] sesheta commented on #1893
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1893#issuecomment-1059268556):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2022-03-04 16:59] #2359 closed

[2022-03-07 12:58] codificat commented on #774
Has this been superseded by https://github.com/thoth-station/user-api/issues/1353 ?

[2022-03-07 13:03] fridex commented on #774
Yes, I think this one can be closed. Good catch.

/close

[2022-03-07 13:03] #774 closed

[2022-03-07 15:51] MichaelClifford commented on #2367
closed by #2412 and #2413

[2022-03-07 15:51] #2367 closed

[2022-03-08 13:19] #2294 closed

[2022-03-09 13:13] xtuchyna opened #2429 "Logs for `mi-merge-job` workflwos are not kept"
**Describe the bug**
Job created from https://github.com/thoth-station/thoth-application/pull/2428 (specifically, the `mi-merge-job` one) creates workflows whose logs are not being kept (I've noticed this on successful pods so far)

**To Reproduce**
1. Log in psi, swtich to `thoth-test-core` project
2. `oc delete pod mi-merge-job`
3. `oc apply -f mi-scheduler/base/job.yaml `
(from https://github.c

[2022-03-09 13:13] sesheta commented on #2429
@xtuchyna: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2022-03-09 15:21] xtuchyna commented on #1835
@goern yes

[2022-03-10 10:26] pacospace opened #2431 "Generalized Thoth dashboards are not available on Operate First Grafana"
**Describe the bug**
New dashboards are not available on Operate First Grafana

**To Reproduce**

**Expected behavior**
Once this PR was merged: https://github.com/operate-first/apps/pull/1639, dashboards should be created by the grafana operator

**Screenshots**

**Additional context**

[2022-03-10 10:26] sesheta commented on #2431
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-10 18:33] harshad16 commented on #2429
Logs are not getting stored for more than 10s is due to this:
https://github.com/thoth-station/thoth-application/blob/a431727261a693c7b045ae9af91a81235279a194/mi-scheduler/base/openshift-templates/mi-merge-template.yaml#L54

Please increase this value to what you think fits the best.

Normally the default in the cluster is: https://github.com/thoth-station/thoth-application/blob/a431727261a693c7b0

[2022-03-13 10:09] sesheta commented on #1918
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-13 14:05] sesheta commented on #1839
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-13 14:05] sesheta commented on #1839
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1839#issuecomment-1066109709):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2022-03-14 05:17] harshad16 commented on #1918
/remove-lifecycle stale

[2022-03-14 08:23] pacospace commented on #1918
I tested this again and I receive:

[code]

I think we can close this. @fridex wdyt?

[2022-03-14 09:03] fridex commented on #1918
Yes, I think this can be closed.

Thanks! 💯

/close

[2022-03-14 09:03] #1918 closed

[2022-03-14 09:03] sesheta commented on #1918
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1918#issuecomment-1066535662):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2022-03-14 10:12] harshad16 commented on #2393
we have completed the release for v2022.02.28 :tada: :confetti_ball: :partying_face:

### Features

**Notify users when they use PyTorch index**

Newly, the resolver notifies users if they consume releases from the PyTorch index.

* https://github.com/thoth-station/adviser/pull/2279

**Memory optimizer in adviser**

If Thoth's adviser consumes too much memory and is killed on OOM in a deployment,

[2022-03-14 10:12] #2393 closed

[2022-03-14 10:13] harshad16 opened #2439 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-03-14 10:13] sesheta commented on #2439
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-14 10:58] #2439 closed

[2022-03-14 13:22] harshad16 opened #2442 "sprint production release v2022.03.28"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/milestone 2022.03.28
/priority important-soon

[2022-03-14 13:23] harshad16 commented on #2442
/milestone 2022.03.28

[2022-03-15 08:56] mayaCostantini commented on #2393
**Automatically bump base image versions to latest available on Quay**

A new script integrated in the `aicoe-ci` pipeline allows to automatically update the base image versions present in configuration files such as `.aicoe-ci.yaml` to the latest available on Quay. The pipeline is triggered by an action on a repository such as the opening of a pull request or an issue. If the base image versions

[2022-03-15 09:06] mayaCostantini opened #2443 "Automatically bump the base image versions of components on stage"
**Is your feature request related to a problem? Please describe.**
As the base image versions present on repositories are now automatically updated by `aicoe-ci` in `.aicoe-ci.yaml` files and are modified on test, it would be useful to have it also automatically updated on stage.
(For more details, see: https://github.com/thoth-station/thoth-application/issues/2393#issuecomment-1067721824).

**Des

[2022-03-15 09:06] sesheta commented on #2443
@mayaCostantini: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [

[2022-03-15 09:07] mayaCostantini commented on #2443
/priority important-soon
/assign @mayaCostantini

[2022-03-15 09:31] fridex commented on #2443
This looks like a duplicate of https://github.com/thoth-station/kebechet/issues/991 Is this related to the automatic container image bump in thoth-application we discussed earlier in https://github.com/thoth-station/kebechet/issues/991#issuecomment-1029996420 and on the tech talk?

[2022-03-15 10:14] mayaCostantini commented on #2443
@fridex You're right, this was indeed discussed in the comment you mentioned 👍🏻 We could close this issue then

[2022-03-15 11:17] pacospace commented on #2431
cc @harshad16, dashboards are available now, but under `opf-monitoring` folder and not `thoth-station` folder. How is assigned the name of the folder in grafana? @4n4nd

![Screenshot from 2022-03-15 12-15-02](https://user-images.githubusercontent.com/27498679/158366499-172be585-2256-4b5a-85af-81fe9cf29744.png)

[2022-03-15 11:41] harshad16 commented on #2431
I think we have to put the folder description in the operate-first/apps using the `customFolderName` variable.
https://github.com/grafana-operator/grafana-operator/blob/7754cd15386ff6da1e3e7b820f8baf53e6dd9356/documentation/dashboards.md#dashboard-properties
https://github.com/grafana-operator/grafana-operator/blob/eec0e7c38193526faa8011816394d748a6727cca/deploy/examples/dashboards/DashboardWithCu

[2022-03-15 12:59] #2443 closed

[2022-03-15 13:57] pacospace commented on #2431
Thanks @harshad16, I will open PR :)

[2022-03-15 13:59] xtuchyna commented on #1839
/reopen
/remove-lifecycle rotten
/assign @xtuchyna
/important long-term

[2022-03-15 14:00] xtuchyna commented on #1839
/priority longterm

[2022-03-15 14:00] sesheta commented on #1839
@xtuchyna: The label(s) `priority/longterm` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1839#issuecomment-1068022114):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or su

[2022-03-15 14:02] sesheta commented on #1839
@xtuchyna: The label(s) `priority/important-longerm` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1839#issuecomment-1068023934):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questi

[2022-03-15 17:21] #2431 closed

[2022-03-17 09:43] fridex opened #2451 "Configure integration-tests for prod environment"
**Is your feature request related to a problem? Please describe.**

As an engineer, I would like to get an overview of the current state of the prod environment so that I can be sure basic tests pass.

**Describe the solution you'd like**

Instead of running integration-tests for the smaug cluster, we could start running integration-tests for the prod deployment. Some of the tests could be turned

[2022-03-17 09:43] sesheta commented on #2451
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-03-17 19:09] sesheta commented on #2209
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-18 11:16] pacospace opened #2452 "db in prod is corrupted"
**Describe the bug**
db in prod is corrupted, services are in crashbackloop in prod

**To Reproduce**
Check metrics https://grafana.operate-first.cloud/d/5f2a5d7b1356c0c8ce4277724c131ed1beac864f/thoth-postgresql-metrics?orgId=1

**Expected behavior**
services all good

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2022-03-18 11:16] sesheta commented on #2452
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-18 11:18] goern commented on #2452
/triage accepted

[2022-03-18 13:11] harshad16 commented on #2452
This is fixed now
the db was under maintenance.
thanks for the issue.

[2022-03-18 13:11] #2452 closed

[2022-03-21 11:39] harshad16 opened #2455 "Migrate the Prometheus metrics and alerts for stage to our own clusters"
**Is your feature request related to a problem? Please describe.**

Migrate the prometheus metrics and alerts from datahub to our own stage cluster
https://gitlab.cee.redhat.com/data-hub/dh-monitoring/-/blob/master/prometheus/prometheus.yaml#L2037

**Describe the solution you'd like**
- [x] Deploy prometheus
- [x] scrape metrics
- [x] Deploy grafana and upload the dashboards
- [x] setup alertmanag

[2022-03-21 11:39] sesheta commented on #2455
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-21 11:55] harshad16 commented on #2455
/triage accepted
/priority important-soon

[2022-03-21 13:05] pacospace commented on #2209
I see data created correctly now, we can close this!

[2022-03-21 13:05] #2209 closed

[2022-03-21 14:34] fridex commented on #2442
**Sprint goals**

- Ingesting data for Fedora 35 running Python 3.10
  - we plan to support Fedora 35 running Python 3.10 as a new runtime environment
  - https://github.com/thoth-station/s2i-thoth/issues/231
- Integration tests for prod and smaug deployment
  - https://github.com/thoth-station/thoth-application/issues/2451
  - https://github.com/thoth-station/integration-tests/issues/302

[2022-03-21 16:10] sesheta commented on #2164
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-22 10:50] goern commented on #2164
@pacospace is this still valid?

[2022-03-22 12:51] codificat commented on #2429
/triage accepted
/assign @xtuchyna
/priority important-soon

[2022-03-23 12:41] #2333 closed

[2022-03-25 18:16] harshad16 commented on #2216
The stage is where data aggregation. every week update in the stage.
Which would be used to update prod.

Experiments:
- [ ] get the latest db dump to local system.
`aws s3 --endpoint https://s3.upshift.redhat.com/ cp s3://thoth/data/ocp4-stage/graph-backup/<latest_date> /tmp/aws-dump`

can get the latest_date: `aws s3 --endpoint https://s3.upshift.redhat.com/ ls s3://thoth/data/ocp4-stage/graph-b

[2022-03-25 18:17] Gregory-Pereira commented on #2216
/assign

[2022-03-25 18:22] Gregory-Pereira commented on #2058
/cc @Gregory-Pereira

[2022-03-28 15:06] harshad16 commented on #2442
we have completed the release for v2022.03.28 :tada: :confetti_ball: :partying_face:

### Announcements

* Team would be switching to 3 weeks sprint cycles.
* GitHub Project would be used for managing SIG Workload
* Subscribe to the [Thoth-Station calendar](https://calendar.google.com/calendar/embed?src=oei20qn6li8ifc2v6jiq8bd2no%40group.calendar.google.com&ctz=Asia%2FKolkata) for the change of me

[2022-03-28 15:06] #2442 closed

[2022-03-28 16:33] harshad16 opened #2470 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-03-28 16:34] sesheta commented on #2470
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-28 16:35] harshad16 opened #2472 "sprint production release for v2022.04.18"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of the thoth-station components features upgrade and fixes in this issue.

**Sprint Goals**
* strengthen SIG/WG/refinement/planning workflows - let's get a better understanding and practice wrt this
* Service Descriptions for "provide

[2022-03-28 16:37] harshad16 opened #2473 "sprint production release v2022.05.09"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/priority important-soon

[2022-03-28 16:49] #2470 closed

[2022-03-29 06:30] fridex opened #2475 "Not all solver documents available in prod"
**Describe the bug**

Following the links to packages as reported by `thamos advise`, some package metadata are not reported back.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `thamos advise`
2. Check recommendations
3. Click on the package link - ex. https://thoth-station.ninja/search/package/itsdangerous/2.1.0/https%3A%2F%2Fpypi.org%2Fsimple/rhel/8/3.8
4. See the error

**Expected b

[2022-03-29 06:30] sesheta commented on #2475
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-03-29 06:30] fridex commented on #2475
Also, some package extract documents are missing. Browsing container image analyses results on thoth search UI gives 404 for most of them.

[2022-03-29 07:09] harshad16 commented on #2475
/triage accepted

Is this reference https://khemenu.thoth-station.ninja/?

[2022-03-29 07:17] harshad16 commented on #2475
ok thank you,
checking on the flow of data and trying to find the issue

[2022-03-29 07:25] harshad16 commented on #2475
maybe this is the reason: https://github.com/thoth-station/thoth-application/blob/683657b77878561cb01d5919e9403ca2b8b532ae/document-sync-job/overlays/ocp4-stage/cronjob.yaml#L7
:face_in_clouds:

[2022-03-29 07:46] fridex commented on #2475
Having the sync on is definitely fix for these issues. I've tried also checking older package releases that should have solver documents already synced in prod, but the issue persists. More recent versions of user-api should report back what solver document is missing:

https://github.com/thoth-station/user-api/blob/e233de2e6a9b601c16d499a42a1c5f24dec4193a/thoth/user_api/api_v1.py#L1199-L1201

[2022-03-29 09:24] fridex commented on #2475
The best way to check if solver documents are synced is to check if user-api in stage responds with data. If prod gives 500, we have data in stage but not in prod. I cannot verify this now as I have some weird VPN networking issues. Will come back to this from the office.

[2022-03-29 09:31] fridex commented on #2475
So running from a pod inside the cluster - it looks like the issue is elsewhere. I am not able to obtain results as the solver document referenced from the database has no corresponding records:

[code]

The issue is in the check which does not normalize package names and hence `Werkzeug` != `werkzeug`.

[2022-03-30 11:35] harshad16 opened #2477 "[3pt] Document the different environments in readme."
Let's document the various environments utilized by the team and describe elaborately the following aspects:
- Access to the various environments
- Starter guide
- Information on various components

[2022-03-30 11:35] sesheta commented on #2477
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-30 14:36] mayaCostantini commented on #2477
/priority important-soon
/lifecycle active
/kind documentation
/assign @harshad16
/assign @mayaCostantini

[2022-03-31 10:04] goern opened #2479 "start f35-py310 ingestion"
SSIA

[2022-03-31 10:04] sesheta commented on #2479
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](htt

[2022-03-31 10:04] goern commented on #2479
/kind feature
/priority important-soon
/triage needs-information

[2022-03-31 10:04] goern commented on #2479
/triage accepted

[2022-04-01 12:46] fridex opened #2484 "investigator reports kafka issues in thoth-infra-stage"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule an advise in ocp4-stage environment
2. See the advise keeps in pending state
3. See advise gets never triggered

**Expected behavior**

Advises should work in ocp4-stage

[2022-04-01 12:46] sesheta commented on #2484
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-04-01 12:47] harshad16 commented on #2484
/triage accepted

[2022-04-01 12:49] harshad16 commented on #2484
/lifecycle active
/assign

seems like the kafka is crashlooping.
![Uploading kafka.png…]()

[2022-04-01 12:51] harshad16 commented on #2484
The amq streams operator is updated to new version.
we need to check on the requirements and upgrade our Kafka to fit to these necessities
![amq](https://user-images.githubusercontent.com/14028058/161267111-3049d131-ac65-4005-b52a-58f336c4278b.png)

[2022-04-01 12:59] harshad16 commented on #2484
CRDs have changed, the whole kafka manifest requires upgrade.
https://access.redhat.com/documentation/en-us/red_hat_amq/2021.q2/html/deploying_and_upgrading_amq_streams_on_openshift/assembly-upgrade-str#assembly-upgrade-resources-str

also version needed to be bumped to:
https://access.redhat.com/documentation/en-us/red_hat_amq_streams/2.0/html/deploying_and_upgrading_amq_streams_on_openshift/asse

[2022-04-01 13:14] fridex opened #2485 "Document how to register new packages"
**Is your feature request related to a problem? Please describe.**

As @codificat pointed out, let's have documentation that states how to register Python packages to the system. This documentation could state how to register Python packages and also what is happening in the system when a new package is solved.

[2022-04-01 13:14] sesheta commented on #2485
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-04-01 13:15] fridex commented on #2485
/triage accepted
/sig user-experience
/sig stack-guidance

[2022-04-03 14:58] #2484 closed

[2022-04-03 15:39] harshad16 commented on #2484
This is all set however, there are sometimes strange happening in the infra namespace:
The quota seems to be full, however, the pods are not running.
![pods-infra](https://user-images.githubusercontent.com/14028058/161435885-83802dfc-8d5e-4c67-a2fc-fd7989576f2a.png)
![infra-quota](https://user-images.githubusercontent.com/14028058/161435891-a99ae83c-71bf-4d91-b9d7-7a2ff1f96343.png)

[2022-04-03 16:26] harshad16 commented on #2484
![back](https://user-images.githubusercontent.com/14028058/161437842-8909517a-58c6-45e0-9455-9407028c980c.png)

All fixed and the kafka setup is back :+1:

[2022-04-04 08:00] fridex commented on #2484
@harshad16 perfect, thanks a lot 💯

[2022-04-04 08:06] fridex opened #2488 "graph-sync image fails to pull in dependency monkey workflow"
**Describe the bug**

As spotted by @mayaCostantini, there are issues with graph-sync image pull:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to prod and schedule dependency monkey workflow
2. See the error

![image](https://user-images.githubusercontent.com/880687/161500966-9d0e6127-ae95-4fdc-958d-cf0e8e1bf146.png)

[2022-04-04 08:06] sesheta commented on #2488
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-04-04 08:07] harshad16 commented on #2488
@fridex  can you share the name of the cluster.

[2022-04-04 08:11] fridex opened #2489 "Dependency monkey fails to submit job to Amun API"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'prod
2. Run dependency monkey
3. See the error reported when stacks are generated

**Expected behavior**

Dependency monkey should trigger inspections.

**Additional context**

It looks like amun-api-url is not correctly set up in amun configmap:

[code]

[2022-04-04 08:11] sesheta commented on #2489
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-04-04 08:11] goern commented on #2488
/priority critical-urgent
/assing @harshad16
/triage accepted
/lifecycle active

[2022-04-04 08:32] #2488 closed

[2022-04-04 09:07] fridex opened #2491 "Amun API fails to start due to config error"
**Describe the bug**

Check amun-api in thoth-amun-api-stage repository.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to thoth-amun-api-stage
2. Click pods and check amun-api
4. See the CreateContainerConfigError

**Expected behavior**

Amun API is up.

[2022-04-04 09:07] sesheta commented on #2491
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-04-04 09:19] mayaCostantini commented on #2491
From the pod logs:

[code]

[2022-04-04 09:20] harshad16 commented on #2491
/triage accepted
/priority critical-urgent
/lifecycle active
/assign

[2022-04-04 09:32] #2491 closed

[2022-04-04 10:01] harshad16 opened #2493 "PSI Cluster Quota resported as full without any resource consuming it."
**Describe the bug**

Noticing that pods are not getting terminated after their action has been completed.

https://console-openshift-console.apps.ocp4.prod.psi.redhat.com/k8s/ns/thoth-frontend-stage/pods
https://console-openshift-console.apps.ocp4.prod.psi.redhat.com/k8s/ns/thoth-frontend-stage/cronjobs/graph-refresh/jobs
https://github.com/thoth-station/thoth-application/blob/251d0579113475c0e91

[2022-04-04 10:02] harshad16 commented on #2493
/triage accepted
/priority important-soon

[2022-04-04 10:22] harshad16 commented on #2493
PSI ticket: https://redhat.service-now.com/surl.do?n=RITM1143044

[2022-04-04 11:26] fridex commented on #2489
I think this one is related based on the error reported - https://github.com/thoth-station/thoth-application/issues/2491 Amun API was down hence dependency monkey was not able to submit inspection jobs.

[2022-04-04 12:38] harshad16 commented on #2479
We should wait on this.
currently there is still some of the package to be solved:https://grafana.datahub.redhat.com/dashboard/db/thoth-knowledge-graph-content-metrics?refresh=30s&orgId=1&panelId=37&fullscreen

we were blocked by: https://github.com/thoth-station/thoth-application/issues/2484
and are blocked by: https://github.com/thoth-station/thoth-application/issues/2493

[2022-04-04 14:38] mayaCostantini opened #2494 "[1pt] Add BigQuery secret to prescriptions-refresh-job workflow spec"
**Is your feature request related to a problem? Please describe.**

Add the BigQuery secret generated from a new service account to run the `scorecards.py` handler for prescriptions-refresh-job.

[2022-04-04 14:38] sesheta commented on #2494
@mayaCostantini: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [

[2022-04-04 16:06] harshad16 commented on #2489
Now the amun-api and cluster resource issue is fixed.
However, when executing the dependency monkey, the amun-api is sending bad request

[code]

[2022-04-04 16:37] fridex commented on #2489
How does the payload look like? Especially its context part. It looks like this could be an easy fix.

[2022-04-04 16:44] harshad16 commented on #2489
payload is being constructed in the dependency monkey step, would have to go over the source code to check on the payload

[2022-04-04 16:46] fridex commented on #2489
Dependency Monkey accepts `context` on the Management API endpoint, it is used as a base for creating requests to Amun API. It looks like the `context` is not correct in this case. If you could provide the dependency monkey identifier, the context part should be stated there AFAIR.

[2022-04-04 17:09] harshad16 commented on #2489
/triage accepted
/priority important-soon

[2022-04-04 17:24] #2489 closed

[2022-04-04 18:10] harshad16 commented on #2493
This is fixed.

[2022-04-04 18:10] #2493 closed

[2022-04-04 19:20] mayaCostantini opened #2496 "`docker-build` container is failing on stage because `micropipenv` is not found"
**Describe the bug**
When triggering an inspection manually from amun-api in stage, the `docker-container` fails to build because the `micropipenv` command is not found.

**To Reproduce**
Steps to reproduce the behavior:
Trigger a manual inspection from https://amun.stage.thoth-station.ninja/api/v1/ and see the error.

**Additional context**
From the container logs:

[code]

[2022-04-04 19:20] sesheta commented on #2496
@mayaCostantini: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [

[2022-04-04 19:46] harshad16 commented on #2496
This would only happen when someone uses a base image, which is neither the Ubi python nor the image built on top of that image.
When using a different base image, the user can select another package_manager in the specification.
https://amun.stage.thoth-station.ninja/api/v1/ui/#/Inspection/post_inspection

seems like for the failed inspection:
The base image was : quay.io/openshift-release-dev/oc

[2022-04-04 19:53] harshad16 commented on #2496
seems like the base used was `registry.access.redhat.com/ubi8/python-38`
however it seems it doesn't have micropipenv
maybe short term fix is to use package manager pipenv

[2022-04-04 19:57] mayaCostantini commented on #2496
Thanks @harshad16 for the explanation 👍🏻 I also tried with the default base image provided in the schema which was `registry.access.redhat.com/ubi8/python-38` and the same thing happened. I can modify this value in the amun-api schema to have pipenv as a package manager instead.

[2022-04-04 19:58] harshad16 commented on #2496
No i think pipenv and micropipenv both are not available anymore in new python container images.
[code]

[2022-04-04 20:00] mayaCostantini commented on #2496
pip seems to be the only package manager present, we could specify it as a default package manager or maybe we could use another image, wdyt?

[2022-04-04 20:02] harshad16 commented on #2496
let's check further.
maybe changing the images to thoth s2i image, might be an option.

[2022-04-04 20:10] harshad16 commented on #2496
I m very wrong, the base image from Ubi python,
doesn't have micropipenv and pipenv either :sweat_smile:

we can install the package manager, by installing the packages, using the `python_package` key

[2022-04-04 20:46] fridex commented on #2496
Would changing the base image to thoth-s2i work here? I think we want to use our containerized environments to check how Python packages behave in the containerized environments we provide. Otherwise, micropipenv could be stated in `python_packages` or in `packages` section as it should be available as an RPM as well.

[2022-04-05 08:16] goern commented on #2479
so we put it on this or the next milestone_

[2022-04-05 08:21] goern commented on #2485
:+1:

as this is a user-facing doc, and we would like to have one sig in the lead
/remove-sig stack-guidance

[2022-04-05 16:43] xtuchyna opened #2498 "Pre-commit fails on the `black` test"
**Describe the bug**
Related PR https://github.com/thoth-station/mi-scheduler/pull/217

PR cannot pass `pre-commit` test because of the failing black test, the reason is invalid import in the `click` module

**LOGS**
[code]

[2022-04-05 16:43] sesheta commented on #2498
@xtuchyna: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2022-04-05 16:45] xtuchyna commented on #2498
After `autoupdate` the pre-commit hook output is:
[code]

[2022-04-05 17:14] xtuchyna commented on #2498
The issue still prevails after fixing `pre-commit==2.15.0` , I cannot reproduce it locally

[code]

[2022-04-05 17:36] xtuchyna commented on #2498
Temporarily ignoring both `mypy` and `black` solved the issue, leaving this open until pernament solution is found

[2022-04-05 17:41] xtuchyna commented on #2498
**UPDATE:**
The issue was with both `mypy` and `black` hooks active in pre-commit configuration file.

The error in job always resulted in:
[code]

After ignoring these tests (commenting them out), `pre-commit` checks passed.

pre-commit mypy and black configuration:
[code]
https://github.com/thoth-station/mi-scheduler/blob/master/.pre-commit-config.yaml

[2022-04-05 17:55] harshad16 commented on #2498
as the update pre-commit is required, we would have to update pre-commit in .prow.yaml
please update the version `v0.14.3` at https://github.com/thoth-station/mi-scheduler/blob/2a37d68b4f215b044ca8799329fc75625c5d4e83/.prow.yaml#L9

[2022-04-05 18:26] #2498 closed

[2022-04-05 18:46] Gregory-Pereira commented on #2216
- [ ] identify which tables are to be restored ("update")
     - [ ] solvers
     - [ ] reach out to thoth-team on this for clarification
     - [ ] identify the restoration order, in case any rows depend on other table's rows
     - [ ] take a dump of production which we will use to emulate a production environment
     - [ ] identify additional issues and document them

[2022-04-06 08:52] meile18 opened #2501 "[2pt] Document for ongoing processes"
**Is your feature request related to a problem? Please describe.**

As a Thoth user, I would like to know where to find information about the ongoing process. For example, this error output: https://github.com/thoth-station/license-solver/issues/55#issuecomment-1082904414

[2022-04-06 08:52] sesheta commented on #2501
@meile18: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-04-06 08:53] meile18 commented on #2501
/kind documentation

[2022-04-06 11:07] #2496 closed

[2022-04-06 11:07] sesheta commented on #2496
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2496#issuecomment-1090142848):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2022-04-06 20:13] xtuchyna opened #2503 "MI workflow names are invalid"
**Describe the bug**
After creating kebechet analyse workflow, it seems that its name was not accepted and therefore error occurred

**To Reproduce**
Steps to reproduce the behavior:
1.  Log in [psi](https://console-openshift-console.apps.ocp4.prod.psi.redhat.com/)
2. `oc project thoth-test-core`
3. `oc create job --from=cronjob/mi-scheduler-kebechet-analyse mi-keb-analyse-test`
4. See error in cr

[2022-04-06 20:13] sesheta commented on #2503
@xtuchyna: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2022-04-07 07:16] goern commented on #2479
@harshad16 @fridex could you create a tracker issue to outline what we need to do to get to a more stable state? what are the metrics we are using? which components need improvement?

[2022-04-07 11:35] xtuchyna opened #2508 "Required `pre-commit` configuration and module update"
**Problem**
For a repository to be compatible with CI pipeline, the tag of the used `pre-commit` image needs to be updated in prow config file.
On top of that, it is also useful to update pre-commit configuration alone along with the module update itself.

Related to https://github.com/thoth-station/common/pull/1250#issuecomment-1091521330
@harshad16

**Steps**
1. Change tags to the `v0.14.3` vers

[2022-04-07 11:35] sesheta commented on #2508
@xtuchyna: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2022-04-07 12:13] xtuchyna commented on #2508
/cc @thoth-station/devs

[2022-04-07 13:48] mayaCostantini commented on #2508
Not yet but we could integrate this into `aicoe-ci` as and trigger checks for more recent image versions for `pre-commit` and `pytest` on a pull request for example as we already do for [`.aicoe-ci.yaml` base image updates](https://github.com/AICoE/aicoe-ci/blob/master/tasks/base-image-update.yaml).

[2022-04-11 13:11] fridex commented on #2472
**User API drops `count` and `limit` parameters on advise endpoint**

Starting this release, user-api no longer provides count and limit as parameters on the advise endpoints. These parameters were not used. Note this is a braking change on API endpoints.

* https://github.com/thoth-station/user-api/issues/1726
* https://github.com/thoth-station/user-api/pull/1727
* https://github.com/thoth-statio

[2022-04-11 13:35] harshad16 commented on #2473
Sprint Goals:
[Sig- User Experience](https://github.com/orgs/thoth-station/projects/40#column-18185239)
https://github.com/thoth-station/kebechet/issues/1029
https://github.com/thoth-station/thamos/issues/1104
https://github.com/thoth-station/thamos/issues/1103
https://github.com/thoth-station/search/issues/53
https://github.com/thoth-station/search/issues/61

[Sig-Stack-Guidance](https://github.c

[2022-04-11 13:40] fridex opened #2512 "Make cronjob runs more observable"
**Is your feature request related to a problem? Please describe.**

As a Thoth operator, I would like to have an overview of cronjob runs as there are a few cronjobs that should be monitored. To support this, we could have a dashboard that shows each cronjob and information when it was run. This way, the Thoth operator can be sure cronjobs work and users of Thoth get up to date recommendations.

*

[2022-04-11 13:40] sesheta commented on #2512
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-04-11 13:40] fridex commented on #2512
/sig observability
/priority backlog

[2022-04-11 13:47] fridex commented on #2472
**Fix scoring of the user stack supplied**

Users could be confronted with issues when adding a new package to requirements and submitting the lock file to the backend. The backend did not invalidate the lockfile sent as it no longer corresponded to the adjusted requiements.

* https://github.com/thoth-station/adviser/issues/2322
* https://github.com/thoth-station/python/pull/470

[2022-04-11 14:58] Gkrumbach07 commented on #2472
**Thoth Search UI moves to Typescript and adds a advise document compare screen**
Users can now compare multiple advise documents to see the differences and similarities between them. They can access old advise documents through a local history feature added. The home page now has a button for viewing past runs.

- https://github.com/thoth-station/search/issues/60
- https://github.com/thoth-statio

[2022-04-12 11:31] fridex opened #2513 "Managing data across deployments"
**Is your feature request related to a problem? Please describe.**

As Thoth operator, I would like to make sure data are properly managed across deployments. As of now, we use a staging environment to compute data (given the resources available) and propagate a database dump to prod environments. This situation proved to be not scalable long-term as production can write into the database as well

[2022-04-12 11:31] sesheta commented on #2513
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-04-12 11:32] fridex commented on #2513
CC @Gregory-Pereira @harshad16

[2022-04-12 11:43] harshad16 commented on #2513
Thank you @fridex for the issue with all details

[2022-04-12 14:24] #2503 closed

[2022-04-12 18:31] harshad16 commented on #2513
/label sig-devsecops

[2022-04-12 18:31] sesheta commented on #2513
@harshad16: The label(s) `/label sig-devsecops` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/moc-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/advisor,

[2022-04-12 18:31] sesheta commented on #2513
@harshad16: The label(s) `sig/devops` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2513#issuecomment-1097056112):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggesti

[2022-04-12 19:02] harshad16 commented on #2111
This fixed on almost all repos.
closing this.
thanks everyone.

[2022-04-12 19:02] #2111 closed

[2022-04-12 19:26] harshad16 commented on #2164
/priority important-longterm
/lifecycle frozen

[2022-04-12 19:37] sesheta opened #2515 "ThothDatabaseConnection"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.smaug.na.operate-first.cloud

  * firing https://thanos-querier-openshift-monitoring.apps.smaug.na.operate-first.cloud/graph?g0.expr=thoth_graphdb_connection_issues%7Bfield%3D%22metrics-exporter-thoth-infra-prod.apps.smaug.na.operate-first.cloud%22%2Cnamespace%3D%22thoth-infra-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels

[2022-04-12 19:37] sesheta opened #2516 "ThothDatabaseConnection"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.smaug.na.operate-first.cloud

  * firing https://thanos-querier-openshift-monitoring.apps.smaug.na.operate-first.cloud/graph?g0.expr=thoth_graphdb_connection_issues%7Bfield%3D%22metrics-exporter-thoth-infra-prod.apps.smaug.na.operate-first.cloud%22%2Cnamespace%3D%22thoth-infra-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels

[2022-04-12 19:39] sesheta commented on #2516
@sesheta: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-04-12 19:39] sesheta commented on #2515
@sesheta: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-04-12 19:40] harshad16 commented on #854
The github receiver is now working:
![alert-creation](https://user-images.githubusercontent.com/14028058/163040722-e548f4d9-d998-4195-83c1-7ee333ae3171.png)

Issues are getting created: #2515

[2022-04-13 14:04] #2516 closed

[2022-04-14 21:06] #2515 closed

[2022-04-18 18:02] harshad16 commented on #2472
we have completed the release for v2022.04.18 :tada: :confetti_ball: :partying_face:

### Features

**User API drops `count` and `limit` parameters on advise endpoint**

Starting this release, user-api no longer provides count and limit as parameters on the advise endpoints. These parameters were not used. Note this is a braking change on API endpoints.

* https://github.com/thoth-station/user-api

[2022-04-18 18:02] #2472 closed

[2022-04-18 18:15] harshad16 opened #2521 "sprint production release 2022.05.30"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/priority important-soon

[2022-04-18 18:15] harshad16 opened #2522 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-04-18 18:15] sesheta commented on #2522
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-04-18 19:20] #2522 closed

[2022-04-18 20:17] Gregory-Pereira commented on #2513
I think Maya's current PR should update everything in such a way in `storages` that the only changes needed in the `sync-job` are to bump the version for storages once it goes through, and construct a `CronWorkflow` from the `CronJob template` in [openshift.yaml](https://github.com/thoth-station/sync-job/blob/master/openshift.yaml).

[2022-04-18 22:13] sesheta commented on #2017
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-19 10:13] sesheta commented on #1928
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-19 10:13] sesheta commented on #2145
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-19 11:15] codificat commented on #2455
/sig observability

[2022-04-19 11:16] codificat commented on #2216
/remove-sig user-experience
/remove-sig stack-guidance

[2022-04-25 12:12] codificat commented on #2479
/sig devsecops

[2022-04-25 20:05] sesheta opened #2527 "ThothDatabaseConnection"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.smaug.na.operate-first.cloud

  * firing https://thanos-querier-openshift-monitoring.apps.smaug.na.operate-first.cloud/graph?g0.expr=thoth_graphdb_connection_issues%7Bfield%3D%22metrics-exporter-thoth-infra-prod.apps.smaug.na.operate-first.cloud%22%2Cnamespace%3D%22thoth-infra-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Labels

[2022-04-25 20:06] sesheta commented on #2527
@sesheta: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-04-25 21:37] codificat commented on #2473
/milestone 2022.05.09

[2022-04-26 06:46] goern commented on #2479
what is the current state of this?

[2022-04-26 07:22] goern commented on #2527
/sig devops
/kind bug
/priority critical-urgent
/assign @harshad16
/assign @Gregory-Pereira
/triage accepted

[2022-04-26 07:22] sesheta commented on #2527
@goern: The label(s) `sig/devops` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2527#issuecomment-1109439502):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions

[2022-04-26 07:22] goern commented on #2527
/sig devsecops

[2022-04-26 07:25] harshad16 commented on #2527
This is due to outage :
https://github.com/operate-first/support/issues/554

[2022-04-26 07:36] harshad16 commented on #2479
This PR would fix this: https://github.com/thoth-station/thoth-application/pull/2525
and it is ready for review

[2022-04-26 08:00] #2527 closed

[2022-04-27 10:10] codificat commented on #2501
/triage accepted
/priority important-longterm
/sig devsecops

[2022-04-27 10:15] codificat commented on #2508
It's unclear to me what the goal/request for this issue would be.

Is it just to raise awareness of the need to update versions across the repos? If so, that might be addressed by some documentation, e.g. in the template project where the pre-commit template is provided.

Or is it a feature request to implement automated updates? If so, then maybe this belongs to the `aicoe-ci` repo instead?

/tri

[2022-04-28 13:44] fridex opened #2528 "Failed to schedule solvers in thoth-test-core"
**Describe the bug**

Try to schedule solver and see the missing template error.

**To Reproduce**
Steps to reproduce the behavior:

Run the following with thoth-common installed in the environment:

[code]

[code]

And observe the following error in Argo workflows:

[code]

**Expected behavior**

Solver workflows should run.

[2022-04-28 16:27] codificat commented on #2494
/remove-sig stack-guidance
as this is about the deployment of the job

Also, this seems to be
/triage accepted

[2022-04-28 16:41] harshad16 opened #2529 "[3pt] Create sync method in thoth-storages can randomize document listing"
As Thoth Service Operator, I would like to have a sync method in which the thoth-storages that can randomize document listing so that we can run multiple sync jobs in parallel.

**Acceptance Criteria**

- [x] Introduce the randomize method for document listing randomize.

[2022-04-28 16:41] harshad16 opened #2530 "[3pt] create sync-job cronworkflow in thoth-application"
As a Thoth Service Operator, I would like to make sure the sync-job uses the adjusted method and we can turn the job into a cronworkflow so that data can be periodically synced into the database (multiple sync jobs can be part of the cronworkflow to support parallel syncs)

**Acceptance Criteria**

- [ ] create a sync-job cronworklow.
- [ ] create a template of sync-job workflow

[2022-04-28 16:41] sesheta commented on #2529
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-04-28 16:41] sesheta commented on #2530
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-04-28 16:41] harshad16 opened #2531 "make sure the sync job can be also triggered from management-api"

[2022-04-28 16:41] harshad16 opened #2532 "[1pt] Ensure database dumps are created also in the production environment"
As Thoth Service Operator, I would like to ensure database dumps are created for the production environment so that we can have the dumps for the restoration of systems.

**Acceptance criteria**
- [x] verify if the dumps are being stored on the ceph database

[2022-04-28 16:41] sesheta commented on #2531
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-04-28 16:41] harshad16 opened #2533 "[3pt] create metrics for sync-job and set the requirements in manifests"
As a Thoth Service Operator, I would like to have metrics from the sync-job so that we can create a dashboard from the syncs.

**Acceptance criteria**

- [ ] create metrics in the sync-job
- [ ] update the sync-job workflow and cronworflow to access pushgateway

[2022-04-28 16:41] sesheta commented on #2532
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-04-28 16:41] sesheta commented on #2533
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-04-28 16:41] Gregory-Pereira commented on #2529
Addressed by: https://github.com/thoth-station/storages/pull/2625

[2022-04-28 16:47] Gregory-Pereira commented on #2530
Addressed by: https://github.com/thoth-station/thoth-application/pull/2524

[2022-04-28 16:58] harshad16 commented on #1788
/triage accepted

[2022-04-28 17:01] Gregory-Pereira commented on #2198
/cc @Gregory-Pereira

[2022-04-28 17:07] harshad16 commented on #2477
/triage accepted
/lifecycle frozen

[2022-04-28 17:08] harshad16 commented on #2477
/sig devsecops

[2022-04-29 08:48] harshad16 opened #2534 "Verify if the auto increment of entries in PGSQL is scalable"
The auto-increment of entries in PGSQL is set, with purge jobs and sync jobs running for data ingestion, we should ensure that the auto_increment of entries in PGSQL can scale and live up to project thoth requirements.

[2022-04-29 08:48] sesheta commented on #2534
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-04-29 08:53] harshad16 opened #2535 "Verify the metrics for the solvers sync and details"
The solver metrics contain details of the number of days it takes to sync results for the new solver. we should verify if the metrics have more information as follows:
- How many packages are synced?
- can the metrics show up as new solvers ?

[2022-04-29 08:53] sesheta commented on #2535
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-04-29 08:56] harshad16 opened #2536 "Update docs for having details about the new solvers inclusion"
We need the docs for having the new solver's inclusion methods and the way it should be carried out.

[2022-04-29 08:56] sesheta commented on #2536
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-04-29 08:56] harshad16 opened #2537 "[3pt] Update the test cluster to have database from the current stage"
Update the test cluster to have database from the current stage

[2022-04-29 08:57] sesheta commented on #2537
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-04-29 08:59] harshad16 opened #2538 "[1pt] Would the team like a public test cluster?"
Please confirm with your acknowledgement by giving :+1: or :-1: to this GitHub issue, for having a public test cluster on the op1st Morty cluster and deploy the a test environment to it via argocd

[2022-04-29 12:21] fridex opened #2539 "A central operational documentation"
**Is your feature request related to a problem? Please describe.**

As Thoth's deployment and resolver is starting to be large, it might be a good idea to provide a central place that would document what to do when. This documentation would be more "operational" centric and could state things that need to be done on certain events. For instance:

- [ ] purging and updating database entries for new

[2022-04-29 12:22] sesheta commented on #2539
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-05-02 09:10] goern commented on #2528
/priority critical-urgent
/assign @Gregory-Pereira
/sig devsecops

[2022-05-02 11:41] goern commented on #2539
/sig devsecops

[2022-05-02 12:09] harshad16 commented on #2529
/triage accepted
/priority important-soon
/sig devsecops

[2022-05-02 12:17] harshad16 commented on #2530
/triage accepted
/priority important-soon
/sig devsecops

[2022-05-02 12:26] harshad16 commented on #2532
/triage accepted
/priority important-soon
/sig devsecops

[2022-05-02 12:30] harshad16 commented on #2533
/triage accepted
/priority important-soon
/sig devsecops

[2022-05-02 12:30] harshad16 commented on #2529
This is already worked and completed: https://github.com/thoth-station/storages/pull/2625
Thanks for the work :100:

[2022-05-02 12:30] #2529 closed

[2022-05-02 12:56] codificat commented on #2533
/kind feature

[2022-05-02 13:29] goern commented on #2538
/sig devsecops
/priority important-soon

[2022-05-02 13:40] harshad16 commented on #2282
Component [document-sync-job](https://github.com/thoth-station/document-sync-job) was created to accommodate the needs.
The deployment of the document-sync-job is created via the following issues:
- https://github.com/thoth-station/thoth-application/pull/2286
- https://github.com/thoth-station/thoth-application/pull/2319
- https://github.com/thoth-station/thoth-application/pull/2323
- https://gith

[2022-05-02 13:40] #2282 closed

[2022-05-02 15:50] codificat opened #2540 "[spike] recent discontinuity/gap in the user-api metrics"
**Describe the bug**

I was checking the [dashboard for Thoth User API Metrics for last week](https://grafana.operate-first.cloud/d/b8d70c644a212b2708189159840d351610b7ea89/thoth-service-metrics-user-api?orgId=1&refresh=30m&var-interval=10m&var-instance=user-api-thoth-frontend-prod.apps.balrog.aws.operate-first.cloud&from=now-7d&to=now) and I saw that there is a gap of about 4 days, between Apr 26

[2022-05-02 15:50] sesheta commented on #2540
@codificat: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-05-04 12:09] #2479 closed

[2022-05-04 12:09] #2528 closed

[2022-05-04 12:44] sesheta opened #2542 "ThothSolversThothS2iOfferedMismatch"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.smaug.na.operate-first.cloud

  * firing https://thanos-querier-openshift-monitoring.apps.smaug.na.operate-first.cloud/graph?g0.expr=thoth_graphdb_solvers_number_match%7Bfield%3D%22metrics-exporter-thoth-infra-prod.apps.smaug.na.operate-first.cloud%22%2Cnamespace%3D%22thoth-infra-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Lab

[2022-05-04 12:44] sesheta commented on #2542
@sesheta: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-05-04 13:45] harshad16 commented on #2542
/triage accepted

This should be fixed, as soon as the solver f35-py3.10 is synced in database.

[2022-05-04 18:44] harshad16 opened #2544 "[2pt] Ensure Metrics for argocd app and openshift pipelines in OPF monitoring"
Ensure Metrics for argocd app and openshift pipelines in OPF monitoring

- [x] verify the service of the app has metrics endpoint
- [x] create servicemonitor for prometheus to scrape metrics out of these apps.

[2022-05-04 18:44] sesheta commented on #2544
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-05-04 18:45] harshad16 commented on #2544
/triage accepted
/sig devsecops

[2022-05-04 18:47] harshad16 commented on #2544
cc: @4n4nd

[2022-05-04 18:50] harshad16 opened #2545 "[2pt] Plan on the dashboard for time to release to prod"
Plan on the dashboard for time to release to prod

[2022-05-04 18:50] sesheta commented on #2545
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-05-05 08:38] harshad16 commented on #2545
/triage accepted
/sig observability

[2022-05-05 11:15] harshad16 commented on #2243
The package extraction for the mentioned image was tested.
s2i-pytorch image was successful extract and synced to db of stage cluster:
Results from thoth container images ![pytorch](https://user-images.githubusercontent.com/14028058/166911905-ee6ee032-5fb4-487c-a849-207611887983.png)
https://stage.thoth-station.ninja/api/v1/container-images?page=0&per_page=25&os_name=ubi

Result from successful gr

[2022-05-05 12:51] harshad16 commented on #2243
closing this issue as the image is being successfully analysed
Thanks everyone for the effort :100:

[2022-05-05 13:00] harshad16 commented on #974
This issue is now unblocked and complete: https://github.com/thoth-station/thoth-application/issues/2243
The whole list is now complete
Thanks for the amazing work :100:

[2022-05-05 13:00] #974 closed

[2022-05-05 13:11] #2494 closed

[2022-05-06 17:13] #2530 closed

[2022-05-10 10:31] harshad16 commented on #2473
we have completed the release for v2022.05.09 :tada: :confetti_ball: :partying_face:

### Features

**Github action that integrates Thoth**

GitHub action on github repository that integrates with Thoth. The GitHub action can use Thamos CLI to contact Thoth backend to get results. For example, if there is a security vulnerability, the GitHub action can turn pull-request to red state, eventually bl

[2022-05-10 10:31] #2473 closed

[2022-05-10 10:35] codificat commented on #2521
Sprint goals: there are two main themes for this sprint:
- Continue with the integration test improvements
- Increase advise manager usage

The details of the issues involved can be found in the project boards for each SIG: [DevSecOps](https://github.com/orgs/thoth-station/projects/16), [Observability](https://github.com/orgs/thoth-station/projects/18), [Stack Guidance](https://github.com/orgs/tho

[2022-05-10 10:45] harshad16 opened #2551 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-05-10 10:45] sesheta commented on #2551
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-05-10 10:46] #2551 closed

[2022-05-10 10:48] harshad16 opened #2553 "sprint production release 2022.06.20"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/priority important-soon

[2022-05-11 19:39] #2542 closed

[2022-05-11 20:09] sesheta opened #2555 "ThothSolversThothS2iOfferedMismatch"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.smaug.na.operate-first.cloud

  * firing https://thanos-querier-openshift-monitoring.apps.smaug.na.operate-first.cloud/graph?g0.expr=thoth_graphdb_solvers_number_match%7Bfield%3D%22metrics-exporter-thoth-infra-prod.apps.smaug.na.operate-first.cloud%22%2Cnamespace%3D%22thoth-infra-prod%22%7D&#43;%3D%3D&#43;1&amp;g0.tab=1

    Lab

[2022-05-11 20:52] KPostOffice opened #2556 "[1pt] Give user-api secret creation and editing permissions"
**Is your feature request related to a problem? Please describe.**
Webhook implementation currently proposed requires new permissions. Creating a secret for adviser runs and the ability to patch these secrets.

**Describe the solution you'd like**
Add secret creation and editing to user-api role
https://github.com/thoth-station/thoth-application/blob/master/user-api/base/role.yaml

[2022-05-11 20:52] sesheta commented on #2556
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-05-11 20:59] KPostOffice opened #2557 "[2pt] Create a new ServiceAccount for callback sending task with the ability to delete secrets"
**Is your feature request related to a problem? Please describe.**
After callback urls are sent, the created secret needs to be removed.

**Describe the solution you'd like**
Create a new serviceAccount, role, roleBinding for a new workflow-helpers task which sends results to callback url

[2022-05-11 20:59] sesheta commented on #2557
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-05-11 21:20] KPostOffice opened #2558 "[2pt] Create workflow for sending callback urls and schedule it at the end of adviser"
**Is your feature request related to a problem? Please describe.**
Need to schedule task to send all callback urls

**Describe the solution you'd like**
Add a workflow to run workflow-helpers task which takes results and sends them to each url defined in a secret and then add a task at the end of adviser which schedules this workflow (see: https://argoproj.github.io/argo-workflows/workflow-submitt

[2022-05-11 21:20] sesheta commented on #2558
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-05-16 07:46] goern commented on #2557
/priority important-soon

[2022-05-16 07:47] goern commented on #2534
/priority important-soon
/sig devsecops

[2022-05-16 07:51] goern commented on #2536
/priority critical-urgent
/triage accepted

[2022-05-16 07:52] goern commented on #2537
/priority important-soon
/sig devsecops

[2022-05-16 07:52] goern commented on #2540
/sig observability
/priority important-soon

[2022-05-16 07:53] goern commented on #2539
/priority critical-urgent

[2022-05-16 07:59] goern commented on #2555
/assign @fridex
/assign @mayaCostantini
/kind bug
/priority critical-urgent

@fridex @mayaCostantini @Gregory-Pereira could you have a look at a short documentation how to handle this kind of alerts?
thx :100:

/sig devsecops
/triage accepted

[2022-05-16 10:20] fridex commented on #2555
The issue here might be the new solver f35-py310 installation. This alert is triggered when database records do not list a solver that is installed in openshift and ready to solve packages (in the configmap) or vice versa.

The issue here that triggers alert:

- there are solver records in the database that do not conform to solvers configured - this means Thoth operator should either remove solve

[2022-05-16 10:21] fridex commented on #2555
BTW this alert should go away once the database in moc/smaug gets updated with f35-py310 records from stage where the ingestion is happening. I think @harshad16 is aware of this and the reason behind this alert.

[2022-05-16 10:39] harshad16 commented on #2555
Thanks for the details
and yes I m aware of these errors
https://github.com/thoth-station/thoth-application/issues/2542#issuecomment-1117333488

/unassign @fridex
/unassign @mayaCostantini

[2022-05-16 11:40] goern commented on #1992
/remove-priority important-longterm
/priority backlog

[2022-05-16 18:05] harshad16 opened #2562 "[3pt] create workflow template to be triggered from management-api for sync-job"

[2022-05-16 18:05] sesheta commented on #2562
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-05-16 18:13] #2544 closed

[2022-05-17 10:15] sesheta commented on #2149
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-17 18:03] harshad16 opened #2563 "[Epic] Metrics for the devsecops tools"
As DevSecOps operators, we would like to have metrics for the devsecops tools, so we could create grafana dashboard for monitoring.

Acceptance Criteria
-
-

[2022-05-17 18:03] sesheta commented on #2563
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-05-17 18:04] harshad16 commented on #2563
/triage accepted

[2022-05-19 11:35] sesheta commented on #2145
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-19 11:35] sesheta commented on #1928
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-20 09:10] codificat commented on #2145
/remove-lifecycle rotten

[2022-05-22 10:16] sesheta commented on #810
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-23 11:08] codificat commented on #2485
I agree that one SIG should lead. However, given the content of the documentation (expected to heavily rely on knowledge of how solver/advise works) I would say this should be driven by
/sig stack-guidance
rather than
/remove-sig user-experience

Also, one thing I would like to add: beyond the purely technical details, I believe the documentation should mention the requirements that packages are e

[2022-05-23 13:16] sesheta commented on #2259
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-23 17:45] harshad16 opened #2565 "[spike] Gather means for getting the ubi images updates notification"
Gather means for getting the ubi images updates notification

[2022-05-23 17:45] sesheta commented on #2565
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-05-23 18:21] KPostOffice commented on #2556
/sig user-experience

[2022-05-23 19:55] KPostOffice commented on #2557
/sig user-experience

[2022-05-23 19:55] KPostOffice commented on #2558
/sig user-experience

[2022-05-24 12:11] #2562 closed

[2022-05-24 12:38] harshad16 commented on #2451
This is completed and is providing results as intended.
Thanks, everyone for the efforts on this issue.

[2022-05-24 12:38] #2451 closed

[2022-05-24 12:39] harshad16 commented on #1996
Tried it with other components, but some how it doesn't work in the upgraded version.

[2022-05-25 12:54] harshad16 opened #2566 "workflows in stage are not getting scheduled due to issue in kafka"
**Describe the bug**
The team is facing an issue where requesting action on the stage cluster doesn't create any workflows. On further investigation, it was noticed, that the Kafka messages are not getting consumed, due to the issue in the Kafka deployment.
At the stage, our own team manages our own kafka deployment [here](https://console-openshift-console.apps.ocp4.prod.psi.redhat.com/k8s/ns/aico

[2022-05-25 13:09] harshad16 commented on #2566
[code]

[2022-05-25 19:03] harshad16 commented on #2566
The reason for failure is https://access.redhat.com/documentation/en-us/red_hat_amq_streams/2.1/html/deploying_and_upgrading_amq_streams_on_openshift/assembly-upgrade-str#assembly-upgrading-kafka-versions-str
[code]
it is stated that log format version and protocol version needs to be updated  manually

[2022-05-25 19:12] harshad16 commented on #2566
Upgrading is happening:
[code]

[2022-05-25 21:00] harshad16 commented on #2566
The deployment is fixed:
https://console-openshift-console.apps.ocp4.prod.psi.redhat.com/k8s/ns/aicoe/pods

[2022-05-27 11:11] mayaCostantini opened #2569 "The `activeDeadlineSeconds` set for solver pods does not allow them to finish"
**Describe the bug**

Solvers scheduled for some packages are terminated before they have finished because of the `activeDeadlineSeconds` being set to 900s. We should consider increasing this deadline to see if the solvers finish successfully.

**To Reproduce**

Schedule a solver for a package in the management API and see the pod event specifying that the solver was terminated because the `active

[2022-05-27 11:12] sesheta commented on #2569
@mayaCostantini: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [

[2022-05-27 11:12] mayaCostantini commented on #2569
/sig devsecops
/priority critical-urgent

[2022-05-27 11:17] fridex commented on #2569
+1

In some cases, we run 2 solvers if one fails due to resource allocation. See https://github.com/thoth-station/thoth-application/issues/1892 and https://github.com/thoth-station/thoth-application/pull/1894. It might be good idea to keep the first activeDeadlineSeconds set to 900 and let the second one (`solve-res` with more resources) have more CPU time allocated by increasing activeDeadlineSec

[2022-05-27 11:25] mayaCostantini commented on #2569
Sounds good, thanks for the explanation :+1: Opening a PR with the change soon.

[2022-05-27 11:32] fridex commented on #2569
Just reasoning here - the first solver tries to solve packages "quick and low resources". If that fails, more resources (mem, CPU, CPU time) are allocated. The first solver should solve most of the Python packages that do not need any compilation and are relatively small. This is the case for most of the packages (these numbers are present in the SLI/SLO metrics).

[2022-05-27 14:41] mayaCostantini commented on #2569
Solvers are now running successfully, closing this issue.
Closed by https://github.com/thoth-station/thoth-application/pull/2570

[2022-05-27 14:41] #2569 closed

[2022-05-27 19:33] harshad16 commented on #2566
The investigator is not able to resolve some of the workloads.
Due to:
[code]

It seems while updating, the offset of some topics was hindered.
It would have happened due to not following the exact steps of the upgrade.

[2022-05-27 19:44] harshad16 opened #2571 "Establish a method to block requests when kafka consumption itself is broken"
**Is your feature request related to a problem? Please describe.**
We have come across a scenario in which Kafka consumers couldn't consume due to a change in offset value, which can happen if the data is lost out of Kafka, if such a scenario is encountered in future, maybe it would be a good idea to let users know the system is under maintenance, instead of losing request of users, while users ar

[2022-05-27 19:47] sesheta commented on #2571
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-05-27 19:48] harshad16 commented on #2571
/priority backlog

[2022-05-29 08:07] harshad16 commented on #2566
Now this is working.
closing this

[2022-05-29 08:07] #2566 closed

[2022-05-30 11:41] codificat opened #2577 "integration tests not running in stage"
**Describe the bug**

The integration tests in the stage environment have not completed during the past week.

**To Reproduce**
Steps to reproduce the behavior:
1. Look at the `integration-tests` CronJob in `thoth-infra-stage` namespace in the stage cluster
2. check the list of Jobs ran
3. Notice that the *completions* is `0/1` for the recent Job runs

**Expected behavior**

Integration tests shou

[2022-05-30 11:41] sesheta commented on #2577
@codificat: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-05-30 11:41] codificat commented on #2577
/priority critical-urgent
/assign @harshad16

[2022-05-31 18:55] harshad16 commented on #2521
we have completed the release for v2022.05.09 :tada: :confetti_ball: :partying_face:

### Features

 There are two main themes for this sprint:
- Continue with the integration test improvements
- Increase advise manager usage

**Memory and CPU resource allocation**
The process of the memory and CPU resource allocation used by the adviser component for guidance stack resolution is documented in vid

[2022-05-31 18:55] #2521 closed

[2022-05-31 18:56] harshad16 opened #2579 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-05-31 18:56] sesheta commented on #2579
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-05-31 19:00] #2579 closed

[2022-05-31 19:03] harshad16 opened #2581 "sprint production release 2022.07.11"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/priority important-soon

[2022-06-01 12:58] sesheta commented on #2357
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-01 12:58] sesheta commented on #2162
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-02 16:54] harshad16 commented on #2145
**Acceptance criteria**

- [ ] Research on methods to trigger automatic schema update.
- [ ] Implement the method for the trigger.
- [ ] (alternative) use argocd notification job to trigger management-api schema update endpoint.
- [ ] Use bots to trigger kebechet updates and make releases.

**Goal**
- Automate the schema update flow.

[2022-06-02 16:55] harshad16 opened #2582 "[spike][2pt] Research on methods to trigger automatic schema update."
Research a mechanism that runs schema updates on each release.
schema updates can be done via management-api API call using https://management.prod.thoth-station.ninja/api/v1/ui/#/Graph/initialize_schema
we would like to trigger this schema update on each release, instead of doing it manually.

[2022-06-02 16:55] harshad16 opened #2583 "Implement the method for the trigger."
Based on the solution agreed in https://github.com/thoth-station/thoth-application/issues/2582, implement the method.
If not is concretely decided, follow the alternate solution:
- use argocd notification job to trigger management-api schema update endpoint.

[2022-06-02 16:55] sesheta commented on #2582
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-06-02 16:55] harshad16 opened #2584 "Use bots to trigger kebechet updates and make releases."

[2022-06-02 16:55] sesheta commented on #2583
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-06-03 18:18] harshad16 commented on #2582
/triage accepted
/priority important-soon

[2022-06-03 18:20] harshad16 commented on #2583
/triage accepted
/priority important-soon

[2022-06-03 18:21] harshad16 commented on #2584
/triage accepted
/priority important-soon

[2022-06-03 19:50] harshad16 commented on #2577
/triage accepted

[2022-06-06 17:07] harshad16 commented on #2058
The repo was 5Gb in size when prow was failing, the clone on the prow job caused it.
The repo is now refactored and sized 6mb.

This is no longer valid, the prow jobs are functioning now.

[2022-06-06 17:07] #2058 closed

[2022-06-06 17:27] harshad16 commented on #1248
This function is working in the prod and stage.
All required roles and role-bindings are in place
the UI list the created Cron workflow on the cron workflow list.
Thanks for opening the issue.

[2022-06-06 17:27] #1248 closed

[2022-06-06 18:42] harshad16 commented on #2577
/sig devsecops

The issue was due to the excessive request for data ingestion.
caused the investigator(Kafka consumer) to halt the process without halting the consumer topic.
which results in delay, it functions back once the halt process of the investigator is back.
In this process the halt period topics are missed, this is one a blue moon situation
we would wait for the next appearance of this i

[2022-06-06 18:42] #2577 closed

[2022-06-06 18:43] harshad16 commented on #2565
/triage accepted
/sig devsecops
/priority important-soon

[2022-06-06 18:44] harshad16 commented on #2563
/sig devsecops
/kind feature
/priority important-soon

[2022-06-06 18:45] harshad16 commented on #2558
/triage accepted
/priority backlog

[2022-06-06 18:46] harshad16 commented on #2556
/triage accepted
/priority important-soon

[2022-06-06 18:48] harshad16 commented on #2540
There was a problem with the long term storage
I think the long-term storage would soon be set to past 2 days.
if we require this , let formulate the requirement needs.

/triage accepted

[2022-06-06 18:50] harshad16 commented on #2539
/triage accepted
/lifecycle frozen
/area documentation

[2022-06-06 18:50] harshad16 commented on #2538
/triage accepted

[2022-06-06 18:50] harshad16 commented on #2537
/triage accepted

[2022-06-06 18:52] harshad16 commented on #2535
/triage accepted
/priority important-soon
/sig observability
/lifecycle frozen

[2022-06-06 18:53] harshad16 commented on #2534
/triage accepted
/sig stack-guidance

[2022-06-06 18:55] harshad16 commented on #2532
The database dumps are taken every week:
https://github.com/thoth-station/thoth-application/blob/d17fc9c44780fe161b9f5e305717dcd28f358b04/graph-backup-job/overlays/aws-prod/cronjob.yaml#L10
Thanks everyone.

[2022-06-06 18:55] #2532 closed

[2022-06-06 18:56] harshad16 commented on #2429
Based on these suggestion https://github.com/thoth-station/thoth-application/issues/2429#issuecomment-1064369847
the logs retention can be updated.
closing the issue as the details are available for further operations.
Thanks everyone.

[2022-06-06 18:56] #2429 closed

[2022-06-06 18:58] harshad16 commented on #2162
/lifecycle frozen
/sig stack-guidance

[2022-06-06 18:59] harshad16 commented on #2017
/lifecycle frozen
/sig stack-guidance

[2022-06-06 19:00] harshad16 commented on #1949
/lifecycle frozen

[2022-06-06 19:07] harshad16 commented on #1928
/lifecycle frozen
/sig stack-guidance

[2022-06-07 13:39] sesheta commented on #1496
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1496#issuecomment-1148691337):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2022-06-07 15:17] #2556 closed

[2022-06-07 17:00] fridex commented on #2553
**Allow certain CVEs to be present in the application**

Users of Thoth can now configure selectively which CVEs can be present in the application. It is possible to select which CVEs can be present in the application by enumerating them in the `.thoth.yaml` configuration file in `labels` section (comma separated listing):

[code]

Another option is to pass labels configuration to Thamos CLI:

[co

[2022-06-08 13:21] mayaCostantini opened #2588 "[3pt] Security-indicators are failing on prod because PVC provisioning failed"
**Describe the bug**

Cluster: balrog
Namespace: thoth-middletier-prod

From Events of `security-indicator-220608114742-3cf2777548285fc3`:

[code]

**To Reproduce**

Run solvers for new package in management-api (prod).

**Acceptance criteria**
- [ ] Verify the security indicator can be executed with error in prod

[2022-06-08 13:21] sesheta commented on #2588
@mayaCostantini: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [

[2022-06-13 11:46] blues-man commented on #2162
Please verify this issue:
https://github.com/openshift-instruqt/instruqt/issues/10#issuecomment-1153814731

[2022-06-13 12:50] mayaCostantini commented on #2162
/remove lifecycle-frozen

[2022-06-13 16:01] sesheta commented on #1839
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-15 07:57] mayaCostantini commented on #2553
**First Thoth Adviser GitHub Action release**

The [Thoth Adviser GitHub Action](https://github.com/marketplace/actions/thoth-adviser) is now available on the GitHub Marketplace.

The action now supports overlays for users to get advise on different runtime environments:
- https://github.com/thoth-station/thoth-github-action/issues/31
- https://github.com/thoth-station/thoth-github-action/pull/32

[2022-06-16 15:48] shreekarSS opened #2591 "Token for POST user-api https://test.thoth-station.ninja/api/v1/ui/#/Advise/post_advise_python"
I attempted to use the POST user-api https://test.thoth-station.ninja/api/v1/ui/#/Advise/post advise python, which requires a token; where can I obtain the token?

[2022-06-16 15:48] sesheta commented on #2591
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here

[2022-06-17 04:52] #2536 closed

[2022-06-20 04:50] harshad16 commented on #2537
The current stage database on expansion becomes 52Gb, we only have 32 Gb on the test cluster.
The plan is to update the test database with schema-only and execute solver for some packages based on python 3.8 solvers.
This would get balanced DB as a subset.

Plan to construct a subset database for test:
- [ ] setup test database with schema-only from stage
- [ ] execute solver run for some packages

[2022-06-20 07:15] mayaCostantini commented on #2162
Closed by https://github.com/openshift-instruqt/instruqt/issues/10#

[2022-06-20 07:15] #2162 closed

[2022-06-20 15:46] harshad16 opened #2593 "Integration test for prod cluster is stuck at CreateContainerConfigError"
**Describe the bug**
The integration tests for the prod cluster are not in a running state, it has been failing due to the CreateContainerConfigError.
The application is looking for config map `thoth` in the repository and can't find it.

![Screenshot from 2022-06-20 11-45-49](https://user-images.githubusercontent.com/14028058/174638340-0595055a-15b9-4bc0-b54e-e4f19525b698.png)
[code]

[2022-06-20 15:46] sesheta commented on #2593
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-06-20 15:46] harshad16 commented on #2593
/triage accepted
/sig devsecops
/priority critical-urgent

[2022-06-20 16:10] #2593 closed

[2022-06-22 06:37] goern commented on #2262
what is the status of this issue?

[2022-06-22 11:09] #2262 closed

[2022-06-22 11:09] sesheta commented on #2262
@xtuchyna: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2262#issuecomment-1162962608):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-06-22 16:58] harshad16 commented on #2553
we have completed the release for v2022.06.20 :tada: :confetti_ball: :partying_face:

### Features

**Project [Thoth-station help](https://thoth-station.ninja/help/) site is up**

Users can now use the project thoth-station help site https://thoth-station.ninja/help/, to get details on support, project thoth-station community structure, and metrics on the project.

**Allow certain CVEs to be prese

[2022-06-22 16:58] #2553 closed

[2022-06-22 18:00] harshad16 opened #2596 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-06-22 18:00] sesheta commented on #2596
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-06-22 18:15] #2596 closed, assigned to sesheta

[2022-06-22 18:27] harshad16 opened #2598 "sprint production release v2022.08.01"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/priority important-soon

[2022-06-23 08:29] goern commented on #2591
/sig user-experience

[2022-06-23 15:37] harshad16 opened #2599 "[spike][5pt] Failure in executing the integration-tests in stage cluster"
**Describe the bug**
Daily integration-tests is not execting for stage. Investigator which schedules the components run is being busy with solver runs and halt adviser run.

**Acceptance criteria**
- [ ] Research on the investigator for scheduling different messages parallelly.
- [ ] Find a way to set priority on the investigator code.

**Additional context**
Add any other context about the proble

[2022-06-23 15:37] sesheta commented on #2599
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-06-27 13:35] codificat commented on #2599
/triage needs-information

as it's currently a bit unclear why investigator in stage is not working on all the topics

[2022-07-05 12:27] mayaCostantini commented on #2581
**Thoth Adviser GitHub Action refactoring**

Refactor the Action to allow more maintainability, allow users to specify CVEs to be ignored, introduce Job Summaries to report the state of the dependency resolution workflow.

- https://github.com/thoth-station/thoth-github-action/issues/56
- https://github.com/thoth-station/thoth-github-action/pull/57

**Thoth integration into a pre-commit hook**

In

[2022-07-05 13:20] harshad16 opened #2604 "[spike][3pt]document is not available for few packages"
**Describe the bug**
Document-sync job is not sycning all the documents.

**Acceptance criteria**
- [ ]  check if the [document sync job](https://github.com/thoth-station/thoth-application/blob/master/document-sync-job/overlays/ocp4-stage/cronjob.yaml) is still in progress.
- [ ] research on what documents are missing.

Additional notes:
 - the document sync might be still in progress

[2022-07-05 18:28] harshad16 commented on #2538
As members have signed this off, we would migrate the apps for now to new cluster.
However we would wait on the use case , before turning on the dpeloyments.

**Acceptance criteria**
- [ ] Rename [overlays/rick-test](https://github.com/thoth-station/thoth-application/tree/master/core/overlays) to moc-test for all component(if present).
- [ ] Update the [path](https://github.com/operate-first/apps/

[2022-07-06 08:42] codificat commented on #2581
**Prescriptions Refresh Job labels for BigQuery**

In order to help us have better visibility into BigQuery usage, the queries from each handler that uses BigQuery are now labelled according to the handler that runs the job.
- https://github.com/thoth-station/prescriptions-refresh-job/issues/170

[2022-07-07 10:46] codificat commented on #2604
Also directly via the API, e.g.
[code]

[2022-07-10 16:03] sesheta commented on #2512
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-10 18:20] mayaCostantini commented on #2512
/remove-lifecycle stale
/lifecycle frozen

[2022-07-11 11:03] mayaCostantini opened #2611 "Sync failed for management-api on ocp4-stage"
**Describe the bug**

Sync failed for revision https://github.com/thoth-station/thoth-application/commit/3a9b32eb53e9bfc960ac58d8b45948fdbe84200b because `the server could not find the requested resource` (see the [argocd UI](https://argocd-server-aicoe-argocd.apps.ocp4.prod.psi.redhat.com/applications/ocp4-stage-thoth-management-api?resource=&conditions=false&operation=true)).

[2022-07-11 11:04] sesheta commented on #2611
@mayaCostantini: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [

[2022-07-11 11:04] mayaCostantini commented on #2611
/priority critical-urgent
/sig devsecops

[2022-07-12 01:22] harshad16 commented on #2581
we have completed the release for v2022.07.11 :tada: :confetti_ball: :partying_face:

### Features

**Thoth Adviser GitHub Action refactoring**

Refactor the Action to allow more maintainability, allow users to specify CVEs to be ignored, introduce Job Summaries to report the state of the dependency resolution workflow.

- https://github.com/thoth-station/thoth-github-action/issues/56
- https://gi

[2022-07-12 01:36] #2581 closed

[2022-07-12 01:37] harshad16 commented on #2611
![Screenshot from 2022-07-11 21-36-15](https://user-images.githubusercontent.com/14028058/178389284-5dfd5027-7006-483a-b5f1-392d6e9da66f.png)

This is fixed now.
This issue happens when the argocd server is stuck.
a manual click on `sync` is enough to fix this.

[2022-07-12 01:37] #2611 closed

[2022-07-12 01:39] harshad16 opened #2614 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-07-12 01:39] sesheta commented on #2614
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-12 01:44] harshad16 opened #2616 "sprint production release v2022.08.22"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/priority important-soon

[2022-07-12 01:52] #2614 closed

[2022-07-13 18:51] sesheta commented on #1839
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-18 13:04] sesheta commented on #2455
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-18 16:53] harshad16 commented on #2455
/remove-lifecycle stale
/lifecycle frozen

[2022-07-19 16:00] goern commented on #609
is this something we still want?! @harshad16

[2022-07-19 18:15] sentry-io[bot] opened #2618 "[3pt] PrometheusApiClientException: HTTP Status Code 403"
Sentry Issue: [THOTH-1SVE](https://sentry.io/organizations/thoth-station/issues/3437511976/?referrer=github_integration)

[code]

Cluster: Prod

**Acceptance criteria**:
- [ ] Verify if the[ thanos querier ](https://github.com/thoth-station/thoth-application/blob/844fda7e14af2aacccf6b3bc9eb5c3169fa26e99/core/overlays/moc-prod/common/configmaps.yaml#L56)is providing the correct response
- [ ] Check

[2022-07-20 02:23] sentry-io[bot] opened #2619 "PrometheusApiClientException: HTTP Status Code 403 (b'\n<!DOCTYPE html>\n<html lang="en" charset="utf-8">\n<head>\n <title>Log..."
Sentry Issue: [THOTH-1SVF](https://sentry.io/organizations/thoth-station/issues/3437512043/?referrer=github_integration)

[code]

[2022-07-20 02:23] sesheta commented on #2619
@sentry-io[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [

[2022-07-20 02:23] sentry-io[bot] opened #2620 "PrometheusApiClientException: HTTP Status Code 403 (b'\n<!DOCTYPE html>\n<html lang="en" charset="utf-8">\n<head>\n <title>Log..."
Sentry Issue: [THOTH-1SVD](https://sentry.io/organizations/thoth-station/issues/3437510657/?referrer=github_integration)

[code]

[2022-07-20 02:23] sesheta commented on #2620
@sentry-io[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [

[2022-07-20 07:46] goern commented on #2618
/sig devsecops
/kind bug
/priority critical-urgent
/triage accepted
/assign @harshad16
/assign @Gregory-Pereira

[2022-07-20 07:48] goern commented on #2618
this is Prometheus being down? a flake? shall we handle this exception and just incr an error counter metrics?

[2022-07-20 07:48] goern commented on #2619
see https://github.com/thoth-station/thoth-application/issues/2618

/triage duplicate
/close

[2022-07-20 07:48] goern commented on #2620
see https://github.com/thoth-station/thoth-application/issues/2618

/triage duplicate
/close

[2022-07-20 07:48] #2620 closed

[2022-07-20 07:48] sesheta commented on #2620
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2620#issuecomment-1189944448):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-07-20 08:02] goern commented on #2591
could you have a look at this Kevin? thx!

/assign @KPostOffice

[2022-07-20 17:46] Gregory-Pereira commented on #2618
Taking a look.
/cc @Gregory-Pereira

[2022-07-21 15:58] harshad16 commented on #2599
/triage accepted
/sig devsecops
/priority important-soon

[2022-07-25 08:45] VannTen commented on #2604
Job is indeed still running, and the previous instance appears to have the same
issue (not completed properly) :
[code]
Moreover, the currently running pod had its container SIGKILLed this morning
[code]

And the only logs lines are all :
[code]
(this goes on for 3 days)

So it seems it's busy doing nothing but checking already present documents,
getting killed (I'd say OOMkilled given the signal,

[2022-07-25 13:26] sesheta commented on #2534
@mayaCostantini:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](ht

[2022-07-26 05:44] goern commented on #854
@harshad16 it seems like a lot of the alarms are done/implemented. shall we move the rest to backlog?

[2022-07-26 07:52] mayaCostantini opened #2622 "Renew SSL certificate for Thoth's Tensorflow index"

[2022-07-26 13:05] sesheta commented on #2508
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-31 19:05] sesheta commented on #2216
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-01 12:53] xtuchyna commented on #2508
@codificat The goal was that this would be the tracking issue for similar problems. I think that currently every active repo should have this matter already solved, so we can close this

[2022-08-01 12:53] #2508 closed

[2022-08-03 19:05] sesheta commented on #1788
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-04 14:54] VannTen commented on #654
Is a cluster-scoped controller not possible as an alternative ?

[2022-08-04 14:58] VannTen commented on #2565
Could we leverage openshfit ImageStreams for that ? (if the images are external, with periodic pulling)

[2022-08-04 15:25] harshad16 commented on #654
As we work on shared cluster, cluster-scoped controller are most of the time hard to get deployed.

[2022-08-04 15:26] harshad16 commented on #2565
maybe ?
is there a know method?

[2022-08-04 16:23] VannTen commented on #2565
I'm not completely sure about the environment regarding this but I know
that :
1. ImageStream can track images hosted in external repositories (public
or authenticated using a regular scheduled pulling) :
https://docs.openshift.com/container-platform/4.7/openshift_images/image-streams-manage.html#images-imagestream-import_image-streams-managing

2. I think (it's been quite a time since I've used t

[2022-08-08 13:20] VannTen commented on #2512
Would that be:

- producing metrics to be consummed by a dashboard (Grafana ?)
- producing the dashboard while using a dashboard engine like Grafana
- implement the dashboard functionnality ourselves
?

-> Some of those items might already exists

[2022-08-08 13:38] codificat commented on #1996
It was mentioned in today's meeting that 4.10 is really supposed to have fixed this, maybe we will get to undo the workaround later

[2022-08-08 13:43] codificat commented on #2357
Some members of the team still can not access the metrics.
/assign @VannTen
as one of the affected to self-check - thanks. This is most likely permission configuration on operate first

[2022-08-08 13:47] codificat commented on #2259
Still waiting for a fix: we need the ceph storage in smaug to come back before we can validate the status of this issue

[2022-08-08 13:52] codificat commented on #2540
from today's review:
/assign @Gregory-Pereira
who is looking at these metrics

[2022-08-08 18:06] Gregory-Pereira commented on #2540
/assign

[2022-08-09 07:49] harshad16 commented on #2598
we have completed the release for v2022.08.01 :tada: :confetti_ball: :partying_face:

### Features

**Improvement on Thoth advises output**
Implement tagging information generated on the prescriptions to generate separation on the output generation.
https://github.com/thoth-station/core/issues/434
https://github.com/thoth-station/prescriptions-refresh-job/pull/177

**Improvements on Adviser docume

[2022-08-09 07:49] #2598 closed

[2022-08-09 07:50] harshad16 opened #2626 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-08-09 07:50] sesheta commented on #2626
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-08-09 07:51] harshad16 opened #2628 "sprint production release v2022.09.12"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/priority important-soon

[2022-08-09 07:51] #2626 closed

[2022-08-09 09:04] goern commented on #2565
/kind feature

[2022-08-09 09:04] goern commented on #2582
/kind feature

[2022-08-09 09:19] goern commented on #2583
/kind feature

[2022-08-09 09:20] goern commented on #2591
/kind feature

[2022-08-09 09:20] goern commented on #2584
/kind feature

[2022-08-09 15:28] VannTen commented on #2357
Hum, i think I don't have access at all to the project in question, I can't see it (or any other one, for that matter) in the openshift console (https://console-openshift-console.apps.balrog.aws.operate-first.cloud/topology/all-namespaces?view=graph)

[2022-08-09 17:46] harshad16 commented on #1788
/remove-lifecycle frozen
This currently been a tracker issue.

[2022-08-09 17:47] harshad16 commented on #1788
/remove-lifecycle stale
/lifecycle frozen

[2022-08-09 17:47] harshad16 commented on #2216
/remove-lifecycle stale
/lifecycle frozen

[2022-08-11 14:48] goern commented on #2555
is this still valid?

[2022-08-12 21:45] sesheta commented on #1839
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-12 21:45] sesheta commented on #1839
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1839#issuecomment-1213542294):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2022-08-15 19:06] sesheta commented on #2545
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 19:06] sesheta commented on #2373
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-17 09:37] VannTen commented on #2533
@harshad16 for the second point : do we need to edit the four files with worklow ? :
[code]
?
If not, which one (Argo  / openshift pipelines If I read correctly)

[2022-08-17 09:55] VannTen commented on #2357
With my perms set up, I can access the metrics without problems:
![image](https://user-images.githubusercontent.com/13346812/185090229-8a54c8d1-9967-4ad7-982f-0151823cf62a.png)

Unless there is anyone else affected we can probably close this.

[2022-08-17 10:10] VannTen commented on #1004
Hum...

If I understand correctly, the issue is that we're using a remote url
and somehow feed it to the grafana-operator, which does not update since
the manifest do not change (only the url content).

I don't think we should manage our dashboard with json on a remote url
at the grafana-operator level. In my view, if we're doing Gitops, the
gitops process/handler is responsible for "reifying" git

[2022-08-17 11:33] xtuchyna commented on #1839
/sig user-experience

[2022-08-17 11:35] xtuchyna commented on #1839
@Gkrumbach07 @goern  this could be potentially `sig/user-experience` if the metrics would be publicly available

[2022-08-17 16:56] goern commented on #2540
right now I dont see any metrics on the dashboard. is there some update on this?

[2022-08-19 08:58] goern commented on #2618
any update on this?

[2022-08-23 14:15] harshad16 commented on #2616
we have completed the release for v2022.08.22 :tada: :confetti_ball: :partying_face:

### Features

**Improvement on Prescriptions and new inclusion**
Prescriptions are now included with tag improvement for ease of processing. The scorecard prescription has these inclusions.
With these improvements, new prescriptions are released and included in the adviser.
https://github.com/thoth-station/prescr

[2022-08-23 14:38] harshad16 opened #2633 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-08-23 15:10] harshad16 opened #2635 "sprint production release v2022.10.03"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/priority important-soon

[2022-08-24 13:28] harshad16 opened #2637 "Move pulp metrics-exporter to operate-first"
**Is your feature request related to a problem? Please describe.**

We have earlier for development kept the pulp metrics-exporter bits in [thoth-application](https://github.com/thoth-station/thoth-application/tree/master/pulp-metrics-exporter) and deployed on staging cluster.
However as pulp is service hosted by operate-first, it would be good to have the pulp-metrics-exporter as well included th

[2022-08-24 13:29] harshad16 commented on #2637
/triage accepted
/lifecycle frozen
/priority important-longterm
/sig devsecops

[2022-08-25 13:47] harshad16 commented on #2357
thank you for the confirmation.
closing the issue.

[2022-08-25 13:47] #2357 closed

[2022-08-25 22:08] sesheta commented on #2571
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-29 12:25] harshad16 commented on #2555
This is fixed
closing this issue
if such problem presists, a new issue would be opened.

[2022-08-29 12:25] #2555 closed

[2022-08-29 13:11] codificat commented on #1496
/sig stack-guidance
/remove-lifecycle active

[2022-08-29 13:19] codificat commented on #1852
/sig stack-guidance

[2022-08-30 17:29] harshad16 opened #2642 "Ingestion workflow having issue submitting response to ceph datastore"
**Describe the bug**
The data ingestion is carried out with the solver runs, which are created with agro-workflows.
workflow-controller schedules the argo workflows based on the description, as workflows are constructed with different steps, each step is scheduled as a pod based on the description.

first workflows which get schedules, stores the result in ceph store and next step execute based on

[2022-08-30 17:31] harshad16 commented on #2642
/priority critical-urgent
/sig devsecops
/triage accepted

[2022-08-30 19:48] harshad16 commented on #2642
The ceph storage in stagging cluster, seems to have deprecated the http insecure for s3.upshift ceph.
we have to re-adjust to use the secure https for connection.

[2022-08-30 19:53] #2642 closed

[2022-08-30 20:17] harshad16 commented on #2642
Fixed the issue:
![Screenshot from 2022-08-30 15-19-17](https://user-images.githubusercontent.com/14028058/187534794-5a390d8c-7b7b-40a1-aced-f46a2cad37b6.png)

[2022-08-31 10:25] VannTen commented on #2477
I think we should work on that ASAP.  https://github.com/thoth-station/thoth-application/issues/2357 for instance I had not yet set up the creds and it causes friction.

@harshad16 Can we pull that in next sprint ?

[2022-08-31 20:02] harshad16 commented on #2533
For the second point,
i meant to include the required env variable for the manifest files.
for example cronjob: https://github.com/thoth-station/thoth-application/blob/12677b38c63bd96e5d1de3b8591b5f67594c2323/graph-refresh/overlays/aws-prod/cronjob.yaml#L80

[2022-08-31 20:20] KPostOffice commented on #2591
A token is only required for protected fields such as Kebechet metadata. If you need this you can find it by looking at the corresponding secret in OpenShift.

[2022-09-01 08:55] VannTen commented on #2538
A question regarding this:

What's the intended usage for the test cluster exactly ? Testing current master
branch from different composents ? Dynamic environments per pull requests (like
Gitlab Review Apps) ?

[2022-09-01 10:38] VannTen commented on #654
Could operate-first offer that as a cluster-level service (aka, this
would become part of the operate-first platform offer) ?

I don't mean technically, but would that work with the operate-first
organization ?

[2022-09-01 13:10] harshad16 commented on #654
Yes correct, operate-first platform can provide these cluster-scoped resources.

[2022-09-01 13:15] harshad16 commented on #2538
The attempt was to allow developer to test their pull request with CI deploy.
we dont have resource for dynamic deploy of each pull request.
However, with the recent operate-first change of path, the additional cluster is not available.

This would have to wait for availability of new clusters.
/lifecycle frozen

[2022-09-01 15:24] harshad16 commented on #2198
The prow component is officially moved
closing the issue

[2022-09-01 15:24] #2198 closed

[2022-09-01 15:34] Gregory-Pereira commented on #654
/cc @Gregory-Pereira

[2022-09-01 19:09] sesheta commented on #2145
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-02 08:23] VannTen commented on #654
So to resume the discussion yesterday, although operate-first could spin
up an argo-workflow controller as a cluster service, we deploy to other
environments (I didn't know that ^) where it would be more complicated.

[2022-09-04 19:09] sesheta commented on #2558
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-04 19:09] sesheta commented on #2563
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-05 09:16] goern commented on #2591
what is the status on this?

[2022-09-05 10:32] VannTen commented on #2534
How would we define scalable in that context ?

It's pretty unlikely we're going to bring pgsql to its knees because of the auto_increment of PL (this is about PK).
If we really have lots of stuff in the tables we  switch to 64-bit int (`bigserial` I think ?)

Besides benchmarks, what information are we after here ?  (If it's indeed benchmarks, not sure that `good-first-issue` apply)

[2022-09-05 11:37] goern commented on #2555
I receive a 403 for the URL and cant review this.

[2022-09-05 16:09] sesheta commented on #1850
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-06 08:51] VannTen commented on #810
Some general comments after pointing some specific items on the google doc.
(also taking into account the scheme we're applying *now*)

I find the `label_type:label_value` quite good. However, I think we should
strive for minimalism in the number of values per type, in particular for
subjective values; and split type if needed.

`kind` for example feels a bit like a mixed bag for me:
- `bug`, `fea

[2022-09-06 09:51] VannTen commented on #1949
Most of these should be easily doable by cloning the repo and doing some find tricks:

- how many prescriptions: `find -name '*.yaml'`
- how many project: `find -type d -mindepth 2 -maxdepth 2`
- types of pipelines and their count: `find -name '*.yaml' -exec grep 'type:' {} + | cut -d : -f 3 | sort | uniq -c`
- top packages by prescriptions count : `find -name '*.yaml' -printf '%h\n' | rev | cut -

[2022-09-06 13:22] harshad16 commented on #2563
/remove-lifecycle stale
/lifecycle frozen

[2022-09-06 13:23] harshad16 commented on #2558
/remove-lifecycle stale
/lifecycle frozen

[2022-09-06 13:44] harshad16 opened #2648 "[SPIKE] Estimate the scenario of moving ingestion to production"
**Is your feature request related to a problem? Please describe.**
As a DevSecOps engineer, we would like to estimate the scenario of moving data ingestion of thoth-station directly to production
so that we can clear the bottlenecks we are observing currently with our flow.

**Acceptance critiera**
- [ ]  switch the ingestion for a week to prod
- [ ]  Estimate the cost difference of workload
- [ ]

[2022-09-06 20:00] #2557 closed

[2022-09-07 00:15] shreekarSS commented on #2591
I followed @KPostOffice's steps to obtain the secrets in Openshift, it worked.

[2022-09-12 19:23] KPostOffice opened #2649 "Add priority to argo workflows"
**Is your feature request related to a problem? Please describe.**
User requests should always be processed first. We could add the `priority` field to all of the workflows to influence the order which workflows are processed in.

**Describe the solution you'd like**

`ctrl+f "priority"`
https://argoproj.github.io/argo-workflows/fields/

This issue is meant to be both a proposal for priority and a

[2022-09-12 20:44] KPostOffice commented on #2591
@shreekarSS I'm closing this, but if there is anything that you would like done about this, feel free to reopen and comment.

[2022-09-12 20:44] #2591 closed

[2022-09-13 20:39] harshad16 commented on #2628
we have completed the release for v2022.09.12 :tada: :confetti_ball: :partying_face:

### Features

Custom Notebook Image operator: build and import from GitHub - https://youtu.be/GgWfsKd6I1M
The Meteor Operator is being adapted to bring the Custom Notebook Image (CNBi) functionality to Open Data Hub. As part of this, a new CustomNBImage Custom Resource is being developed and implemented in the op

[2022-09-13 20:39] #2628 closed

[2022-09-13 21:10] harshad16 opened #2651 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-09-14 02:56] #2651 closed

[2022-09-14 02:56] harshad16 opened #2653 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-09-14 03:15] #2653 closed

[2022-09-14 15:41] harshad16 opened #2655 "sprint production release v2022.10.24"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/priority important-soon

[2022-09-14 22:02] sesheta commented on #2545
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-14 22:02] sesheta commented on #2373
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-15 03:00] harshad16 commented on #2545
/remove-lifecycle rotten
/lifecycle frozen

[2022-09-15 03:00] harshad16 commented on #2373
/remove-lifecycle rotten
/lifecycle frozen

[2022-09-15 14:01] harshad16 commented on #1949
Suggestions:
- curate the metrics in fashion of metric-exporter.
- Have this as a part SLO-reporter or Dashboard or on Website.

Acceptance criteria:
- [ ] Explore the various metrics to be created.
- [ ] Create them via metric-exporter to expose to prom.
- [ ] include it in slo-reporter or a dashboard whichever is convienent.
- [ ] include a description on website, so users can view these informa

[2022-09-16 12:54] sesheta commented on #1839
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-16 12:54] #1839 closed

[2022-09-16 12:54] sesheta commented on #1839
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1839#issuecomment-1249330677):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2022-09-19 09:31] VannTen commented on #2649
Would we also consider priority at the Template level ?
(This is different from pod priority for kube-scheduler right ? That would go via priorityClass, I think ?)

This is also relevant for devsecops, it could be used to have all jobs in one namespace and use one resource quota and priority (rather than multiples resource quota) for better resource utilization.

[2022-09-19 13:23] codificat commented on #2565
Related: https://github.com/thoth-station/core/issues/359

[2022-09-20 18:14] KPostOffice commented on #2649
Yeah exactly. This priority is specifically for the Argo controller

This is an interesting point. The only thing that I would worry about is possible starvation of lower priority tasks, I'm not sure how Argo Workflows implements priority. (Partial DOS if many user requests come at once)

Argo Workflows also allows for semaphores which can be used to limit number of parallel workflows which all re

[2022-09-22 12:41] VannTen commented on #2584
By alembic changes, do you mean SQL schema changes which would require a migration ?
/triage needs-information

In that case, we might want to use a postsubmits job on thoth-storages and then cascade the changes ?

[2022-09-22 12:44] VannTen commented on #2583
Hum, isn't this a duplicate of the linked issue ?
Looks like we could close and keep just one

[2022-09-22 14:27] harshad16 commented on #2649
Suggestions:
- [ ] Make adviser run have priority over kebechet runs

[2022-09-22 14:28] harshad16 commented on #2649
/triage accepted
/priority important-longterm

[2022-09-25 04:07] sesheta commented on #2571
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-25 13:18] sesheta commented on #2485
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-27 16:01] harshad16 opened #2663 "Switch workloads from balrog to Smaug"
Switch workloads from balrog to Smaug and decommission the AWS Balrog cluster.
As a thoth-station operation administrator, we would like to move our workloads into the MOC cluster, so we can reduce cost and utilize public cloud values.

Procedure:
- [x] Update moc-smaug DB with the latest DB dump.
- [x] Turn off all the cronjobs and data generating services on balrog.
    Integration-tests, slo-re

[2022-09-27 16:51] codificat commented on #2663
/sig devsecops
/priority important-soon

[2022-09-28 10:30] VannTen commented on #2533
Completed by thoth-station/sync-job#73 and #2645

[2022-09-28 10:30] #2533 closed

[2022-09-29 13:09] harshad16 commented on #2604
After the work and review , we feel it should be 5pt.

[2022-09-30 14:17] harshad16 commented on #2663
/triage accepted

[2022-10-01 20:07] sesheta commented on #2145
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-10-03 20:08] sesheta commented on #2501
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-03 21:00] harshad16 commented on #2635
we have completed the release for v2022.10.03 :tada: :confetti_ball: :partying_face:

### Features

**new thamos diff command**

Thamos has a new feature where you can see the difference between your adviser runs. This command can be run in a few different ways, so check out the video demo or read up on the feature in its GitHub issue: [thamos](https://github.com/thoth-station/thamos/issues/1147)

[2022-10-03 21:00] #2635 closed

[2022-10-03 21:00] harshad16 opened #2669 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-10-03 21:13] #2669 closed

[2022-10-04 03:31] harshad16 commented on #2501
/remove-lifecycle stale
/lifecycle frozen

[2022-10-04 03:32] harshad16 commented on #2485
/remove-lifecycle stale
/lifecycle frozen

[2022-10-04 03:33] harshad16 commented on #2145
/remove-lifecycle rotten
/lifecycle frozen

[2022-10-04 13:20] #2558 closed

[2022-10-05 12:49] xtuchyna commented on #1949
So there is no need to create metrics workflows for this inside `mi` then, @VannTen @harshad16 ?

[2022-10-05 13:06] VannTen commented on #1949
I don't know what `mi` does exactly, so I'm not in the best position to
answer. But if we're talking about prescriptions and agree that
`thoth-station/prescriptions` is the canonical source, yeah, there
should not be metrics elsewhere on the same data.

[2022-10-05 13:22] harshad16 commented on #1949
We wanted to explore the front of metrics and see if that would be suitable for this.
With MI can go do Prometheus metrics?

[2022-10-06 07:51] VannTen commented on #2534
If we keep this (not sure we should), we should have a concrete requirements to test against PostgresSQL, and the acceptance critera would be something like:
- [ ] benchmarked PostgresSQL with requirements X .

/needs-triage

[2022-10-06 08:02] VannTen commented on #111
from my experience, web server like load scaling on cpu usage is not super reliable. Scaling on requests rate is probably a better idea, and the metrics is probably already available from whatever python webserver implementation.

[2022-10-06 13:25] harshad16 commented on #111
**Acceptance criteria**
- [ ] Check for custom metrics adapter on the cluster.
- [ ] We can use the HTTP metrics from user-api usage and plug that in horizontal auto scaler
- [ ] create a panel in grafana dashboard for user-api instances.

**Resource**
- https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-metrics-apis
- https://docs.openshift.com/container-platfo

[2022-10-07 20:17] harshad16 opened #2677 "send webhook container halts if the callback secret is not present"
**Describe the bug**
The new callback feature component send-webhook container halts for callback secrets as it is volume mounted.
As the thamos sync based on user-api schema, the new thamos version would create default callback call on advise request.
However old version wouldn't provide callback call, which would cause this issue.

![Screenshot from 2022-10-07 14-30-45](https://user-images.githu

[2022-10-07 20:20] harshad16 commented on #2677
/sig devsecops
/priority important-soon

[2022-10-12 18:41] harshad16 commented on #1949
ah typo,
i meant can we do the Prometheus metrics with MI for the details insight list in the description?

[2022-10-13 14:54] codificat commented on #810
Quick note to mention that this was discussed in today's tech talk and the conclusion was to work to address specific ambiguities (like the `kind/* mentioned above) while overall continue to adhere to the way [kubernetes uses labels](https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.md#why-these-labels).

[2022-10-14 04:31] harshad16 commented on #1195
This is no longer needed.
Operate-first has forked odh-manifests and maintain each version separately.
https://github.com/operate-first/odh-manifests

The z-stream sync job doesn't update anything in apps repo.
closing this issue.
Feel free to open if required in future.

[2022-10-14 04:31] #1195 closed

[2022-10-14 05:56] harshad16 commented on #2259
With the change of the ceph storage
https://github.com/thoth-station/thoth-application/blob/master/core/overlays/moc-prod/common/configmaps.yaml#L29

the slo-reporter is now fixed and running successfully:
https://console-openshift-console.apps.ocp4.prod.psi.redhat.com/k8s/ns/thoth-frontend-stage/pods/slo-reporter-l4txz

Thanks, everyone for working on this.
Closing the issue.

[2022-10-14 05:56] #2259 closed

[2022-10-17 08:10] VannTen commented on #2535
Can we make this a more actionnable ? Especially:
- what tool are we talking about ?
- what it the purpose ? (if it's verifying some metric maybe it's a documentation thing which should be updated ?)

[2022-10-17 08:10] VannTen commented on #2535
/triage needs-information

[2022-10-18 04:34] #2604 closed

[2022-10-18 13:58] VannTen commented on #2655
improved performance of document-sync-job

thoth-station/document-sync-job#37

[2022-10-21 06:26] harshad16 commented on #1004
Thanks for your thoughts @VannTen
we could go with configmap method, we didn't go with that initially as configmap would be needed to be deployed to the same namespace, and operate-first would have to track what's getting deployed on their monitoring namespace.
with the URL method, users can still keep the content on their end instead of keeping it on operate-first.

Anyhow, the great news is the

[2022-10-21 06:26] #1004 closed

[2022-10-24 16:21] harshad16 commented on #2618
With the updated the Prometheus reader token
https://github.com/thoth-station/thoth-application/commit/3e5229b215cd979442e65e9ca03aec8d0998a0b2
this issue is now fixed.
closing the issue.

[2022-10-24 16:21] #2618 closed

[2022-10-24 16:24] harshad16 commented on #2663
The update was completed successfully.
services are accessible and serving.

only remaining part of syncing stage and prod is being moved on.
thanks everyone for working on this.
closing this issue.

[2022-10-24 16:24] #2663 closed

[2022-10-24 16:57] harshad16 opened #2685 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-10-24 18:20] harshad16 commented on #2655
we have completed the release for v2022.10.03 :tada: :confetti_ball: :partying_face:

### Features

**Thamos filter for clustering justifications**

Demo: https://youtu.be/8lBCTJGRgKE
Thamos now has two new functionalities that help the user better scrub through the long list of justifications and stack info. You can now ask Thamos to list the clusters of justifications found in an advise run. And

[2022-10-24 18:20] #2655 closed

[2022-10-24 18:21] #2685 closed

[2022-10-24 18:25] harshad16 opened #2687 "sprint production release v2022.11.14"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/priority important-soon

[2022-10-27 13:21] harshad16 commented on #2535
/triage accepted

[2022-10-27 19:03] harshad16 opened #2689 "Prioritize solver already based on requirements"
**Is your feature request related to a problem? Please describe.**
Our current model executes the solvers for packages at the same time.When a new solver is included, it brings in a lot of solvers execution to be done, based on the number of packages yet to be solved, which creates a bottle neck for the old solver.

For example:
Lets say:
- pypi has 1million packages.
- Thoth-station has three sol

[2022-10-27 19:04] harshad16 commented on #2689
Context from the tech call:

As we are running multiple solvers at the same time, it takes time for newer packages to sync for all the solvers. any suggestion on the changing the priority of this action:
select a set of solver that are most used (via [configmap](https://github.com/thoth-station/thoth-application/blob/a13add756f8220f788e9928eb384eed3239f00da/core/overlays/ocp4-stage/common/configma

[2022-10-27 19:24] harshad16 opened #2690 "[spike] solver failing due to OOM"
**Describe the bug**

The solver solves packages for based on the index_url(for ex: pypi/simple) and further resolve the dependencies.
As dependencies of many package present in one index_url can be found on a different index_url,
in the logic we currently provide all the dependencies URLs for resolution.

The solver with all the dependencies index URLs are failing to execute and runs into OOM.

!

[2022-10-27 19:25] harshad16 commented on #2690
/priority important-soon
/sig devsecops

[2022-11-03 13:23] harshad16 commented on #2689
Resources:
https://www.confluent.io/blog/prioritize-messages-in-kafka/

[2022-11-03 13:26] harshad16 opened #2694 "Explore the solution for this issue and create an ADR to discuss with the team"

[2022-11-14 11:41] codificat commented on #2687
Kebechet [v1.11.0](https://github.com/thoth-station/kebechet/issues/1167) adds:
- [an option to configure different managers per overlay](https://github.com/thoth-station/kebechet/issues/1126)
- [commit signoff](https://github.com/thoth-station/kebechet/issues/1067)
- [closer compatibility of the update manager with pipenv](https://github.com/thoth-station/kebechet/issues/1125)
- various bug fixes

[2022-11-14 21:26] harshad16 commented on #2687
we have completed the release for v2022.11.14 :tada: :confetti_ball: :partying_face:

### Features

**Option to configure different managers per overlay**

A .thoth.yaml configuration file supports overlays, which allows e.g. different configurations for thoth adviser (different runtimes, different recommendation types). However, the manager's configuration section is common to all the overlays.
T

[2022-11-14 21:26] #2687 closed

[2022-11-14 21:27] harshad16 opened #2698 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-11-14 21:52] #2698 closed

[2022-11-15 16:08] harshad16 opened #2700 "sprint production release 2022.12.05"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/priority important-soon

[2022-11-17 14:14] harshad16 commented on #2677
/triage accepted

[2022-11-17 14:18] #2534 closed

[2022-11-21 14:07] codificat commented on #2588
From today's backlog review meeting: this Needs verification, but other than that it's understood

[2022-11-21 14:15] codificat commented on #2540
This seems to be fixed right now
/close

[2022-11-21 14:15] #2540 closed

[2022-11-21 14:15] sesheta commented on #2540
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2540#issuecomment-1322129030):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2022-11-24 18:42] harshad16 commented on #2455
All the components are deployed on namespace: `aicoe-infra-prod`

Prometheus: http://prometheus-aicoe-infra-prod.apps.ocp4.prod.psi.redhat.com/
Pushgateway: http://pushgateway-aicoe-infra-prod.apps.ocp4.prod.psi.redhat.com/
Grafana: https://grafana-aicoe-infra-prod.apps.ocp4.prod.psi.redhat.com/

All the metrics from the thoth-station components are already being scrapped for the deployment.

[2022-11-25 19:43] harshad16 opened #2707 "Move to Deployment from DeploymentConfig for investigator and metrics-exporter"
**Is your feature request related to a problem? Please describe.**
We follow openshift principles for deployments and have been using deployment config since OCP 3.11, with OCP 4.6 it is observed that openshift recommends using either one based on requirements.
As we have limited resource quota in namespace `thoth-infra-stage`
where workloads like `investigator` and `metrics-exporter` are executed

[2022-11-25 19:44] harshad16 commented on #2707
/triage accepted
/sig devsecops
/priority important-soon

[2022-11-28 14:28] accorvin commented on #2455
@harshad16 does that mean that all of the Thoth dashboards at grafana.datahub.redhat.com can be deleted?

[2022-11-28 15:34] accorvin commented on #2455
Thank you very much @harshad16!

[2022-11-28 15:38] harshad16 commented on #2455
Thank you @accorvin for the services for all the past years :100:

[2022-11-29 20:53] harshad16 commented on #2690
The Report on the OOM failure happening in solvers:

Solver execution extract various information from a package and its dependencies.
One of the aspect is to check if the package is installable or not, that is done via fnc:
https://github.com/thoth-station/solver/blob/1992d58432f668b3bc1b131ba0a6a75f8254a50d/thoth/solver/python/python.py#L93

The installation is checked by installing the package

[2022-11-30 07:39] harshad16 commented on #2690
As speculated above:
The function fill_hashes https://github.com/thoth-station/solver/blob/1992d58432f668b3bc1b131ba0a6a75f8254a50d/thoth/solver/python/python.py#L229
gathers hashes from the artifacts: https://github.com/thoth-station/python/blob/a8aba6cd9063710335e4e3d4a8f7823f7951a498/thoth/python/source.py#L441
which is been download to the tmp files https://github.com/thoth-station/python/blob