[2021-09-01 06:42] fridex commented on #1852
/remove-lifecycle rotten

[2021-09-01 10:49] pacospace commented on #1918
/triage accepted

[2021-09-01 15:27] pacospace commented on #1918
@fridex do you want me to go ahead and modify the query? Or do you take care?

[2021-09-01 20:08] KPostOffice commented on #1644
/close

[2021-09-01 20:38] KPostOffice commented on #1928
https://github.com/thoth-station/python/blob/33ad0da653314e8a70995cbc2efd7c5001018e83/thoth/python/artifact.py#L140

This is the function we currently use to get required dynamic symbols, it's used in package_analyzer. I think this should "just work"?

[2021-09-02 05:45] fridex commented on #1918
Up to you, this one is easy.

[2021-09-02 08:40] pacospace commented on #1918
Yes, here it is: https://github.com/thoth-station/storages/pull/2427

[2021-09-02 11:19] goern commented on #1918
/lifecycle active
/assign @pacospace

[2021-09-02 11:27] goern commented on #1936
I did https://github.com/thoth-station/thoth-application/commit/339b316c9376d2ba184c6565710aac2ee78f4c4b and added the corresponding milestone manually (as there is not automation for this in prow)

[2021-09-02 11:29] goern commented on #1939
@fridex This needs to be solved in init-job?

[2021-09-02 11:29] goern commented on #1939
/triage needs-information

[2021-09-02 11:29] goern commented on #1852
/priority backlog

[2021-09-02 14:22] sesheta commented on #1839
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-02 14:22] sesheta commented on #1844
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-02 14:22] sesheta commented on #1851
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-02 14:22] sesheta commented on #1817
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-02 14:22] sesheta commented on #1839
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1839#issuecomment-911740570):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-02 14:22] sesheta commented on #1812
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-02 14:22] #1817 closed

[2021-09-02 14:22] sesheta commented on #1844
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1844#issuecomment-911740601):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-02 14:22] #1844 closed

[2021-09-02 14:22] sesheta commented on #1851
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1851#issuecomment-911740587):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-02 14:22] sesheta commented on #1787
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-02 14:22] sesheta commented on #1795
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-02 14:22] sesheta commented on #1817
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1817#issuecomment-911740613):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-02 14:22] sesheta commented on #1767
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-02 14:22] #1812 closed

[2021-09-02 14:22] sesheta commented on #1812
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1812#issuecomment-911740641):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-02 14:22] sesheta commented on #1816
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1816#issuecomment-911740624):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-02 14:22] sesheta commented on #1767
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1767#issuecomment-911740677):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-02 19:38] harshad16 commented on #1764
/remove-lifecycle rotten
/lifecycle frozen

[2021-09-03 07:04] pacospace commented on #1817
@xtuchyna is this issue still required?

[2021-09-03 08:27] goern commented on #1767
/remove-lifecycle rotten
/reopen
/lifecycle frozen

[2021-09-03 08:27] sesheta commented on #1767
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1767#issuecomment-912359529):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-03 08:28] goern commented on #1795
/remove-lifecycle rotten
/reopen
/lifecycle frozen
/help

[2021-09-03 08:28] sesheta commented on #1795
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1795#issuecomment-912359940):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-03 08:28] goern commented on #1816
/remove-lifecycle rotten
/reopen
/lifecycle frozen
/assign @Gregory-Pereira

[2021-09-03 08:28] sesheta commented on #1816
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1816#issuecomment-912360145):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-03 08:29] sesheta commented on #1816
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-03 10:35] xtuchyna commented on #1817
@pacospace I don't think so, we can close it

[2021-09-03 10:36] xtuchyna commented on #1817
/close

[2021-09-03 10:52] xtuchyna commented on #1835
/reopen

[2021-09-03 10:52] sesheta commented on #1835
@xtuchyna: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1835#issuecomment-912447728):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-09-04 14:22] sesheta commented on #1653
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-04 14:22] sesheta commented on #1561
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-04 14:22] sesheta commented on #1630
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-04 14:22] sesheta commented on #1496
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-04 14:22] #1630 closed

[2021-09-04 14:22] sesheta commented on #1653
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1653#issuecomment-912982604):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-04 14:22] #1653 closed

[2021-09-04 14:22] sesheta commented on #1561
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1561#issuecomment-912982610):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-04 14:22] #1561 closed

[2021-09-04 14:22] sesheta commented on #1630
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1630#issuecomment-912982606):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-04 14:22] sesheta commented on #407
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-04 14:22] sesheta commented on #1151
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-04 14:22] sesheta commented on #1129
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-04 14:22] sesheta commented on #1496
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1496#issuecomment-912982613):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-04 14:22] sesheta commented on #407
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/407#issuecomment-912982627):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-04 14:22] sesheta commented on #1151
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1151#issuecomment-912982626):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-04 14:22] #1151 closed

[2021-09-04 14:22] sesheta commented on #1129
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1129#issuecomment-912982628):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-04 17:22] sesheta commented on #889
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-04 17:22] sesheta commented on #682
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-04 17:22] sesheta commented on #609
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-04 17:22] #682 closed

[2021-09-04 17:22] sesheta commented on #889
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/889#issuecomment-913008804):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-04 17:22] #609 closed

[2021-09-04 17:22] sesheta commented on #682
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/682#issuecomment-913008809):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-04 17:22] sesheta commented on #609
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/609#issuecomment-913008811):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-06 07:39] pacospace opened #1942 "HTTPSConnectionPool(host='khemenu.thoth-station.ninja', port=443): Max retries exceeded with url: /api/v1 (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1129)')))"
**Describe the bug**
HTTPSConnectionPool(host='khemenu.thoth-station.ninja', port=443): Max retries exceeded with url: /api/v1 (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1129)')))

**To Reproduce**
Steps to reproduce the behavior:
1. Run thamos advise

**Expected behavior**
advise starts

**Screenshot

[2021-09-07 14:30] harshad16 commented on #1942
khemenu certs update is having trouble

[code]

[2021-09-07 15:50] harshad16 commented on #1942
khemenu is attached to the zero cluster user-api , as the cluster itself isn't reachable that is causing the issue
we will check on the cluster auth fix and then re-update the certs for khemenu.

[2021-09-08 10:12] fridex commented on #1936
**Python packages can be detected based on modules they provide**

Thanks to @tlegen-k internship work lead by @pacospace, User API now exposes an endpoint for obtaining Python package based on import that was done in source code. An example can be an import of `sklearn.cluster.MiniBatchKMeans`. User API can now exposes information on which Python package provides the given symbol (`MiniBatchKMean

[2021-09-08 16:37] pacospace commented on #1936
**jupyterlab-requirements v0.11.0 plugin to clean notebook from !pip install cells**

To allow users to reproduce and share safely their jupyter notebooks with Thoth guidance, we introduced a plugin and magic command `%horus clean` to modify cells with `!pip install` to use %horus magic commands instead that allow reproducibility.

Related:
* https://github.com/thoth-station/jupyterlab-requirement

[2021-09-08 16:58] pacospace commented on #1936
**Thoth tutorial: manage your dependencies in Jupyter notebooks.**

This tutorial is used to show how to manage dependencies for Jupyter Notebooks using Python to allow reproducibility and shareability. At the end of this tutorial you will be able to manage dependencies for your projects in Jupyter Notebooks, enabling others to reproduce what you did and allowing them to contribute to it. The last

[2021-09-10 17:24] sesheta commented on #1827
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-10 17:24] sesheta commented on #1827
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1827#issuecomment-917077717):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-10 17:24] #1827 closed

[2021-09-13 06:34] goern commented on #1895
/triage accepted

[2021-09-13 06:36] goern commented on #1893
@tumido @KPostOffice could you please go ahead an plan this feature into a meteor notebbok builder release?

[2021-09-13 07:31] fridex opened #1949 "Create reports out of prescriptions"
**Is your feature request related to a problem? Please describe.**

As Thoth administrator, I would like to know statistics about [prescriptions](https://github.com/thoth-station/prescriptions/) - the open-source database for Python projects. To support this, I would like to have periodic reports that show insights about the database.

**Describe the solution you'd like**

Create a periodic job th

[2021-09-13 07:31] sesheta commented on #1949
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-09-15 04:18] harshad16 commented on #1939
This issue was solved by performing the following procedure:
- Pause ingestion components like graph-refresh, package-releases, cve-update, etc to stop the update of the association of solvers rules with newly ingested packages.
- Truncate the tables: **PythonPackageVersionEntityRule** , **PythonPackageVersionEntityRulesAssociation**
This operation is done to remove all the solvers rules and their

[2021-09-15 04:18] #1939 closed

[2021-09-15 04:33] harshad16 commented on #1936
we have completed the release of 2021.09.13 :tada: :confetti_ball: :partying_face:

### Features

**prescriptions-refresh-job**

A new component, called [prescriptions-refresh-job](https://github.com/thoth-station/prescriptions-refresh-job), is responsible for automatically collecting information about open-source Python projects and providing it in a form of prescriptions by directly opening pull

[2021-09-15 04:33] #1936 closed

[2021-09-15 05:06] harshad16 opened #1959 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-09-15 05:06] sesheta commented on #1959
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-15 05:13] #1959 closed

[2021-09-15 05:21] harshad16 opened #1961 "sprint production release for 2021.09.27"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-09-15 05:21] sesheta commented on #1961
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-15 05:21] harshad16 commented on #1961
/kind documentation
/area release-eng
/triage accepted
/milestone 2021.09.27

[2021-09-15 05:30] harshad16 opened #1963 "Request for token of thoth setup bot"
**Is your feature request related to a problem? Please describe.**
we are working on creating a button on meteor project, which on-click will configure the github application with Thoth setup and demo the benefits.
For this functionality to take place, we require access-token and ssh-key , so that github bot can fork the repository and send out thoth setup pull-request.

**Describe the solution yo

[2021-09-15 07:32] goern commented on #1949
is that something that we want to show in a grafana dashboard?

[2021-09-15 10:02] fridex commented on #1961
**Optimizations in prescriptions loading in a deployment**

As our [open database about Python projects (thoth-station/prescriptions)](https://github.com/thoth-station/prescriptions/) grew, we observed large overhead needed to handle it in a raw form (YAML files) in a deployment. As of now we have ~50+k YAML files that result in ~190+MiB that were copied in the deployment to the recommendation eng

[2021-09-15 10:05] fridex commented on #1961
**CVE update job rewritten to OSV 0.8 format**

PyPA upstream rewritten the advisory-db to conform to OSV 0.8 format. We adopted this format by updating the logic of our cve-update-job.

Related: https://github.com/thoth-station/cve-update-job/pull/424
Related: https://github.com/pypa/advisory-db/commit/7872b0a91b4d980f749e6d75a81f8cc1af32829f

[2021-09-15 10:19] fridex commented on #1961
**Open Source Security Foundation - Security Scorecard**

Starting this release, we are providing information derived out of OpenSSF Security Scorecards as provided by the [Open Source Security Foundation](https://openssf.org/). To support this, [prescriptions-refresh-job](https://github.com/thoth-station/prescriptions-refresh-job) queries scorecards available in BigQuery and constructs prescripti

[2021-09-15 11:16] fridex commented on #1949
I don't know what presentation layer would suite this the most - might be grafana dashboards or an e-mail report. @pacospace will know more.

[2021-09-15 11:26] sesheta commented on #632
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-15 11:26] sesheta commented on #632
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/632#issuecomment-919934742):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-15 11:26] #632 closed

[2021-09-15 12:49] KPostOffice commented on #1811
/close

[2021-09-15 12:49] #1811 closed

[2021-09-15 12:49] sesheta commented on #1811
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1811#issuecomment-919988770):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2021-09-16 07:29] goern opened #1967 "use ghproxy for aicoe/common prow jobs"
**Is your feature request related to a problem? Please describe.**
apply https://github.com/AICoE/common/commit/a670b0e82a681d7a6132b89d990a46fc0573e00d also for postsubmit jobs

**Describe the solution you'd like**
n/a

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

/priority important-soon
/assign @Gregory-Pereira

[2021-09-16 07:29] sesheta commented on #1967
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](htt

[2021-09-16 07:30] goern commented on #1967
/triage accepted

[2021-09-16 09:06] pacospace opened #1968 "Use an automated script in a pipeline to generate prescriptions from image analyzed"
**Is your feature request related to a problem? Please describe.**
See: https://github.com/thoth-station/prescriptions/issues/17212

**Describe the solution you'd like**
Use an automated script in a pipeline to generate prescriptions from image analyzed

**Describe alternatives you've considered**

**Additional context**

[2021-09-16 09:06] sesheta commented on #1968
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-16 09:20] goern opened #1969 "migrate triage-party to rick"
**Is your feature request related to a problem? Please describe.**
SSIA

**Describe the solution you'd like**
an additional overlay for rick...

**Describe alternatives you've considered**
none

**Additional context**
Depends-On: https://github.com/operate-first/support/issues/388

/priority critical-urgent
/assign @Gregory-Pereira

[2021-09-16 09:20] sesheta commented on #1969
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](htt

[2021-09-16 09:26] goern commented on #1949
let's start with a dashboard.

/sig observability
/priority important-soon
/triage accepted

[2021-09-16 14:27] sesheta commented on #1362
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-16 14:27] #1362 closed

[2021-09-16 14:27] sesheta commented on #1362
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1362#issuecomment-920952267):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-16 15:18] pacospace commented on #1961
**Thoth tutorial: create and use overlays for Elyra AI Pipelines steps.**

This tutorial is used to show the concept of overlays, how they are applied to software stacks, what are overlays builds and the use of the built images in AI Pipelines.

Related:
* https://github.com/AICoE/overlays-for-ai-pipeline-tutorial/pull/3

[2021-09-16 15:55] #1963 closed

[2021-09-16 16:02] harshad16 opened #1971 "Migration of thoth-station prod to SMAUG cluster"
**Is your feature request related to a problem? Please describe.**
we would like to migrate to **smaug** cluster for better stability and availability of the thoth-station services.

**Acttions to perform:**
[ ] Convert all the overlays from `cnv-prod` to `moc-prod` for readibilty.
[ ] Set the **deployment-name** and **bucket-prefix** as `smaug-prod`.
[ ] Setup all argocd apps to deploy components

[2021-09-16 16:02] sesheta commented on #1971
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-16 16:02] harshad16 commented on #1971
/triage accepted

[2021-09-16 18:37] sesheta commented on #1769
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](htt

[2021-09-16 18:41] harshad16 commented on #1769
/triage accepted

Restructured the information a little bit.
As the resource we have on the Rick cluster, wouldn't be a good fit for a staging deployment.
Instead, we would deploy a test deployment and refactor it.

cc: @goern

[2021-09-16 20:24] fridex commented on #1961
**Warning produced if users use forked projects on GitHub**

As part of data aggregation done in [prescriptions-refresh-job](https://github.com/thoth-station/prescriptions-refresh-job), we are aggregating information whether the given project is a fork. If so, users are warned about the use of forked projects.

Example: https://github.com/thoth-station/prescriptions/pull/17217

[2021-09-16 22:30] fridex commented on #1961
**Warn if a package used was not updated in the last 365 days**

As part of data aggregation done in [prescriptions-refresh-job](https://github.com/thoth-station/prescriptions-refresh-job), we are aggregating information on whether the given project was updated in the past 365 days on GitHub (any commit to the default Git branch). If not, we warn users about this fact.

Example: https://github.com

[2021-09-16 22:40] fridex commented on #1961
**Warn if the used project has less than 3 collaborators on GitHub**

As part of data aggregation done in [prescriptions-refresh-job](https://github.com/thoth-station/prescriptions-refresh-job), we are aggregating information on number of collaborators. If the number of collaborators is less than 3, we warn users about this fact.

Example:

[2021-09-17 18:58] fridex commented on #1961
**Information about GitHub popularity**

When users ask for advise, starting this release we provide also information about the community on GitHub. If a project has small community, we warn about its use, otherwise we provide information on how big the community is.

Example (very high popularity): [flask](https://github.com/thoth-station/prescriptions/blob/86f9575465d88a06150af3aab981289b556f61f

[2021-09-18 08:28] sesheta commented on #974
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-18 08:28] sesheta commented on #974
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/974#issuecomment-922240371):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-19 11:28] sesheta commented on #1843
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-19 11:28] sesheta commented on #1843
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1843#issuecomment-922458201):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-20 08:04] fridex opened #1975 "Stage ingestion halted due to undefined table in graph-sync"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the stage environment
2. Check ingestion
3. Check graph-sync component logs
4. See the error

**Expected behavior**

Graph sync should succeed.

**Additional context**

It looks like the database schema is old in the stage environment - '65ae36e5c38a'.

[2021-09-20 08:04] sesheta commented on #1975
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-09-20 08:18] fridex commented on #1975
/priority critical-urgent
/triage accepted

[2021-09-20 10:47] goern commented on #1975
/assign @pacospace

[2021-09-20 11:08] #1975 closed

[2021-09-20 11:09] fridex commented on #1975
Was checking other components - user-api and management-api. Do they have the schema in sync?

[2021-09-20 11:16] fridex commented on #974
/remove-lifecycle rotten
/reopen

[2021-09-20 11:16] sesheta commented on #974
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/974#issuecomment-922836449):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-20 11:38] pacospace commented on #1975
You can check this from: https://grafana.datahub.redhat.com/dashboard/db/thoth-service-metrics?refresh=30s&orgId=1

And it seems they have same:
![Screenshot from 2021-09-20 13-34-00](https://user-images.githubusercontent.com/27498679/133995863-7ecdba59-0d94-4c25-b9e3-4f68f51546bf.png)

![Screenshot from 2021-09-20 13-37-25](https://user-images.githubusercontent.com/27498679/133996112-dd32d097-796

[2021-09-20 11:44] fridex commented on #1975
@pacospace Do we have an alert for this case?

[2021-09-20 11:58] pacospace commented on #1975
Yes in stage we receive them by email (I see they are triggered because metrics-exporter is not deployed with latest storages), while in prod will open github issues.

[2021-09-20 11:59] fridex commented on #1975
ACK, thanks for the info.

[2021-09-20 12:04] pacospace commented on #1975
redeployed metrics-exporter, now alarms will be triggered for missing components with schema not updated.

[2021-09-23 05:30] sesheta commented on #920
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 05:30] sesheta commented on #920
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 05:30] sesheta commented on #920
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/920#issuecomment-925517073):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-23 08:30] sesheta commented on #532
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 08:30] sesheta commented on #774
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 08:30] sesheta commented on #532
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 08:30] sesheta commented on #532
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/532#issuecomment-925605851):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-23 08:30] sesheta commented on #774
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 08:30] sesheta commented on #774
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/774#issuecomment-925605863):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-23 14:30] sesheta commented on #1813
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 14:32] pacospace commented on #1852
Related: https://github.com/thoth-station/core/issues/253

[2021-09-23 17:30] sesheta commented on #1280
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 17:30] sesheta commented on #1280
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 17:30] sesheta commented on #1280
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1280#issuecomment-926014995):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-23 23:30] sesheta commented on #650
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 23:30] sesheta commented on #650
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 23:30] sesheta commented on #1195
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 23:30] sesheta commented on #1195
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 23:30] #650 closed

[2021-09-23 23:31] sesheta commented on #650
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/650#issuecomment-926236411):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-23 23:31] sesheta commented on #1195
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1195#issuecomment-926236416):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-24 11:31] sesheta commented on #820
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 11:31] sesheta commented on #820
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 11:31] sesheta commented on #1004
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 11:31] sesheta commented on #1004
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 11:31] sesheta commented on #1248
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 11:31] sesheta commented on #1248
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 11:31] sesheta commented on #820
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/820#issuecomment-926553654):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-24 11:31] sesheta commented on #1004
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1004#issuecomment-926553668):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-24 11:31] sesheta commented on #1248
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1248#issuecomment-926553715):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-24 14:31] sesheta commented on #111
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 14:31] sesheta commented on #111
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 14:31] sesheta commented on #1086
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 14:31] sesheta commented on #1086
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 14:31] #111 closed

[2021-09-24 14:31] sesheta commented on #111
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/111#issuecomment-926674390):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-24 14:31] sesheta commented on #1086
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1086#issuecomment-926674397):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-24 15:08] harshad16 opened #1983 "Setup a prod instance with Operate-first provision AWS cluster"
**Is your feature request related to a problem? Please describe.**

Setup a production cluster with help of Operate-first in the AWS. This cluster would help us be more available and accessble.

Action items:

- [x] Provision the aws cluster: https://github.com/operate-first/support/issues/396
- [ ] Create an separate overlays from `aws-prod` for readibilty.
- [ ] Set the **deployment-name** and *

[2021-09-24 15:08] sesheta commented on #1983
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-25 17:31] sesheta commented on #854
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-25 17:31] sesheta commented on #854
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-25 17:31] sesheta commented on #854
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/854#issuecomment-927155836):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-27 07:44] sesheta commented on #854
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-27 09:59] goern commented on #854
/triage accepted

[2021-09-27 16:14] codificat commented on #1969
/triage accepted
we just discussed this during the meeting about triage - and I happily volunteered to look at it, so
/assign @codificat

[2021-09-27 16:51] harshad16 commented on #1969
Lets not bring this to rick,
we already have namespace and resource available in smaug.
lets keep it there

[2021-09-28 04:23] harshad16 commented on #1961
we have completed the release of 2021.09.27 :tada: :confetti_ball: :partying_face:

### Features

**Optimizations in prescriptions loading in a deployment**

As our [open database about Python projects (thoth-station/prescriptions)](https://github.com/thoth-station/prescriptions/) grew, we observed large overhead needed to handle it in a raw form (YAML files) in a deployment. As of now we have ~50

[2021-09-28 04:23] #1961 closed

[2021-09-28 04:35] harshad16 opened #1986 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-09-28 04:35] sesheta commented on #1986
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-28 04:43] #1986 closed, assigned to sesheta

[2021-09-28 04:46] harshad16 opened #1988 "sprint production release v2021.10.11"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-09-28 04:46] sesheta commented on #1988
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-28 04:47] harshad16 commented on #1988
/kind documentation
/area release-eng
/triage accepted
/milestone 2021.10.11

[2021-09-28 04:47] sesheta commented on #1988
@harshad16: The provided milestone is not valid for this repository. Milestones in this repository: [`2021.09.27`]

Use `/milestone clear` to clear the milestone.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1988#issuecomment-928799779):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contribut

[2021-09-28 18:16] harshad16 commented on #1967
Fixed with: https://github.com/AICoE/common/pull/27
Thanks :100:

[2021-09-28 18:16] #1967 closed

[2021-09-28 20:46] harshad16 commented on #1971
Action:
- [ ] Workflow-template is not being synced.
fix is to add similar permissions to smaug https://github.com/operate-first/apps/pull/1032
- [ ] Patch image with latest while calling imagestreams
for example https://github.com/thoth-station/thoth-application/blob/master/amun/overlays/moc-prod/amun-inspection/argo-deployments.yaml
- [ ] attaching kafka secret for smaug cluster

[2021-09-28 21:27] harshad16 commented on #1988
/milestone 2021.10.11

[2021-09-28 21:27] sesheta commented on #1988
@harshad16: The provided milestone is not valid for this repository. Milestones in this repository: [`2021.09.27`]

Use `/milestone clear` to clear the milestone.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1988#issuecomment-929638634):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contribut

[2021-09-28 21:27] harshad16 commented on #1988
/milestone clear

[2021-09-28 21:29] harshad16 commented on #1988
/milestone 2021.10.11

[2021-09-29 08:31] sesheta commented on #856
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-29 08:31] sesheta commented on #856
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-29 08:31] #856 closed

[2021-09-29 08:31] sesheta commented on #856
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/856#issuecomment-929959039):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-09-29 11:31] sesheta commented on #1196
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-29 11:31] sesheta commented on #1196
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-29 11:31] #1196 closed

[2021-09-29 11:31] sesheta commented on #1196
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1196#issuecomment-930091515):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-29 12:20] codificat commented on #1969
Thanks @harshad16 !

Triage party is already up and running in smaug: https://triage-party.thoth-station.ninja/

This was deployed though https://github.com/operate-first/argocd-apps/pull/205

[2021-09-29 12:20] sesheta commented on #1969
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1969#issuecomment-930123736):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-09-29 12:20] #1969 closed

[2021-09-29 19:27] pacospace opened #1990 "connection issues to quay while running pipelines"
**Describe the bug**
connection issues to quay while running pipelines

**To Reproduce**
Steps to reproduce the behavior:
1. Pipelines randomly fails

**Expected behavior**
Pipelines do not fails due to connection issues

**Screenshots**
![Screenshot from 2021-09-29 18-14-14](https://user-images.githubusercontent.com/27498679/135335474-0b2eb266-c641-4d89-973b-e2663fb334d1.png)

![Screenshot from 2

[2021-09-29 19:27] pacospace commented on #1990
/assign @harshad16

[2021-09-29 19:28] sesheta commented on #1990
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-29 20:33] KPostOffice commented on #1928
Because package analyzer has been archived we no longer get this information so the function will need to be moved elsewhere

[2021-09-30 08:58] codificat commented on #1990
This might have been related to the [DNS issues at quay.io](https://status.quay.io/incidents/bt8yqm82069z) earlier today?

The times and the symptoms (Internal Server Error, timeout) don't quite match though... but I'm just wondering if the quay.io issue description is not telling the whole story

[2021-09-30 09:32] pacospace commented on #1990
It seems back :)

[2021-09-30 11:32] sesheta commented on #1929
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-30 11:32] sesheta commented on #1929
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-30 11:32] sesheta commented on #1914
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-30 11:32] sesheta commented on #1914
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-30 11:32] sesheta commented on #1930
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-30 11:32] sesheta commented on #1930
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-30 11:32] #1929 closed

[2021-09-30 11:32] #1930 closed

[2021-09-30 11:32] sesheta commented on #1929
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1929#issuecomment-931238456):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-30 11:32] sesheta commented on #1914
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1914#issuecomment-931238462):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-30 11:32] sesheta commented on #1930
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1930#issuecomment-931238469):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-30 14:32] sesheta commented on #1925
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-30 14:32] sesheta commented on #1925
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-30 14:32] sesheta commented on #1925
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1925#issuecomment-931378152):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-09-30 16:58] harshad16 opened #1992 "[3pt] Document on the process of enlisting new repo for prow support"
**Is your feature request related to a problem? Please describe.**
Users would like some documentation on how to enable prow to support the new repositories.

**Acceptance criteria**
- [ ] How onboard prow on your repo or org?
- [ ] Run book of prow troubleshooting.
- [ ] Automating to run sprint of update prow.

[2021-09-30 16:58] sesheta commented on #1992
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-01 07:31] goern commented on #1928
Which component/repo needs to be extended? Could this be a good first mini-project for Maya?

[2021-10-01 13:43] harshad16 opened #1996 "[Tracker] ImagePullBack Error is occuring in all clusters"
**Describe the bug**
We have our services deployed using different openshift objects like deployment, deployment config, cronjob, Argo workflows, etc.
recently, the pods corresponding to these objects are throwing an **imagePullBack** error.
The imagestream is available and has the **lookupPolicy** local **true**.
It seems the pods are not able to lookup the imagestream and are looking for the ima

[2021-10-01 13:43] sesheta commented on #1996
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-01 13:45] harshad16 commented on #1996
This was discussed in the tech talk.
the reference of imagestream https://docs.openshift.com/container-platform/4.8/openshift_images/using-imagestreams-with-kube-resources.html, has a solution for the deployment, which seems to be functioning.

However the issue persists in the argo workflows as well.

[2021-10-01 13:59] harshad16 commented on #1996
![backend-stage](https://user-images.githubusercontent.com/14028058/135632719-bab02421-3fec-42a1-ab58-efbc7afd88d0.png)
![integration-test](https://user-images.githubusercontent.com/14028058/135632720-62d82b70-10c8-435a-b322-61073327a0d9.png)
![cve-image](https://user-images.githubusercontent.com/14028058/135632722-e153d270-eb41-456b-b16a-d51f08fd9cd1.png)

[2021-10-01 14:22] goern commented on #1996
This feels like an upstream OpenShift bug to me, shall we have a look how to handle image versioning from outside openshift (aka ArgoCD) ?

/triage accepted
/assign @harshad16

[2021-10-01 15:36] harshad16 commented on #1996
https://chat.google.com/room/AAAAVjnVXFk/p-OrI5ywZBo

[2021-10-01 15:40] harshad16 opened #1998 "Document the process for requesting the secret access"
**Is your feature request related to a problem? Please describe.**
Document the process for requesting the secret access

Destination: https://github.com/thoth-station/thoth-application/blob/master/docs/secret_management.md

[2021-10-01 15:40] sesheta commented on #1998
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-02 20:32] sesheta commented on #1787
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-02 20:32] #1787 closed

[2021-10-02 20:32] sesheta commented on #1787
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1787#issuecomment-932816732):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-10-03 08:32] sesheta commented on #1767
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-03 08:32] sesheta commented on #1839
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-03 08:32] sesheta commented on #1839
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-03 08:32] sesheta commented on #1767
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-03 08:32] sesheta commented on #1795
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-03 08:32] sesheta commented on #1795
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-03 08:32] #1767 closed

[2021-10-03 08:32] sesheta commented on #1767
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1767#issuecomment-932888964):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-10-03 08:32] sesheta commented on #1795
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1795#issuecomment-932888965):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-10-03 08:32] #1795 closed

[2021-10-03 08:32] sesheta commented on #1839
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1839#issuecomment-932888961):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-10-03 11:32] sesheta commented on #1835
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-03 11:32] sesheta commented on #1835
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-03 11:32] #1835 closed

[2021-10-03 11:32] sesheta commented on #1835
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1835#issuecomment-932932388):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-10-04 08:28] #1990 closed

[2021-10-04 15:59] #1998 closed

[2021-10-04 19:08] harshad16 opened #2003 "kafka not working in the Rick cluster"
**Describe the bug**
test infra in rick, is not able to use kafka

[code]

[2021-10-04 19:08] sesheta commented on #2003
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-05 07:07] goern commented on #2003
/priority critical-urgent
/assign @KPostOffice
/assign @tumido
/assign @harshad16
/triage accepted

[2021-10-05 07:19] goern commented on #1996
Same for https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/thoth-bots-prod/deploymentconfigs/sefkhet-abwy-webhook-receiver/pods

[2021-10-05 07:53] goern commented on #1942
/priority awaiting-more-evidence
/lifecycle active

[2021-10-05 14:37] harshad16 opened #2005 "Kustomize update in argocd is failing the sync of thoth apps"
**Describe the bug**
The kustomize version is updated to v4.3.0 in the argocd.
The update has broken the thoth app sync to the cluster.

The use of generateName is not allowed in the upgrade version.
All component fails this purpose, as we use it in the notification
https://github.com/thoth-station/thoth-application/blob/master/investigator/overlays/aws-prod/job-generate-name.yaml

**Additional co

[2021-10-05 14:37] sesheta commented on #2005
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-05 14:46] harshad16 commented on #2003
I can take the issue, will be sending in the pull-request soon.

[2021-10-05 15:48] harshad16 commented on #2005
Context:
we used the name and generateNames, as we wanted to have a random name given to the job, so it applies to all component.
if the name is unique, on the second apply it would skip as the object already exists. with notification, we want to get the notification on all iteration.

From the reference issue, it seems like there is no current solution for this.
Solution option from my side:
- Ad

[2021-10-06 05:59] #2005 closed

[2021-10-06 07:07] harshad16 opened #2008 "Explicit namespace declaration in kustomization file disrupts sync"
**Describe the bug**
Explicit namespace declaration in kustomization file disrupts sync for adviser services.

The explicit namespace, overwrites any other namespace shift.

**Expected behavior**
Sync happens successfully for all components

**Screenshots**
![adviser-defined](https://user-images.githubusercontent.com/14028058/136155964-04b01936-e87a-448b-860a-358b1ddc4779.png)

[2021-10-06 07:27] harshad16 commented on #2003
The reason user-api is not able to function with Kafka is due to SSL authentication.
The overlays test has set Kafka usage for user-api in simple SSL, whereas rick Kafka requires user bases SSL.

creating an exclusive overlay for rick and adding required changes can fix this issue.

[2021-10-06 08:15] harshad16 commented on #1996
The workaround seems to be adding an absolute path.
using the kustomize feature, we would apply the absolute path of the image.
in this way, we would be able to keep on using the imagestream.

The snippet of the solution in Kustomization.yaml:

For workflows:
[code]
For others like deployment, etc:
[code]

[2021-10-06 08:33] sesheta commented on #1129
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-06 19:32] #2008 closed

[2021-10-06 20:15] harshad16 opened #2013 "Scrape Metrics for all services via the openshift-monitoring"
**Is your feature request related to a problem? Please describe.**
The openshift 4.8 is shipped with the monitoring. It watches over all the cluster-wide metrics.
This is the preferred way instead of deploying the Prometheus operator via CRD.
we would like to explore the openshift-monitoring and set up the system for the scrapping of thoth metrics.

Acceptance Criteria
- [x] explore the scrape con

[2021-10-07 16:07] harshad16 commented on #1971
Imagestream are failing in the smaug cluster , due the image-registry : https://github.com/operate-first/support/issues/416

[2021-10-07 16:08] fridex opened #2017 "Make sure logic around Kafka is handled properly"
**Is your feature request related to a problem? Please describe.**

As discussed on the Tech talk:

We should make sure the messages are handled properly and all the components work well with respect to message publishing and handling:

- [x] make sure Kafka keeps messages published even on restarts
- [ ] if a component cannot publish a message, it should be restarted and should stay in crashloop

[2021-10-08 09:56] pacospace opened #2019 "Cannot reach https://management.stage.thoth-station.ninja/"
**Describe the bug**
Cannot reach https://management.stage.thoth-station.ninja/

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to VPN
2. https://management.stage.thoth-station.ninja/

**Expected behavior**
management API is opened

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2021-10-08 09:56] sesheta commented on #2019
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-08 12:20] pacospace opened #2020 "graph-sync argo template is missing in thoth-middletier-stage"
**Describe the bug**
graph-sync argo template is missing in thoth-middletier-stage

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule solver

**Expected behavior**

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2021-10-08 12:23] pacospace commented on #2020
solvers are not running due to this problem!

[2021-10-08 14:23] pacospace opened #2021 "resume endpoint in investigator returns application not available"
**Describe the bug**
resume endpoint in investigator returns application not available, but metrics endpoint works perfectly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to investigator and verify if any mesages are halted
2. Try running {investigator-route}/resume/{base_topic_name}

**Expected behavior**
Message is resumed

**Screenshots**

**Additional context**
It happened in stage

[2021-10-08 14:23] sesheta commented on #2021
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-08 14:40] harshad16 opened #2022 "solver image mapping is not functioning correctly"
**Describe the bug**
The image mapping added to the solver for the fix of the imagepullback is not functioning correctly.
https://github.com/thoth-station/thoth-application/blob/8e675108c2d74e55051b42bd39d019d80569a37b/solver/overlays/ocp4-stage/kustomization.yaml#L39

![solve-bug](https://user-images.githubusercontent.com/14028058/136576276-3aa9b113-2fef-4312-90f2-7d3545fc5662.png)

This seems to

[2021-10-08 14:55] #2020 closed, assigned to harshad16

[2021-10-08 15:21] #2022 closed, assigned to harshad16

[2021-10-08 16:08] pacospace commented on #2021
I tested again and worked this time, not sure why

[2021-10-08 16:57] codificat commented on #2019
/triage needs-information

It also works for me. A screenshot and/or an expanded description of what type of problem you get (DNS? routing?) should help.

[2021-10-08 17:01] sesheta commented on #2019
@codificat: The label(s) `/remove-label needs-triage
` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/moc-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/a

[2021-10-11 07:23] pacospace commented on #2019
It seems to work today!

[2021-10-11 12:35] codificat opened #2025 "sesheta (prow / commenter) auto-closes issues when it should not"
**Describe the bug**

We have seen the bots auto-close some issuses, supposedly due to lifecycle ("rotten"), when they did not meet the conditions.

Problems observed:
- closing issues that have the `lifecycle/frozen` label (these should never be auto-closed)
- closing issues at the same time that the `lifecycle/rotten` label is added (it should wait an additional 30 days before closing them)

**T

[2021-10-11 16:47] harshad16 opened #2028 "Cant access prow display for the checks"
**Describe the bug**
The prow display is not reachable when clicked on the checks `detail` button on a PR check.

**Details**

The ceph s3 is not available on the cluster where prow is currently deployed.
Due to which the route is not able to resolve itself.
This would cause a blank page to show up.

**Solution**

Set the prow config to use an internal ceph connection.

[2021-10-11 20:18] harshad16 commented on #1942
We set the acme for automatic certs update for the khemenu
Also moved to the AWS cluster.
https://github.com/thoth-station/thoth-application/blob/master/user-api/overlays/aws-prod/khemenu-route.yaml

This issue shouldn't happen.

[2021-10-11 20:18] #1942 closed

[2021-10-11 20:24] harshad16 opened #2029 "Setup promethus and grafana service for service metrics"
Setup Prometheus and Grafana service for collecting the Services Metrics

**Acceptance criteria:**
- [x] verify thoth advise are functioning.
- [x] verify API services are available.
- [x] verify integration tests are running.

[2021-10-11 20:24] sesheta commented on #2029
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-11 20:27] harshad16 commented on #1971
Moving the uncompleted to the new issue:
https://github.com/thoth-station/thoth-application/issues/2029

This would be the thoth-station public stage/semi-prod environment, it would be hosting thoth services.
Status: Available
Under Maintenance Services:
User api : https://api.moc.thoth-station.ninja/
Management api: https://management.moc.thoth-station.ninja/
Amun Api: https://amun.moc.thoth-stat

[2021-10-11 21:01] harshad16 commented on #1988
we have completed the release of 2021.10.11 :tada: :confetti_ball: :partying_face:

### Features

**Pipeline units can be included in the resolution process based on authentication**

Starting this release, users can have different recommendations and resolutions based on authentication. The newly released adviser supports including pipeline units in the resolution process if authenticated request

[2021-10-11 21:10] harshad16 opened #2031 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-10-11 21:10] sesheta commented on #2031
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-11 21:16] #2031 closed, assigned to sesheta

[2021-10-11 21:18] harshad16 opened #2033 "sprint production release for 2021.10.25"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-10-12 13:17] fridex opened #2034 "Create and deploy first Thoth UI page"
**Is your feature request related to a problem? Please describe.**

I, as a user of Thoth, would like to have the ability to browse advisory results in a nice UI interface.

**Describe the solution you'd like**

- [ ] based on Gage's intern project, deploy a minimalistic example showing advisory results (obtains data from Ceph)
  - [ ] the page accepts adviser-id and visualizes results available

[2021-10-12 13:24] tumido opened #2035 ""No requirements file found for runtime environment default" issues flood"
**Describe the bug**
Repo is flooded with issues "No requirements file found for runtime environment default"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/AICoE/aicoe-cd/issues
2. See the issues

**Expected behavior**
Only a single issue should be enough

**Screenshots**
![image](https://user-images.githubusercontent.com/7453394/136964452-c87938b0-82fe-4459-942a-a

[2021-10-12 14:48] #2035 closed, assigned to KPostOffice

[2021-10-13 09:05] fridex commented on #1813
Looking into this issue, it might be better to have security information on the backend side linked to the container image SHA (and let clients ask for it). If you take a look at how the vulnerabilities or issues are discovered - they are discovered not during the build time but rather as the container image is used. A solution that would link container image SHA to known issues or vulnerabilities

[2021-10-13 11:22] fridex commented on #1788
This one is already implemented on the backend side. Once container images built by AICoE-CI provide ``THOTH_S2I_NAME`` and ``THOTH_S2I_VERSION`` the backend will automatically use this information.

[2021-10-14 10:49] xtuchyna commented on #1839
/reopen
/remove-lifecycle rotten

[2021-10-14 10:49] sesheta commented on #1839
@xtuchyna: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1839#issuecomment-943240885):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-10-14 10:50] xtuchyna commented on #1630
/reopen
/remove-lifecycle rotten

[2021-10-14 10:51] sesheta commented on #1630
@xtuchyna: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1630#issuecomment-943241644):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-10-14 10:54] xtuchyna commented on #810
/reopen
/remove-lifecycle rotten

Hey @goern @pacospace @fridex what about this becoming an intern project ?!

[2021-10-14 10:54] sesheta commented on #810
@xtuchyna: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/810#issuecomment-943243846):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-10-15 08:37] #2025 closed, assigned to codificat

[2021-10-15 17:19] #2028 closed, assigned to harshad16

[2021-10-17 13:59] goern opened #2051 "resource limit is at 100% [rick]"
**Describe the bug**
CPU resource limit is at 100% on rick cluster...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://console-openshift-console.apps.rick.emea.operate-first.cloud/k8s/ns/thoth-test-core/resourcequotas/thoth-test-core-custom

**Expected behavior**
it should be just below 80% so that the namespace is still operable

[2021-10-17 13:59] sesheta commented on #2051
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](htt

[2021-10-17 14:03] goern commented on #2003
it seems like the issue is still there:

`%3|1634479293.572|FAIL|rdkafka#producer-1| [thrd:ssl://opf-kafka-kafka-bootstrap.opf-kafka.svc:9093/bootstrap]: ssl://opf-kafka-kafka-bootstrap.opf-kafka.svc:9093/bootstrap: Connect to ipv4#172.30.202.142:9093 failed: Connection timed out (after 130119ms in state CONNECT, 1 identical error(s) suppressed)`

/reopen

[2021-10-18 14:11] pacospace opened #2053 "Failed to pull image "solver-rhel-8-py38": rpc error: code = Unknown desc = Error"
**Describe the bug**
Failed to pull image "solver-rhel-8-py38": rpc error: code = Unknown desc = Error

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule solver in aws-prod

**Expected behavior**
solver runs successfully

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2021-10-18 14:11] sesheta commented on #2053
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-18 14:12] pacospace opened #2054 "Failed to pull image "image-registry.openshift-image-registry.svc:5000/thoth-middletier-stage/graph-sync-job:latest":"
**Describe the bug**
Failed to pull image "image-registry.openshift-image-registry.svc:5000/thoth-middletier-stage/graph-sync-job:latest":

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule solver in ocp4-stage

**Expected behavior**
solver runs successfully

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2021-10-18 15:55] goern commented on #1893
/priority backlog
/triage accepted

[2021-10-18 19:41] #2053 closed

[2021-10-19 06:49] pacospace commented on #1004
Cc @4n4nd

[2021-10-19 09:23] pacospace opened #2057 "Failed to pull image "si-bandit" in stage"
**Describe the bug**
Failed to pull image "si-bandit" in stage

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule securit workflow in ocp4-stage

**Expected behavior**
security workflow runs successfully

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2021-10-19 13:32] harshad16 opened #2058 "Prow is not functioning on some selected repos"
**Describe the bug**
Prow does not function on some selected repos

The prow webhook is enabled on the org level of **operate-first**,
however, it is not working on the repo **operate-first.github.io**

The logs in the prow **hooks**, has logs for the repo but no error logs.

Examples:
https://github.com/operate-first/operate-first.github.io/pull/314

[2021-10-19 13:33] harshad16 commented on #2058
/priority critical-urgent
/lifecycle active
/assign @harshad16
/triage accepted

[2021-10-20 02:49] harshad16 commented on #2054
![solver-graph](https://user-images.githubusercontent.com/14028058/138019936-0f8e70ec-06dd-4901-ad42-c80a6d0d38dd.png)
![graph-sync](https://user-images.githubusercontent.com/14028058/138019943-39362d6b-5709-4344-821d-9dc6da359790.png)

This seems to be fixed
closing this issue.
Thanks :100:

[2021-10-20 02:49] #2054 closed

[2021-10-20 02:51] harshad16 commented on #2057
/triage accepted
/lifecycle active
/assign @harshad16
/priority important-soon
/kind bug

[2021-10-20 10:01] goern commented on #2017
/kind feature
/priority backlog
/assign @KPostOffice
/assign @pacospace
/triage accepted

[2021-10-20 10:53] #2051 closed

[2021-10-25 13:33] harshad16 opened #2075 "Prow tide is not auto merging the PRs"
**Describe the bug**
The prow component tide, which is responsible for the auto-merge feature is not merging the pr and keeping them on hold.

context:
https://github.com/thoth-station/adviser/pull/2146

[2021-10-26 04:10] harshad16 opened #2089 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-10-26 04:12] #2089 closed, assigned to sesheta

[2021-10-26 04:17] harshad16 opened #2091 "sprint production release for v2021.11.08"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-10-27 08:49] #2075 closed, assigned to goern, harshad16

[2021-10-27 18:13] harshad16 opened #2098 "Set up big query token for prescriptions"
**Is your feature request related to a problem? Please describe.**
Set up the big query token for the prescription refresh job. The prescription job uses the big query to gather the scorecard generated by the ossf.

**Acceptance Criteria**

- [x] Create a big query token for project thoth-ops in gcp. https://github.com/thoth-station/thoth-application/commit/dc563bd8bc6ad21724f9a97ef6675d91bfc58035

[2021-10-29 07:32] #2098 closed, assigned to nobody

[2021-10-29 18:34] fridex commented on #2091
**The resolution blocks using container images with a CVE if recommendation type is set to `security`**

Newly, the resolution process fails if [the recommendation type is set to security](https://thoth-station.ninja/recommendation-types/) and users use a base container image with one or multiple CVEs in RPMs. This prevents running applications in environments where security is a priority. If an R

[2021-11-01 13:37] fridex commented on #2091
**Providing suggestions to users based on statistics aggregated from requests done to the recommender**

As Thoth offers a community resolver available to a broad user-base, from now on it computes what software is used within the community and suggests users use:

* Popular Python packages and Python package versions (both development and default ones)
* Popular containerized environments and the

[2021-11-02 13:09] #1086 closed

[2021-11-02 13:46] harshad16 opened #2111 "Pre-commit fails due to the URL issues"
**Describe the bug**
Use of the ssh based URL in the pre-commit is failing on the CI checks. Which earlier use to function properly.

[code]

**Expected behavior**
The CI checks execute without any hindrance.

[2021-11-02 13:46] sesheta commented on #2111
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-02 13:47] harshad16 commented on #2111
/triage accepted
/priority critical-urgent
/sig devops

[2021-11-02 13:49] harshad16 commented on #2111
GitHub has recently upgraded its clone methods for more security.
It would no longer support the SHA-1 method.

November 2, 2021, was the deadline to switch, hence we are facing the issue.
Details: https://github.blog/2021-09-01-improving-git-protocol-security-github/#dropping-insecure-signature-algorithms

[2021-11-02 13:50] harshad16 commented on #2111
Solutions:
Move away from using **ssh** type URL in the `.pre-commit-config.yaml`

[2021-11-02 21:09] Gregory-Pereira commented on #2029
Metrics in balrog:
    Grafana:
        - [x] update the grafana data source from balrog cluster to smaug grafana: merged in [operate-first/apps pr 1271](https://github.com/operate-first/apps/pull/1271)

[2021-11-03 16:03] pacospace opened #2113 "Create Thoth Superset Dashboard on Operate First"
**Is your feature request related to a problem? Please describe.**
Create Thoth Superset Dashboard on Operate First

**Describe the solution you'd like**

- pre-requisite: https://github.com/operate-first/apps/blob/master/docs/odh/trino/add_more_buckets.md @harshad16

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-11-03 16:03] sesheta commented on #2113
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-03 16:03] pacospace commented on #2113
hey @harshad16 I added the pre-requisite for the bucket because you need to have Operate-First admin with SOPS GPG access for creating the secrets for our bucket accessible by Trino.

[2021-11-04 07:11] goern opened #2116 "promote solver-project-url-job to STAGE and PROD"
**Is your feature request related to a problem? Please describe.**
https://github.com/thoth-station/solver-project-url-job is deployed to TEST by now, it should also run in STAGE and PROD

**Describe the solution you'd like**
extend thoth-application to have all the required overlays, reconfigure ArgoCD to deploy them

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

/p

[2021-11-04 07:11] sesheta commented on #2116
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](htt

[2021-11-04 07:59] pacospace commented on #2113
/triage accepted

[2021-11-04 13:55] harshad16 commented on #2113
@pacospace surely I m happy to help
can you fill me in on the details of the dashboard for me to open that PR w.r.t trino?

[2021-11-04 13:56] harshad16 commented on #2111
Please all re-configure the repo maintained by you with the above-suggested changes.

[2021-11-04 14:34] harshad16 commented on #2113
Tasks:
- [ ] Get bucket on the smaug cluster
- [ ] Copy data from the rick
- [ ] connect the ceph database to trino

[2021-11-04 18:30] harshad16 commented on #2029
- [ ] Fix the datasource https://github.com/thoth-station/thoth-application/blob/b9e4626ef37d1af4c491dea332b7fd274840875d/grafana-dashboard/overlays/moc-prod/thoth-workflow-controllers-metrics.json#L32
- [ ] Remove job field from the grafana dashbaord: https://github.com/thoth-station/thoth-application/blob/b9e4626ef37d1af4c491dea332b7fd274840875d/grafana-dashboard/overlays/aws-prod/thoth-knowledg

[2021-11-04 18:53] fridex commented on #2116
I think we can completely remove solver-project-url-job from the deployment and have the repository archived. The logic was extracted and is now part of `gh-link` handler in prescriptions-refresh-job where it serves its purpose well (kudos to @bjoernh2000 👍🏻 ):

https://github.com/thoth-station/prescriptions-refresh-job/blob/f8c89f34815496e867d3138d45813b6185860d62/thoth/prescriptions_refresh/hand

[2021-11-08 11:30] fridex commented on #2091
**Update of components required due ti schema change**

- [ ] package-update-job
- [ ] graph-refresh-job
- [ ] pulp-pypi-sync-job
- [ ] prescriptions-refresh-job
- [ ] package-releases-job
- [ ] revsolver
- [ ] graph-backup-job
- [ ] init-job
- [ ] metrics-exporter
- [ ] investigator
- [ ] adviser
- [ ] graph-sync-job
- [ ] user-api
- [ ] slo-reporter
- [ ] cve-update-job
- [ ] sync-job
- [ ] mana

[2021-11-08 13:01] #1843 closed

[2021-11-08 13:08] goern commented on #2116
thanks for the update @fridex

/close

[2021-11-08 13:08] #2116 closed

[2021-11-08 13:08] sesheta commented on #2116
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2116#issuecomment-963133716):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-11-08 19:12] harshad16 commented on #1895
Procedure to test on this:
- [ ] create a job and monitor the results
`oc create job --from=cronjob/package-releases package-release`

- check on the error log or experiment with the active deadline second.

[2021-11-08 20:54] harshad16 commented on #2091
we have completed the release of 2021.11.08 :tada: :confetti_ball: :partying_face:

### Features

**Vulnerability reports for container images when containerized environments are used**

Starting this release, users get information about security-related aspects of containerized environments they use. An example can be security-related information about predictable stacks container images or s2i c

[2021-11-08 21:05] #2091 closed

[2021-11-09 06:28] harshad16 opened #2135 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-11-09 06:28] sesheta commented on #2135
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-09 06:30] #2135 closed

[2021-11-09 06:35] harshad16 opened #2137 "sprint production release v2021.11.22"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-11-09 06:36] sesheta commented on #2137
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-09 06:36] harshad16 commented on #2137
/kind documentation
/area release-eng
/triage accepted
/milestone 2021.11.22
/priority important-soon

[2021-11-09 08:09] fridex commented on #2137
**Group step prescription**

A new prescription of type "group step" allows prescribing rules in the resolution process based on a group of dependencies that are occurring in the resolution process. This is a higher-level abstraction that allows easier write prescriptions in cases when the resolution process should act differently based on a group of resolved dependencies (not necessary a sub-grap

[2021-11-09 08:35] pacospace opened #2139 "adviser fails in prod because graph schema is not updated"
**Describe the bug**
adviser fail in prod because graph schema is not updated. The changes in schema have been recently introduced https://github.com/thoth-station/storages/pull/2473

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule a thamos advise

**Expected behavior**
adviser can run successfully.

**Screenshots**
[code]

**Additional context**
Add any other context about the probl

[2021-11-09 08:35] sesheta commented on #2139
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-09 08:35] pacospace commented on #2139
/triage accepted

[2021-11-09 08:42] pacospace commented on #2139
verified all versions are in prod and triggered graph-schema update from management-API. Issue was solved.

[2021-11-09 08:42] #2139 closed

[2021-11-09 10:03] sesheta commented on #532
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/532#issuecomment-963995450):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-11-09 10:03] #532 closed

[2021-11-09 14:23] pacospace opened #2140 "Thoth grafana dashboards do not show any data"
**Describe the bug**
Thoth grafana dashboards do not show any data

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://grafana.operate-first.cloud/d/dd5ddeda417f2083b1b0526b222609dfcf1145be/thoth-knowledge-graph-content-metrics?orgId=1&refresh=30s

**Expected behavior**
Data are visualized in Grafana dashboards

**Screenshots**

**Additional context**

[2021-11-09 14:23] sesheta commented on #2140
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-09 14:24] pacospace commented on #2140
/triage accepted

[2021-11-09 14:36] harshad16 commented on #2140
Thanks for the issue
@Gregory-Pereira  is working on this
https://github.com/thoth-station/thoth-application/issues/2029#issuecomment-961310030
we need to update the version of the grafana dashboards in the operate-first/apps.

@Gregory-Pereira  is taking care of that part as well

[2021-11-09 15:04] pacospace commented on #2140
Thanks @harshad16 for the update!!

[2021-11-09 21:14] fridex commented on #2137
**Static source code analysis now aggregates also builtins**

Starting this release, the recommendation engine warns users about the use of possibly dangerous parts of the Python programming language, such as `exec` and `eval` built-in functions that can introduce a security risk in the codebase.

Related: https://github.com/thoth-station/thamos/pull/940
Related: https://github.com/thoth-station/i

[2021-11-10 15:13] pacospace opened #2142 "SLO repoter cannot access https://thanos-querier-openshift-monitoring.apps.smaug.na.operate-first.cloud"
**Describe the bug**
SLO repoter cannot access https://thanos-querier-openshift-monitoring.apps.smaug.na.operate-first.cloud
**To Reproduce**
Steps to reproduce the behavior:
1. Schedule cronjob in stage

**Expected behavior**
SLO reporter can connect to Prometheus/Thanos and get metrics.

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2021-11-10 15:13] sesheta commented on #2142
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-10 18:03] fridex commented on #2137
**Container images endpoint and `thamos images`**

**WARNING: breaking change**

The old endpoint `/s2i/python` on user-api has been deprecated and is no longer available. As an alternative we provide `/container-images` endpoint that lists available and analyzed Thoth container images users can use. The old endpoint was too specific for s2i (Source-To-Image). As the Thoth team provides multiple c

[2021-11-10 18:08] fridex commented on #2137
**Dropped hardware endpoints on User API and dropped `thamos hw` command**

**WARNING: breaking change**

We have dropped `/hardware` endpoint. It was no longer useful - recommendations can be still specific to hardware, but we do not directly expose information about the hardware on user-api endpoints. Hardware information can be encoded in the system on multiple places, to keep the system generi

[2021-11-10 18:28] fridex commented on #2137
**Prescriptions now provide the ability to store metadata**

Starting this release, prescriptions can state `metadata`. These metadata can be used by tools that integrate with prescriptions (generating prescriptions, bookkeeping state information, and such). The `metadata` field is not used during the actual resolution process. The feature was requested by @Gkrumbach07.

- https://github.com/thoth

[2021-11-11 18:46] fridex opened #2145 "Automatic schema updates in a deployment"
**Is your feature request related to a problem? Please describe.**

If there are schema changes, new components are updated and they all run code that expects new schema. Once the release is done, one needs to manually trigger the schema update procedure in the deployment so that the database schema matches code run in components.

The manual schema update is prone to errors and we can easily forg

[2021-11-11 18:46] sesheta commented on #2145
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-11-11 18:46] fridex commented on #2145
/triage accepted
/priority backlog

CC @codificat if this needs better labeling.

[2021-11-11 19:46] codificat commented on #2145
it is perfect, thanks!

Having said that, let me add:
/sig devops
while I review some updates to the SIGs...

[2021-11-16 15:13] pacospace opened #2149 "argo workflows customized metrics are not shown in Thanos"
**Describe the bug**
argo workflows customized metrics are not shown in Thanos

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://thanos-querier-openshift-monitoring.apps.smaug.na.operate-first.cloud/
2. Check `kebechet_workflows_task_latency_bucket_*`

**Expected behavior**
Metrics are present in Thanos and can be visualized in Grafana

**Screenshots**

**Acceptance criteria**
-

[2021-11-16 15:13] sesheta commented on #2149
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-16 15:49] harshad16 commented on #2149
/triage accepted
/lifecycle active
/priority critical-urgent
/sig observability

[2021-11-17 17:24] mayaCostantini opened #2262 "Have the data generated on the psi cluster moved on smaug under a public bucket"
**Is your feature request related to a problem? Please describe.**
Have the data generated on the psi cluster stored on smaug under [Operate First Ceph public bucket](https://github.com/operate-first/apps/blob/master/docs/odh/trino/access_public_bucket.md
)

[2021-11-18 14:57] #2140 closed

[2021-11-18 16:59] pacospace commented on #2137
**jupyterlab-requirements v0.13.0**

In this new release, users can see all justifications on the recommended stack directly in their notebook using %horus magic commands.
There are new commands to handle the kernels: check which one are available, delete specific one or check what packages are available in each kernel.

- https://github.com/thoth-station/jupyterlab-requirements/pull/573

[2021-11-18 17:01] pacospace commented on #2137
**new thamos whatprovides and discover command**

Two new commands have been created thanks to the new endpoint added by @tlegen-k on User-API.

thamos whatprovides command -> allow users to identify the package from import names
thamos discover command -> allow users to identify what packages are required to run a certain script or series of scripts.

- https://github.com/thoth-station/thamos/pul

[2021-11-18 19:32] fridex commented on #2137
**Suggesting to use container images without known vulnerabilities**

New logic in prescriptions-refresh-job computes which tags of container images available and produced by Thoth team do not have known vulnerabilities and suggests downgrading or upgrading the container image tag to users. This way users know which containerized environments are vulnerability-free.

- https://github.com/thoth-sta

[2021-11-19 09:06] mayaCostantini commented on #2137
**Making Thoth Datasets accessible via a public bucket and build a Jupyter Book gathering related notebooks and documentation**

Thoth datasets were removed from the `datasets` repository and are now available on an [Operate First Ceph public bucket](https://github.com/operate-first/apps/blob/master/docs/odh/trino/access_public_bucket.md) accessible to users via the Jupyter Notebooks dedicated to

[2021-11-19 12:05] codificat commented on #1914
except that in this case this was a bug with the bot.
/reopen
/remove-lifecycle rotten

[2021-11-19 12:05] sesheta commented on #1914
@codificat: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1914#issuecomment-974014576):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2021-11-22 16:59] harshad16 commented on #2137
we have completed the release of 2021.11.22 :tada: :confetti_ball: :partying_face:

### Features

**Group step prescription**

A new prescription of type "group step" allows prescribing rules in the resolution process based on a group of dependencies that are occurring in the resolution process. This is a higher-level abstraction that allows easier write prescriptions in cases when the resolution

[2021-11-22 19:32] #2137 closed

[2021-11-22 19:32] harshad16 opened #2156 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-11-22 19:32] sesheta commented on #2156
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-22 19:42] #2156 closed

[2021-11-22 20:03] harshad16 opened #2158 "sprint production release 2021.12.06"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-11-22 20:03] sesheta commented on #2158
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-22 20:05] harshad16 commented on #2158
/kind documentation
/area release-eng
/triage accepted
/milestone 2021.12.06
/priority important-soon

[2021-11-22 20:05] sesheta commented on #2158
@harshad16: The provided milestone is not valid for this repository. Milestones in this repository: []

Use `/milestone clear` to clear the milestone.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2158#issuecomment-975874839):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pu

[2021-11-22 20:29] harshad16 commented on #2158
/milestone 2021.12.06

[2021-11-22 23:31] codificat commented on #810
/kind cleanup
/triage accepted
/priority important-soon

There is a parallel effort for the operate-first org, see https://github.com/operate-first/support/issues/478

[2021-11-23 00:02] codificat commented on #810
/remove-priority backlog
/remove-kind feature
to keep just one of each

[2021-11-23 00:02] codificat commented on #810
and
/remove-kind question

[2021-11-23 14:58] goern commented on #407
/sig devops

[2021-11-23 15:00] goern commented on #407
/triage accepted

[2021-11-23 15:15] codificat commented on #1928
/sig devops

[2021-11-24 13:40] tumido commented on #2003
cc @HumairAK @4n4nd

[2021-11-29 08:29] pacospace opened #2160 "field label scraped in Thanos for user-API does not correspond to field label used in grafana dashboards"
**Describe the bug**
The endpoint has twice the word apps.apps on Thanos: `up{field="user-api-thoth-frontend-prod.apps.apps.smaug.na.operate-first.cloud"}`, but grafana dashboard looks for `up{field="user-api-thoth-frontend-prod.apps.smaug.na.operate-first.cloud"}`

**To Reproduce**
Steps to reproduce the behavior:
1. Check `up{field="user-api-thoth-frontend-prod.apps.apps.smaug.na.operate-first.c

[2021-11-29 08:30] sesheta commented on #2160
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-29 09:01] pacospace opened #2161 "SLI/SLO grafana dashboard for smaug prod is missing"
**Describe the bug**
SLI/SLO grafana dashboard for smaug prod is missing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://grafana.operate-first.cloud/ under thoth station folder

**Expected behavior**
SLI/SLO for prod smaug is present.

**Screenshots**

**Additional context**

[2021-11-29 09:01] sesheta commented on #2161
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-29 09:33] pacospace opened #2162 "Verify migration Thoth Katacoda tutorials to new platform Instruqt"
**Is your feature request related to a problem? Please describe.**
Related-To: https://github.com/openshift-instruqt/instruqt/issues/10

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add a

[2021-11-29 09:33] sesheta commented on #2162
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-29 11:13] pacospace opened #2164 "Add SLO reporter smaug to store only (no email sent)"
**Is your feature request related to a problem? Please describe.**
There is prod smaug and prod aws

**Describe the solution you'd like**
Add SLO reporter smaug to store only (no email sent)

**Describe alternatives you've considered**

**Additional context**

[2021-11-29 11:13] sesheta commented on #2164
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-29 13:22] pacospace opened #2165 "Kebechet github installation table managers columns are all false"
**Describe the bug**
Kebechet github installation table managers are all false

**To Reproduce**
Steps to reproduce the behavior:
1. pgweb and check Kebechet GitHubInstallation table

**Expected behavior**
managers are updated together with software stacks used for each repo

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Related-To: https://gi

[2021-11-29 13:22] sesheta commented on #2165
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-29 13:22] pacospace commented on #2165
@KPostOffice when do we update that table with those information?

[2021-11-29 13:40] pacospace commented on #2158
*jupyterlab-requirements uses new user-api endpoint*
The new feature provided in thamos library (https://github.com/thoth-station/thamos/pull/945), can now be used in jupyterlab-requirements in order to identify libraries from non reproducible jupyter notebooks automagically!

- https://github.com/thoth-station/jupyterlab-requirements/pull/575
- https://github.com/thoth-station/jupyterlab-requirem

[2021-11-29 14:50] pacospace commented on #2165
/assign @KPostOffice

[2021-11-30 09:02] fridex commented on #2158
**module imports can be queried based on prefix match**

Starting this release, users can ask what modules a Python package provides using a prefix-based search:

[code]

The response from the backend gives back information about Python package (fully specified by name, version, index url)
 (newly) together with imports that match based on prefix search.

* https://github.com/thoth-station/storage

[2021-11-30 14:56] xtuchyna opened #2170 "Logs of succesfull `mi` worklflows are not being kept"
**Describe the bug**
After succesful execution of the `mi` workflow, its output is not kept. This happens regardless of the cluster and namespace.

**To Reproduce**

1. Create job (`thoth-test-core` on ocp4)
[code]
2. Wait for job to schedule workflows (~20seconds)
3. Look at the current workflow that's running, and see that if it ends, workflow log is deleted.

**Expected behavior**
Keep logs of

[2021-11-30 14:56] sesheta commented on #2170
@xtuchyna: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-11-30 15:17] pacospace opened #2171 "Thoth Knowledge graph content metrics grafana dashboard for aws prod is missing"
**Describe the bug**
Thoth Knowledge graph content metrics grafana dashboard for aws prod is missing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://grafana.operate-first.cloud/ under thoth station prod folder

**Expected behavior**
Thoth Knowledge graph content metrics for prod aws is present.

**Screenshots**

**Additional context**

[2021-11-30 15:17] sesheta commented on #2171
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-30 17:13] goern opened #2172 "reduce request/limit of cpu/memory on aws-prod deployment"
**Is your feature request related to a problem? Please describe.**
looking at https://grafana.operate-first.cloud/d/9iXbjpD7k/namespace-cpu-and-memory-overview?orgId=1&var-datasource=aws-balrog-monitoring&var-namespace=thoth-frontend-prod&var-cluster=emea%2Fbalrog we could go ahead and significantly reduce cpu/memory request/limit for the deployment of user-api on aws-prod

**Describe the solution

[2021-11-30 17:13] sesheta commented on #2172
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](htt

[2021-11-30 17:14] goern commented on #2172
same seem to be true for https://grafana.operate-first.cloud/d/9iXbjpD7k/namespace-cpu-and-memory-overview?orgId=1&var-datasource=aws-balrog-monitoring&var-namespace=thoth-middletier-prod&var-cluster=emea%2Fbalrog

[2021-11-30 17:14] goern commented on #2172
and https://grafana.operate-first.cloud/d/9iXbjpD7k/namespace-cpu-and-memory-overview?orgId=1&var-datasource=aws-balrog-monitoring&var-namespace=thoth-infra-prod&var-cluster=emea%2Fbalrog

[2021-11-30 17:14] goern commented on #2172
/sig devops
/priority critical-urgent

[2021-11-30 17:15] goern commented on #2172
and https://grafana.operate-first.cloud/d/9iXbjpD7k/namespace-cpu-and-memory-overview?orgId=1&var-datasource=aws-balrog-monitoring&var-namespace=opf-kafka&var-cluster=emea%2Fbalrog

[2021-12-01 13:31] codificat commented on #1893
/remove-priority critical-urgent
per the last comment

[2021-12-01 15:37] Gkrumbach07 commented on #2034
/lifecycle active

[2021-12-01 15:39] codificat commented on #1851
/remove-lifecycle active
/priority important-soon
/remove-priority critical-urgent

[2021-12-01 15:46] codificat commented on #1835
/priority important-longterm

[2021-12-01 22:10] pacospace commented on #2158
**jupyterlab-requirements new command to retrieve logs from adviser results.**
Extending thamos (https://github.com/thoth-station/thamos) funcionality for jupyter notebooks in jupyterlab-requirements, so that users can check logs from adviser id if available in the notebook metadata.

- https://github.com/thoth-station/jupyterlab-requirements/pull/587

[2021-12-02 08:34] mayaCostantini commented on #2162
/lifecycle active

[2021-12-02 08:44] goern commented on #2162
/priority critical-urgent
/triage accepted

[2021-12-02 08:55] pacospace commented on #2160
- [ ] fix slo-reporter CM
- [ ] fix grafana dashboards

[2021-12-02 10:24] #1516 closed

[2021-12-02 10:34] mayaCostantini commented on #2158
**Old documents are stored before being deleted by purge-job**
The solver, adviser and package-extract documents present on Ceph and deleted by `purge-job` can now be stored for future analysis.

- https://github.com/thoth-station/thoth-application/issues/1516
- https://github.com/thoth-station/purge-job/pull/17
- https://github.com/thoth-station/storages/pull/2482

[2021-12-02 14:54] harshad16 commented on #1895
The issue happens when the call to DB is stalled
the DB issue was
![package-release](https://user-images.githubusercontent.com/14028058/144446016-2ee40f44-e966-4d17-9174-1d7418bd354b.png)
 fixed with storages releases.

[2021-12-02 14:54] #1895 closed

[2021-12-02 15:16] #920 closed

[2021-12-05 23:36] Gregory-Pereira commented on #2161
Argocd displays a syncing error:
```Get "https://api.smaug.na.operate-first.cloud:6443/version?timeout=32s": dial tcp 128.52.60.31:6443: connect: no route to host```.

However, when I navigate to that endpoint, data shows up:
[code]

[2021-12-06 01:40] Gregory-Pereira commented on #2161
Should we try creating a secure route for it in the `cluster-version-operator` namespace? I lack the permissions to do so.

[2021-12-06 20:29] harshad16 commented on #2158
we have completed the release of 2021.12.06 :tada: :confetti_ball: :partying_face:

### Features

**jupyterlab-requirements uses new user-api endpoint**
The new feature provided in thamos library (https://github.com/thoth-station/thamos/pull/945), can now be used in jupyterlab-requirements in order to identify libraries from non reproducible jupyter notebooks automagically!

- https://github.com/t

[2021-12-06 20:29] #2158 closed

[2021-12-06 20:35] harshad16 opened #2181 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-12-06 20:35] sesheta commented on #2181
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-06 20:37] #2181 closed

[2021-12-06 20:42] harshad16 opened #2183 "sprint production release 2021.12.20"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2021-12-06 20:42] sesheta commented on #2183
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-06 20:42] harshad16 commented on #2183
/kind documentation
/area release-eng
/triage accepted
/milestone 2021.12.20
/priority important-soon

[2021-12-07 15:18] harshad16 commented on #2165
/priority important-soon
/triage accepted

[2021-12-07 19:01] harshad16 commented on #2170
/triage accepted
/priority critical-urgent
/lifecycle active
/sig devops

The log archiving is turned on the test cluster.
please check the pod logs in ceph:
`aws s3 --endpoint https://s3.upshift.redhat.com/ ls s3://thoth/data/ocp4-test/argo/artifacts/`

[2021-12-10 14:47] Gkrumbach07 commented on #2034
- [ ] transfer ownership (@Gkrumbach07 does not have access to create a repo inside Thoth Station)
- [ ]  configure routing under /search sub-route.
- [ ]  update CI workflow to work in the new org.

[2021-12-12 09:19] sesheta commented on #1918
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-13 09:36] fridex commented on #1918
/remove-lifecycle stale

[2021-12-13 09:53] fridex commented on #2183
*List available environments*

Starting this release, users can issue `thamos environments` to list available environments for the resolution. This allows users to ask which environments are available and can be used in Thoth's configuration file:

* https://github.com/thoth-station/user-api/pull/1529
* https://github.com/thoth-station/thamos/pull/961

[2021-12-13 09:56] fridex commented on #2183
**Warn if users use too lax versions in their requirements**

Resolver warns if users use too lax versions in their requirements. It is a good practice to specify desired versions in the requirements file that are tested and expected to work, not to introduce overplanning issues.

* https://github.com/thoth-station/adviser/pull/2204

[2021-12-13 10:01] fridex commented on #2183
**Links to Search UI**

Thanks to [Thoth Search](https://github.com/thoth-station/thoth-search) project, people can browse the resolver results in a web browser. The link to Thoth Search can be found in each resolver result (might not immediately work with the current release as Thoth Search is to be deployed).

* https://github.com/thoth-station/adviser/pull/2205

[2021-12-13 10:29] mayaCostantini commented on #2183
**Create an example application in `cli-examples` to demonstrate Thamos dependency resolution**

The `game_of_life.py` simple application allows users to understand how Thoth detects vulnerabilities in an application software stack and prevents the import of vulnerable packages when put on the `security` setting.

- https://github.com/thoth-station/cli-examples/issues/21
- https://github.com/thoth

[2021-12-13 11:43] fridex commented on #2183
**Warn if a package has no recent releases on PyPI**

We have added prescriptions that warn users if they use a package that has no recent releases on PyPI (180+ days). This might indicate that the project is unmaintained -- especially when combined together with other prescriptions that we have about projects (such as repo activity). Prescriptions created are automatically updated by the prescrip

[2021-12-13 14:11] fridex commented on #2183
**Warnings produced based on PyPI maintainers**

Newly, resolver warns about using projects that can have suspicious behaviour based on statistics computed from PyPI maintainers info:

* resolver warns if a package has not enough maintainers on PyPI
* resolver warns if a package is maintained by maintainers that maintain a small number of projects on PyPI
* resolver warns if all package maintainer

[2021-12-13 16:44] mayaCostantini commented on #2183
**Prescriptions produced to inform users on the number of downloads for a given package**

New prescriptions inform users on the number of downloads for a given package on PyPI and on the number of downloads for each package version in the last 180 days according to data from the [PyPI downloads BigQuery dataset](https://console.cloud.google.com/bigquery?p=bigquery-public-data&d=pypi&page=dataset&

[2021-12-14 11:02] fridex opened #2188 "Split prescriptions-refresh cronjob to multiple parts"
**Is your feature request related to a problem? Please describe.**

As a Thoth operator, I would like to have the ability to configure when prescriptions-refresh should happen and configure which handlers of prescriptions-refresh should be run.

**Describe the solution you'd like**

Consider splitting prescriptions-refresh into multiple cronjobs, each configured separately based on preferences.

[2021-12-14 11:03] sesheta commented on #2188
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-12-14 11:16] fridex commented on #2183
**Installed Python artifact size**

Yet another new set of prescriptions show to users the downloaded artifact size that will be eventually installed. Note that this is just an estimate (upper limit) as the actual artifact installed depends on decisions done by pip during the resolution for the target runtime environment.

* https://github.com/thoth-station/prescriptions-refresh-job/pull/80
* http

[2021-12-14 13:50] fridex commented on #2183
**Size of container images used**

Similar to Python artifact size, users get notified about container image size if Thoth containerized environments are used.

* https://github.com/thoth-station/prescriptions-refresh-job/pull/84
* https://github.com/thoth-station/prescriptions-refresh-job/issues/81
* https://github.com/thoth-station/prescriptions/pull/18638

[2021-12-14 14:39] Gkrumbach07 commented on #2183
**Migrated thoth-search repo over to Thoth Station**

The Thoth Search app was originally under @Gkrumbach07 ownership but has been transferred over to Thoth Station. Bots have been added and pre-commits have been configured.  Also there has been changes in the CI/CD GitHub workflow that now check for `ESlint` errors and `prettier` formatting issues. The app is deployed at https://thoth-station.ni

[2021-12-14 22:03] KPostOffice commented on #2165
/lifecycle active

[2021-12-14 22:04] KPostOffice commented on #2165
The issue is pretty simple actually. The update-keb-installation workflow step was only enabled in the test overlay to start and we never added it to the base overlay so it is not being updated in production or stage.

See here:
https://github.com/thoth-station/thoth-application/blob/4848c535257b9bb2de29a89f14d14d574a4e0021/kebechet/overlays/test/kebechet.yaml#L115

[2021-12-15 12:20] sesheta commented on #1949
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-15 12:23] fridex commented on #1949
/remove-lifecycle stale

[2021-12-15 15:56] goern commented on #974
/unassign @harshad16
/assign @fridex

thats what we said during our call, cmiw.

[2021-12-15 16:06] codificat commented on #1764
From today's call: this is essentially done.
It would be valuable to document all this, for which a new issue will be created.
Keeping this open until everything is verified and the follow-up issue exists

[2021-12-15 16:07] codificat commented on #1764
/lifecycle active

[2021-12-15 16:08] codificat commented on #1914
/lifecycle active
according to today's call

[2021-12-15 16:09] codificat commented on #974
/lifecycle active
too

[2021-12-15 16:24] fridex commented on #974
Analyses of container images triggered in ocp4-stage environment. I've verified all the analyses were scheduled in middletier namespace and are in running/pending state. Here is a listing with `container image` - `analysis id`:

[code]

[2021-12-15 16:26] fridex commented on #974
Just to be precise here - as these container images are container images we want to do recommendations on, management-api was used which will also register them to have them available in recommendations (user-api does not sync results to the database but just provides raw data for users who want to have their images analyzed).

[2021-12-15 16:36] fridex commented on #974
Blocked on https://github.com/thoth-station/storages/issues/2505

[2021-12-15 17:28] codificat opened #2196 "Bring prow storage back to the smaug cluster"
#2184 was performed as a workaround for the issues with storage in the smaug cluster (https://github.com/operate-first/support/issues/490)

As these storage issues are resolved and storage is again available in smaug, it would be desirable to revert the change and move prow storage back to smaug, where the app is running.

I believe this should also clear the current issues with the deck component

[2021-12-15 17:29] sesheta commented on #2196
@codificat: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-15 18:40] fridex commented on #2183
**Filtering Python packages used during the resolution based on `index` labels supplied to the resolver**

Users can now use labels to distinguish Python package indexes that should be used during the resolution process. This is an addition to [the strict index configuration](https://thoth-station.ninja/docs/developers/adviser/experimental_features.html).

* https://github.com/thoth-station/prescr

[2021-12-15 18:42] harshad16 commented on #2196
/triage accepted
/priority critical-urgent
/lifecycle active
/assign @harshad16
/sig devops

[2021-12-15 19:04] harshad16 opened #2198 "[1pt] Handoff Prow instance manifest to operate-first"
**Is your feature request related to a problem? Please describe.**
All Continuous integration/delivery and deployment apps are under operate-first.
It was asked for us to hand-off prow instance to operate first, so all apps can be under one hood.

**Describe the solution you'd like**
migrate all prow manifest to operate-apps

**Acceptance criteria**
- [x] Move from thoth-application to opf/continu

[2021-12-15 19:05] sesheta commented on #2198
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-15 19:05] harshad16 commented on #2198
@goern I had forgotten about this.
Can you confirm is what we should be aiming to or keep it under thoth-station

[2021-12-15 20:40] fridex commented on #2183
**Labels in Thoth's configuration file**

To simplify label handling and to give users the ability to specify persistent labels, Thamos CLI accepts `labels` section in each runtime environment entry in `.thoth.yaml` file. Labels stated there are specific to the runtime environment used and can additionally configure how the resolution process should look like for the desired runtime environment. L

[2021-12-16 16:14] harshad16 commented on #2196
seems to be back again
closing this.

[2021-12-16 16:14] #2196 closed

[2021-12-16 16:17] harshad16 commented on #2057
This is completed with the following changes:  https://github.com/thoth-station/thoth-application/blob/fa821a6c568a699efd97468d92384f3e1b9021c5/security-indicators/overlays/moc-prod/kustomization.yaml#L30

[2021-12-16 16:17] #2057 closed

[2021-12-16 16:18] harshad16 commented on #2058
/lifecycle frozen

havent found a solution yet.
keeping this open for future solution.

[2021-12-16 16:21] harshad16 commented on #1816
This is achieved with the service monitor instead of scrapeconfig.

[2021-12-16 16:24] #2160 closed

[2021-12-16 17:55] fridex commented on #2183
**Python package information stored in each container image produced by AICoE-CI**

AICoE-CI now propagates information about packages used in a form of `Pipfile`, `Pipfile.lock` stored in `/opt/aicoe-ci` thanks to @harshad16. This enabled propagating this information in container image analyses done in Thoth's package-extract which enables to introspect what Python packages from which indexes are

[2021-12-16 19:30] #2165 closed

[2021-12-16 19:38] harshad16 opened #2205 "invalid spec: failed to resolve {{workflow.parameters.KEBECHET_SLUG}}"
**Describe the bug**

Kebechet is failing due to wrong usage of kebechet_slug var.

Updated message  -> invalid spec: templates.kebechet.tasks.update-kebechet-installation failed to resolve {{workflow.parameters.KEBECHET_SLUG}}" namespace=thoth-test-core workflow=kebechet-job-211216193403-8e387822c576a4b0

[2021-12-16 19:38] harshad16 commented on #2205
/triage accepted

[2021-12-16 19:40] sesheta commented on #2205
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-16 19:42] #2205 closed

[2021-12-17 14:28] harshad16 opened #2208 "Prescriptions refresh job is not functioning"
**Describe the bug**

The prescription refresh job is not functioning in moc. It is not functioning due to the following issues:

[code]

[2021-12-17 14:29] sesheta commented on #2208
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-17 14:29] harshad16 commented on #2208
/triage accepted
/priority critical-urgent

[2021-12-17 15:45] goern commented on #2198
\approve :)

[2021-12-17 16:09] pacospace opened #2209 "image analysis workflows in balrog prod are not producing results"
**Describe the bug**
image analysis in balrog prod is not producing results, only requests are available, meaning workflows are not running or succeeding.

**To Reproduce**
Steps to reproduce the behavior:
1. Check data in the bucket like in the screenshot

**Expected behavior**
image analysis results are available in the bucket.

**Screenshots**
[code]

**Additional context**
Add any other contex

[2021-12-17 16:10] sesheta commented on #2209
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-17 16:11] harshad16 commented on #2209
/triage accepted

[2021-12-20 14:24] harshad16 opened #2216 "Improve the data migration process b/w prod and stage"
**Is your feature request related to a problem? Please describe.**

Moving data from stage to prod in an easier way.
Currently, we take the whole dump of the stage to prod.
The idea is to take only the required table to the prod and stop all the ingestion in the prod and make the prod DB read-only.

**Additional context**

* If users request a new package, where would we ingest the data?
In the th

[2021-12-20 14:24] sesheta commented on #2216
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-20 14:25] harshad16 commented on #2216
/triage accepted
/priority important-soon
/sig devops
/sig knowledge-graph
/sig docs

[2021-12-20 21:04] harshad16 commented on #2183
we have completed the release of 2021.12.20 :tada: :confetti_ball: :partying_face:

### Features

**List available environments**

Starting this release, users can issue `thamos environments` to list available environments for the resolution. This allows users to ask which environments are available and can be used in Thoth's configuration file:

* https://github.com/thoth-station/user-api/pull/15

[2021-12-20 21:27] harshad16 commented on #2183
Thanks, everyone
Have a wonderful holidays :snowman: :snowman_with_snow: :snowflake: :christmas_tree: :santa: :gifts :gift_heart:

[2021-12-20 21:27] #2183 closed

[2021-12-20 21:47] harshad16 opened #2219 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2021-12-20 21:47] sesheta commented on #2219
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-20 22:14] #2219 closed

[2021-12-21 12:29] codificat commented on #1630
I will take that as
/triage accepted

[2021-12-21 12:47] codificat commented on #2198
Translating:
/triage accepted
/priority backlog

[2021-12-21 12:55] codificat commented on #609
I take that as:
/triage accepted
/assign @harshad16

[2021-12-21 13:02] codificat commented on #2142
/triage accepted
/priority important-soon

[2021-12-21 13:04] pacospace commented on #2142
This was actually solved by @harshad16! we can close this :)

[2021-12-21 13:04] #2142 closed

[2021-12-21 13:04] pacospace commented on #2142
PR that solved it: https://github.com/thoth-station/thoth-application/pull/2177

[2021-12-21 13:45] codificat commented on #820
It seems this was cleared in #2120 12044d020786b97f828ee747f04eae3bb6f85338
/close

[2021-12-21 13:45] sesheta commented on #820
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/820#issuecomment-998791645):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-12-21 13:45] #820 closed

[2021-12-21 15:00] codificat commented on #682
/triage accept

[2021-12-21 15:00] codificat commented on #682
/triage accepted

[2021-12-21 15:03] codificat commented on #1004
/triage accepted
/lifecycle active

[2021-12-21 15:04] codificat commented on #1004
/remove-lifecycle active
/lifecycle frozen

[2021-12-21 15:08] codificat commented on #1195
/triage accepted

[2021-12-21 15:08] harshad16 commented on #2029
Another issues related to this: https://github.com/thoth-station/thoth-application/issues/1004

[2021-12-21 15:10] codificat commented on #1280
As per today's review, this is already implemented
/close
Thanks!

[2021-12-21 15:10] harshad16 commented on #2013
Documentation is added : https://github.com/thoth-station/thoth-application/pull/2185
thanks :100:
closing

[2021-12-21 15:10] #2013 closed

[2021-12-21 15:17] #1280 closed

[2021-12-21 15:21] codificat commented on #2161
/triage accepted

[2021-12-21 15:22] harshad16 commented on #2171
/triage accepted
/lifecycle active

[2021-12-21 15:22] codificat commented on #2164
/triage accepted

[2021-12-21 15:24] codificat commented on #2172
/triage accepted
/lifecycle active
/assign @harshad16

[2021-12-21 21:12] fridex commented on #974
Scheduled another batch with the fix for bug above applied:

[code]

[2021-12-22 11:25] pacospace opened #2229 "Provide new workflow for prescription refresh in thoth-application for image analysis handler"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Provide new workflow for prescription refresh in thoth-application for image analysis handler

**Describe alternatives you've considered**

**Additional context**
related-to: https://github.com/AICoE/recommend-base-image-tutorial/issues/1#issuecomment-999498339

[2021-12-22 11:25] sesheta commented on #2229
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-22 14:34] pacospace commented on #2229
/triage accepted

[2021-12-22 17:15] pacospace opened #2232 "image analysis handler for prescription-refresh-job requires access to database and ceph from the same environment"
**Describe the bug**
Few background comments:

- Currently, the handler in prescription refresh job from image analysis accesses database and Ceph from User-API endpoint provided in CM.
- Prescription-refresh-job is scheduled to run in smaug-prod, but aicoe-ci is sending image analysis to aws-prod through management-API so all data are synced into DB and stored on Ceph in aws-prod.
- The sync from

[2021-12-22 17:15] sesheta commented on #2232
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-22 17:16] pacospace commented on #2232
1. This could be easy solution, but users in prod would lose the data that can be get with endpoints (e.g. `api/v1/container-images`)
2. this requires a bit of work and maintaining some new script which can take time anyway. It depends if there are other benefit from this.
3. this will increase size of database, probably not required because it is not providing any direct info to users directly.
4

[2021-12-23 15:36] codificat commented on #1893
This feature is the same that is described in https://github.com/AICoE/meteor-operator/issues/43, right?

[2022-01-02 09:23] sesheta commented on #1992
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-03 14:50] harshad16 opened #2238 "sprint production release 2022.01.17"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

[2022-01-03 14:50] sesheta commented on #2238
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-03 14:52] harshad16 commented on #2238
/kind documentation
/area release-eng
/triage accepted
/milestone 2022.01.17
/priority important-soon

[2022-01-03 15:18] fridex commented on #2238
**TensorFlow 2.8 symbols**

Thoth's database for TensorFlow symbols has been updated. It now keeps also symbols for the upcoming TensorFlow~=2.8.0 releases. This way, users of Thoth can get recommendations based on TF API used.

* https://github.com/thoth-station/adviser/pull/2231
* https://github.com/thoth-station/tensorflow-symbols/pull/18

[2022-01-03 15:20] fridex commented on #2238
**API endpoint for listing available Python versions for environments**

Starting this release, consumers of Thoth's user-api endpoints can list Python versions solved based on environments. An example can be an HTTP GET request to obtain all the releases of flask solved by Thoth for UBI8 Python 3.8 environment.

* https://github.com/thoth-station/user-api/pull/1547/

[2022-01-03 15:29] fridex commented on #2238
**API endpoint for obtaining Python package metadata and dependency information**

Yet another new endpoint exposes information about Python package metadata computed and kept up to date by the system. This endpoint shows metadata for versions of Python packages, but also includes dependency information that [cannot be found on PyPI](https://dustingram.com/articles/2018/03/05/why-pypi-doesnt-know-

[2022-01-03 19:18] Gkrumbach07 commented on #2034
/close

[2022-01-03 19:18] #2034 closed

[2022-01-03 19:18] sesheta commented on #2034
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2034#issuecomment-1004301909):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2022-01-04 06:58] fridex commented on #2238
**Proper paginating in User API REST endpoints**

Consumers of Thoth User API REST endpoints are now able to browse exposed content respecting pagination. The pagination information is available in HTTP response headers on endpoints that provide paginated entries.

* https://github.com/thoth-station/user-api/issues/1567
* https://github.com/thoth-station/user-api/pull/1577

[2022-01-04 15:06] harshad16 commented on #1992
/triage accepted
/lifecycle frozen
/priority importent-longterm

[2022-01-04 15:06] sesheta commented on #1992
@harshad16: The label(s) `priority/importent-longterm` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1992#issuecomment-1004889077):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have ques

[2022-01-04 17:39] codificat commented on #1992
Thanks! Just fixing a typo:

/priority important-longterm
/remove-priority important-soon

[2022-01-05 22:09] harshad16 commented on #1851
All the images under the thoth-station quay have now been added with GitHub links.
Some of them fall under the following sets, what should we do with them?

**Not Known**:
https://quay.io/repository/thoth-station/actions-runner
https://quay.io/repository/thoth-station/adviser-cached
https://quay.io/repository/thoth-station/f31-python37
https://quay.io/repository/thoth-station/github-actions-runner

[2022-01-05 22:29] fridex commented on #1851
This can be removed, it was an experiment when part of the dependency graph was embedded into adviser using sqlite.

This can be removed as well.

This one is used by Amun (ex. obtaining logs from pods):

https://github.com/thoth-station/thoth-application/blob/6fbeca08230b4cd4cbc53fe306da0832c3c6d766/amun/overlays/moc-prod/amun-api/imagestreamtag.yaml#L38

Used in selinon-worker/selinon-api deploy

[2022-01-06 11:12] fridex opened #2243 "Some results of container image analyses fail to sync"
**Describe the bug**

Some results of container image analysis results fail to sync. The reason behind it is exceeded deadline as the result of container images computed is pretty big

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the stage environment
2. Try to analyze `quay.io/thoth-station/s2i-pytorch-notebook:v0.0.2` and sync results to the database
3. Observe graph-sync failure c

[2022-01-06 11:12] sesheta commented on #2243
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-01-06 11:13] fridex commented on #974
Some of the container images are available in the stage environment. Currently experiencing https://github.com/thoth-station/thoth-application/issues/974 that prevents from syncing some of the results computed.

[2022-01-06 14:36] harshad16 commented on #1851
Thanks, @fridex  for the details.
I will update the described ones in the quay.

[2022-01-06 14:49] harshad16 commented on #1851
All the descriptions are updated.
This is a private image in quay thoth-station: https://quay.io/repository/thoth-station/community-tooling
which is also available in quay [open-source](https://quay.io/organization/open-services-group)
can we delete it from thoth-station? @goern

[2022-01-06 15:18] harshad16 commented on #2232
Suggestions:

* move prescriptions-refresh-job and image-analysis in the stage.
to get all the data in one place.

[2022-01-06 15:25] fridex commented on #2232
This will simplify how the data are managed - we can generate data in stage and move them to prod on each release.

[2022-01-06 15:34] goern commented on #1851
@harshad16 ja, it must have been me creating the duplicates. thanks for cleaning up!

[2022-01-06 15:37] harshad16 commented on #1851
Thanks for all the responses.
All the images now have links to their respective repos.
users can find all details on how to build, how to give feedbacks on these repos.

closing the issue and marking as done.

[2022-01-06 15:37] #1851 closed

[2022-01-06 16:32] fridex commented on #2238
**`thamos verify` command to check lockfile hash**

A new sub-command verifies the correctness of requirements based on their hash. This way, the newly introduced sub-command `thamos verify` shows if requirements for the configured runtime environments correspond to the lockfile created. By doing so, users can make sure there are no changes made that would require re-triggering new advise requests

[2022-01-06 20:23] harshad16 commented on #2171
This is up and available now:
https://grafana.operate-first.cloud/d/ncypu0f4l9n9dh5cft7101v762b3tr2blcmalvi4/thoth-knowledge-graph-content-metrics?orgId=1&refresh=30s

thanks for the patience

[2022-01-06 20:23] #2171 closed

[2022-01-06 20:24] harshad16 commented on #2161
This seems to be up and available:
https://grafana.operate-first.cloud/d/ee96mo7s4buzb6lxads4aun3kpm1h9th6zxdtw7i/thoth-sli-slo?orgId=1&refresh=30s

Thanks for the efforts.

[2022-01-06 20:24] #2161 closed

[2022-01-10 11:05] pacospace commented on #2238
**Prescription refresh workflow has a new handler for image analysis**

This handler uses information collected from image analysis to create prescriptions about container images. In this way, users can identify secure, maintained containers to run their applications directly from Thoth recommendations.

- https://github.com/thoth-station/prescriptions-refresh-job/pull/97
- https://github.com/thot

[2022-01-10 15:20] codificat opened #2245 "[prow] missing label sync: some repos are missing some labels"
**Describe the bug**

Some labels are not present in some repos.

**To Reproduce**
Steps to reproduce the behavior:

Examples include:
- https://github.com/thoth-station/thoth-search/issues/36#issuecomment-1008958001
- https://github.com/thoth-station/s2i-scipy-notebook/issues/87#issuecomment-934456242

but there are more.

The problem sees to be that [label-sync](https://github.com/kubernetes/tes

[2022-01-10 15:20] sesheta commented on #2245
@codificat: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-10 15:21] #2229 closed

[2022-01-10 15:21] codificat commented on #2245
/triage accepted
/priority important-soon
/assign

[2022-01-11 10:26] fridex commented on #2238
**Polished and updated OpenAPI specification for Thoth User API**

This release is shipped with polished and updated OpenAPI specification which documents endpoints, inputs, responses:

* https://github.com/thoth-station/user-api/pull/1590

[2022-01-11 12:24] sesheta commented on #1788
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-11 14:22] #2232 closed

[2022-01-11 14:30] fridex commented on #1788
/remove-lifecycle stale

[2022-01-11 14:40] harshad16 commented on #2111
Keeping this open and frozen for references.
/lifecycle frozen

[2022-01-11 20:40] Gkrumbach07 commented on #2238
**Added detailed Python package routing in Thoth Search**

This release uses the new User API metadata endpoint that breaks down metadata into OS name, version, and Python version. Selectors were added to accommodate this change .

- https://github.com/thoth-station/search/pull/35

[2022-01-12 09:22] fridex opened #2249 "Adviser fails to start in all environments"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule an advise in any environment

**Expected behavior**

Adviser should start.

[2022-01-12 09:22] sesheta commented on #2249
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-01-12 09:32] #2249 closed

[2022-01-12 12:24] sesheta commented on #1839
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-12 18:21] Gkrumbach07 commented on #2238
**Prioritizing Thoth data and changing the name to search**
In this release, Thoth Search is renamed to search and no longer uses PyPi data as a source. If Thoth has no info on a package, then it is given null values.

- https://github.com/thoth-station/search/issues/34
- https://github.com/thoth-station/search/issues/33

[2022-01-14 09:07] pacospace opened #2259 "slo-reporter in smaug-prod cannot store on Ceph"
**Describe the bug**
slo-reporter ceph credentials in smaug-prod are invalid

**To Reproduce**
Steps to reproduce the behavior:
1. Check logs after slo-reporter run.

**Expected behavior**
slo-reporter smaug-prod is able to save data into Ceph smaug-prod

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2022-01-14 09:07] sesheta commented on #2259
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-14 12:38] goern commented on #2259
/priority important-soon
/triage accepted
/assign @pacospace

[2022-01-14 13:47] goern commented on #1248
any update in this?

[2022-01-14 13:47] goern commented on #1996
any update in this?

[2022-01-14 15:34] harshad16 commented on #1248
need to bring this lifecycle in upcoming sprints

[2022-01-16 18:24] sesheta commented on #2021
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-17 12:48] mayaCostantini commented on #2238
**Managing Vulnerabilities with Thoth Tutorial**

The [Managing Vulnerabilities with Thoth tutorial ](https://redhat-scholars.github.io/managing-vulnerabilities-with-thoth/managing-vulnerabilities-with-thoth/index.html) based on [`cli-examples`](https://github.com/thoth-station/cli-examples) publicly accessible on Red Hat Scholars provides a reproducible example of vulnerability management for the

[2022-01-17 13:59] harshad16 commented on #675
Already been demoed in a part of operate-first and released to youtube:
https://www.youtube.com/watch?v=ryKqZ4Lwr4Y

[2022-01-17 14:02] harshad16 commented on #1037
Demo'ed and can be viewed here: https://www.youtube.com/watch?v=4ENk4pf5CpY&t=171s

[2022-01-17 14:07] harshad16 commented on #2013
Demo'ed and available at: https://www.youtube.com/watch?v=HOBI46B1WLM

[2022-01-17 14:26] goern commented on #2238
The Sprint 77 Demo Session recordings have been published at https://www.youtube.com/playlist?list=PLqUa1GcGMO-6D09e_bLE7F-PoHYS1Krjv

[2022-01-17 15:16] sesheta commented on #2262
@mayaCostantini: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [

[2022-01-17 15:17] harshad16 commented on #2262
/triage accepted
/priority important-soon
/lifecycle active
/sig devops

[2022-01-17 18:42] harshad16 commented on #2238
we have completed the 1st release of 2022.
v2022.01.17 :tada: :confetti_ball: :partying_face:

### Features

**TensorFlow 2.8 symbols**

Thoth's database of TensorFlow symbols has been updated. It now keeps also symbols for the upcoming TensorFlow~=2.8.0 releases. This way, users of Thoth can get recommendations based on TF API used.

* https://github.com/thoth-station/adviser/pull/2231
* https://

[2022-01-17 18:42] #2238 closed

[2022-01-17 18:42] harshad16 opened #2264 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-01-17 18:43] sesheta commented on #2264
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-17 18:45] #2264 closed

[2022-01-17 18:47] harshad16 opened #2266 "sprint production release v2022.01.31"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/milestone 2022.01.31
/priority important-soon

[2022-01-17 18:47] sesheta commented on #2266
@harshad16: The provided milestone is not valid for this repository. Milestones in this repository: [`2022.01.31`]

Use `/milestone clear` to clear the milestone.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2266):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests

[2022-01-17 18:47] harshad16 commented on #2266
/milestone 2022.01.31

[2022-01-17 18:48] harshad16 commented on #2266
/milestone clear

[2022-01-17 18:48] harshad16 commented on #2266
/milestone 2022.01.31

[2022-01-18 08:36] mayaCostantini commented on #2162
/close

[2022-01-18 08:36] sesheta commented on #2162
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2162#issuecomment-1015181914):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2022-01-18 11:02] goern commented on #2029
@Gregory-Pereira  @harshad16 is this something we can deliver/close in the next milestone?

[2022-01-18 11:02] goern commented on #1764
can this be closed?

[2022-01-18 11:02] goern commented on #2003
what is the status of this?

[2022-01-18 11:03] goern commented on #1914
what is the status of this?

[2022-01-18 11:03] goern commented on #2149
what is the status of this?

[2022-01-18 11:08] fridex commented on #1764
+1, I think this can be closed

/close

[2022-01-18 11:08] #1764 closed

[2022-01-18 11:08] sesheta commented on #1764
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/1764#issuecomment-1015306347):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2022-01-18 12:24] sesheta commented on #2017
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-18 16:29] harshad16 opened #2268 "Move ceph data from stage to prod"
**Is your feature request related to a problem? Please describe.**
Get the ceph data from stage to prod
as the ceph docs are queried from the user-api and users would be interested to get knowledge of the package.
for example:
https://khemenu.thoth-station.ninja/api/v1/python/package/version/metadata?name=pandas&version=1.3.3&index=https%3A%2F%2Fpypi.org%2Fsimple&os_name=fedora&os_version=34&pytho

[2022-01-18 16:30] harshad16 commented on #2268
/triage accepted
/priority important-soon

[2022-01-18 17:02] rbo commented on #2003
Just an idea: Switch to the new EMEA cluster morty?

[2022-01-18 18:55] goern commented on #2003
I think that's on @harshad16 list?

/sig devops

[2022-01-18 19:36] goern commented on #2262
/kind feature

[2022-01-18 21:04] KPostOffice commented on #2017
/remove-lifecycle stale

[2022-01-19 10:37] mayaCostantini commented on #2162
/reopen

[2022-01-19 10:37] sesheta commented on #2162
@mayaCostantini: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/thoth-application/issues/2162#issuecomment-1016302947):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2022-01-19 16:27] harshad16 commented on #2029
This is complete and all the dashboards are in place.
for alarms there is another issue: https://github.com/thoth-station/thoth-application/issues/1914
closing this. Thanks for all the work.

[2022-01-19 16:27] #2029 closed

[2022-01-19 16:28] harshad16 commented on #2149
This is patched , will be verified by next week

[2022-01-19 16:29] harshad16 commented on #2262
Removing active
as need some guidance from @xtuchyna
freezing this issue till then.

/lifecycle frozen

[2022-01-19 16:30] harshad16 commented on #2003
Will try to visit this issue, in this sprint cycle
and confirm on the clusters.

[2022-01-19 17:13] fridex opened #2269 "Deploy and enable pulp-pypi-sync-job in stage environment"
**Is your feature request related to a problem? Please describe.**

As we perform ingestion in the stage environment, it would be good to have pulp-pypi-sync-job enabled there so that the pulp instance is monitored for new indexes created and Thoth can analyze packages.

**Describe the solution you'd like**

Deploy pulp-pypi-sync-job to stage environment.

[2022-01-19 17:13] sesheta commented on #2269
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-01-19 17:42] harshad16 commented on #2269
/triage accepted

we have resources in the `aicoe-prod-bots` namespace
we can have this application deployed at that namespace.

ack?

[2022-01-19 17:49] fridex commented on #2269
The component talks directly to the database. Would it make sense to have it in the frontend namespace where other cronjobs run?

[2022-01-19 17:50] fridex commented on #2269
If the frontend namespace is too occupied, graph namespace could be also an option.

[2022-01-19 17:52] harshad16 commented on #2269
yes totally we can have it in frontend namespace.
i had missed that we would need to provide the database access.
aicoe-prod-bots is not the right namespace.

Frontend namespace has resource to accommodate this.

[2022-01-19 19:19] harshad16 commented on #2208
Reopening this issue as the app hasnt worked yet.
Even though all the workflow template are properly synced , it is still giving following issue.

[code]

[2022-01-19 19:29] harshad16 commented on #2208
Tested in test cluster:
[code]

[2022-01-20 11:18] fridex opened #2272 "Test cross-index ingestion and resolution"
**Is your feature request related to a problem? Please describe.**

As Thoth, I would like to make sure pulp-pypi-sync-job operates well (start with stage environment) and registers new indexes available on the Pulp instance.

As Thoth, I would like to make sure packages published on the Operate First Pulp instance are solved by the background data aggregation logic and information is shown on Gra

[2022-01-20 11:18] sesheta commented on #2272
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-01-20 11:20] fridex commented on #2272
/triage accepted
/priority critical-urgent

[2022-01-20 12:57] goern commented on #2272
/milestone 2022.01.31

[2022-01-20 12:59] goern commented on #2269
I assume its something we do this sprint? if not, please correct...

/priority critical-urgent
/milestone 2022.01.31

[2022-01-25 12:25] fridex commented on #2266
**document-sync-job**

A new component called document-sync-job is responsible for syncing documents across deployments. It helps to manage automatic syncs of data that are computed in one deployment (ex. OCP4 stage environment) to another deployment (ex. prod deployment). This way, we can make sure only one deployment computes data (and thus requires more resources) that are automatically propaga

[2022-01-25 12:30] fridex commented on #2266
**pulp-metrics-exporter**

To monitor Pulp instance on Operate First, we have created [pulp-metrics-exporter](https://github.com/thoth-station/pulp-metrics-exporter) component. This component is following design principles used in Thoth's [metrics-exporter](https://github.com/thoth-station/metrics-exporter) and provides metrics about Pulp instance and its python_plugin as configured. As Pulp team

[2022-01-25 15:25] sesheta commented on #1798
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-25 22:29] harshad16 commented on #1798
/lifecycle frozen

[2022-01-26 11:10] fridex opened #2281 "prescriptions-refresh-job fails to run"
**Describe the bug**

The following error was reported by @harshad16 in deployments:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run prescriptions-refresh-job
2. See the error

**Expected behavior**

prescriptions-refresh-job should be operational

**Additional context**

There might be issues with RBAC (not verified) as workflow controller is not able see referenced templates. A

[2022-01-26 11:10] sesheta commented on #2281
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-01-26 11:15] fridex opened #2282 "Managing data across deployments"
**Is your feature request related to a problem? Please describe.**

Let's check and document how we could manage data in multiple deployments.

**Describe the solution you'd like**

- [x] have document-sync-job deployed in the stage environment and let it sync data to the required deployments

- [x] let's see how document-sync-job works in deployments to automatically manage data
  - [x] there mig

[2022-01-26 11:15] sesheta commented on #2282
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-01-26 14:03] harshad16 opened #2283 "sprint production release 2022.02.14"
Hello, Thoth-station!

This Issue would be used for the current sprint cycle production release.
By the end of the sprint cycle, we will consolidate the information of thoth-station components features upgrade and fixes in this issue.

/kind documentation
/area release-eng
/triage accepted
/milestone 2022.02.14
/priority important-soon

[2022-01-26 14:24] harshad16 commented on #2281
Related-to: https://github.com/thoth-station/thoth-application/issues/2208

[2022-01-27 13:30] harshad16 commented on #2208
duplicate of https://github.com/thoth-station/thoth-application/issues/2281

[2022-01-27 13:30] #2208 closed

[2022-01-27 13:31] harshad16 commented on #2268
Duplicate of https://github.com/thoth-station/thoth-application/issues/2282

[2022-01-27 13:31] #2268 closed

[2022-01-27 14:39] mayaCostantini commented on #2266
**Query containerized environments based on content**

It is now possible to query analyzed containerized environments based on more provided content (symbols, RPM packages and Python packages) via Thamos running `thamos images` and via the user API with new parameters added to the API endpoints.

- https://github.com/thoth-station/user-api/issues/1625
- https://github.com/thoth-station/storages/p

[2022-01-27 18:30] harshad16 commented on #2003
Kafka is stable in rick cluster.
we would have a separate issue to move our workloads to morty soon.
thanks for the patience.

[2022-01-27 18:30] #2003 closed

[2022-01-27 18:51] #2269 closed

[2022-01-28 09:10] pacospace commented on #2259
Depends-On: https://github.com/thoth-station/thoth-application/pull/2287

[2022-01-28 09:15] pacospace commented on #2259
/assign @harshad16

[2022-01-28 10:13] pacospace opened #2288 "Metrics from aws-prod are not scraped"
**Describe the bug**
Metrics from aws-prod are not scraped. This impact other components as well that require those metrics. (e.g. slo-reporter)

**To Reproduce**
Steps to reproduce the behavior:
1. check prod grafana dashboard with aws-balrog datasource: https://grafana.operate-first.cloud/d/ncypu0f4l9n9dh5cft7101v762b3tr2blcmalvi4/thoth-knowledge-graph-content-metrics?orgId=1&refresh=30s

**Expe

[2022-01-28 10:13] sesheta commented on #2288
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-28 11:05] pacospace commented on #2288
/triage accepted
/assign @harshad16

[2022-01-28 14:07] Gkrumbach07 commented on #2266
**NEW dependency metric card in Thoth Search package overview**

When searching for a package, you will now be presented with a metric card with all required and extra dependencies. This also serves as a navigation between other packages by selecting a version from a dropdown menu.

- https://github.com/thoth-station/search/issues/36

[2022-01-31 13:58] pacospace opened #2294 "Merge Grafana dashboards of different deployments using variables"
**Is your feature request related to a problem? Please describe.**
In order to avoid maintaining two or more json, let's merge dashboards using variables

**Describe the solution you'd like**
- identify variables across clusters
- merge dashboards
- add a description on top of each of the variables.

**Describe alternatives you've considered**
Have one dashboard type per deployment

**Additional c

[2022-01-31 13:58] sesheta commented on #2294
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-31 18:04] #1914 closed

[2022-01-31 21:39] harshad16 commented on #2266
we have completed the release for v2022.01.31 :tada: :confetti_ball: :partying_face:

### Features

**document-sync-job**

A new component called document-sync-job is responsible for syncing documents across deployments. It helps to manage automatic syncs of data that are computed in one deployment (ex. OCP4 stage environment) to another deployment (ex. prod deployment). This way, we can make sure

[2022-01-31 21:40] #2266 closed

[2022-02-01 00:51] harshad16 opened #2297 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-02-01 00:51] sesheta commented on #2297
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-02-01 00:57] #2297 closed

[2022-02-01 09:48] pacospace opened #2301 "quota exceeded in thoth-infra-stage in ocp4 stage"
**Describe the bug**
Adding pulp-metrics-exporter requires more resources for that namespace

**To Reproduce**
Steps to reproduce the behavior:
1. Check spawning up metrics-exporter

**Expected behavior**

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2022-02-01 09:49] sesheta commented on #2301
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-02-01 13:02] pacospace opened #2304 "metrics-exporter smaug and aws prod cannot retrieve metrics from prometheus"
**Describe the bug**
metrics-exporter smaug and aws prod cannot retrieve metrics from prometheus/thanos
**To Reproduce**
Steps to reproduce the behavior:
1.check logs in metrics-exporter

**Expected behavior**
Use thanos URL and thanos service account with prometheus api client, because prometheus url is not accessible

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-02-01 13:02] sesheta commented on #2304
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-02-01 14:54] harshad16 commented on #2281
/triage accepted
/priority critical-urgent
/lifecycle active

[2022-02-01 14:56] harshad16 commented on #2282
Data migration based on the postgresql db dumps: https://github.com/thoth-station/thoth-application/issues/2216
/triage accepted
/priority important-soon

[2022-02-01 15:11] codificat commented on #2188
/assign @fridex
/priority critical-urgent
/triage accepted

[2022-02-01 15:12] codificat commented on #2294
/assign @pacospace
/triage accepted
/sig observability
/priority important-soon

[2022-02-01 15:14] codificat commented on #2243
/triage accepted
/assign @harshad16
/priority critical-urgent

[2022-02-01 15:15] codificat commented on #2301
/assign @harshad16
/triage accepted

[2022-02-01 15:16] codificat commented on #2304
/assign @harshad16
/triage accepted

[2022-02-01 16:23] xtuchyna commented on #2170
Tested on psi, seems like everything works fine now. thx :ship:

[2022-02-01 16:23] #2170 closed

[2022-02-01 19:39] harshad16 commented on #2301
Thanks for reporting this
the metrics-exporter and investigator has CPU limits set to 500m each.
![thoth-infra-stage-quota](https://user-images.githubusercontent.com/14028058/152038572-326341bd-0201-405a-bef1-7d6be4830584.png)
as we have 4 CPU, and out of it 2cpu were already consumed
there was a unique situation where metrics-exporter, investigator, and integration-tests wanted to spin up one new

[2022-02-01 19:39] #2301 closed

[2022-02-02 07:42] harshad16 commented on #2288
![aws-pord](https://user-images.githubusercontent.com/14028058/152113035-7e84c08e-b8cc-4df1-a0a5-d79ebf4422d1.png)
can please help me recognize which metrics are we missing it, seems most of these are showing correct data.

[2022-02-02 08:12] pacospace commented on #2288
When I opened this issue, all dashboard was with nan. I didn't have access to thanos balrog yet to verify that. Not sure what changed since then :D we can close this issue now then.

[2022-02-02 08:12] #2288 closed

[2022-02-03 13:16] fridex commented on #2283
**Optimized syncs across deployments in document-sync-job**

[Our last release introduced a new component](https://github.com/thoth-station/thoth-application/issues/2266#issuecomment-1021134403) called [document-sync-job](https://github.com/thoth-station/document-sync-job) which can sync documents created in one Thoth deployment to another. This release comes with an optimized implementation of do

[2022-02-03 13:23] fridex commented on #2283
**Pedantic `thamos run` feature**

Our command line interface, Thamos, now performs pedantic application runs. As `thamos run` acts as a wrapper for Python interpreter for spawning Python applications (thamos manages virtual environments automatically for users if configured so), it can now also check that the configuration supplied by the user matches the configuration of the runtime environment

[2022-02-04 21:14] fridex commented on #2283
**`thamos run` allows specifying environment variables to the Python process run**

Starting this release, users can declare their environment variables in `.env` files configured per overlay.  This configuration follows [Pipenv's `.env` file](https://pipenv.pypa.io/en/latest/advanced/#automatic-loading-of-env) configuration, except Thoth users can declare different environment variables to be sup

[2022-02-05 21:27] sesheta commented on #2113
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-07 14:40] pacospace commented on #2283
**Pulp Grafana Dashboard**

A new Grafana Dashboard for Pulp deployed on Operate First is avalable at Grafana Operate First: https://grafana.operate-first.cloud/d/B7DLT7anz/pulp-metrics?orgId=1

[2022-02-07 21:09] fridex opened #2331 "Provide Argo CD application for document-sync-job"
SSIA, it looks like there is a missing Argo CD app.

[2022-02-07 21:09] sesheta commented on #2331
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-02-08 14:49] xtuchyna opened #2333 "error: from must be an existing cronjob: no kind "CronJob" is registered for version "batch/v1""
**Describe the bug**
There was a recent update for the cronjob apiversion from `v1beta1` to `v1` https://github.com/thoth-station/thoth-application/commit/f87bb38b849d9830b707d9fa890df26f9df15623#diff-c9df3191eada55b0b3ed54130f15f338bd5aede95e25ada296b1b4c1c590a00e, which was however reverted https://github.com/thoth-station/thoth-application/commit/3b4fdb803de586b1b5cd4d927e1a9b2cddf575d4#diff-c9

[2022-02-08 14:53] xtuchyna commented on #2333
updating to `v1` does not work, too
`error: from must be an existing cronjob: no kind "CronJob" is registered for version "batch/v1" in scheme "k8s.io/kubernetes/pkg/kubectl/scheme/scheme.go:28"`

[2022-02-08 18:10] harshad16 commented on #2333
/triage accepted

[2022-02-08 18:23] harshad16 commented on #2333
The question is correct and very relevant.
However, it is an issue in a cluster.
As the openshift version updated, they have moved to the version `v1` manifest. [Reference](https://docs.openshift.com/container-platform/4.8/rest_api/workloads_apis/cronjob-batch-v1.html)

However, the cluster infra we are in, don't have this CRD updated.
So technically we are still using `batch/v1beta1`.
one can che

[2022-02-09 12:59] fridex commented on #2272
Related: https://github.com/thoth-station/graph-refresh-job/issues/669
Related: https://github.com/thoth-station/solver/issues/5111

[2022-02-09 14:41] pacospace commented on #2283
*graph-backup-job*
New metrics added to monitor the creation of pg dumps and if any issue appear creating pg dumps.

- https://github.com/thoth-station/graph-backup-job/pull/215

[2022-02-09 14:42] pacospace commented on #2283
**graph-metrics-exporter**
Introduce a new task for monitoring pg_dumps on Ceph. In this way we can verify if all backups are created correctly.

- https://github.com/thoth-station/graph-metrics-exporter/pull/69

[2022-02-11 12:27] sesheta commented on #1839
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-14 12:08] fridex commented on #2272
/assign

[2022-02-14 14:33] pacospace opened #2346 "graph-metrics-exporter failing due to new task"
**Describe the bug**
graph-metrics-exporter failing due to new task

**To Reproduce**
Steps to reproduce the behavior:
1. schedule graph-metrics-exporter cronjob

**Expected behavior**
graph-metrics-exporter runs successfully

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2022-02-14 14:33] sesheta commented on #2346
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-02-14 14:49] #2346 closed

[2022-02-14 16:17] codificat commented on #2111
This is an ongoing effort, but less critical, so
/remove-priority critical-urgent
/priority important-longterm

[2022-02-14 16:24] fridex commented on #2272
All the features were tested. The cross-index resolution feature seems to be operational in stage environment and should be operational with the new Thoth release. I will close this and we can create integration tests supporting cross-index resolution based on https://github.com/thoth-station/integration-tests/issues/240

/close

[2022-02-14 16:24] #2272 closed

[2022-02-14 21:00] harshad16 opened #2351 "New calendar release"
Hey, Kebechet!

create a new calendar release of Thoth application, please.

[2022-02-14 21:00] sesheta commented on #2351
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-02-14 21:15] #2351 closed

[2022-02-14 23:05] #2304 closed

[2022-02-15 11:45] pacospace opened #2357 "Metrics from investigator metrics aws prod are not available on Thanos aws prod"
**Describe the bug**
Metrics from investigator metrics are not available on Thanos aws prod

**To Reproduce**
Steps to reproduce the behavior:
1. Check `message_count_by_version_total` on https://thanos-querier-openshift-monitoring.apps.balrog.aws.operate-first.cloud/graph?g0.expr=message_count_by_version_total&g0.tab=1&g0.stacked=0&g0.range_input=1h&g0.max_source_resolution=0s&g0.deduplicate=1&g0

[2022-02-15 16:35] codificat opened #2359 "Prow is not correctly managing the needs-triage labels"
**Describe the bug**

On some (most?) of the repos that are managed by prow, when adding a label about a triage status to an issue, by adding a comment with a command like `/triage foo`, the new label gets added (`triage/foo`). That works. But if the issue had a pre-existing label `needs-triage`, this one is not removed.

**To Reproduce**

Some examples where this happened:

 - https://github.com/

[2022-02-15 16:35] sesheta commented on #2359
@codificat: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-02-15 18:27] sesheta commented on #2021
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-15 18:34] codificat commented on #2359
/assign

[2022-02-15 18:50] harshad16 commented on #2357
These metrics are showing up for me with visit: https://thanos-querier-openshift-monitoring.apps.balrog.aws.operate-first.cloud/graph?g0.expr=message_count_by_version_total&g0.tab=1&g0.stacked=0&g0.range_input=1h&g0.max_source_resolution=0s&g0.deduplicate=1&g0.partial_response=0&g0.store_matches=%5B%5D

![message-count](https://user-images.githubusercontent.com/14028058/154128877-5bb0ec87-86b7-4fe

[2022-02-16 08:43] pacospace commented on #2357
very weird I cannot see them, I open the same link and I don't have any metric:

![Screenshot from 2022-02-16 09-42-15](https://user-images.githubusercontent.com/27498679/154227546-cac8c8f2-96d3-4c2a-9925-a5daf214e5b1.png)